/*Fonts import*/
@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900");
/*Css import*/
@import "./reservation/navbar.css";
@import "./reservation/sidebar.css";
@import "./reservation/welcome.css";
@import "./reservation/reservation.css";
@import "./reservation/archive.css";
@import "./reservation/guestbook.css";
@import "./reservation/turnOver.css";
@import "./reservation/working_hours.css";
@import "./reservation/select.css";
@import "./reservation/login.css";
@import "./reservation/floor.css";
@import "./reservation/table-management.css";
@import "./reservation/seatedtable.css";
@import "./reservation/rest_user.css";
@import "./reservation/dashboard.css";
@import "./reservation/orders.css";
@import "./reservation/server.css";

/*Common*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
}

input::-ms-clear {
    display: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

html {
    font-size: 16px;
    color: #000;
    -ms-overflow-style: scrollbar;
}

body {
    background-color: #f4f7fc !important;
    color: #000 !important;
}

html a,
html a:hover,
html a:focus {
    color: #ff9700;
    text-decoration: none;
}
/* menu category css */


  /* end of menu category */

html a:hover,
.booking_content a:hover,
.booking_content a:focus {
    opacity: 0.8;
    color: #ff9700;
    outline: none;
}

a,
a:hover {
    text-decoration: none !important;
}

.plr0 {
    padding-left: 0;
    padding-right: 0;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.negative-margin-lr {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.width-100percentage {
    width: 100%;
}

._flex-vCenter {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.visibility-hidden {
    visibility: hidden;
}

#app, #app > div {
    min-height: 100%;
}

.edit-field {
    background: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    /* max-width: 100px;
    text-overflow: ellipsis; */
    width: -webkit-fill-available;
    width: -moz-available;
    width: stretch;
    resize: none;
}

label.error:empty {
    display: none !important;
}

.without-cursor {
    caret-color: white;
}

.no-border {
    border: 0 !important
}

.main__container input[type="text"],
.side_bar_right input[type="text"],
.main__container input[type="password"],
.main__container input[type="email"],
.main__container input[type="button"],
    /*.main__container input[type="submit"],*/
.modal input[type="text"],
.modal input[type="email"],
.modal input[type="password"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.ui-timepicker-wrapper.disabledTime .ui-timepicker-disabled {
    display: none;
}

/************ FONT SIZE *******************/

.font-size-12 {
    font-size: 12px !important;
}

.font-size-13 {
    font-size: 13px !important;
}

.font-size-14 {
    font-size: 14px !important;
}

.font-size-16 {
    font-size: 16px !important;
}

.font-size-18 {
    font-size: 18px !important;
}

/*************** FONT WEIGHT *************************/
.font-weight-600 {
    font-weight: 600 !important;
}

.font-weight-700 {
    font-weight: 700 !important;
}

.font-weight-800 {
    font-weight: 800 !important;
}

.font-weight-500 {
    font-weight: 500 !important;
}

/***************** FONT STYLE **********************/

.font-italic {
    font-style: italic;
}

/***************** TEXT COLOR **********************/
.color-red {
    color: #f00 !important;
}

.color-black {
    color: #000 !important;
}

.light-grey-color {
    color: #838181;
}

.text-color {
    color: #ff9700;
}

.text-color-black {
    color: #000;
}

.text-color-grey {
    color: #a3a3a3 !important;
}

.text-color-green {
    color: #3baa3e !important;
}

.text-color-red {
    color: #fb1b4f;
}

.greenColor {
    color: #a2cd01;
}

.text-color-white {
    color: #fff;
}

.text-align-center {
    text-align: center;
}

/*************************************************/

.flex-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    overflow-x: hidden;
}

.flex-direction-row {
    -webkit-box-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
}

.flex-direction-column {
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.flex-justify-center {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.flex-justify-space-between {
    -ms-flex-pack: distribute;
    justify-content: space-between;
}

.flex-justify-space-arround {
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.flex-justify-content-end {
    -webkit-box-pack: flex-end;
    -ms-flex-pack: flex-end;
    justify-content: flex-end;
}

.flex-align-item-start {
    -webkit-align-items: start !important;
    -ms-flex-align: start !important;
    align-items: start !important;
}

.flex-align-item-center {
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: flex !important;
}

.flex-align-item-baseline {
    align-items: center;
}

.flex-wrap {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.flex-align-end {
    align-items: flex-end;
}

/****************** PADDING ******************/
.no-padding {
    padding: 0 !important;
}
.padding-10 {
    padding: 10px !important;
}

.no-padding-top {
    padding-top: 0 !important;
}

.no-padding-bottom {
    padding-bottom: 0 !important;
}

.no-padding-left {
    padding-left: 0 !important;
}

.no-padding-right {
    padding-right: 0 !important;
}

.padding-top-bottom-5 {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.padding-top-bottom-6 {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
}

.padding-top-bottom-10 {
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.padding-top-bottom-15 {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
}

.padding-top-bottom-20 {
    padding-top: 20px !important;
    padding-bottom: 20px !important;
}

.padding-top-bottom-30 {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 991px)  {
    .padding-top-bottom-30 { padding-top: 10px !important; padding-bottom: 10px!important; }
}

.padding-left-right-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}
.padding-left-right-10 {
    padding-left: 10px !important;
    padding-right: 10px !important;
}

.padding-left-right-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.padding-left-right-20 {
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.padding-left-right-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 991px)  {
    .padding-left-right-30 { padding-left: 5px !important; padding-right: 5px !important; }
}

/************** padding top *************/

.padding-top-8 {
    padding-top: 8px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-35 {
    padding-top: 35px !important;
}

/****************   padding bottom **********************/

.padding-bottom-3 {
    padding-bottom: 3px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-15 {
    padding-bottom: 15px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

/*********** padding left **************/

.padding-left-5 {
    padding-left: 5px !important;
}

.padding-left-10 {
    padding-left: 10px !important;
}

.padding-left-15 {
    padding-left: 15px !important;
}

.padding-left-25 {
    padding-left: 25px !important;
}

.padding-left-35 {
    padding-left: 35px !important;
}

.padding-left-40 {
    padding-left: 40px !important;
}

/******************** padding right ************/

.padding-right-5 {
    padding-right: 5px !important;
}

.padding-right-8 {
    padding-right: 8px !important;
}

.padding-right-10 {
    padding-right: 10px !important;
}

.padding-right-15 {
    padding-right: 15px !important;
}

.padding-right-20 {
    padding-right: 20px !important;
}

.padding-right-25 {
    padding-right: 25px !important;
}

.padding-right-30 {
    padding-right: 30px !important;
}

.padding-right-35 {
    padding-right: 35px !important;
}

.padding-right-40 {
    padding-right: 40px !important;
}

/***************** MARGIN ********************/
.no-margin {
    margin: 0 !important;
}

.no-margin-left {
    margin-left: 0 !important;
}

.no-margin-right {
    margin-right: 0 !important;
}

.no-margin-top {
    margin-top: 0 !important;
}

.margin-bottom-0,
.no-margin-bottom {
    margin-bottom: 0 !important;
}

/*********** margin right  ************/

.margin-right-5 {
    margin-right: 5px !important;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.margin-right-70 {
    margin-right: 70px !important;
}

/********** margin left *****************/

.margin-left-5 {
    margin-left: 5px !important;
}

.margin-left-10 {
    margin-left: 10px !important;
}

.margin-left-15 {
    margin-left: 15px !important;
}

.margin-left-20 {
    margin-left: 20px !important;
}

.margin-left-30 {
    margin-left: 30px !important;
}

.margin-left-40 {
    margin-left: 40px !important;
}

/************ margin top *********************/

.margin-top-5 {
    margin-top: 5px !important;
}

.margin-top-7 {
    margin-top: 7px !important;
}

.margin-top-0 {
    margin-top: 0px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-15 {
    margin-top: 15px !important;
}

.margin-top-20 {
    margin-top: 20px !important;
}

.margin-top-25 {
    margin-top: 25px !important;
}

.margin-top-40 {
    margin-top: 40px !important;
}

/************ margin bottom **************/

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 20px !important;
}

.margin-top-bottom-5 {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.margin-top-bottom-40 {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
}

.margin-left-right-5 {
    margin-left: 5px !important;
    margin-right: 5px !important;
}

.margin-top-minus-5 {
    margin-top: -5px !important;
}

.margin-lr-auto {
    margin-left: auto !important;
    margin-right: auto !important;
}

/**************************************/
.max-fullWidth {
    max-width: 100% !important;
}

.timepickerInputWidth {
    width: 92px !important;
}

[role=button] {
    cursor: pointer
}

html .auto-width {
    width: auto !important;
}

.tagit-autocomplete.ui-menu {
    width: 150px !important;
}

.position-relative {
    position: relative !important;
}

.position-static {
    position: static !important;
}

.fa.fa-minus, .fa.fa-plus {
    color: #000;
}

.margin-top-30 {
    margin-top: 30px !important;
}

.modal {
    font-family: "Lato", "sans-serif";
}

/*********** Status buttons Color **********************/

.btn.status-confirm {
    background-color: #ffab4e;
}

.btn.status-sent {
    background-color: #818181;
}

.btn.status-picked-up {
    background-color: #9a9a9a;
}

.btn.status-ready {
    background-color: #a2cd01;
}

/***************** End Status buttons Color **************/

.modal[data-backdrop="false"] {
    pointer-events: none;
}

.modal[data-backdrop="false"] .modal-dialog {
    pointer-events: auto;
}

#multipleTableSelectpicker .bootstrap-select .dropdown-menu li:first-child,
#multipleTable .bootstrap-select .dropdown-menu li:first-child {
    pointer-events: none;
}

#multipleTableSelectpicker .bootstrap-select .dropdown-menu li:first-child a span.text,
#multipleTable .bootstrap-select .dropdown-menu li:first-child a span.text {
    margin-right: 0;
}

/** Simple bootstrap-select **/

.bootstrap-select .simple__selectpicker.btn,
.bootstrap-select.open .simple__selectpicker.btn,
.bootstrap-select.open .simple__selectpicker.btn:hover,
.bootstrap-select.open .simple__selectpicker.btn:focus,
.bootstrap-select.open .simple__selectpicker.btn:active,
.bootstrap-select .simple__selectpicker.b.margin-bottom-30errortn-default:active:focus,
.bootstrap-select .simple__selectpicker.dropdown-toggle:focus {
    background-color: transparent;
    border: 0;
    outline: none !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.bootstrap-select span.filter-option {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.simple__selectpicker .bs-caret:before {
    display: none;
}

.simple__selectpicker .bs-caret .caret:after {
    content: "";
    display: inline-block;
    border: 4px solid transparent;
    position: absolute;
    left: 0;
}

.simple__selectpicker .bs-caret .caret:before {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 7px;
}

.textColor__primary, html .btn-link, html .btn-link:hover {
    color: #ff8207;
}

html .btn-link:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.main__container {
    padding: 35px;
    /* padding: 25px 35px 35px; */
    margin: 0;
    /*margin: 15px 0px 30px;*/
    width: 100%;
    max-width: 1600px;
    font-family: "Lato", "sans-serif";
}


html.win.safari5 .main__container {
    width: 90%;
}

/************ GOBAL HEADING *******************/
.main__container h1 {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    /* line-height: 34px; */
}

.container__nav {
    max-width: 1920px;
}

.container-box {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.content-container {
    width: 100%;
    position: relative;
    background-color: #f4f7fc;
    /* overflow: auto; */
}

/******************* BUTTON ***************************/
.btn {
    font-family: 'Lato', Arial, Helvetica,sans-serif!important;
    font-weight: 600; 
}
.btn_ {
    padding: 9px 30px 11px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    border: 0;
    font-family: 'Lato', Arial,Helvetica,sans-serif!important;
}

.btn_res {
    max-width: 160px;
    margin: 0 auto;
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.btn__add {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    max-width: 160px;
    background-color: #ff8700;
    font-weight: 700;
    text-align: center;
    font-size: 16px;
    margin-top: 18px;
}

.btn__custom-setting {
    padding: 10px 20px;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    max-width: 250px;
    margin: 0 auto;
    font-size: 16px;
}

.btn__primary {
    background-color: #ff8700;
    font-weight: 600 !important;
    color: #fff !important;
    font-family: 'Lato', Arial,Helvetica,sans-serif;
}

.btn__white {
    background-color: #ffffff;
    font-weight: 600 !important;
    color: #ff8700 !important;
}

.btn__white__cancelled {
    background-color: #ffffff;
    font-weight: 600 !important;
    color: #ff3131 !important;
}

.btn__primary__holo {
    border: 2px #ff8700 solid;
    color: #ff8700;
    font-weight: 600;
}

.btn__holo {
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px #ff8700 !important;
    /*border:2px #ff8700 solid !important;*/
    color: #ff8700 !important;
}

.btn__secondary {
    background-color: #282828;
}

.btn__cancel,
.btn__cancel:focus {
    background-color: #cd3839 !important;
    color: #fff;
}

.btn__cancel__holo,
.btn__cancel__holo:focus {
    background-color: transparent;
    border: 2px #cd3839 solid !important;
    color: #cd3839;
}

.btn__reject {
    background-color: #ec971f;
    color: #fff;
}

.btn__print {
    background-color: #a2cd01;
    color: #fff;
}

/********************************************/
/*.btn__print:hover {
  background-color: #fff;
  color: #a2cd01 !important;
  border: 1px solid #a2cd01;
}
.btn__reject:hover,
.btn__reject:focus {
  background-color: #ff8700;
  opacity: 0.8;
  color: #fff !important;
  !* border: 1px solid #ec971f; *!
}

.btn__cancel:hover,
.btn__cancel:focus {
  background-color: #ff8700;
  opacity: 0.8;
  color: #fff !important;
  !* border: 1px solid #cd3839; *!
}*/

.edit-input {
    display: none;
}

/*Scroller Css*/
.mCS-dark.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
    background-color: #333 !important;
}

.mCS-dark.mCSB_scrollTools .mCSB_draggerRail {
    background-color: transparent !important;
    border: 1px #000 solid !important;
    width: 6px;
}

.box-shadow {
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
}

.z-index-1 {
    z-index: 1
}

input:focus,
button:focus,
textarea:focus {
    outline: none;
}

.btn__cancel:hover,
.btn__cancel:focus,
.btn__reject:hover,
.btn__reject:focus,
.btn__primary:hover,
.guestbook__detail .add_tag:hover,
.details__favItems-box .btn__add:hover,
.search-icon button:hover,
.non_editable_footer .btn__primary:hover,
.modal-content .editable_footer .done__btn:hover,
.turnOver__submitBtn .btn__add:hover,
.custom__setting-btn .btn__custom-setting:hover,
.non_editable_footer .btn-danger:hover,
    /*.modal-footer button:hover,*/
.add-floor .btn:hover,
.add-floor .btn:focus,
.welcome-add__floor .btn:hover,
.welcome-add__floor .btn:hover,
.floor__button .btn:hover,
.floor__button .btn:focus,
.floor__button .btn__secondary,
.assign_btn .btn:hover,
.assign_btn .btn:focus,
    /*#layout_area .btn:hover,
    #layout_area .btn:focus,*/
.add_server_btn .btn:hover,
.check__availability .btn__checkwalkIn:hover,
.seat__done .btn__checkwalkIn:hover,
    /*.guest__done-btn .btn:hover,*/
.booking__btn:hover,
.setting-save-btn button:hover,
.booking__btnreservation:hover,
.btn__primary__holo:hover,
.btn__holo:hover,
.btn__holo:focus {
    /*background-color: #ff8700;*/
    color: #fff !important;
    opacity: 0.8;
    filter: alpha(opacity=80);
    /*text-transform: capitalize;*/
}

.btn__white:focus,
.btn__white:hover,
.btn__white__cancelled:focus,
.btn__white__cancelled:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

.btn__holo:hover,
.btn__holo:focus {
    background-color: #fff !important;
    color: #ff8700 !important;
}

.edit_guest_details .fa-pencil:hover,
.cancel_edit_guest_details .fa-times:hover,
.update_guest_details .fa-check:hover {
    color: #ff9700;
}

.btn__secondary:hover,
.non_editable_footer .btn-danger,
    /* .modal-footer button, */
.add-floor .btn,
.welcome-add__floor .btn,
.floor__button .btn__secondary:hover,
.non_editable_footer .btn-danger:focus,
.modal-footer button:focus,
.assign_btn .btn,
.add_server_btn .btn,
.add_server_btn .btn:focus,
.guest__done-btn .btn-primary:active:hover,
.guest__done-btn .btn-primary:active:focus {
    background-color: #ff8700;
    color: #fff;
    font-weight: 700;
}

.modal-content .editable_footer .done__btn:hover,
.non_editable_footer .btn-danger,
.non_editable_footer .btn-danger:focus,
.non_editable_footer .btn-danger:hover {
    color: #fff;
    border: 1px solid transparent;
}

/*for hover show*/
.modal-content .editable_footer .done__btn:hover {
    background-color: #ff9700;
    color: #fff;
}

.no-record-found {
    padding: 25px 50px;
    font-weight: 700;
    font-size: 16px;
}

.mCSB_scrollTools .mCSB_draggerContainer {
    top: 5px !important;
    bottom: 5px !important;
}

.mt-20 {
    margin-top: 20px;
}

input:-webkit-autofill {
    -webkit-box-shadow: inset 0 0 0px 9999px white !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.mt-10 {
    margin-top: 10px;
}

.btn.btn__primary:focus,
.btn.btn__secondary:focus {
    color: #fff !important;
}

.pagination__wrapper .pagination .disabled .fa-angle-right,
.pagination__wrapper .pagination .disabled .fa-angle-left {
    color: #ccc;
}

.messageblock {
    margin: 10px;
}

.btn.no-background-with-buttonline {
    border-radius: 0;
    background: none;
    border-bottom: 1px #ccc solid !important;
}

.btn.no-background {
    border-radius: 0;
    background: none;
}

.selct-picker-plain ul.dropdown-menu.inner li.selected a {
    background-color: #ff9700;
    color: #fff;
}

.selct-picker-plain ul.dropdown-menu.inner li.selected a small {
    color: #fff;
}

/*******************************
* MODAL AS LEFT/RIGHT SIDEBAR
* Add "left" or "right" in modal parent div, after class="modal".
* Get free snippets on bootpen.com
*******************************/
html .modal.right .modal-dialog {
    position: fixed;
    margin: auto;
    /* max-width: 340px;
    height: 100%; */
    width: 70%;
    max-width: 800px;
    height: 100%;
    -webkit-transform: translate3d(0%, 0, 0);
    -ms-transform: translate3d(0%, 0, 0);
    -o-transform: translate3d(0%, 0, 0);
    transform: translate3d(0%, 0, 0);
}

.modal.right .modal-content {
    /* height: calc(100% - 72px); */
    height: calc(100%);
    overflow-y: auto;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

.modal.right .modal-body {
    padding: 0;
}

/*Right*/
.modal.right.fade .modal-dialog {
    right: -320px;
    -webkit-transition: opacity 0.3s linear, right 0.3s ease-out;
    -moz-transition: opacity 0.3s linear, right 0.3s ease-out;
    -o-transition: opacity 0.3s linear, right 0.3s ease-out;
    transition: opacity 0.3s linear, right 0.3s ease-out;
}

.modal.right.fade.in .modal-dialog {
    right: 0;
}

.modal.right button.close {
    border: 3px solid #fff;
    border-radius: 100%;
    height: 28px;
    width: 28px;
    color: #fff;
    margin: 10px 10px 0;
    opacity: 1;
    font-weight: 500;
    font-size: 21px;
    line-height: 0;
}

.modal.right {
    /* top: 58px; */
    top: 0;
    padding: 0!important;
}

.scroller.full-content {
    max-height: 100%;
    overflow-y: auto;
}

.scroller.full-content .mCSB_inside > .mCSB_container {
    margin-right: 0;
    height: auto;
}

.modal.right .modal-body {
    padding-bottom: 10px;
}

.bs-caret {
    position: relative;
    height: 10px;
    top: 3px;
}

.bootstrap-select.btn-group .dropdown-toggle .bs-caret .caret {
    right: 0;
    width: 0;
    height: 0;
    top: 43%;
    border: 0px;
    /* margin-top: -10px;*/
}

#reservation_info_popup .bootstrap-select.btn-group .dropdown-toggle .bs-caret {
    top: -1px;
}

.bootstrap-select.sidbar_status.dropdown-menu .btn .bs-caret {
    top: 0;
}

.white-box {
    background-color: #fff;
}

@-moz-document url-prefix() {
    .bootstrap-select.btn-group.dropdown-menu .dropdown-toggle .bs-caret .caret {
        top: 20px;
    }
}

@supports (-moz-appearance:none) {
    .bootstrap-select.btn-group.dropdown-menu .dropdown-toggle .bs-caret .caret,
    #week_hours .selct-picker-plain .bs-caret,
    #reservation-booking .selct-picker-plain .bs-caret,
    #reservation-edit .selct-picker-plain .bs-caret,
    #manageWaitlistModal .selct-picker-plain .bs-caret,
    #blockTables .floor-table-block .selct-picker-plain .bs-caret {
        top: 20px;
    }

    #manageWaitlistModal .seated-option .bs-caret:before {
        top: -3px;
    }

    #manageWaitlistModal .seated-option .bs-caret .caret {
        top: 16px;
    }

}

.selct-picker-plain .bootstrap-select.btn-group .dropdown-toggle .bs-caret .caret {
    right: -8px;
    margin-top: -16px
}
@-moz-document url-prefix() { 
    .selct-picker-plain .bootstrap-select.btn-group .dropdown-toggle .bs-caret .caret { margin-top: 0px }
}

.bs-caret .caret:before,
.bs-caret .caret:after {
    content: "";
    display: inline-block;
    border: 4px solid transparent;
    position: absolute;
    left: 0;
}

.bs-caret .caret:before {
    border-top-color: #fff;
    top: 6px;
}

/*************** EDGE BROWSER ********************/
@supports (-moz-appearance:none) {
    .bs-caret .caret:before,
    .bs-caret .caret:after {
        float: right;
        margin-top: -14px;
    }
}

/*************** Ms IE ***********************/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    html .bootstrap-select.btn-group .dropdown-toggle .caret {
        margin-top: -7px;
    }

    .datepicker-calendar-width input {
        min-height: 35px;
    }

    .table_datePicker {
        min-height: 20px;
    }
}

/* Ms Edge */
@supports (-ms-ime-align:auto) {
    html .bootstrap-select.btn-group .dropdown-toggle .caret {
        margin-top: -5px;
    }

    .bs-caret {
        position: absolute;
        height: 35px;
        top: 3px !important;
    }
}

html.gecko.linux.js .selct-picker-plain .bs-caret .caret:before {
    /*top: -8px;*/
}

.bs-caret .caret:after {
    top: -5px;
    border-bottom-color: #fff;
}

.dropdown--picker .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline: 0px auto -webkit-focus-ring-color !important;
}

.dropdown-menu a:focus {
    outline: none;
}

.bs-caret:before {
    content: "";
    border-left: 1px solid;
    position: relative;
    right: 12px;
    top: 2px;
}

/*.open > .dropdown-menu {
  z-index: 90;
}*/

.reservationStatusPanel__user .open > .dropdown-menu,
#reservation_info_popup .open > .dropdown-menu,
.dropdown-position-rel + .dropdown-menu.open,
.waitlist_div .reservationStatusPanel__user .open > .dropdown-menu {
    z-index: 90;
    position: relative;
    top: 0;
    left: 0;
}

.reservationStatusPanel__user .open > .dropdown-menu {
    left: 40px
}

html.android .reservationStatusPanel__user .open > .dropdown-menu,
html.android #reservation_info_popup .open > .dropdown-menu,
html.android .dropdown-position-rel + .dropdown-menu.open,
html.android .waitlist_div .reservationStatusPanel__user .open > .dropdown-menu {
    z-index: 999;
}

.bootstrap-select:not([class*="col-"]):not([class*="form-control"]):not(.input-group-btn) {
    width: 220px;
    z-index: unset !important;
}

.reservationStatusPanel .bootstrap-select > select,
#reservation-details .status-dropdown .bootstrap-select > select,
#basicInfoForm_first .bootstrap-select > select {
    visibility: hidden;
}

#floorCreateProperties.scroller .mCSB_inside > .mCSB_container,
#floorCreateProperties.scroller .mCustomScrollBox,
#floorCreateProperties.tab-content .mCustomScrollBox,
#current .scroller .mCustomScrollBox,
#current .tab-content .mCustomScrollBox,
#upcoming .scroller .mCustomScrollBox,
#upcoming .tab-content .mCustomScrollBox,
#waitlist .scroller .mCustomScrollBox,
#waitlist .tab-content .mCustomScrollBox
    /*,#reservation_info_popup .scroller.mCS_no_scrollbar .mCSB_container*/
{
    height: 100%;
}

/* only for IE11 */
@media all and (-ms-high-contrast: none) {
    ::-ms-backdrop,
        /* .bs-caret .caret::before {
          top: 5px;
        } */
    .bs-caret .caret::after {
        top: -5px;
    }

    .dropdown-toggle .bs-caret .caret {
        left: 1px;
    }

    #newWalkinModal .walkIn__slider .input-group-btn {
        width: 1px;
    }

    .create-floor__container {
        background-color: #ffffff;
    }

    .workinghrs__calendar #calendar .fc-view-container .fc-scroller.fc-no-scrollbars {
        overflow-x: hidden !important;
    }

    #waitlist .waitlist_div .reservationStatusPanel__user--mode {
        width: 80px;
    }

    #availabilityModal #week_hours .input__fullWidth input,
    #contact_detail #enquiry_reservation_date,
    #event_request_detail .event_date {
        min-height: 35px;
    }

    .datepicker__tab {
        padding-right: 5px;
    }
}

/* body{-ms-overflow-style: scrollbar !important;} */
/* only edge */

@supports (-ms-ime-align: auto) {
    .bs-caret .caret::before {
        bottom: -6px;
    }

    .bs-caret .caret::after {
        top: -12px;
    }

    .dropdown-toggle .bs-caret .caret {
        left: 1px;
    }

    .create-floor__container {
        background-color: #ffffff;
    }

    .workinghrs__calendar #calendar .fc-view-container .fc-scroller.fc-no-scrollbars {
        overflow-x: hidden !important;
    }
}

.text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis !important;
}

.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:active {
    background-color: #ff8207;
    color: #fff;
}

.bootstrap-select.btn-group .dropdown-menu [class^="icon-"],
.bootstrap-select.btn-group .dropdown-menu [class*=" icon-"] {
    font-size: 18px;
}

#newWalkinModal .number__box input,
#waitlist_no_tables_form .number__box input,
#reservation-booking .number__box input {
    color: #000;
}

html .ui-tooltip {
    background: black;
    border: 0px;
    border-radius: 6px;
    color: #fff;
    box-shadow: none;
    padding: 5px;
}

.selct-picker-plain ul.dropdown-menu.inner li {
    text-align: left;
}

html.ipad .dropdown-backdrop {
    display: none;
}

.optionGroup {
    font-weight: bold;
    font-style: italic;
}

.optionChild {
    padding-left: 15px;
}

/************************* sidebar *********************/
.side-bar-open {
    color: #ff9700;
    font-size: 30px;
    float: left;
    margin-right: 15px;
    cursor: pointer;
    margin-left: 15px;
    line-height: 35px;
}

.sidebar.active {
    left: 0;
}

.overlay {
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer;
}

/**********************************************************/

.modal-open .modal.right {
    overflow-x: visible;
    overflow-y: visible;
}

/*
.overflow-visible.modal-open::-webkit-scrollbar,.modal-open.freezePage::-webkit-scrollbar {
    width: 18px;
}*/
.border-botton-none {
    border-bottom-style: none !important;
}

.ui-tooltip-content {
    font-weight: normal;
    font-size: 12px;
}

#reservation-details .status-dropdown .bootstrap-select .dropdown-menu li a .icon-cancelled {
    font-size: 14px;
    margin-right: 4px;
}

.row__reservation span.icon-waiting1 {
    font-size: 25px;
}

/******************** Background Color *******************/

.white-smoke {
    background-color: #f6f6f6 !important;
}

/********************************************************/

/*********************** Popup Close ******************/
.popup__close {
    color: #fff !important;
    opacity: 1 !important;
    font-weight: 400 !important;
}

/****************************************************/
#book-a-table .selct-picker-plain .bootstrap-select.btn-group .dropdown-toggle .filter-option,
#reservation-details .selct-picker-plain .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #000;
    font-weight: 700;
}

/****************************************************/

.min-width-180 {
    min-width: 180px;
}

html .width-60 {
    width: 60px !important;
}

html .width-70 {
    width: 70px !important;
}

html .width-80 {
    width: 80px !important;
}

html .width-90 {
    width: 90px !important;
}

html .width-120 {
    width: 120px !important;
}

html .width-150 {
    width: 150px !important;
}

/************* ICON COLOR ****************/
.icon-waiting1:before {
    color: #838383 !important;
}

/*==============poover css===========================*/
.popover.bottom > .arrow {
    display: none !important;
}

.popover-content {
    padding: 10px 14px !important;
    /*background: #ffffff;
    color: #333333;*/
    font-size: 13px;
    border-radius: 4px;
}

.popover.bottom {
    margin-top: 4px !important;
}

.popover.bottom {
    border: none !important;
}

/**************** 404 *********************/

.page-404 {
    height: 80vh;
}

.page-404 .content-404 h2 {
    font-size: 40px;
    color: #333;
    font-family: "Lato", "sans-serif";
}

.page-404 .content-404 span.icon-frown {
    font-size: 100px;
    color: #333;
}

.paginationstyle ul.pagination li:last-child > a,
.paginationstyle ul.pagination li:last-child > span,
.paginationstyle ul.pagination li:first-child > span,
.paginationstyle ul.pagination li:first-child > a {
    padding: 5px 5px !important;
}

.modal.right .modal-content {
    -webkit-overflow-scrolling: auto;
    border: none;
}

.mCSB_inside > .mCSB_container {
    -webkit-overflow-scrolling: auto
}

.upload__file input[type=button] {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.inputField__edit {
    position: absolute;
    top: 5px;
    right: 0;
    z-index: 1;
}

.inputField__edit button {
    border: 0;
    background-color: transparent;
}

.new-design-labels .input__field label,
.new-design-labels .input__field span,
.new-design-labels .selct-picker-plain .bootstrap-select + span,
.new-design-labels .findArea input + span,
.textarea__input span {
    top: 6px;
    color: #a3a3a3;
}

.new-design-labels .label-color {
    color: #a3a3a3;
}

.new-design-labels .textarea__input textarea + label + span,
.new-design-labels .textarea__input textarea + span {
    top: 0;
}

/*.new-design-labels label.hasVal,*/
.new-design-labels span.hasVal,
.new-design-labels .input__field input:focus + label + span,
.new-design-labels .input__field input:focus + span,
.new-design-labels .selct-picker-plain .bootstrap-select + span.hasVal,
.new-design-labels .findArea input + span.hasVal,
.new-design-labels .api-key textarea:focus + label + span,
.new-design-labels .api-key textarea:focus + span,
.new-design-labels .textarea__input textarea:focus + label + span,
.new-design-labels .textarea__input textarea:focus + span {
    -webkit-transform: translateY(-18px);
    -moz-transform: translateY(-18px);
    transform: translateY(-18px);
}

.new-design-labels span.hasVal {
    -webkit-transform: translateY(-25px);
    -moz-transform: translateY(-25px);
    transform: translateY(-25px);
}

.website-preview {
    border: 0;
    width: 100%;
}

.textarea__input textarea {
    border: 0;
    border-bottom: 1px solid #d1d1d1;
    box-shadow: none;
    -webkit-border-radius: 0;
    -mox-border-radius: 0;
    border-radius: 0;
    resize: none;
    width: 100%;
    font-size: 16px;
    overflow: auto;
    max-height: 350px;
    padding: 5px 0;
}

.uploadCSV .control_indicator {
    left: 0
}

.uploadCSV .uploadCSV_field label {
    z-index: 1
}

.uploadCSV .uploadCSV_field label.hasVal {
    top: 0;
}

.uploadCSV .uploadCSV_field #uploadCVSFile,
.uploadCSV .uploadCSV_field .uploadFile {
    position: absolute;
    right: 0;
    bottom: 5px;
}

#cms-accordion.ui-accordion .ui-accordion-header {
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 0;
    outline: none;
    border: 0;
    margin-top: 0;
    background-color: transparent;
}

#cms-accordion.ui-accordion .ui-accordion-header.ui-state-active {
    color: #333;
}

#cms-accordion.ui-accordion .ui-accordion-header .fa {
    position: absolute;
    right: 40px;
    height: 15px;
    top: -2px;
    bottom: 0;
    margin: auto;
    line-height: 15px;
    color: #333;
}

#cms-accordion.ui-accordion .ui-accordion-header .ui-accordion-header-icon {
    display: none;
}

#cms-accordion.ui-accordion .ui-accordion-content {
    border: 0;
    overflow: visible;
    padding-top: 0;
    padding-bottom: 0;
}

.section-heading {
    font-size: 18px;
    border-bottom: 1px solid #eee;
}

.input__field label,
.input__field span,
.selct-picker-plain .bootstrap-select + span,
.new-design-labels .findArea input + span,
.new-design-labels .selct-picker-plain select + label,
.new-design-labels .textarea__input textarea:focus + label + span,
.new-design-labels .textarea__input textarea:focus + span,
.textarea__input span  {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    /*-webkit-transition: 0.3s ease;
    transition: 0.3s ease;*/
    pointer-events: none;
    font-size: 13px;
    color: #000;
    font-weight: 700;
}

.input__field input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    padding: 5px 0;
    font-size: 16px;
    background-color: transparent;
}
.input__field textarea {
    width: 100%;
    padding: 5px;
}

.input__field input:focus + label + span,
.input__field input:focus + span {
    /*top: -10px;*/
    font-size: 12px;
    -ms-transform: translateY(-4px);
    transform: translateY(-12px)
}

label.hasVal,
span.hasVal,
.new-design-labels .selct-picker-plain .bootstrap-select + span.hasVal,
.new-design-labels .api-key textarea:focus + label + span,
.new-design-labels .api-key textarea:focus + span,
.new-design-labels .textarea__input textarea:focus + label + span,
.new-design-labels .textarea__input textarea:focus + span {
    /*top: -10px;*/
    font-size: 12px;
    -ms-transform: translateY(-4px);
    transform: translateY(-20px)
}

input[type=checkbox] + span.hasVal,
.input-group span.hasVal {
    /*top: -10px;*/
    font-size: 12px;
    -ms-transform: translateY(0px);
    transform: translateY(0px)
}

/*for media page*/
.main__container input[type="text"].uploadFileName {
    padding-right: 50px;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
    right: 0;
    top: 0;
}

.tabwid {
    width: 50%;
    position: absolute;
    left: 10px;
    top: 17px;
    z-index: 10;
}
table.tabwid tbody tr td.tabwid2 { 
    width: 70px;
    font-size: 14px; 
}
table.tabwid .frstline {
    width: 50%;
    float: left;
    padding-top: 3px;
}
table.tabwid .scndline {
    width: 50%;
    float: left;
}

#myTable .dataTables_length {
    padding-right: 20px;
}
#myTable_wrapper { 
    /* margin-top: -50px;  */
}
#myTable_filter {
    width: 250px;
    /* position: absolute;
    right: 0;
    top: -85px; */
}
#myTable_filter input {
    width: 100%;
}
table.dataTable.stripe tbody tr.odd, table.dataTable.display tbody tr.odd {
    background-color: #ffffff;
}
table.dataTable thead th { border-bottom-width: 2px !important;}

table.dataTable thead .sorting {
    background-image: none !important;
}

.dataTables_length { 
    margin-right: 15px;  
}
div.dt-buttons {
    float: right !important;
    padding-left: 15px;
    margin: 0 0 10px;  
    /*margin: -25px 0 10px;*/
}
#myTable_wrapper div.dt-buttons {
    margin: -25px 0 10px;
}
div.dt-buttons .dt-button { 
    /*margin-left: 10px !important; */
    border-radius: 5px;
    border: solid 1px #ff8700;
    background: #ff8700;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 0;
}
div.dt-buttons .dt-button span {
    display: block;
    padding: 4px 10px 5px;
}
div.dt-buttons .dt-button:hover {
    border: none;
    background: #ff8700;
    color: #fff;
}
button.dt-button:hover:not(.disabled) {
	border-color: #ff8700;
	background-color: #ff8700;
	background-image: -webkit-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
	background-image: -moz-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
	background-image: -ms-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
	background-image: -o-linear-gradient(top, #f9f9f9 0%, #e0e0e0 100%);
	background-image: linear-gradient(to bottom, #f9f9f9 0%, #e0e0e0 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, StartColorStr='#f9f9f9', EndColorStr='#e0e0e0')
}
div.dt-buttons .dt-button.buttons-excel,
div.dt-buttons .dt-button.buttons-pdf,
div.dt-buttons .dt-button.buttons-print,
div.dt-buttons .dt-button.buttons-collection {
    border: none !important;
    background: transparent !important;
    color: #444;
    font-size: 18px;
    margin: 4px 0 0 10px;
    
}
div.dt-buttons .dt-button.buttons-excel span,
div.dt-buttons .dt-button.buttons-pdf span,
div.dt-buttons .dt-button.buttons-print span,
div.dt-buttons .dt-button.buttons-collection span {
    padding: 2px;
}
div.dt-buttons .dt-button:hover>span,
div.dt-buttons .dt-button:focus>span,
div.dt-buttons .dt-button:active>span {
    background-color: transparent!important;
}
div.dt-buttons .dt-button:focus,
div.dt-buttons .dt-button:active {
    box-shadow: none!important;
}
div.dt-buttons .dt-button:hover>span {
    opacity: .6;
}
#table_id_wrapper div.dt-buttons .dt-button.buttons-excel,
#table_id_wrapper div.dt-buttons .dt-button.buttons-pdf,
#table_id_wrapper div.dt-buttons .dt-button.buttons-print,
#table_id_wrapper div.dt-buttons .dt-button.buttons-collection {
    height: 32px;
}

div.dt-button-collection button.dt-button {
    border-color: #c3c3c3;
    background: #c3c3c3;
}
div.dt-button-collection button.dt-button:hover {
    border-color: #c3c3c3;
    background: #c3c3c3;
}
.dt-button.buttons-columnVisibility.active {
    border-color: #ff8700;
}
.dt-button.buttons-columnVisibility.active:hover {
    border-color: #ff8700;
}

.dataTables_wrapper .dataTables_filter { 
    /* float: left !important; */
    width: 20%;
    text-align: left !important;
    margin-bottom: 15px;
    margin: 0 auto -40px;
    width: 300px;
    float: none!important;
}
#myTable_wrapper.dataTables_wrapper .dataTables_filter {
    float: right !important;
    margin: 0 0 8px;
}
div.dataTables_wrapper div.dataTables_info {
    font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
    float: left !important;
    width: 30%;
    clear: inherit !important;
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 700;
    text-align: left;
    padding-top: 8px!important;
    line-height: 20px;
    white-space: normal!important;
}
#myTable_wrapper.dataTables_wrapper div.dataTables_info {
    width: 100%;
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 700;
    text-align: center;
    padding-top: 0!important;
    line-height: 20px;
}
.navigaton__guestbook {
    margin: 0;
}

.text-align-right { text-align: right; }

.inputClass input[type=text] {
    border-radius: 20px;
    padding: 10px 20px;
}


@media only screen and (max-width : 1025px) {
    #general label.padbot { padding-bottom: 6px;}
    #general label { padding-top: 10px;}
    #general .form_field__container { padding: 0;}
    .clearheight { min-height: 212px !important; }
}

@media only screen and (max-width : 991px) {
    .nomobtab { padding: 10px 0 !important; }
    hr { margin-top: 5px; margin-bottom: 5px; }
}

.col-xs-12.zero3 { padding-left: 0; }


/*Detail page */
#orderDetail {
    background: #fff;
    width: 100%;
    position: relative;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05); */
    padding: 15px;
}
.delBlockqoute {
    background: #ff8700;
    color: #fff;
    width: 100%;
    max-width: 300px;
    text-align: left;
    border: none;
}
.delBlockqoute.width-auto{
    width: auto;
    display: inline-block;
}
.delBlockqoute-top {
    padding: 10px 15px;
    width: 100%;
    font-size: 26px;
    line-height: 1;
    font-weight: 700;
    border-bottom: solid 1px #fff;
    text-transform: capitalize;
}
.delBlockqoute-bot {
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 400;
}
.delBlockqoute-right {
    width: 100%;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}
.delBlockqoute-right p {
    margin: 0;
    padding: 7px 0 0;
    line-height: 1.5;
    color: #4b4b4b;
}
.delBlockqoute-right h4 {
    font-size: 20px;
    font-weight: 600;
    color: #6aa84f;
    padding: 0 0 0 10px;
    margin: 0;
    display: inline-block;
}
.delBlockqoute-right h4.Prepaid {
    color: #6aa84f;
}
.delBlockqoute-right h4.COD {
    color: #cd3839;
}
.delBlockqoute p {
    font-size: 14px;
    color: #4b4b4b;
    font-weight: 600;
    padding-top: 8px;
}
.delBlockqoute strong {
    color: #000;
    font-weight: 700;
}
.delBlockqoute-bot strong {
    color: #fff;
    font-weight: 700;
    display: block;
    padding-top: 5px;
}
.firstrow {
    border-top: solid 1px #ccc;
    padding: 15px 0;
}
.firstrow.mt10 { 
    margin-top: 15px; 
}
.addressBlockqoute {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    color: #9a9a9a;
    line-height: 1.4;
}
.addressBlockqoute.tar {
    text-align: right;
    font-size: 14px;
    color: #4b4b4b;
}
.addressBlockqoute strong {
    color: #000;
    font-size: 16px;
    font-weight: 700;
}
.order-instruc-message {
    background-color: #fdecda;
    color: #000;
    display: block;
    padding: 5px 0;
}
.addressBlockqoute.tar .ordernum {
    padding-bottom: 4px;
    color: #ff9700;
}
.addressBlockqoute.tar .ordernum a{
    color: #ff9700;
}
.addressBlockqoute.tar a {
    color: #4b4b4b;
}
.addressBlockqoute.tar a .fa-envelope:before {
    color: #4b4b4b;
}
.tablerow {
    border-bottom: solid 1px #ccc;
    padding: 0;
}
.tablerow .throw {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    background: #f2f2f2;
    padding: 10px 0;
    font-size: 16px;
    font-weight: 700;
}
.tablerow .tar { 
    text-align: right;
}
.tablerow .tbodyCol {
    width: 100%;
}
.tablerow .tbodyCol .tdrow {
    background: #fff;
    padding: 10px 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
}
.tablerow .item_addons {
    font-size: 13px;
}
.tablerow .tbodyCol .qty {
    padding-left: 10px;
    display: inline-block;
}
.tablerow .tbodyCol .tdrow:nth-child(2n + 1) {
    background: #f7f7f7;
}
.tablerow .tbodyCol .tdrow .itemname {
    font-weight: 700;
}
.tablerow .tbodyCol .tdrow .addonname,
.tablerow .tbodyCol .tdrow .insRow {
    font-weight: 500;
    color: #838181;
    padding-left: 15px;
    line-height: 1.5;
    font-size: 13px;
}
.tablerow .tbodyCol .tdrow .addonname strong,
.tablerow .tbodyCol .tdrow .food_order_item strong {
    color: #000;
}
.food_order_item.si {
    border-top:solid 1px #dedede;
    /* border:solid 1px #dedede; */
    padding: 3px 0 5px;
    /* border-radius:5px; */
    margin-top:3px;
    /* margin-left: 15px !important; */
}
.tablerow .tbodyCol .tdrow .insRow {
    /* border: solid 1px #d2d2d2; */
    background: #eceaea;
    /* border-radius: 5px; */
    padding: 5px;
    margin:5px 15px 0;
}
.scndrow {
    border-top: solid 1px #ccc;
    padding: 10px 0;
}
.discntRow {
    font-size: 16px;
    font-weight: 400;
    font-weight: 700;
}
.discntRow i.fa { 
    font-size: 22px;
    margin-right: 15px;
}
.subtotalRow {
    font-size: 14px;
    font-weight: 400;
    padding: 15px 0;
    line-height: 1.8;
    text-align: right;
    border-top: solid 1px #ccc;
}
.subtotalRow .bold {
    font-weight: 700;
}
.totalRow {
    font-size: 16px;
    padding: 10px 0;
    line-height: 1.5;
    font-weight: 700;
    text-align: right;
    border-top: solid 1px #ccc;
}
.cmntrow {
    line-height: 1.8;
}
.cmntrow ul {
    margin: 0 0 0 30px;
    color: #838383;
}
.cmntrow p {
    color: #838181;
    line-height: 1.4;
}
.ctaRow {
    padding: 5px 0;
    text-align: right;
}
.ctaRow .btn {
    margin: 10px 0 10px 10px;
    font-weight: 600;
    font-size: 16px;
    padding: 12px 24px;
    background: transparent;
    border: solid 2px #ff8700;
    color: #ff8700;
}

.ctaRow .btn:first-child {
    background: #ff8700;
    color: #fff!important;
}

.ctaRow .tablet-flex .btn:first-child {
    color: #fff;
    background: #ff8700;
}
.ctaRow .btn:hover {
    color: #fff;
    background: #ff8700;
}
.ctaRow .btn:focus {
     color: #ff8700;
}
.ctaRow .btn:hover:focus,
.ctaRow .btn:active:focus {
    color: #fff!important;
}
.ctaRow .btn.btn__holo:hover:focus,
.ctaRow .btn.btn__holo:active:focus {
    color: #ff8700!important;
}
.ctaRow .btn.btn_red {
    background: #ff8700;  
    color: #fff;
}
/* .ctaRow .btn.btn_grey { 
    background: #828282; 
    color: #fff;
}
.ctaRow .btn.btn_pink {
    background: #cd3839;  
    color: #fff;
}

.ctaRow .btn.btn_green {
    background: #6aa84f; 
    color: #fff; 
} */
.showmob { display: none; }

#orderDetailBox { 
    width: 72%; 
    position: fixed;/*position: fixed;*/ 
    right: -100%;/*100%*/ 
    top: 0; 
    height: 100%; 
    padding: 20px 15px; 
    overflow: auto; 
    z-index: 50; 
    background: #fff; 
    transition:all .3s linear; 
    box-shadow: rgba(0, 0, 0, .5) 0px 20px 20px;
}
#orderDetailBox.showdiv { right: 0; visibility: visible; }
.closeDiv { width: 100%; text-align: right; font-size: 22px; padding: 0 30px; }
.closeDiv.gustbok { padding: 0 15px 15px; }
.closeDiv a { margin-left: 15px; }
.formobile { display: none; }

.topTil {
    font-size: 16px;
    color: #ff8207;
    font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
}

input:-moz-read-only,
textarea:-moz-read-only {
    color:#767676;
}
input:read-only,
textarea:read-only {
    color:#767676;
}

.main__container input[type="text"],
.ui-widget button,
.info-restaurant .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 400;
}
label.custom_checkbox {
    font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
    font-weight: 700;
}
label.custom_checkbox.disabled {
    color:#999;
}
label.custom_checkbox.disabled .control_indicator {
    border-color:#999;
}
label.custom_checkbox.disabled .control_indicator:after {
    visibility:hidden;
}
label.custom_checkbox.disabled input {
    visibility:hidden;
}

/*manage roles*/
#pannelBox .options__title {
    background-color: #dddddd;
    display: block;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 5px;
    padding: 5px;
}
#pannelBox .permission__title { font-size: 15px!important; text-transform: uppercase; }
#pannelBox .options__title { font-size: 15px!important; text-transform: uppercase; }
#pannelBox .option__wrapper { display:inline-block; padding:5px 20px 10px 0; min-width: 200px }
#pannelBox .option__wrapper .control_indicator { left: 0;}
.permissionTopForm input, .permissionTopForm select { width: 100% !important; border-radius: 4px !important; }
.margin-5 { margin: 5px 0; }

#myTable_wrapper table.dataTable>tbody>tr.child,
#table_id_wrapper table.dataTable>tbody>tr.child,
#myTable2_wrapper table.dataTable>tbody>tr.child { display: none; }

/*cms user*/
.card.form__container { max-width: 100%; width: 100%; }
.form__container .form-group { margin-bottom: 0; padding: 0 0 20px; }
/* .card.form__container .form__user__edit { width: 70%; } */

.main__container { max-width:100%; }

.sidebar .menu-button { margin-bottom: 50px; }

/*div.dt-button-collection { width: auto; }*/

.reservation__atto {
    position: absolute;
    top: 25px;
    left: 35px;
    width: 40%;
    z-index: 2;
}
.fortitle .reservation__atto {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}
.fmob {
    float: right;
}
.fullWidth.delivery-area textarea {
    border: solid 1px #d1d1d1;
    padding: 10px;
}
.radioDate {
    font-weight: 600;
    font-size: 14px;
    position: relative;
    line-height: 20px;
    float: left;
    cursor: pointer;
    color: #9a9a9a;
}
.radioDate span {
    width: 12px;
    height: 12px;
    cursor: pointer;
    border: 1px solid #ff8d00;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    float: left;
    color: #9a9a9a;
    font-weight: 700;
    margin-right: 10px;
    margin-top: 4px;
    position: relative;
}
.radioDate.active span:after {
    content: "";
    background: #ff8d00;
    width: 6px;
    height: 6px;
    position: absolute;
    left: 2px;
    top: 2px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}
.radioDateField {
    font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
    background: transparent url('../images/ico-cal2.png') right 0 no-repeat;
    font-size:12px; 
    border: none;
    border-bottom:1px solid rgb(169, 169, 169);
    padding:6px 25px 6px 5px; 
    margin-left: 5px; 
    border-radius:0px;
    cursor: pointer;
    font-weight: 500;
    width: 140px;
}
#timecol {
    cursor:pointer;
    text-decoration: underline;
}
.icocal {
    background: transparent url('../images/ico-cal.png') right 0 no-repeat !important;
    padding-right: 30px !important;
}
.icotime {
    background: transparent url('../images/ico-watch.png') right 0 no-repeat !important;
    padding-right: 30px !important;
}
.mrl2 {
    margin-left: 15px;
    margin-right: 15px;
}
.saprator {
    color: #bababa;
    padding: 0 10px;
}
.imgtd div.tak {
    font-size: 24px;
}
.imgtd div.del {
    font-size: 30px;
}
.imgtd img {
    width: 38px;
    height: auto;
}
.col-xs-12.deal1 {
    padding: 15px 10px 5px;
    font-weight: 700;
}
.newtype strong {
    color: #a3a3a3;
    font-weight: 500;
    font-size: 12px;
    display: block;
    padding: 0;
}
.newtype .newrel {
    color: #000;
    font-weight: 400;
    font-size: 14px;
    display: block;
    padding: 5px 0;
    border-bottom: 1px solid #d1d1d1;
}

/*for date picker*/
#ui-datepicker-div.ui-widget.ui-widget-content {
    margin-left: 0;
    border-bottom: none;
}
.btn-group.open .dropdown-toggle,
.bootstrap-select>.dropdown-toggle.bs-placeholder,
.bootstrap-select>.dropdown-toggle {
    box-shadow: none;
    padding-left: 0!important;
    padding-top: 0!important;
    margin-top: 5px;
}
.bootstrap-select>.dropdown-toggle.bs-placeholder, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:active, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:focus, 
.bootstrap-select>.dropdown-toggle.bs-placeholder:hover {
    outline: none!important;
    box-shadow: none;
}

/* @media only screen and (min-width : 1025px) { */
    table.dataTable tbody td {
        padding: 10px !important;
    }
    table.dataTable thead th {
        padding: 10px 18px 10px 10px !important;
    }
/* } */

#orderDetail .input__fullWidth .input__date,
#orderDetail .input__fullWidth .timepicker {
    font-weight: 400;
}
#cancelOrderModal .modal-title {
    color: #000;
    font-weight: 600;
    font-size: 17px;
}
#cancelOrderModal a.close.icon-close.gray {
    position: absolute;
    top: 0;
    right: 0;
}
#cancelOrderModal .modal-header {
    border-bottom: none;
}

#request_detail .modal-header,
#contact_detail .modal-header {
    font-size: 22px;
    text-align: right;
}

.qty_input {
    width: 150px;
    width: 75px;
    border: solid 1px #dedede;
    border-right: none;
    border-radius:20px 0 0 20px;
    min-height: 35px;
    padding: 5px 2px 5px 15px;
    margin: 0 0 0 5px;
    text-align: right;
}
.qty_input2 {
    width: 75px;
    border: solid 1px #dedede;
    border-radius:20px;
    border-left: none;
    border-radius:0 20px 20px 0;
    min-height: 35px;
    padding: 5px 15px;
    margin: 0 5px;
    padding: 5px 15px 5px 2px;
    margin: 0 5px 0 -3px;
    text-align: left;
}
.qty_button {
    background-color: #ff8700;
    font-weight: 400 !important;
    color: #fff !important;
    width: 35px;
    height: 35px;
    text-align: center;
    font-size: 20px;
    border: none;
    border-radius:10px;
}
#overlayOD {
    position: fixed;
    width: 0%;
    height: 100%;
    right: 0;
    top: 0;
    background: rgba(0, 0, 0, .7);
    z-index: 2;
}

.msgBox textarea {
    width: 100%;
    border: solid 1px #dedede;
    padding: 10px;
    min-height: 80px;
    resize: none;
    margin: 0 0 10px;
}


/* Catering Form Details*/
.autoListingPopup .cateringformdetails .mCSB_container{
    padding: 0 45px 0 30px;
}
.autoListingPopup .cateringformdetails .form_field__container .input__field:nth-child(3){
    width: 48%;
    display: inline-block;
}
.autoListingPopup .cateringformdetails .input__field span.hasVal{
    color: #ff8700;
}
.cateringformdetails input:read-only,
.cateringformdetails textarea:read-only{
    color: #333;
    /*font-weight: bold;*/
}
.cateringformdetails .input__field textarea{
    border: 1px solid #d1d1d1;
}
.reservation-details__header{
    padding: 0 0 15px;
    /*padding: 0 15px 15px;*/
    /*border-bottom: 1px solid #ccc;*/
}
.cateringformdetails .form_field__container{
    padding: 0 15px;
}
.cateringformdetails .border-sepration{
    border-bottom: 1px solid #ccc;
}

.cateringformdetails .cateringReplySection{
    padding: 10px;
    border:1px solid #d1d1d1;
    margin-bottom: 10px;
}
.cateringformdetails .cateringReplySection .cateringReplyContent{
    display: block;
}
.cateringformdetails .cateringReplySection .cateringReplyContent span{
    color: #ff8700;
    font-size: 13px;
    font-weight: bold;
 }
.cateringformdetails .cateringReplySection .cateringReplyContent span:last-child{
    /*margin-left: 10px;*/
    color: #333;
    font-size: 12px;
}
.cateringformdetails .input__field span.enquiry_mobile,
.cateringformdetails .input__field span.enquiry_email{
    position: relative;
}
.cateringformdetails .input__field,
.cateringformdetails .input__field input{
    font-size: 14px;
}
.modal .cateringformdetails .hasVal{
    top: -16px !important;
}

.newMSG{
    display: block;
    text-align: center;
    color: #000;
    font-size: 24px;
}
.readMSG{
    display: block;
    text-align: center;
    color: #47b02f;
    font-size: 24px;
}
.repliedMSG{
    display: block;
    text-align: center;
    color: #9a9a9a;
    font-size: 24px;
}
.forwardMSG{
    display: block;
    text-align: center;
    color: #9a9a9a;
    font-size: 24px;
}
#userdata{
    border:1px solid #d1d1d1;
    padding: 15px;
    font-size: 14px;
}
#userdata:focus{
    outline: none;
}

#userdataEdit{
    min-height: 120px;
}
#userdataEdit:focus {
    outline: none;
}


#myTable tr td:nth-child(1) {
    text-align: center;
}
#myTable tr td:nth-child(1) .del {
    font-size: 30px !important;
}
#myTable tr td:nth-child(1) .tak {
    font-size: 24px !important;
}
div.dataTables_wrapper div.dataTables_processing {
    font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif !important;
    padding: 5% 0 0 !important;
    background: rgb(255, 255, 255, .95) !important;
    height: auto !important;
    border-radius: 5px !important;
    font-size: 14px !important;
    margin-top: 0px !important;
    width: 100% !important;
    height: 100% !important;
    left: 0 !important;
    top: 0 !important;
    margin-left: 0 !important;
}
#myTable tr td:nth-child(1),
#myTable tr td:nth-child(2) {
    cursor: pointer;
}
#myTable tr td:nth-child(2) {
    color:#ff9700;
}
#myTable tr td:nth-child(1):focus {
    outline:none !important;
}
#table_id tr td:nth-child(1),
#table_id tr th:nth-child(1){
    width: 55px !important;
}
.input__field #userdataForward .addressBlockqoute.tar span {
    position: relative!important;
}

/*for map*/
#orderDetailBox { overflow-x: hidden;}
#mapid { cursor: pointer; }
#maparea,
#maparea2 {
    background:rgba(255, 255, 255, 1);
    width: 72%;
    height: 100vh;
    padding: 30px 15px;
    position: fixed!important;
    visibility: hidden;
    right: -100%;
    top: 0;
    z-index: 10;
}
#maparea .closeDiv2,
#maparea2 .closeDiv3 {
    padding-bottom: 15px;
    text-align: right;
}
#maparea .slideClose2,
#maparea2 .slideClose3 {
    font-size: 24px;
}
#map,
#iframe_test,
#locationmap {
    width: 100%;
    height: 85vh;
    /* position: absolute!important;
    left: 0;
    top: 20%;
    z-index: 10; */
}
.addressCol {
    padding-bottom: 5px;
}
.addressCol a {
    cursor: pointer;
}
#floating-panel {
    position: absolute;
    top: 15px;
    left: 15px;
    z-index: 5;
    background-color: #fff;
    padding: 5px;
    border: 1px solid #999;
    text-align: center;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
}
.replyboxOrder {
    padding: 15px;
    border-top: solid 1px #ccc;
}
.emailToggleBox input, .emailToggleBox textarea {
    font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif!important;
}
.emailToggleBox textarea {
    border-color: #ccc;
    resize: none;
}


#myTable2 tbody tr td:first-child, 
#myTable2 tbody tr td:nth-child(2) { color: #ff8700; font-weight: 600;  }
#myTable2 tbody tr td:first-child span, 
#myTable2 tbody tr td:nth-child(2) span { cursor: pointer;}



/*Detail page */
@media only screen and (max-width : 767px) {
    .delBlockqoute.width-auto{
        width: 100%;
        display: block;
    }
    .loginpage .container { padding-left: 0 !important; padding-right: 0 !important; }
    table.tabwid { height: auto!important; width: 100%!important; padding-bottom: 10px; clear: both; display: none!important; }
    table.tabwid tbody tr td.tabwid1 { display: none; }
    table.tabwid tbody tr td.tabwid2,
    table.tabwid tbody tr td.tabwid3,
    table.tabwid tbody tr td.tabwid4 { width: 100%!important; float: left; padding:5px 10px;  }
    #ui-datepicker-div.ui-widget.ui-widget-content { width: 260px!important;}

    /* #firstCol { overflow: auto; }
    #secondCol { overflow: auto; } */
    /* #secondCol .col-lg-12 { width: 600px; }
    #secondCol .text-center { text-align: left; } */

    .overauto { overflow: auto!important; }
    .prl { padding-left: 0!important; padding-right: 0!important; }
    .padd-left { padding-left: 20px!important; }
    
    .dtr-details { width: 100%; }
    .dtr-title { display: block!important; }

    .prl20 { padding-left: 20px!important; padding-right: 20px!important; }

    .navbar-content.margin-top-10 { margin-top: 0!important; }
    .navContent-left { width: 65%; }
    .navContent-right { width: 25%; }

    .main__container { padding: 0px 15px 50px !important; margin-top: 10px!important; }
    .dataTables_wrapper .dataTables_paginate .fg-button { margin-top:5px; margin-bottom:5px; }

    .card { padding-left: 10px; padding-right: 10px; }

    .nomobtab { padding: 10px 0; }
    hr { margin-top: 5px; margin-bottom: 5px; }

    div.dt-buttons { border-left:none; padding-top: 0px; }

    .main__container h1 { font-size: 18px; }

    #myTable tr td:first-child img { width: 24px; }
    .no-padding-right { padding-right: 0; }

    .social-media-links .social-media-apis textarea {min-height: 45px !important; }

    .icotxt { display: none; }
    .no-mob-pad { padding-left: 0!important; padding-right: 0!important; margin-bottom: 20px !important; }
    .no-mob-pad2 { padding-left: 0!important; padding-right: 0!important; margin-bottom: 10px !important; }
    .no-mob-pad3 { padding-left: 0!important; }
    .no-mob-pad4 { padding: 0 20px!important; }
    .no-mob-pad5 { padding: 0 5px!important; margin-top: 0!important; }
    .no-mob-pad6 { padding-left: 20px!important; padding-right: 20px!important; }
    .text-right.tac { text-align: center;}
    .pad-bot-20 { padding-bottom: 20px!important;}
    .pad-bot-10 { padding-bottom: 10px!important;}
    .col-xs-12.zero { padding-left: 0; }
    .col-xs-12.zero2 { padding-left: 0; padding-right: 0; }
    .col-xs-12.zero3 { padding-left: 15px; }
    .pull-left.tbl-radio-btn.margin-left-30.zero { margin-left: 0!important; margin-right: 50px; margin-top: 10px;}

    .btn__primary { font-weight: 500; }

    /* .food__row.formob .item_addons { display: none; } */
    .dataTables_wrapper .dataTables_length { display: none; }
    div.dt-buttons { padding-left: 0; }
    div.dt-buttons .dt-button.buttons-print { display: none; }
    .dt-buttons { display: none; }
    .dataTables_wrapper .dataTables_filter { margin-top: 0; padding-top: 0; }

    /* ordertail */
    #orderDetail { padding: 0; margin-top: 0!important; position: relative; z-index: 2; padding: 15px; margin: 0!important; width: 100%; }
    #orderDetailBox { right: -100%; width: 100%; height: 90%; padding: 0; top:10%!important; z-index: 10; }
    /* #orderDetailBox:after { content: ''; width: 100%; height: 100vh; position: fixed; left: 0; top: 0%; background: rgba(0, 0, 0, .5)!important; z-index: 1;} */
    #overlayOD { width: 100%;}
    .nopad { padding-left: 0!important; padding-right: 0!important; }
    .delBlockqoute { background: #ff8700; color: #fff; border: none; max-width: 100%; text-align: left; position: relative; left: 0; top:0; z-index: 10; }
    .delBlockqoute-top { font-size: 22px; font-weight: 700; border-bottom-color: #fff; color: #fff; padding: 10px;}
    .delBlockqoute-right { padding-top: 15px; text-align: left; font-size: 13px; }
    .delBlockqoute-right h4 { float: right; font-size: 18px; margin: 0; }
    .delBlockqoute-right p { padding-right: 70px; }
    .delBlockqoute p, .delBlockqoute strong { color: #fff;}
    .firstrow { position: relative; }
    .addressBlockqoute { font-size: 14px; }
    .addressBlockqoute .nameDes { padding-right: 80px; }
    .addressBlockqoute.tar { text-align: left; }
    .addressBlockqoute .ordernum { position: absolute; right: 15px; top: 15px; }
    .norel { position: initial!important; }
    .firstrow.formob { padding: 5px 0; }
    .order-instruc-message { padding: 10px 0; }
    .tablerow .throw { font-size: 14px; }
    .ctaRow { width: 100%; text-align: center; position: relative; left: 0; bottom: 0; /*z-index: 50; */background: #fff; padding: 10px 0px 10px 0px; }
    .ctaRow .tablet-flex .btn { padding: 10px 5px !important; width: 48%; margin-left:1% !important; margin-top: 5px !important; margin-bottom: 5px !important; margin-right:1% !important; font-size: 14px; }
    .ctaRow .tablet-flex .btn:first-child { width: 98%; margin-left: 0; text-transform: uppercase; letter-spacing: 1px; margin-left:1%!important; margin-right:1% !important;  }

    /* .closeDiv { display: none; } */
    .closeDiv a { position: fixed; top: 40px; right: 20px; }
    .printClass { display:none; }

    .closeDiv.gustbok { display: block; padding: 15px 15px 0; }
    #hidemob { display: none; }
    .showmob { display: block; }
    .closeCta { font-size: 14px; color: #fff; float: right; margin-top: 6px; }
    .closeCta:hover, .closeCta:active { color: #fff;}

    #request_detail .closeDiv { position: fixed; top:-30px; right:20px; }

    .disblck { display: block!important; }
    #cms-accordion.ui-widget.ui-helper-reset { font-size: 90%; }
    .margin-left-0 { margin-left: 0!important; }
    .toprow { width: 100%; padding-bottom: 20px;}

    #myTable_wrapper { margin-top: 5px; }
    #myTable_filter { margin-top: 0; margin-bottom: 10px; width: 100%; }
    #myTable_filter label,
    #myTable_filter label input,
    #table_id_filter label,
    #table_id_filter label input,
    #myTable2_filter label,
    #myTable2_filter label input,
    #table_id1_filter label,
    #table_id1_filter label input { width: 100% !important; }

    #table_id label,
    #table_id label input { width: 100% !important; }

    #myTable_wrapper.dataTables_wrapper .dataTables_filter { margin-bottom: 0; }
    .dataTables_wrapper .dataTables_filter { width: 100%; margin: 0; }
    .dataTables_wrapper .dataTables_info { width: 100%; text-align: center; }
    div.dataTables_wrapper div.dataTables_info { width: 100%; text-align: center; }
    #myTable_wrapper.dataTables_wrapper div.dataTables_info { line-height: 20px; padding: 7px 0; white-space: normal;}
    

    /* Guestbook */
    #guestbookMob .guestbook__user { display: block; width: 100%; }
    #guestbookMob .guestbook_imgDiv { width: 15%; margin: 0 0 20px; height: auto; float: left; }
    #guestbookMob form#basicInfoForm_first { width: 100%; padding-left: 0%; /* padding-left: 20%; */ }
    #guestbookMob .guestbook_userDetails { margin-left: 0; }
    #guestbookMob .guest_book_info_basic { padding-left: 20%; }
    #guestbookMob .guestbook__user-info p { margin: 10px 0; }
    #guestbookMob .guestbook__user-info h4 { font-weight: 400; margin-top: 0; font-size: 13px; }
    #guestbookMob .guestbook_userDetails h4 { font-weight: 400; margin-top: 0; font-size: 13px; }
    #guestbookMob .guestName span { font-size: 18px; }
    #guestbookMob .guestbook_userDetails .details__customer { margin-top: 0; }
    #guestbookMob #guest_tags_div { margin-left: -8px; }
    #guestbookMob .detailBody__header h2 { font-size: 18px !important; margin-bottom: 15px; }
    #guestbookMob .details__stat { width: 100%; margin: 4px 0; }
    #guestbookMob .details__stat > div { font-size: 13px; }
    #guestbookMob .guest-note h3 { display: block; }
    #guestbookMob .guest-note textarea { padding-top: 5px; font-size: 13px; font-weight: 400; }
    #guestbookMob .tab-content { padding: 0 15px; }

    /* refund popup */
    html #refund_submit .min-width-180 { min-width: 100px; }
    #refund_submit .btn { font-size: 13px; }

    /* deal popup */
    #zeroforphone { overflow: hidden; }

    .modal.in .modal-dialog { z-index: 1055!important;}
    .modal-content { z-index: 2060 !important;}

    #myTable tbody tr td:first-child, #myTable2 tbody tr td:first-child { padding-left: 10px !important; }
    #myTable tbody tr td:first-child:before, #myTable2 tbody tr td:first-child:before { display: none !important; }

    #myTable tbody tr td:first-child,
    #table_id tbody tr td:first-child, 
    #myTable2 tbody tr td:first-child { padding-left: 10px !important; }
    #myTable tbody tr td:first-child:before,
    #table_id tbody tr td:first-child:before,
    #myTable2 tbody tr td:first-child:before { display: none !important; }

    .card.form__container { padding: 20px 10px; }
    .card.form__container .col-md-4 { min-width: 100%; }
    .form__container .form-group { display: block; }
    .card.form__container .form__user__edit { width: 100%; }

    .main__container { max-width:100%; }

    .reservation__atto { position: relative; left: 0; top: 0; padding-bottom: 15px; width: 100%; }
    .navContent-left { width: 0; }
    .navContent-right, .nav-item.dropdown { width: 100%; text-align: right; }
    .user__name { font-size: 16px; }
    .navbar-laravel { min-height: 65px; }
    .flex-column-tablet .reservation__title { margin-bottom: 0; }
    .reservation__atto.margin-bottom-10 { margin-bottom: 0 !important; }

    .col-xs-12.deal1 { padding: 15px 0 0; }
    .col-xs-12.deal1 .btn_ { padding: 10px; }

    .icocal { margin-top: 15px; }
    #labels .label__switch  {width: 50%; }
    #labels .label__switchHead { padding-bottom: 10px; }
    .formobilehide { display: none; }

    .login-page .content-container, #app, #app > div { height: 100vh; }
    .delBlockqoute h4 { color: #fff; font-size: 17px; }

    html #fund_submit .min-width-180 { min-width: 100px!important; }
    #rejectOrderModal .modal-dialog { width: auto;}
    #rejectOrderModal .modal-body { padding: 0 5px; margin: 0;}
    #app .sidebar { overflow-x: hidden!important; padding-bottom: 50px!important; }

    .zero2 .btn { font-size: 12px!important;}

    .dropdown-menu>li>a { white-space: normal!important; }

    html .min-width-180 { min-width: 135px!important; }

    .stick { background: #000;}

    .order-page .reservation__atto > div { margin: 10px 0 0!important;}

    .percentage-box label.error { top: 45px; left:5px; max-width: 1auto; width: 150px;}

    table.dataTable thead th { padding: 10px; }


    html .modal.right .modal-dialog { width: 100%!important; height: 90%; bottom: 0; }
    .cateringformdetails .form_field__container{
        padding: 0;
    }

    .order-page .reservation__atto > div { margin: 10px 0 0!important;}

    .percentage-box label.error { top: 45px; left:5px; max-width: auto; width: 150px;}

    .autoListingPopup .cateringformdetails .mCSB_container{
        padding: 0px 30px 0 15px;
    }
    .autoListingPopup .form_field__container .input__field:not(:nth-child(3)),
    .autoListingPopup .form_field__container .input__field:nth-child(3){
        width: 100%;
    }

    .newMSG, .readMSG, .repliedMSG, .forwardMSG { font-size: 18px; }
    #maparea, #maparea2 { background: rgba(255, 255, 255, 1); width: 100%; height: 92vh; padding: 15px; top: 67px; }
    #map, #map2, #locationmap  { height: 80vh; }
    .closeDiv2, .closeDiv3 { padding-right: 5px; }
    #floating-panel { padding: 2px 5px; }
    #mapid { padding: 5px 10px; border: solid 1px #ccc; border-radius: 15px; display: inline-block; margin: 5px 0 10px 0; }

    .firstrow p { font-size: 13px; }

    .addressCol { padding-bottom: 5px; }


}

.rdf { position: relative; display: inline; }
.clearCTA {
    position: absolute;
    right: 25px;
    top: 0px;
    height: 26px;
    line-height: 26px;
    font-size: 12px;
    cursor: pointer;
    display: none;
    color: #ff0000;
}

div.dataTables_wrapper div.dataTables_length { padding-top: 10px!important;}
div.dataTables_wrapper div.dataTables_length label { margin-bottom: 0!important;}
div.dataTables_wrapper div.dataTables_length select { min-height: auto!important;}

/* for modal box */
.modal-popup .modal-header { background-color: #ff8700;}
/* for modal box */

#clear1, #clear2, #clear3, #clear4 { display: none; }

#myTable, #table_id { font-size: 14px; }
#table_id1, #table_id, div.dt-buttons, div.dt-buttons .dt-button span, #myTable,
.col-xs-12.deal1,
.dataTables_wrapper .dataTables_length 
{ font-family: 'Lato', sans-serif !important; }
#myTable { font-weight: 500!important; color: #4b4b4b!important; }
#table_id tr td:nth-child(3),
#table_id.cap tr td:first-child,
#myTable tr td:nth-child(6) { text-transform: capitalize; }

div.dt-button-collection { width: auto!important;}

.main__container.container__custom .active__order__container {
    margin: 0 0 10px;
}
.newtabspan div.dt-buttons {
    padding: 5px 0;
}

#table_id_wrapper,
#table_id1_wrapper,
#table_id3_wrapper {
    padding: 10px !important;
}
/* .dataTables_filter {
    padding-top: 10px;
} */
.dataTables_filter label {
    width: 100%;
}
.dataTables_filter input[type=search] {
    background: url('../images/ico-search.png') 20px 10px no-repeat #fff;
    font-family: 'Lato','Helvetica Neue',Arial,Helvetica,sans-serif;
    border: 1px solid #000;
    padding: 8px 15px 8px 40px;
    font-size: 12px; 
    font-weight: 400;
    height: 35px;
    color: #000;
    margin-left: 0 !important;
    border-radius: 30px;
    width: 100%;
}

.phico {
    background: transparent url('../images/ico-ph3.png') 0 0 no-repeat;
    display: inline-block;
    padding: 0 0 0 16px;
    margin: 4px 0 0;
    text-transform: none;
}
.emico {
    background: transparent url('../images/ico-email.png') 0 10px no-repeat;
    display: inline-block;
    padding: 8px 0 0 25px;
    text-transform: none;
}
table.dataTable thead th {
    background: #c2c2c2;
    color: #000;
}
table.dataTable thead th, 
table.dataTable thead td,
table.dataTable.no-footer {
    border-bottom-color: #c2c2c2!important;
}
.firstImgArea img {
    width: 100%;
    height: auto;
}
.secondImgArea {
    float: left;
    position: relative;
    overflow: hidden;
    width: 100px!important;
    height: 100px;
}
.secondImgArea img {
    width: 100%;
    height: auto;
}
#dealimage .modal-dialog {
    width: 700px;
}
.order-cancel-message { margin-bottom: 20px; }
.mandat {
    color: #f00;
    font-weight: 900;
}
.light {
    color: #838181;
    font-weight: 400;
    padding-top: 5px;
}
.newtextarea {
    width: 100%;
    max-width: 100%;
    height: 34px;
    padding: 0;
    border: solid 1px #d1d1d1;
    font-family: 'Lato', Arial, Helvetica,sans-serif!important;
}
.addtionalRow {
    background: #fbfbfb;
    /* border: solid 1px #d1d1d1; */
    padding: 0 0 20px;
    margin: 20px 15px 0 !important;
}
.addtionalRow2 {
    /* background: #fbfbfb; */
    border: solid 1px #d1d1d1;
    padding: 0 0 20px;
    margin: 20px 15px 0 !important;
}
.addtionalRow3 {
    /* background: #fbfbfb; */
    border: solid 1px #d1d1d1;
    padding: 10px 0 20px;
    /* margin: 0 15px 0 !important; */
}
#generalinfo .option__wrapper {
    padding-top: 10px;
}
#generalinfo .option__wrapper .control_indicator,
#dealdetails .option__wrapper .control_indicator {
    left: 0;
}
.addtionalRow2 .option__wrapper {
    float: left;
    padding-right: 20px;
    padding-top: 0!important;
}
.imgcaption input[type=file] {
    padding: 3px!important;
}
.imgcaption .f1 {
    width: 65%;
    float: left;
}
.imgcaption .f2 {
    width: 10%;
    float: left;
    padding: 8px 10px 0;
}
.imgcaption .f3 {
    width: 25%;
    float: left;
    padding: 0 0 0 10px;
}
.fststpRow {
    padding: 30px 0 0 5%;
}
.scndstpRow {
    padding: 20px 0 0 5%;
}
/* #app .sidebar {
    left: 0 !Important;
} */

@media only screen and (min-device-width : 1025px)  {
    #app .sidebar {
        left: 0 !Important;
    }
}
@media only screen 
and (min-device-width : 992px) 
and (max-device-width : 1024px)  {
    #app .sidebar {
        left: 0 !Important;
    }
    .main__container { padding:15px 15px 35px!important; }
    #orderDetailBox { right: 0; width: 100%; }
    #guestbookMob .guestbook__user { display: inline-block; }
    .guestbook_imgDiv { height: auto; }
    .dataTables_wrapper .dataTables_filter { width: 50%; }
    .dataTables_wrapper .dataTables_info { width: 50%; text-align: right; padding-top: 10px; }

    .dataTables_wrapper .dataTables_filter { width: 250px;}
    .tabwid { width: 50%; position: absolute; margin-bottom: 5px; z-index: 1; top: 10px; }
    #myTable_wrapper.dataTables_wrapper .dataTables_filter,
    #table_id1_wrapper.dataTables_wrapper .dataTables_filter { margin-bottom: 25px; }
    table.tabwid .frstline, table.tabwid .scndline { width: 100%; }
    table.tabwid .scndline { padding-top: 5px; }
    #myTable tbody tr td:first-child,

    #table_id1 tbody tr td:first-child { padding-left: 10px !important; }
    #myTable tbody tr td:first-child:before,
    #table_id1 tbody tr td:first-child:before { display: none !important; }

    #table_id tbody tr td:first-child { padding-left: 10px !important; }
    #myTable tbody tr td:first-child:before,
    #table_id tbody tr td:first-child:before { display: none !important; }

    .login-page .content-container, #app, #app > div { height: 100vh; }
    .dt-button.buttons-collection.buttons-colvis { display: none !important; }

    #datepicker-div { background-color: rgba(255, 255, 255, .01); width: 100%; height: 100vh; position: fixed; left: 0; top: 0; z-index: 1; }

    .tabhide { display: none; }
    .tab-mar-20 { margin-top: 20px; }

    .closeDiv.gustbok { padding: 0 15px 15px; }

    #maparea, #maparea2 { width: 100%; }
}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 991px)  {
    html .modal.right .modal-dialog{
        width: 100%;
    }
    .main__container { padding:15px 15px 35px!important; }
    #app .sidebar {
        left: 0 !Important;
    }
    #orderDetailBox { right: 0; width: 100%; }
    .dataTables_wrapper .dataTables_filter { width: 50%; }
    .dataTables_wrapper .dataTables_info { width: 50%; text-align: right; padding-top: 10px; }
    /* .detail__header { height: auto; display: block; }
    #guestbookMob .guestbook__user { display: inline-block; float: left; } */
    .guestbook_imgDiv { height: auto; }
    /* form#basicInfoForm_first { width: 100%; padding-left: 110px; } */
    /* .detail__header { display: block; } */
    /* .guestbook_userDetails { margin-left: 0; float: left; } */

    .dataTables_wrapper .dataTables_filter { width: 200px;}
    .tabwid { width: 50%; position: absolute; margin-bottom: 5px; z-index: 1; top: 10px; }
    #myTable_wrapper.dataTables_wrapper .dataTables_filter { margin-bottom: 25px; }
    table.tabwid .frstline, table.tabwid .scndline { width: 100%; }
    table.tabwid .scndline { padding-top: 5px; }
    #myTable tbody tr td:first-child,
    #table_id tbody tr td:first-child { padding-left: 10px !important; }
    #myTable tbody tr td:first-child:before,
    #table_id tbody tr td:first-child:before { display: none !important; }

    .login-page .content-container, #app, #app > div { height: 100vh; }
    .formobilehide { display: none; }

    .tabhide { display: none; }
    .tab-mar-20 { margin-top: 20px; }
    .dt-button.buttons-collection.buttons-colvis { display: none !important; }

    #datepicker-div { background-color: rgba(255, 255, 255, .01); width: 100%; height: 100vh; position: fixed; left: 0; top: 0; z-index: 1; }

    .closeDiv.gustbok { padding: 0 15px; }

    #maparea, #maparea2 { width: 100%; }

}
@media only screen and (min-device-width : 1025px)  and (max-device-width : 1366px)  {
    #orderDetailBox { left: 31%!important; width: 69%!important; }
    .tabwid { width: 70%; }
}
@media only screen and (min-device-width : 1025px)  and (max-device-width : 1500px)  {
    .tabwid { width: 70%; }
}


@media only screen and (max-width : 767px) {
    .mob-mar-20 { margin-top: 20px; }
    .formob .option__wrapper { min-width: 104px; }
    .deal-form-group { padding-bottom: 20px; }
    .deal-form-group2 { padding-bottom: 10px; }
    .deal-form-group3 { margin-top: 20px; }

    .scndstpRow, .fststpRow { padding:20px 0 0 0; }
    .addtionalRow3 { margin-bottom: 15px; }
    .fststpRow.plr { padding-left: 15px; padding-right: 15px; }
    .date_start .xdsoft_datetimepicker { left: 10px !important;}
    .date_start.icocal { margin-top: 0; }
    .date_end.icocal { margin-top: 0; }

}
