
#grid-calendar{
    background: #fff;
    padding: 40px;
}
#grid-calendar .fc-resource-area td.fc-widget-content {
    border-width: 0;
}
#grid-calendar td.fc-divider {
    background: #fff;
    text-align: center;
    font-weight: bold;
}
#grid-calendar th.fc-widget-header {
    border: none;
}
#grid-calendar .fc-expander-space{
    display: none;
}
#grid-calendar td.fc-divider.fc-col-resizer.fc-widget-header{
    display: none;
}
#grid-calendar span.fc-expander {
    display: none;
}
#grid-calendar .fc-head td {
    border: none;
}
#grid-calendar td.fc-resource-area.fc-widget-content {
    width: 80px;
    border-left: none;
}

#grid-calendar .fc-slats td {
    background: url(../images/notSelectedSlots.jpg);
    border:0;
}

/*#grid-calendar .fc-slats td:nth-child(odd) {
    background-color: #f7f5f6;
}*/
#grid-calendar td.fc-time-area.fc-widget-content {
    border-right: none;
}
#grid-calendar .fc-resource-area.fc-widget-content .fc-scroller {
    overflow-x: auto !important;
    overflow-y: auto !important;
    max-height: 500px !important;
}
#grid-calendar .fc-time-area.fc-widget-content .fc-scroller {
    overflow-x: auto !important;
    overflow-y: auto !important;
    max-height: 500px !important;

	/*height: 500px;
    background: #fff;
	overflow-y: scroll;
	margin-bottom: 25px;*/
}

#grid-calendar .fc-resource-area.fc-widget-content .fc-scroller > div,
#grid-calendar .fc-time-area.fc-widget-content .fc-scroller > div {
    margin-bottom:7px;
}

#grid-view .fc-event .grid-view__slotAvailable {
    cursor: pointer;
    width: 100%;
}

#grid-view .fc-event.past_time {
    pointer-events: none;
    opacity: 0.8;
    cursor: not-allowed;
    -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
}

.ui-autocomplete {
    text-transform: capitalize;
}

/*#grid-view .fc-event:nth-child(even) .grid-view__slotAvailable*/
#grid-view .fc-event .grid-view__slotAvailable.odd {
    background-color:#f7f5f6;
    min-height: 35px;
}

/*#grid-view .fc-event:nth-child(odd) .grid-view__slotAvailable*/
#grid-view .fc-event .grid-view__slotAvailable.even {
    background-color:#fff;
    min-height: 35px;
}

/*#grid-view .fc-scroller-canvas .fc-rows tbody tr:nth-child(even) .grid-view__slotAvailable {
    background-color:#f7f5f6;
    min-height: 35px;
}

#grid-view .fc-scroller-canvas .fc-rows tbody tr:nth-child(odd) .grid-view__slotAvailable {
    background-color:#fff;
    min-height: 35px;
}*/


/*#grid-calendar .fc-time-area.fc-widget-content .fc-scroller::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #fff;
}
#grid-calendar .fc-time-area.fc-widget-content .fc-scroller::-webkit-scrollbar
{
	width: 3px;
	background-color: #fff;
}
#grid-calendar .fc-time-area.fc-widget-content .fc-scroller::-webkit-scrollbar-thumb
{
	background-color: #ff9700;
	border: 1px solid #555555;
}*/

#grid-calendar .fc-now-indicator.fc-now-indicator-arrow{
    border-top-color:#ff8207;
}

#grid-calendar .fc-now-indicator.fc-now-indicator-line {
    border-left: 1px solid #ff8207;
}
#grid-calendar .fc-now-indicator.fc-now-indicator-line:before{ background: #ff8207;position: absolute;top:6px;height: 20px;padding-top:2px;z-index:99;width: 70px;left: -36px;color: #fff;text-align: center; border-radius: 10px;}
.fc-time-area .fc-now-indicator-arrow{
    margin: 0 -5px;
}

