
#reportsSection {
    display: flex;
    flex-direction: row;
}

#reportsSection > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#reportsSection > div:nth-child(1) {
    border-right: 1px #ccc solid;
    padding-right: 60px;
}

#reportsSection > div:nth-child(2) {
    padding-left: 60px;
}

#reportsSection h4 {
    color:#0a0a0a;
    font-weight: bold;
}

iframe#pdfVieweriFrame {
    border: 0;
    height: 500px;
}