

.social-media-links .social-media-list .fa {
    width:15px;
}

.social-media-links .social-media-list .open-close-eye {
    color: #4b4b4b;
    font-size: 20px;
}

.social-media-links .social-media-list .inactive-URL {
    color: #a4a4a4;
}

.social-media-links .social-media-list .inactive-URL .open-close-eye {
    color: #ce0a16;
}

.social-media-links .social-media-list .inactive-URL input[type=text] {
    opacity: 0.6;
}

.social-media-links .social-media-apis textarea {
    border:0;
    border-bottom:1px solid #d1d1d1;
    width: 100%;
    resize: none;
    min-height: 33px;
    padding-top:5px;
    font-size: 16px;
}