/* ==========================================================================
	#Transitions
========================================================================== */
#pjWrapper .btn,
#pjWrapper .pjRbBtnBack:before,
#pjWrapper .pjRbLaunguage .dropdown-menu a,
#pjWrapper .pjRbForm .form-control,
#pjWrapper .pjRbForm .pjRbDateTimePicker .input-group-addon,
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon,
#pjWrapper .btn-link:after { -webkit-transition: none; -moz-transition: none; -ms-transition: none; -o-transition: none; transition: none; }

/* ==========================================================================
	#Animations
========================================================================== */
@-webkit-keyframes hvr-pop {
	50% { -webkit-transform: scale(1.2); transform: scale(1.2); }
}
@keyframes hvr-pop {
	50% { -webkit-transform: scale(1.2); transform: scale(1.2); }
}

/* ==========================================================================
	#General
========================================================================== */
#pjWrapper a[href^=tel] { color: inherit; }
#pjWrapper a:focus,
#pjWrapper button:focus { outline: unset; outline: none; }

#pjWrapper .pjRbContainer { padding: 15px; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjRbBtnBack { position: relative; height: 32px; padding: 0 20px 0 30px; border: 2px solid; font-size: 16px; line-height: 31px; font-weight: 400; text-transform: uppercase; border-radius: 17px; }
#pjWrapper .pjRbBtnBack:before { position: absolute; top: 50%; left: 15px; width: 8px; height: 8px; margin-top: -4px; border: 2px solid; border-top-width: 0; border-right-width: 0; content: ''; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }

#pjWrapper .btn-default { height: 46px; padding: 0 20px; border: 0; font-size: 21px; line-height: 50px; font-weight: 300; text-transform: capitalize; border-radius: 6px; }

#pjWrapper .btn-primary { height: 46px; padding: 0 20px; border: 0; font-size: 21px; line-height: 50px; font-weight: 300; text-transform: capitalize; border-radius: 6px; }

#pjWrapper .btn-link { position: relative; margin: 0; padding: 0; font-size: 18px; line-height: 1.2; font-weight: 300; }
#pjWrapper .btn-link:hover,
#pjWrapper .btn-link:focus { text-decoration: none; }
#pjWrapper .btn-link:after { position: absolute; bottom: 0; right: 0; left: 0; height: 1px; content: ''; }
#pjWrapper .btn-link:hover:after,
#pjWrapper .btn-link:focus:after { right: 52%; left: 52%; }

/* ==========================================================================
	#Forms
========================================================================== */
#pjWrapper .pjRbForm .form-group { position: relative; margin: 0; padding-bottom: 30px; }
#pjWrapper .pjRbForm label { margin: 0; font-size: 20px; line-height: 1.4; font-weight: 400; }
#pjWrapper .pjRbForm .form-control { height: 46px; padding: 0 15px; border: 1px solid; font-size: 18px; border-radius: 6px; }
#pjWrapper .pjRbForm select.form-control { cursor: pointer; }
#pjWrapper .pjRbForm .checkbox label { font-size: 17px; line-height: 1.4; font-weight: 300; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
#pjWrapper .pjRbForm .checkbox label .btn-link { font-size: 17px; }

#pjWrapper .pjRbForm .pjRbDateTimePicker .form-control,
#pjWrapper .pjRbForm .pjRbSpinner .form-control { border-right-width: 0; border-radius: 6px 0 0 6px; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .input-group-addon,
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon { font-size: 21px; cursor: pointer; border-radius: 0 6px 6px 0; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .input-group-addon .glyphicon,
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon .glyphicon { color: inherit; }
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon:first-of-type { border-radius: 0; }
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon { padding: 0 12px; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }

#pjWrapper .pjRbDateTimePicker [data-action="togglePicker"] span:hover { border: 0; }
#pjWrapper .pjRbDateTimePicker .timepicker-picker .btn { padding: 0; }
#pjWrapper .pjRbDateTimePicker .timepicker-picker .btn span,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-hour,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-minute { line-height: 55px; border-radius: 6px; }
#pjWrapper .pjRbDateTimePicker .timepicker-picker .btn-primary { padding: 0 10px; }

#pjWrapper .pjRbForm .help-block,
#pjWrapper .pjRbForm .help-block ul,
#pjWrapper .pjRbForm .help-block li { margin: 0; padding: 0; }
#pjWrapper .pjRbForm .help-block { position: absolute; bottom: 10px; left: 0; max-width: 100%; }
#pjWrapper .pjRbForm .help-block li { overflow: hidden; max-width: 100%; font-size: 13px; line-height: 1.4; white-space: nowrap; -ms-text-overflow: ellipsis; text-overflow: ellipsis; }

#pjWrapper .pjRbForm .pjRbFormVoucher { overflow: hidden; }
#pjWrapper .pjRbForm .pjRbFormVoucher label { display: block; width: 100%; }
#pjWrapper .pjRbForm .pjRbFormVoucher .pjRbFormVoucherField { overflow: hidden; }
#pjWrapper .pjRbForm .pjRbFormVoucher .pjRbFormVoucherActions { float: right; margin-left: 10px; }
#pjWrapper .pjRbForm .pjRbFormVoucher .btn-default span { color: inherit; }

#pjWrapper .pjRbForm .pjRbFormCaptcha { overflow: hidden; }
#pjWrapper .pjRbForm .pjRbFormCaptcha label { display: block; width: 100%; }
#pjWrapper .pjRbForm .pjRbFormCaptcha img { float: right; margin: 5px 0 5px 20px; }
#pjWrapper .pjRbForm .pjRbFormCaptcha .pjRbFormCaptchaField { overflow: hidden; }

/* ==========================================================================
	#pjRbFormSearch
========================================================================== */
#pjWrapper .pjRbFormSearch .pjRbFormActions { padding-top: 28px; }

/* ==========================================================================
	#pjRbFormReservation
========================================================================== */
#pjWrapper .pjRbFormReservation { padding: 35px 30px; border-radius: 6px; }
#pjWrapper .pjRbFormReservation p { font-size: 18px; line-height: 1.4; font-weight: 300; }
#pjWrapper .pjRbFormReservation dl { margin: 0; padding-bottom: 30px; font-size: 0; }
#pjWrapper .pjRbFormReservation dt,
#pjWrapper .pjRbFormReservation dd { display: inline-block; float: none; width: 50%; min-width: 1px; margin: 0; padding: 0 10px; font-size: 20px; line-height: 1.4; font-weight: 400; vertical-align: middle; }
#pjWrapper .pjRbFormReservation dt { text-align: right; }
#pjWrapper .pjRbFormReservation dd { text-align: left; }
#pjWrapper .pjRbFormReservation .checkbox { margin: 0; padding-top: 27px; }
#pjWrapper .pjRbFormReservation .pjRbFormActions { padding: 30px 0; }
#pjWrapper .pjRbFormReservation .pjRbFormActions .btn { padding: 0 70px; }

/* ==========================================================================
	#pjRbModal
========================================================================== */
#pjWrapper .pjRbModal .modal-title { margin: 0; padding-bottom: 5px; font-size: 26px; line-height: 1.4; font-weight: 400; }
#pjWrapper .pjRbModal .close { font-size: 28px; opacity: 1; }
#pjWrapper .pjRbModal .modal-body p { font-size: 16px; line-height: 1.4; }

/* ==========================================================================
	#pjRbMain
========================================================================== */
#pjWrapper .pjRbMain,
#pjWrapper .pjRbMain .pjRbHeader,
#pjWrapper .pjRbMain .pjRbBody { border: 0; -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjRbMain { margin: 0; border-radius: 2px; }
#pjWrapper .pjRbMain .pjRbHeader { border-radius: 2px 2px 0 0; }
#pjWrapper .pjRbMain .pjRbBody { border-radius: 0 0 2px 2px; }

/* ==========================================================================
	#pjRbHeader
========================================================================== */
#pjWrapper .pjRbMain .pjRbHeader { padding: 30px 25px; }
#pjWrapper .pjRbMain .pjRbHeader .pjRbHeaderTitle { font-size: 22px; line-height: 1.45; font-weight: 400; text-transform: uppercase; }

/* ==========================================================================
	#pjRbLaunguage
========================================================================== */
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger { position: relative; height: 32px; padding: 0 40px 0 20px; border: 0; font-size: 16px; line-height: 36px; font-weight: 400; text-transform: uppercase; border-radius: 16px; }
#pjWrapper .pjRbLaunguage.open .pjRbBtnLaunguageTrigger { border-radius: 16px 16px 0 0; -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:before { position: absolute; top: 50%; right: 15px; width: 8px; height: 8px; margin-top: -5px; border: 2px solid; border-top-width: 0; border-left-width: 0; content: ''; -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); -o-transform: rotate(45deg); transform: rotate(45deg); }
#pjWrapper .pjRbLaunguage .dropdown-menu { margin: 0; border: 0; border-radius: 6px 0 6px 6px; }
#pjWrapper .pjRbLaunguage .dropdown-menu li { padding: 1px 0; }
#pjWrapper .pjRbLaunguage .dropdown-menu a { padding: 0 10px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; line-height: 1.6; text-align: right; }
#pjWrapper .pjRbLaunguage .dropdown-menu a img { margin-left: 3px; }

/* ==========================================================================
	#pjRbBody
========================================================================== */
#pjWrapper .pjRbMain .pjRbBody { padding: 40px; }
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead { padding: 15px 0 25px; }
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionTitle,
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionSubTitle { margin: 0; font-weight: 400; }
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionTitle { padding-bottom: 5px; font-size: 26px; line-height: 1.4; }
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionTitleSmall { font-size: 22px; }
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionSubTitle { font-size: 20px; line-height: 1.6; }
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionActions { padding: 20px 0; }
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionActions .btn-primary { padding: 0 60px; }

#pjWrapper .pjRbTablesMap { overflow-x: auto; overflow-y: hidden; padding: 40px 0; text-align: center; border-radius: 6px; }
#pjWrapper .pjRbTablesMap .pjRbTablesMapInner { position: relative; margin: 0 auto;overflow: auto;-ms-overflow-y: hidden;overflow-y:hidden;}
#pjWrapper .pjRbTablesMap .pjRbTablesMapImage { position: relative; z-index: 1; }
#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspot { position: absolute; display: inline-block; z-index: 2; text-align: center; border-radius: 4px; -webkit-transform: translateZ(0); transform: translateZ(0); -webkit-backface-visibility: hidden; backface-visibility: hidden; -moz-osx-font-smoothing: grayscale; }
#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspotDisabled { opacity: .7; cursor: default; pointer-events: none; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; -o-user-select: none; user-select: none; }
#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspot:hover,
#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspot:focus,
#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspot:active { text-decoration: none; -webkit-animation-name: hvr-pop; animation-name: hvr-pop; -webkit-animation-duration: 0.3s; animation-duration: 0.3s; -webkit-animation-timing-function: linear; animation-timing-function: linear; -webkit-animation-iteration-count: 1; animation-iteration-count: 1; }

/* ==========================================================================
	#pjRbReservationDetails
========================================================================== */
#pjWrapper .pjRbReservationDetails { padding-bottom: 50px; }
#pjWrapper .pjRbReservationDetails ul { margin: 0; padding: 0; }
#pjWrapper .pjRbReservationDetails li { font-size: 0; }
#pjWrapper .pjRbReservationDetails dl { margin: 0; }
#pjWrapper .pjRbReservationDetails dt,
#pjWrapper .pjRbReservationDetails dd { display: inline-block; float: none; width: 50%; min-width: 1px; margin: 0; padding: 0 15px; vertical-align: middle; }
#pjWrapper .pjRbReservationDetails dt { font-size: 20px; line-height: 1.8; font-weight: 400; text-align: right; }
#pjWrapper .pjRbReservationDetails dd { font-size: 18px; line-height: 2; font-weight: 300; text-align: left; }
#pjWrapper .pjRbReservationDetails dd span { display: inline-block; margin-right: 5px; line-height: 36px; text-align: center; border-radius: 4px; padding: 0px 12px;}
#pjWrapper .pjRbReservationDetails .pjRbReservationDetailsActions { padding-top: 20px; }
#pjWrapper .pjRbReservationDetails .pjRbReservationDetailsActions .btn-primary { margin: 0 10px; }

/* ==========================================================================
	.Modal
========================================================================== */
.modal-backdrop.fade {
	opacity: 0;
	filter: alpha(opacity=0);
}
.modal-backdrop.fade.in {
	opacity: 0.5;
	filter: alpha(opacity=50);
}
/* ==========================================================================
	#Responsive
========================================================================== */
@media only screen and (max-width: 767px) {
	/* ==========================================================================
		#pjRbMain
	========================================================================== */
	#pjWrapper .pjRbMain .pjRbBody { padding: 15px; }

	/* ==========================================================================
		#pjRbFormReservation
	========================================================================== */
	#pjWrapper .pjRbFormReservation .pjRbFormActions .btn { margin: 5px; padding: 0 30px; }
}

@media only screen and (max-width: 520px) {
	/* ==========================================================================
		#pjRbForms
	========================================================================== */
	#pjWrapper .pjRbForm .form-group { padding-bottom: 20px; }
	#pjWrapper .pjRbForm .help-block { bottom: 0; }
	#pjWrapper .pjRbForm .pjRbFormVoucher .btn-default span { display: none; }
	#pjWrapper .pjRbFormReservation .checkbox { padding-top: 10px; }

	/* ==========================================================================
		#pjRbHeader
	========================================================================== */
	#pjWrapper .pjRbMain .pjRbHeader { padding: 15px; }
	#pjWrapper .pjRbMain .pjRbHeader .pjRbHeaderTitle { font-size: 17px; line-height: 1.9; }

	/* ==========================================================================
		#pjRbBody
	========================================================================== */
	#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead { padding-bottom: 0; }
	#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionTitle { font-size: 20px; }
	#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionTitleSmall { font-size: 18px; }
	#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionSubTitle { font-size: 16px; }

	/* ==========================================================================
		#pjRbFormSearch
	========================================================================== */
	#pjWrapper .pjRbFormSearch .col-xs-6 { width: 100%; }
	#pjWrapper .pjRbFormSearch .pjRbFormActions { padding-top: 10px; }

	/* ==========================================================================
		#pjRbReservationDetails
	========================================================================== */
	#pjWrapper .pjRbReservationDetails { padding-bottom: 10px; }
	#pjWrapper .pjRbReservationDetails dl { padding-bottom: 5px; }
	#pjWrapper .pjRbReservationDetails dt,
	#pjWrapper .pjRbReservationDetails dd { display: block; width: 100%; line-height: 1.2; text-align: center; }
	#pjWrapper .pjRbReservationDetails .pjRbReservationDetailsActions { padding-top: 5px; }
	#pjWrapper .pjRbReservationDetails .pjRbReservationDetailsActions .btn { margin: 5px; }

	/* ==========================================================================
		#pjRbFormReservation
	========================================================================== */
	#pjWrapper .pjRbFormReservation { padding: 20px 15px; }
	#pjWrapper .pjRbFormReservation p { margin: 0; }
	#pjWrapper .pjRbFormReservation dl { padding-bottom: 10px; }
	#pjWrapper .pjRbFormReservation .pjRbFormActions { padding-top: 10px; text-align: center; }
	#pjWrapper .pjRbFormReservation .pjRbFormActions .btn { float: none !important; }
}

/* ==========================================================================
		Some UI changes
========================================================================== */
.reservation__atto .reservation__title h2 {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	margin: 0;
	font-size: 20px;
	font-weight: 700;
	color: #4b4b4b;
	/* line-height: 34px; */
}

.fullWidth.analysis-area .fullWidth .icon-spend {
	font-size: 23px;
}