@font-face {
  font-family: 'icomoon';
  src:  url('https://bfront.s3.ap-south-1.amazonaws.com/assets/images/Rfonts/icomoon.eot?vw581o');
  src:  url('https://bfront.s3.ap-south-1.amazonaws.com/assets/images/Rfonts/icomoon.eot?vw581o#iefix') format('embedded-opentype'),
    url('https://bfront.s3.ap-south-1.amazonaws.com/assets/images/Rfonts/icomoon.woff2?vw581o') format('woff2'),
    url('https://bfront.s3.ap-south-1.amazonaws.com/assets/images/Rfonts/icomoon.ttf?vw581o') format('truetype'),
    url('https://bfront.s3.ap-south-1.amazonaws.com/assets/images/Rfonts/icomoon.woff?vw581o') format('woff'),
    url('https://bfront.s3.ap-south-1.amazonaws.com/assets/images/Rfonts/icomoon.svg?vw581o#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-enquiry-reply:before {
  content: "\e976";
}
.icon-enquiry-forward:before {
  content: "\e977";
}
.icon-enquiry-new:before {
  content: "\e979";
}
.icon-enquiry-read:before {
  content: "\e978";
}
.icon-download-arrow:before {
  content: "\e975";
}
.icon-add-tag:before {
  content: "\e974";
}
.icon-takeout-order:before {
  content: "\e971";
}
.icon-card-order:before {
  content: "\e972";
}
.icon-delivery-order:before {
  content: "\e973";
}
.icon-rotation:before {
  content: "\e96e";
}
.icon-average-order-value:before {
  content: "\e96f";
}
.icon-location:before {
  content: "\e970";
}
.icon-Direct-Conversions:before {
  content: "\e96a";
}
.icon-Indirect-Conversions:before {
  content: "\e96b";
}
.icon-Total-App-Downloads:before {
  content: "\e96c";
}
.icon-Total-Media:before {
  content: "\e96d";
}
.icon-order-per-item:before {
  content: "\e969";
}
.icon-user1:before {
  content: "\e95e";
}
.icon-returning-visitor:before {
  content: "\e95f";
}
.icon-website-visitor:before {
  content: "\e960";
}
.icon-avg-load-time:before {
  content: "\e961";
}
.icon-view:before {
  content: "\e962";
}
.icon-clicks:before {
  content: "\e963";
}
.icon-total-followers:before {
  content: "\e964";
}
.icon-total-reach:before {
  content: "\e965";
}
.icon-comments:before {
  content: "\e966";
}
.icon-likes:before {
  content: "\e967";
}
.icon-published-post:before {
  content: "\e968";
}
.icon-eye-close:before {
  content: "\e95d";
}
.icon-eye-open:before {
  content: "\e95c";
}
.icon-information:before {
  content: "\e95b";
}
.icon-edit-website-content:before {
  content: "\e954";
}
.icon-link-your-social-account:before {
  content: "\e955";
}
.icon-setup-online-order:before {
  content: "\e956";
}
.icon-add-general-Info:before {
  content: "\e957";
}
.icon-connect-to-your-domain:before {
  content: "\e958";
}
.icon-create-menu:before {
  content: "\e959";
  color: #4b4b4b;
}
.icon-edit-website:before {
  content: "\e95a";
  color: #4b4b4b;
}
.icon-rise-down:before {
  content: "\e952";
}
.icon-rise-up:before {
  content: "\e953";
}
.icon-revenue:before {
  content: "\e94e";
}
.icon-spend:before {
  content: "\e94b";
}
.icon-conversion:before {
  content: "\e94c";
}
.icon-visitors:before {
  content: "\e94d";
}
.icon-hamburger:before {
  content: "\e94f";
}
.icon-arrow:before {
  content: "\e950";
}
.icon-reach:before {
  content: "\e951";
}
.icon-tick-mark:before {
  content: "\e947";
}
.icon-order-enable:before {
  content: "\e948";
}
.icon-order-disable:before {
  content: "\e949";
}
.icon-takeout:before {
  content: "\e94a";
}
.icon-delivery:before {
  content: "\e944";
}
.icon-new-order:before {
  content: "\e945";
}
.icon-refund:before {
  content: "\e946";
}
.icon-home:before {
  content: "\e942";
}
.icon-building:before {
  content: "\e943";
}
.icon-date-time:before {
  content: "\e93f";
}
.icon-business-meal:before {
  content: "\e940";
}
.icon-celebration:before {
  content: "\e941";
}
.icon-frown:before {
  content: "\e93e";
}
.icon-tick:before {
  content: "\e93c";
}
.icon-checking-square:before {
  content: "\e93d";
}
.icon-open-sidebar:before {
  content: "\e93b";
}
.icon-chair-table:before {
  content: "\e938";
}
.icon-upcoming-reservation:before {
  content: "\e939";
  color: #4b4b4b;
}
.icon-current-reservation:before {
  content: "\e93a";
}
.icon-gift:before {
  content: "\e937";
}
.icon-update-status:before {
  content: "\e936";
}
.icon-orders-reservations:before {
  content: "\e935";
}
.icon-calendar:before {
  content: "\e932";
}
.icon-merchandise-product:before {
  content: "\e934";
}
.icon-archive:before {
  content: "\e931";
}
.icon-export:before {
  content: "\e933";
}
.icon-enquiry:before {
  content: "\e930";
}
.icon-merchandise:before {
  content: "\e92f";
}
.icon-review-feedback:before {
  content: "\e917";
}
.icon-report:before {
  content: "\e929";
}
.icon-order:before {
  content: "\e92a";
}
.icon-dashboard1:before {
  content: "\e92b";
}
.icon-contact-us:before {
  content: "\e92c";
}
.icon-catering:before {
  content: "\e92d";
}
.icon-careers:before {
  content: "\e92e";
}
.icon-server:before {
  content: "\e902";
}
.icon-guest-book:before {
  content: "\e904";
}
.icon-floor:before {
  content: "\e901";
}
.icon-reservations:before {
  content: "\e903";
}
.icon-duplicate:before {
  content: "\e928";
}
.icon-waiting-source:before {
  content: "\e927";
}
.icon-online:before {
  content: "\e925";
}
.icon-waiting1:before {
  content: "\e926";
}
.icon-menu:before {
  content: "\e921";
}
.icon-orders:before {
  content: "\e922";
}
.icon-restaurant:before {
  content: "\e923";
}
.icon-dashboard:before {
  content: "\e924";
}
.icon-entree:before {
  content: "\e920";
}
.icon-main_course:before {
  content: "\e91f";
}
.icon-close:before {
  content: "\e91e";
}
.icon-link_tables:before {
  content: "\e91d";
}
.icon-birthday:before {
  content: "\e91a";
}
.icon-vip:before {
  content: "\e91b";
  color: #4b4b4b;
}
.icon-anniversary:before {
  content: "\e91c";
}
.icon-anti_clockwisetimer:before {
  content: "\e918";
}
.icon-user:before {
  content: "\e919";
}
.icon-clearing_needed:before {
  content: "\e909";
}
.icon-confirmed:before {
  content: "\e90a";
}
.icon-desert:before {
  content: "\e90b";
}
.icon-finish:before {
  content: "\e90c";
}
.icon-no_show:before {
  content: "\e90d";
}
.icon-not_confirmed:before {
  content: "\e90e";
}
.icon-paid:before {
  content: "\e90f";
}
.icon-partially_arrived:before {
  content: "\e910";
}
.icon-reservation:before {
  content: "\e911";
}
.icon-running_late:before {
  content: "\e912";
}
.icon-seated:before {
  content: "\e913";
}
.icon-starter:before {
  content: "\e914";
}
.icon-bill_dropped:before {
  content: "\e915";
}
.icon-cancelled:before {
  content: "\e916";
}
.icon-arrived:before {
  content: "\e908";
}
.icon-Configure:before {
  content: "\e900";
}
.icon-circle:before {
  content: "\e905";
}
.icon-rectangle:before {
  content: "\e906";
}
.icon-square:before {
  content: "\e907";
}
