.tab-head {
  margin: 0;
  padding: 10px 20px;
  background-color: #3b3837;
  color: white;
  background-color: #3C3837;
  padding: 25px 15px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

#exTab1 .tab-content {
  padding: 0 !important;

}

body {
  display: none !important;
}
