//  =============================
//  @author: Akshay Anand
//  @package: Common theme sets only (strict)
//  =============================

.common {

  &__pageHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__pageTitle {
    font-size: 22px;
    font-weight: 600;
    color: $black;
  }

  &__searchBox {
    max-width: 350px;
    padding: $base-spacing-unit - 5;
    border: 1px solid #b0b0b0;
    border-radius: 30px;
    width: 100%;
    display: flex;
    align-items: center;
    transition: 0.3s ease-in-out;

    &:focus-within {
      border: 1px solid $black;

      i {
        color: $black;
      }
    }

    i {
      padding: 0 $base-spacing-unit - 5;
      color: #b0b0b0;
      transition: 0.3s ease-in-out;
    }

    input {
      width: 100%;
      background: transparent;
      border: none;

      &::placeholder {
        font-weight: 700;
        color: #b0b0b0;
      }

    }

  }

  &__buttonContainer {
    .btn {
      margin: 0 $base-spacing-unit - 5;
      font-weight: 700;
    }
  }

}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  margin: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  height: 16px;
  width: 35px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 21px;
  left: 0px;
  bottom: -2px;
  background-color: grey;
  transition: .4s;
}

input:checked + .slider {
  background-color: #e7f2bd;
}

input:focus + .slider {
  box-shadow: 0 0 1px #e7f2bd;
}

input:checked + .slider:before {
  transform: translateX(15px);
  background-color: #a2cd01;

}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.no-padding-tablet {
  @include below__desktop {

    padding-left: 0 !important;
  }
}

// order-details

.tablet-flex {
  @include tablet {

    display: flex;
    flex-direction: column;

  }

  .print__button {
    @include below__desktop {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100% !important;
      flex-wrap: wrap;
    }

    .btn {
      @include below__desktop {
        margin-bottom: 15px;
      }
    }

  }

}

.address-row {
  span {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.dropdown-menu {
  padding: 0;
}

.popupNotification {
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .centercls {
    text-align: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 6px;
    background-color: #f6f6f6 !important;
  }

}

//#app {
//  @include phone {
//    display: none !important;
//  }
//}

//.tablet-hidden-text {
//  @include phone {
//    background: #000;
//    position: absolute;
//    height: 100%;
//    width: 100%;
//    color: #fff;
//    text-align: center;
//    font-size: 20px;
//    display: block !important;
//  }
//}
.od__container {
  .od__details {
    @include phone {
      width: 100%;
      float: left;
    }
  }
}

.payment_section {
  .order__item-wrapper {
    .col-sm-6 {
      @include phone {
        width: 50% !important;
        float: left;
      }
    }
  }
}

.refundHeader {
  text-align: center;
}

.reasonRow {
  float: left;
  width: 100%;
}

._block {
  float: left;
  width: 100%;
}

.order-detail-page {
  @include tablet {
    padding: 0;
  }
}

.flex-column-tablet {
  @include below__desktop {
    flex-direction: column;
  }

  .reservation__title {
    @include below__desktop {
      margin-bottom: 10px;
      margin-right: auto;
    }
  }

}

.flex-tablet-between {

  @include desktop {
    justify-content: flex-end;
  }

  @include below__desktop {
    display: flex;
    justify-content: space-between;
  }
}

.no-padding-left-tablet {
  @include below__desktop {
    padding-left: 0 !important;;
  }
}

.margin-20-desktop {
  @include desktop {
    margin-bottom: 20px !important;
  }
}

.order-detail-page.popup_orderdetail {

  @include below__desktop {
    padding-top: 0 !important;
  }
}

.order_notification {
  a {
    float: left;
    width: 100%;
    padding: 25px;
  }
}

.centercls {
  background: white;
  width: 600px;
  margin: 0 auto;
  position: relative;
  pointer-events: all !important;
}

.close {
  opacity: 1 !important;
  font-size: 22px !important;
}

.overlay_popNoti {
  background: transparent !important;
  pointer-events: none;
  z-index: 20;
}

.order-sum {
  margin: 0 !important;

  @include desktop {
    padding: 15px 60px !important;
    border: 1px solid #ebebeb;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  }

  @include below__desktop {

    padding: 15px 20px !important;

    &:last-child {
      border: 1px solid #ebebeb;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
    }

  }

  .o-head, .orderDetails {
    margin: 5px 0;
    font-weight: bold;
  }

  .order-details {
    margin: 5px 0;
    font-weight: bold;

    .user {
      margin-top: 15px;
    }

  }

  b {
    font-size: 15px;
  }

  .order-head {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include below__desktop {
      flex-direction: column;
      align-items: flex-start;
    }

    span {
      color: grey;
      font-size: 14px;
    }
  }

}

.dis-flex {
  display: flex;
}

.confirm-tablet {
  @include below__desktop {
    position: fixed;
    bottom: 10px;
    max-width: calc(100vw - 167px);
    margin: 0 auto;
    width: 100%;
    z-index: 11;
  }
}

.main__container {
  @include below__desktop {
    padding: 0 35px 50px;
  }
}

.input__fieldq {

  display: flex;
  align-items: center;

  span {
    width: 300px;
  }

}

.content {
  &__row {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #eeeeee;
  }

  &__imageRow {
    .col-md-12 {
      margin-bottom: 15px;
    }
  }

}

.align-centerflex {
  display: flex;
  align-items: center;
}

.aligncenter-order1 {
  order: -1;
  display: flex;
  align-items: center;
}