//  =============================
//  @author: Akshay Anand
//  @package: Menu Items.
//  =============================

.menuItem {

  &__container {
    margin-top: $base-spacing-unit * 2;
    background: $white;
    box-shadow: $box-shadow;
  }

  &__accTabs {
    display: flex;

    .panel-default {
      border: none;
    }

    .panel-heading {
      background: none;
      border: none;
      position: relative;
      padding: 10px $base-spacing-unit;

      background: rgb(236, 236, 235);
    }

    .accordion-panel {
      padding-bottom: 0;
      min-height: unset;
      background-color: #eee;

      @include desktop {
        min-width: 250px;
      }

      @include below__desktop {
        min-width: 160px;
      }

    }

    .accordion-categoryList, .accordion-subCategory, .accordion-subCategory-new, .accordion-categoryList-new {
      @extend .list-unstyled;
      margin: 0;
    }

    .accordion-subCategory, .accordion-subCategory-new {
      padding-bottom: 1px;
      margin-bottom: 1px;
    }


    .accordion-category, .accordion-category-new {
      position: relative;
      background: #eee;
      border-bottom: 1px solid white;
      padding: 10px 0 10px 15px;

      &.placeholder:before {
        position: absolute;
        /** Define arrowhead **/
      }

    }

    .catergoryName {
      padding: 10px 0;
    }


    .accordion-subcategoryItem,.accordion-subcategoryItem-new {
      background: #eee;

      position: relative;
      border-bottom: 1px solid white;

      padding-top: 3px;
      padding-bottom: 3px;
      //padding-right: 20px;

    }

    .dragged {
      position: absolute;
      opacity: 0.5;
      z-index: 2000;
    }


    .accordion-subCategory, .accordion-subCategory-new {
      margin-top: 10px;

      li {
        &:last-child {
          border: none;
        }


        @include desktop {
          padding-left: $base-spacing-unit * 2;
        }

        @include below__desktop {
          padding-left: $base-spacing-unit;
        }

        &.placeholder:before {
          position: absolute;
          /** Define arrowhead **/
        }

        .edit-icon {
          top: 3px;
          //right: 15px;
        }
      }


    }

    body.dragging, body.dragging * {
      cursor: move !important;
    }

    .dragged {
      position: absolute;
      opacity: 0.5;
      z-index: 2000;
    }

    .catergoryName {
      position: relative;
    }


    .tabTrigger {
      margin: 0 $base-spacing-unit * 2;
      font-weight: 700;
      color: $black;
      cursor: pointer;
    }

    .edit-icon {
      position: absolute;
      right: 10px;
      top: 10px;
      bottom: 0;
      //display: flex;
      //align-items: center;
      cursor: pointer;
    }


  }

  &__item {
    font-weight: 700;
    color: #868686;
    padding: 10px $base-spacing-unit;
    position: relative;
    border: 1px solid #ececeb;
  }

  &__itemName {
    cursor: pointer;

    @include desktop {
      padding-left: $base-spacing-unit * 4;
    }

    @include below__desktop {
      padding-left: $base-spacing-unit * 2;
    }

  }

  &__tabContainer {
    width: 100%;
    padding: $base-spacing-unit $base-spacing-unit * 2;

    .input__field {
      position: relative;

      input:focus + label {
        top: -13px;
      }

    }

    .hasVal {
      top: -13px;
      transform: none !important;
    }

  }

  &__header {
    .headerTitle {
      font-weight: 700;
      font-size: 18px;
      margin-bottom: $base-spacing-unit * 2;
    }
  }

  &__headerAlt {

    padding-bottom: $base-spacing-unit * 2;
    border-bottom: 1px solid #eee;

    .headerTitle {
      font-weight: 700;
      color: #868686;

      span {
        margin: 0 5px;
      }

    }


  }

  body.dragging, body.dragging * {
    cursor: move !important;
  }


  &__product {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 10px 0 20px;
    border-bottom: 1px solid #eee;
    margin-bottom: 10px;
  }

  &__allContainer {
    @extend .list-unstyled;

    position: relative;
    /** More li styles **/

    li {
      position: relative;
      /** More li styles **/
    }


  }


  &__productDesc {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 40%;
  }

  &__productImage {
    min-width: 50px;
    min-height: 50px;
    max-width: 50px;
    max-height: 50px;
    background: grey;
    overflow: hidden;
    margin-right: $base-spacing-unit * 2 - 5;

    img {
      width: auto;
      height: 50px;
      object-fit: contain;
    }
  }

  &__productDetails {
    font-weight: 700;

    .productName {
      font-size: 16px;
    }

    .productAddon {
      font-size: 12px;
      font-weight: 500;
    }

    .productCustom {
      color: $primary-color;
    }

  }

  &__productAll {
    display: flex;
    width: 100%;
    justify-content: space-between;
    max-width: 60%;

    @include desktop {
      padding: 0 $base-spacing-unit * 2;
    }

  }

  &__productStatuses {
    display: flex;
    align-items: center;
    flex: 0 1 200px;
    font-weight: 700;
  }

  &__productStatus {
    margin: 0 $base-spacing-unit - 5;

    .fa {
      color: #06a506;
    }

    &.statusDisable {
      text-decoration: line-through;
      color: #868686;

      .fa {
        display: none;
      }
    }

  }

  &__productVisibility {
    .fa {
      font-size: 24px;
    }

    .fa-eye-slash {
      color: #868686;
    }

  }

  &__productPrice {
    font-weight: 700;
    font-size: 16px;
  }


  //  New Category
  &__newCatContainer {
    display: flex;
    margin-bottom: $base-spacing-unit * 4;

    @include below__desktop {
      flex-direction: column;
    }

    & > div {
      @include desktop {
        /*flex: 1 1 50%;*/
      }

      @include below__desktop {
        margin-bottom: $base-spacing-unit * 2;
        padding:0 !important
      }

    }

    .addedSubContainer {
      margin-bottom: $base-spacing-unit * 2;
    }

    .subRowContainer {
      max-height: 250px;

      overflow: auto;
    }

    .subRow {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: $base-spacing-unit / 2;
      border-top: 1px solid #ccc;
    }

    .subVisible {
      font-size: 24px;
    }

    .subRemove {
      font-size: 18px;
    }

    .uploadedImagesContainer {
      width: 100%;
      max-width: 600px;
      margin-bottom: 30px;
    }

    .imageStatus {
      &.unselected {
        color: #9a9a9a;
      }
    }

    .uploadedImageRow {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 0;
      border-top: 1px solid #eee;
    }

    .imageName {
      font-size: 16px;
      font-weight: 700;
      max-width: 135px;
      width: 100%;
    }

    .imageContainer {
      max-width: 130px;
      max-height: 130px;
      height: 100%;
      width: 100%;

      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }

    .imageRemove {
      cursor: pointer;
      font-size: 18px;
    }

    .subFunctions {
      display: flex;
      align-items: center;

      > div {
        margin: 0 $base-spacing-unit / 2;
        cursor: pointer;
      }

    }

    .subCatName {
      font-weight: 700;
      font-size: 15px;
    }


    .subContainerHeader {
      font-size: 18px;
      font-weight: 700;
      margin-bottom: $base-spacing-unit;
    }


    .categoryForm {

      /*max-width: 400px;*/

      .input__field {
        margin-bottom: $base-spacing-unit * 2;
      }

      .input__field-radio {
        margin-bottom: $base-spacing-unit * 2;
        font-weight: 700;

        label {
          margin-right: $base-spacing-unit;
        }

        input {
          margin: 0 $base-spacing-unit / 2;
        }

      }

      .btn {
        width: 100%;
      }


    }

    .uploadImageContainer {
      display: flex;
      flex-direction: column;

    }

    .uploadedMediaContainer {
      margin-bottom: $base-spacing-unit * 2;
      display: flex;
      flex-direction: column;
      padding-bottom: $base-spacing-unit;
      border-bottom: 2px solid #9a9a9a;

      &:last-child {
        border-bottom: none;
      }

      @include desktop {
        align-items: center;
      }


    }

    .uploadBtnContainer {
      max-width: 400px;
      width: 100%;

      @include desktop {
        margin: 0 auto;
      }


      .btn {
        width: 100%;
      }

      &.btnGroup {

        .btn {
          margin: $base-spacing-unit 0;
        }

      }


    }

  }


  // New Item


  &__newItem {

  }


  &__stepper {

    .stepperContainer {
      @extend .list-unstyled;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -#{$base-spacing-unit * 2};

      li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        position: relative;
        pointer-events: none;

        @include desktop {
          padding: 0 $base-spacing-unit * 3;
        }

        @include below__desktop {
          padding: 0 $base-spacing-unit;
        }


        &:before {
          content: '';
          display: block;
          background: #9a9a9a;
          height: 3px;
          width: 100%;
          position: absolute;
          top: 20px;
          max-width: 85px;

          @include desktop {
            max-width: 85px;
            transform: translateX(26%);
            left: -45%;
          }

          @include below__desktop {
            max-width: 45px;
            transform: translateX(40%);
            left: -45%;
          }

        }

        &:first-child:before {
          display: none;
        }

        .fa-check {
          color: $white;
          display: none;
        }

        &.active {

          .step__wrapper {
            color: $black;
          }

          .stepContainer {
            background: $black;
          }

          &:before {
            background: $black;
          }

        }

        &.completed {
          .fa-check {
            display: block;
          }

          .step__wrapper {
            color: $primary-color;
          }

          .stepContainer {
            background: $primary-color;
          }

          &:before {
            background: $primary-color;
          }

        }

      }

      .step__wrapper {
        max-width: 60px;
        width: 60px;
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #9a9a9a;
      }

      .stepText {
        font-weight: 700;
        margin-top: $base-spacing-unit / 2;
      }

      .stepContainer {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #9a9a9a;
        color: #9a9a9a;
        cursor: pointer;

        display: flex;
        justify-content: center;
        align-items: center;

      }

    }

  }


  &__stepperTabs {
    max-width: 650px;
    margin: $base-spacing-unit * 3 auto;


    .input__field {
      margin-top: $base-spacing-unit * 2;
    }

    .general {
      &__checkList {
        display: flex;
        align-items: center;
        padding: $base-spacing-unit * 2 - 5 0;

        &.bb {
          border-bottom: 1px solid #eee;
        }

        & > div {
          margin-right: $base-spacing-unit;
        }
      }

      &__check {
        span {
          color: #9a9a9a;
        }
      }

      &__addSize {
        border-top: 3px solid #9a9a9a;
        border-bottom: 3px solid #9a9a9a;
        padding: $base-spacing-unit * 2 0;
      }

      &__sizeRow {
        display: flex;
        padding: $base-spacing-unit;
        border-bottom: 1px solid #9a9a9a;
        justify-content: space-between;

        input[type=text]{
          width: 100%;
          border:0;
          border-bottom:1px solid #9a9a9a;
          outline: none;
          max-width: 80px;
        }
      }

      &__sizeContainer {
        flex-direction: column;
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 500px;
        justify-content: space-between;
        padding: 0 $base-spacing-unit * 2;
      }


      &__sizeOption {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        margin-bottom: $base-spacing-unit / 2;

        &:last-child {
          margin-bottom: 0;
        }

      }

      &__delete {
        align-self: center;
        font-size: 24px;
        cursor: pointer;
      }

      &__footerButton {
        margin: $base-spacing-unit 0 0;
        display: flex;
        justify-content: center;

        .btn {
          padding: 6px 50px;
        }
      }

      &__size {
        font-weight: 700;
        max-width: 30px;
        width: 100%;
      }

      &__sizeMenu {
        font-weight: 500;
      }

      &__sizePrice {
        font-weight: 700;
      }

      &__tagContainer {
        display: flex;
        align-items: flex-start;
        margin-top: $base-spacing-unit;

        border-bottom: 1px solid #9a9a9a;
      }

      &__tagHead {
        margin: $base-spacing-unit;
        font-weight: 700;
      }

      &__tags {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        & > div {
          margin: $base-spacing-unit;
          display: flex;
          font-weight: 500;
        }

        sup {
          margin-left: $base-spacing-unit / 2;
          border-radius: 50%;
          height: 15px;
          width: 15px;
          border: 2px solid $black;
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
        }

      }
    }

    .schedule {
      &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: $base-spacing-unit;
        margin-bottom: $base-spacing-unit;
        border-bottom: 1px solid #9a9a9a;
      }

      &__container {
        margin: $base-spacing-unit 0 $base-spacing-unit * 2;
        padding: $base-spacing-unit * 2 0;
        border-top: 3px solid #9a9a9a;
        border-bottom: 3px solid #9a9a9a;
      }

      &__name {
        font-weight: 700;
      }

      &__header {
        font-weight: 700;
      }

    }


    .label {

      &__heading {
        color: #9a9a9a;
        margin-bottom: $base-spacing-unit;
        padding-bottom: $base-spacing-unit;
        border-bottom: 3px solid #9a9a9a;
        font-weight: 700;
      }

      &__switchHead {
        font-weight: 700;
      }

      &__serves {
        width: 35%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: $base-spacing-unit $base-spacing-unit / 2;
      }

      &__switchContainer {
        display: flex;
        flex-wrap: wrap;
      }

      &__container {
        margin-bottom: $base-spacing-unit * 2;
      }


      &__slider {

        input {
          background: transparent;
          border: none;
          box-shadow: none;
          max-width: 45px;
          border-bottom: 1px solid #9a9a9a;
        }


        span {
          margin: 0 $base-spacing-unit / 2;
          font-weight: 700;
        }
      }


      &__switch {
        width: 30%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: $base-spacing-unit $base-spacing-unit / 2;
      }


    }

    .image {

      &__uploadBox {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 30px;
        border: 3px dashed #9a9a9a;
        cursor: pointer;
      }

      &__container {
        position: relative;
      }

      &__delete {
        position: absolute;
        right: 13px;
        top: 13px;
        cursor: pointer;
        font-size: 24px;
      }


      &__uploadedImageContainer {
        max-width: 150px;
        max-height: 150px;
        margin-bottom: $base-spacing-unit * 2;
        height: 100%;
        width: 100%;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }

      &__uploadedPlus {
        color: #838181;
        font-size: 40px;
        font-weight: 700;
      }

      &__text {
        font-size: 18px;
        font-weight: 700;
      }

      &__or {
        color: #9a9a9a;
        font-weight: 500;
        margin: $base-spacing-unit 0;
        font-size: 18px;
      }

      &__btnContainer {
        .btn {
          padding: 6px 50px;
        }
      }


    }

    .modifier {

      &__footerButton {
        @extend .general__footerButton;
        padding-bottom: $base-spacing-unit;
        border-bottom: 1px solid #9a9a9a;
      }

      &__row {
        &:last-of-type {
          /*padding-bottom: $base-spacing-unit * 2;*/
          border-bottom: 3px solid #9a9a9a;
        }
      }

      &__rowHead {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: $base-spacing-unit 0;
        border-top: 3px solid #9a9a9a;
        border-bottom: 1px solid #9a9a9a;


        & > div {
          display: flex;
          align-items: center;
          font-weight: 700;

          input {
            border:0;
            border-bottom: 1px solid #cccccc;
          }
        }
      }

      &__edit {
        & > div {
          margin-left: $base-spacing-unit;
          cursor: pointer;
          font-size: 20px;
        }
      }

      &__quantity {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: $base-spacing-unit * 2 0 $base-spacing-unit;
        border-bottom: 1px solid #d1d1d1;

        .quantityLabel {
          font-weight: 700;

          span {
            font-weight: 500;
          }
        }

        .filter-option,
        .dropdown-menu span.text {
          font-weight: bold;
        }

        .bs-caret {
          top: 6px;
        }

        .quantityFields {
          display: flex;

          & > div {
            padding: 0 $base-spacing-unit;
          }

        }

        .quantityField {
          span {
            font-weight: 700;
          }

          input {
            border: none;
            background: transparent;
            box-shadow: none;
            border-bottom: 1px solid #ccc;
            max-width: 20px;
            padding-left: 5px;
            margin-left: 5px;
            color: $primary-color;
            font-weight: 700;
          }

        }

      }

      &__requiredFields {
        padding: $base-spacing-unit * 2 0 $base-spacing-unit;
        border-bottom: 1px solid #d1d1d1;

        .requiredHeader {
          margin-bottom: $base-spacing-unit;
          font-weight: 700;
        }

        .requiredRadio {
          @extend .modifier__applyMethod;
          border: none !important;
          padding: 0 !important;
        }
      }


      &__options {
        padding: $base-spacing-unit * 2 0 0;

        .optionRowHeader {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: $base-spacing-unit;
        }

        .optionHeadings {
          display: flex;
          align-items: center;
          width: 100%;
        }

        .optionHeading {
          max-width: 38%;
          width: 100%;
          text-align: center;
          margin: 0 10px;
          font-weight: 700;

          &:last-child {
            max-width: 18%;
          }
        }

        .optionRowContainer {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: $base-spacing-unit;
        }

        .optionRow {
          display: flex;
          width: 100%;
          align-items: center;
        }


        .option {
          max-width: 38%;
          width: 100%;
          margin: 0 10px;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          font-weight: 700;

          select {
            background: transparent;
            border: none;
            border-bottom: 1px solid #9a9a9a;
            font-size: 13px;
            padding: 5px 0;
          }

          input {
            background: transparent;
            border: none;
            border-bottom: 1px solid #cccccc;
            max-width: 80%;
            width: 100%;
            margin: 0 auto;

            padding: 5px 0;
            text-align: center;
            font-weight: 700;
          }

          input + .glyphicon {
            float: right;
            padding:7px;
          }

          .modifier_cat_dropdown .dropdown-menu {
              input {
                text-align: left;
                width:95%;
              }
          }

        }

        .optionPrice {
          max-width: 18%;
          width: 100%;
        }

        .optionFunctions {
          display: flex;
          max-width: 80px;
          width: 100%;
          align-items: center;

          & > div {
            margin-left: 15px;
            cursor: pointer;
            font-size: 20px;
          }

        }

      }


      &__applyMethod {
        padding-left: $base-spacing-unit * 3;
        display: flex;
        align-items: center;
        padding-bottom: $base-spacing-unit;
        border-bottom: 1px solid #9a9a9a;
        font-weight: 700;
        font-size: 12px;

        input {
          margin: 0 $base-spacing-unit;
        }

      }

    }


  }


  //  Footer BUtton

  &__footerButton {
    display: flex;
    justify-content: center;
    align-items: center;

    .btn {
      margin: 0 $base-spacing-unit;
      padding: 6px $base-spacing-unit * 3 + 5;
    }
  }

  &__db__stepper {

    .stepperContainer {
      @extend .list-unstyled;
      /*display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -#{$base-spacing-unit * 2};*/

      li {
       /* display: flex;
        align-items: center;
        justify-content: flex-start;*/
        flex-direction: column;
        position: relative;
        width: 197px;
        padding:10px 12px 15px;
        overflow: visible;
        margin-right: 25px;
        margin-bottom: 25px;
        /*pointer-events: none;*/

        /*@include desktop {
          padding: 0 $base-spacing-unit * 3;
        }

        @include below__desktop {
          padding: 0 $base-spacing-unit;
        }*/


        /*&:before {
          content: '';
          display: block;
          background: #9a9a9a;
          height: 3px;
          width: 100%;
          position: absolute;
          top: 15px;
          max-width: 85px;

          @include desktop {
            max-width: 85px;
            transform: translateX(26%);
            left: -38%;
          }

          @include below__desktop {
            max-width: 45px;
            transform: translateX(40%);
            left: -38%;
          }

        }*/

        &:last-child {
          margin-right: 0;
        }

        &:first-child:before {
          display: none;
        }

        .fa-check {
          color: $white;
          display: none;
        }



        &.completed {
          .fa-check {
            display: block;
          }

          .step__wrapper {
            color: $primary-color;
          }

          .stepContainer {
            background: $primary-color;
          }

          &:before {
            background: $primary-color;
          }


        }

        &.active {

          .step__wrapper {

          }

          .stepContainer {
            /*background: $black;*/
            color: $green-color;
          }

          &:before {
            background: $black;
          }

        }

      }

      .step__wrapper {
        /*max-width: 60px;
        width: 80px;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        /*color: #9a9a9a;*/
        height: 100%;
      }

      .stepText {
        font-weight: 700;
        text-align: center;
        flex: 1;
        margin-bottom: $base-spacing-unit / 1.7;

        p {
          font-size: 12px;

          [class^='icon-']{
            font-size: 35px;
            display: block;
            margin-top: 10px;
            margin-bottom: 15px;
          }
        }

        a {
          margin-top: 10px;
        }
      }

      .stepContainer {
       /* height: 40px;
        width: 40px;
        border-radius: 50%;
        background: #9a9a9a;*/
        font-size: 16px;
        /*color: #9a9a9a;*/
        position: absolute;
        top:10px;
        right:15px;
        /*cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;*/



      }

    }

  }


}

 .range_quantity,.value_quantity{
   display:none;
 }
#searchiteminput {
  background-image: url('/css/searchicon.png'); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}

#myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

#myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

.seachitemcheckbox{
  padding-right: 13px;
}

.delete_edit .fa{
  padding-right: 13px;
}


.panel-title > a:before {
  float: right !important;
  font-family: FontAwesome;
  padding-right: 5px;
}
.panel-title .delete_edit {
  float: right !important;
}
.panel-title > a:hover,
.panel-title > a:active,
.panel-title > a:focus  {
  text-decoration:none;
}

.submitbtntopmargin{margin-top: 40px;}

#addon_details {
  .option {
    .optionName {
      max-width: 100%
    }
  }
}


#selectMenuCategoryIcons {
  ul.icons-setlist {
    margin:0;
    padding:0;
    list-style: none;

    li {
      display:inline-block;
      margin-right: 10px;
    }
    
    label {
      border:2px #eee solid;
      background-color: #eee;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
      color: #fff;
      width:72px;
      height: 72px;
      text-align: center;
      cursor: pointer;

      img, svg {
        height: 35px;
        color: #f00 !important;
      }
      
      &:hover {
        border-color: #bbbbbb;
      }
    }

    input[type="radio"]:checked + label {
      background-color: #fff;
      border-color: #ff8700;
    }
    
  }
}

.selectedCategory {
  background: white;
}

.fa-eye-slash {
  color: #868686;
}

.input__field {
  position: relative;
}


.modal {

  @extend .menuItem__tabContainer;

  .modifier__rowHead {
    border-top: none;
  }

  .menuItem__stepperTabs {
    margin: $base-spacing-unit 0;
    padding: 0 $base-spacing-unit * 2;
  }

  .modifier__modalOption {
    padding: 30px 0 15px;
    border-bottom: 1px solid #d1d1d1;

    .quantityLabel {
      font-weight: 700;
    }
  }

  .modifier__row {
    border-bottom: none !important;
  }

  .modifier__rowContainerModal {
    border-top: 3px solid #9a9a9a;
    margin-top: $base-spacing-unit * 2;

    &:last-of-type {
      border-bottom: 3px solid #9a9a9a;
      padding-bottom: $base-spacing-unit * 2;
    }

    .toggleOptions {
      //display: none;
    }

    .option {
      text-align: left;
      justify-content: flex-start;
    }


  }

  .popup-header {
    position: absolute;
    z-index: 55;
    right: 10px;
    top: 10px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .modifier__quantity {
    padding: $base-spacing-unit 0;
  }

}

.menuItem__stepper .stepperContainer li.completed.active .step__wrapper {
  color: #000;
}
.menuItem__stepper .stepperContainer li.completed.active .stepContainer{
  background: #000;
}


