//  =============================
//  @author: Akshay Anand
//  @package: Menu Items.
//  =============================

.setup-restaurant, .info-restaurant {

  .bootstrap-select {
    ul.dropdown-menu li:first-child {
      display: none;
    }

    &.btn-group .dropdown-toggle .filter-option {
      min-height: 20px;
      font-weight: 400;
      /*font-size: 16px;*/
    }

    .btn {
      &.bs-placeholder .filter-option {
        text-indent: -1000px;
      }
    }
  }

  .input__field label, .selct-picker-plain label.error {
    top:auto !important;
    bottom:-22px;
    color: $red-color;
    font-size: 12px;
  }

  .allowedServices {
    label.error {
      width: calc(100% - 10px);
      padding-left:10px;
      margin-top:10px;
      position: absolute;
      bottom:-20px;
      left:16px;
    }
  }

  input, textarea {
    //font-size: 16px;
  }

}


