//  ==================================
//  @author: Nishant Chauhan
//  @package: Theme colors
//  ==================================

//  =====================================================================================
//  ++++++++++++++++++++++++++++++++ Color variables ++++++++++++++++++++++++++++++++++++
//  =====================================================================================
$primary-color: #ff9700;
$secondary-color: #3f3f3f;
$alt-color: #d3200e;
$green-color: #6fc42b;
$red-color: #ff0000;

$box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
$white: #ffffff;
$black: #3d3a39;
$grey: #f1f1f1;
$dark-grey: #e6e6e6;

// Content/Text colors
$text-color-primary: #000000;
$text-color-greyed: #4b4b4b;

// Link/Buttons colors
$link-primary: $primary-color !default;
$link-primary-hover: #33b699 !default;

//  =======================================
//  ++++++++++ Colors Helpers +++++++++++++
//  =======================================

// Color loops
$notation: ".";
$colors: (
        "primary": $primary-color,
        "secondary": $secondary-color,
        "white": $white,
        "black": $black,
        "grey": $grey,
);

@mixin color-helpers() {
  @each $name, $hash in $colors {
    // Background colors
    .#{$name}-bg {
      background-color: #{$hash};
    }

    // Text Color
    .#{$name}-cl {
      color: #{$hash};
    }
  }
}
