/* ==========================================================================
	#General
========================================================================== */
#pjWrapper { color: #555d60; }
#pjWrapper * { font-family: 'Raleway', sans-serif; }
#pjWrapper .fa { font-family: 'FontAwesome'; }
#pjWrapper .glyphicon { font-family: 'Glyphicons Halflings'; }

/* ==========================================================================
	#Styles
========================================================================== */
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger,
#pjWrapper .pjRbBtnBack,
#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspot { line-height: 27px; }
#pjWrapper .btn-default,
#pjWrapper .btn-primary { line-height: 46px; }
#pjWrapper .pjRbReservationDetails dd span { line-height: 33px; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjRbBtnBack { border-color: #d7dacf; background: #f8f8f6; color: #58ae71; }
#pjWrapper .pjRbBtnBack:hover,
#pjWrapper .pjRbBtnBack:focus { border-color: #58ae71; background: #58ae71; color: #fff; }
#pjWrapper .pjRbBtnBack:before { border-color: #58ae71; }
#pjWrapper .pjRbBtnBack:hover:before,
#pjWrapper .pjRbBtnBack:focus:before { border-color: #fff; }

#pjWrapper .btn-default { border-color: #d7dacf; background: #d7dacf; color: #58ae71; }
#pjWrapper .btn-default:hover,
#pjWrapper .btn-default:focus { border-color: #58ae71; background: #58ae71; color: #fff; }

#pjWrapper .btn-primary { background: #9acf5b; color: #fff; }
#pjWrapper .btn-primary:hover,
#pjWrapper .btn-primary:focus { background: #77a63e; }

#pjWrapper .btn-link { color: #77a63e; }
#pjWrapper .btn-link:after { background: #77a63e; }

/* ==========================================================================
	#Forms
========================================================================== */
#pjWrapper .pjRbForm label { color: #3e3a39; }
#pjWrapper .pjRbForm .form-control { border-color: #dbd7cb; background: #f1f2ed; color: #555d60; -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjRbForm .form-control:focus { border-color: #77a63e; -webkit-box-shadow: 0 0 10px rgba(119, 166, 62, .3); box-shadow: 0 0 10px rgba(119, 166, 62, .3); }
#pjWrapper .pjRbForm .checkbox label { color: #3e3a39; }
#pjWrapper .pjRbForm .checkbox label .btn-link { color: #3e3a39; }

#pjWrapper .pjRbForm .pjRbDateTimePicker .form-control:focus,
#pjWrapper .pjRbForm .pjRbSpinner .form-control:focus { -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .input-group-addon,
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon { border-color: #dbd7cb; color: #77a63e; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .input-group-addon { background: #f1f2ed; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .form-control:focus ~ .input-group-addon,
#pjWrapper .pjRbForm .pjRbDateTimePicker .input-group-addon:hover,
#pjWrapper .pjRbForm .pjRbSpinner .form-control:focus ~ .input-group-addon,
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon:hover { color: #9acf5b; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .form-control:focus ~ .input-group-addon,
#pjWrapper .pjRbForm .pjRbSpinner .form-control:focus ~ .input-group-addon { border-color: #77a63e; }
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon { background: #f1f2ed; }

#pjWrapper .pjRbDateTimePicker td.disabled,
#pjWrapper .pjRbDateTimePicker td.disabled:hover { background: none; color: #555d60; }
#pjWrapper .pjRbDateTimePicker [data-action="togglePicker"] span { color: #77a63e; }
#pjWrapper .pjRbDateTimePicker [data-action="togglePicker"] span:hover { background: none; color: #fff; }
#pjWrapper .pjRbDateTimePicker .timepicker-picker .btn span,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-hour,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-minute { color: #77a63e; }
#pjWrapper .pjRbDateTimePicker .timepicker-picker .btn span:hover,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-hour:hover,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-minute:hover { background: #77a63e; color: #fff; }
#pjWrapper .pjRbDateTimePicker th { color: #424242; }
#pjWrapper .pjRbDateTimePicker .today:before { border-bottom-color: #9acf5b !important; }
#pjWrapper .pjRbDateTimePicker .day:hover,
#pjWrapper .pjRbDateTimePicker .month:hover,
#pjWrapper .pjRbDateTimePicker .year:hover,
#pjWrapper .pjRbDateTimePicker .decade:hover,
#pjWrapper .pjRbDateTimePicker .hour:hover,
#pjWrapper .pjRbDateTimePicker .minute:hover,
#pjWrapper .pjRbDateTimePicker .active { background: #77a63e; color: #fff; }
#pjWrapper .pjRbDateTimePicker .prev span,
#pjWrapper .pjRbDateTimePicker .next span { color: #77a63e; }
#pjWrapper .pjRbDateTimePicker .prev:hover,
#pjWrapper .pjRbDateTimePicker .next:hover { background: #77a63e; }
#pjWrapper .pjRbDateTimePicker .prev:hover span,
#pjWrapper .pjRbDateTimePicker .next:hover span { color: #fff; }
#pjWrapper .pjRbDateTimePicker .picker-switch { color: #77a63e; }
#pjWrapper .pjRbDateTimePicker .picker-switch:hover,
#pjWrapper .pjRbDateTimePicker .bootstrap-datetimepicker-widget .active,
#pjWrapper .pjRbDateTimePicker .bootstrap-datetimepicker-widget .active:hover { background: #77a63e; color: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget { border-color: #ccc; background: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before { border-bottom-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after { border-bottom-color: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:before { border-top-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:after { border-top-color: #fff; }

#pjWrapper .pjRbForm .help-block li { color: #a94442; }
#pjWrapper .pjRbForm .has-error label { color: #a94442; }
#pjWrapper .pjRbForm .has-error .form-control { border-color: #a94442; }
#pjWrapper .pjRbForm .has-success label { color: #3c763d; }
#pjWrapper .pjRbForm .has-success .form-control { border-color: #3c763d; }

/* ==========================================================================
	#pjRbFormReservation
========================================================================== */
#pjWrapper .pjRbFormReservation { background: #fff; }
#pjWrapper .pjRbFormReservation p { color: #555d60; }
#pjWrapper .pjRbFormReservation dt,
#pjWrapper .pjRbFormReservation dd { color: #555d60; }

/* ==========================================================================
	#pjRbModal
========================================================================== */
#pjWrapper .pjRbModal .modal-title { color: #3e3a39; }
#pjWrapper .pjRbModal .modal-body p { color: #555d60; }

/* ==========================================================================
	#pjRbHeader
========================================================================== */
#pjWrapper .pjRbMain .pjRbHeader { background: #f8f8f6; }
#pjWrapper .pjRbMain .pjRbHeader .pjRbHeaderTitle { color: #58ae71; }

/* ==========================================================================
	#pjRbLaunguage
========================================================================== */
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger { border-color: #d7dacf; background: #d7dacf; color: #58ae71; }
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:hover,
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:focus,
#pjWrapper .pjRbLaunguage.open .pjRbBtnLaunguageTrigger { border-color: #58ae71; background: #58ae71; color: #fff; }
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:before { border-color: #58ae71; }
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:hover:before,
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:focus:before,
#pjWrapper .pjRbLaunguage.open .pjRbBtnLaunguageTrigger:before { border-color: #fff; }
#pjWrapper .pjRbLaunguage .dropdown-menu { background: #58ae71; }
#pjWrapper .pjRbLaunguage .dropdown-menu a { color: #fff; }
#pjWrapper .pjRbLaunguage .dropdown-menu a:hover { background: #77a63e; }
#pjWrapper .pjRbLaunguage .dropdown-menu .current a { background: #9acf5b; }

/* ==========================================================================
	#pjRbBody
========================================================================== */
#pjWrapper .pjRbMain .pjRbBody { background: #e3e3e1; }
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionTitle { color: #3e3a39; }
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionSubTitle { color: #58ae71; }
#pjWrapper .pjRbTablesMap { background: #fff; }
#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspot { background: #77a63e; color: #fff; }

/* ==========================================================================
	#pjRbReservationDetails
========================================================================== */
#pjWrapper .pjRbReservationDetails dt { color: #3e3a39; }
#pjWrapper .pjRbReservationDetails dd { color: #77a63e; }
#pjWrapper .pjRbReservationDetails dd span { background: #77a63e; color: #fff; }

/* Status */
#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbHotSpotAvailable { background: #58ae71; }

#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspotChosen { background: #9acf5b; }

#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspotDisabled { background: #e0e0e0; opacity: 1;}