/* ==========================================================================
	#General
========================================================================== */
#pjWrapper { color: #636b6d; }
#pjWrapper * { font-family: 'Lato', sans-serif; }
#pjWrapper .fa { font-family: 'FontAwesome'; }
#pjWrapper .glyphicon { font-family: 'Glyphicons Halflings'; }

/* ==========================================================================
	#Styles
========================================================================== */
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger,
#pjWrapper .pjRbBtnBack,
#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspot { line-height: 27px; }
#pjWrapper .btn-default,
#pjWrapper .btn-primary { line-height: 46px; }
#pjWrapper .pjRbReservationDetails dd span { line-height: 33px; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjRbBtnBack { border-color: rgba(255, 255, 255, .3); color: #000; 
	background: rgb(246,242,241);
	background: -moz-linear-gradient(top,  rgba(246,242,241,1) 0%, rgba(248,246,247,1) 43%, rgba(253,253,253,1) 73%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(246,242,241,1) 0%,rgba(248,246,247,1) 43%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(246,242,241,1) 0%,rgba(248,246,247,1) 43%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f2f1', endColorstr='#ffffff',GradientType=0 );
}
#pjWrapper .pjRbBtnBack:hover,
#pjWrapper .pjRbBtnBack:focus { border-color: #1b6aac; color: #1b6aac; 
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(253,253,253,1) 27%, rgba(248,246,247,1) 57%, rgba(246,242,241,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(248,246,247,1) 57%,rgba(246,242,241,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(248,246,247,1) 57%,rgba(246,242,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f2f1',GradientType=0 );
}
#pjWrapper .pjRbBtnBack:before { border-color: #000; }
#pjWrapper .pjRbBtnBack:hover:before,
#pjWrapper .pjRbBtnBack:focus:before { border-color: #1b6aac; }

#pjWrapper .btn-default { background: #55b031; color: #fff; }
#pjWrapper .btn-default:hover,
#pjWrapper .btn-default:focus { border-color: #1b6aac; background: #1b6aac; color: #fff; }

#pjWrapper .btn-primary { color: #fff; 
	background: rgb(64,152,226);
	background: -moz-linear-gradient(top,  rgba(64,152,226,1) 0%, rgba(58,149,222,1) 27%, rgba(60,146,221,1) 30%, rgba(57,148,221,1) 33%, rgba(58,144,219,1) 37%, rgba(56,147,220,1) 43%, rgba(56,142,217,1) 47%, rgba(54,145,218,1) 50%, rgba(53,140,217,1) 60%, rgba(52,140,212,1) 67%, rgba(50,137,214,1) 77%, rgba(47,135,209,1) 97%, rgba(44,134,210,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(64,152,226,1) 0%,rgba(58,149,222,1) 27%,rgba(60,146,221,1) 30%,rgba(57,148,221,1) 33%,rgba(58,144,219,1) 37%,rgba(56,147,220,1) 43%,rgba(56,142,217,1) 47%,rgba(54,145,218,1) 50%,rgba(53,140,217,1) 60%,rgba(52,140,212,1) 67%,rgba(50,137,214,1) 77%,rgba(47,135,209,1) 97%,rgba(44,134,210,1) 100%);
	background: linear-gradient(to bottom,  rgba(64,152,226,1) 0%,rgba(58,149,222,1) 27%,rgba(60,146,221,1) 30%,rgba(57,148,221,1) 33%,rgba(58,144,219,1) 37%,rgba(56,147,220,1) 43%,rgba(56,142,217,1) 47%,rgba(54,145,218,1) 50%,rgba(53,140,217,1) 60%,rgba(52,140,212,1) 67%,rgba(50,137,214,1) 77%,rgba(47,135,209,1) 97%,rgba(44,134,210,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4098e2', endColorstr='#2c86d2',GradientType=0 );
}
#pjWrapper .btn-primary:hover,
#pjWrapper .btn-primary:focus { 
	background: rgb(44,134,210);
	background: -moz-linear-gradient(top,  rgba(44,134,210,1) 0%, rgba(47,135,209,1) 3%, rgba(50,137,214,1) 23%, rgba(52,140,212,1) 33%, rgba(53,140,217,1) 40%, rgba(54,145,218,1) 50%, rgba(56,142,217,1) 53%, rgba(56,147,220,1) 57%, rgba(58,144,219,1) 63%, rgba(57,148,221,1) 67%, rgba(60,146,221,1) 70%, rgba(58,149,222,1) 73%, rgba(64,152,226,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(44,134,210,1) 0%,rgba(47,135,209,1) 3%,rgba(50,137,214,1) 23%,rgba(52,140,212,1) 33%,rgba(53,140,217,1) 40%,rgba(54,145,218,1) 50%,rgba(56,142,217,1) 53%,rgba(56,147,220,1) 57%,rgba(58,144,219,1) 63%,rgba(57,148,221,1) 67%,rgba(60,146,221,1) 70%,rgba(58,149,222,1) 73%,rgba(64,152,226,1) 100%);
	background: linear-gradient(to bottom,  rgba(44,134,210,1) 0%,rgba(47,135,209,1) 3%,rgba(50,137,214,1) 23%,rgba(52,140,212,1) 33%,rgba(53,140,217,1) 40%,rgba(54,145,218,1) 50%,rgba(56,142,217,1) 53%,rgba(56,147,220,1) 57%,rgba(58,144,219,1) 63%,rgba(57,148,221,1) 67%,rgba(60,146,221,1) 70%,rgba(58,149,222,1) 73%,rgba(64,152,226,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c86d2', endColorstr='#4098e2',GradientType=0 );
}

#pjWrapper .btn-link { color: #1b6aac; }
#pjWrapper .btn-link:after { background: #1b6aac; }

/* ==========================================================================
	#Forms
========================================================================== */
#pjWrapper .pjRbForm label { color: #35393a; }
#pjWrapper .pjRbForm .form-control { border-color: #bebabb; background: #fff; color: #636b6d; -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjRbForm .form-control:focus { border-color: #1b6aac; -webkit-box-shadow: 0 0 10px rgba(27, 106, 172, .3); box-shadow: 0 0 10px rgba(27, 106, 172, .3); }
#pjWrapper .pjRbForm .checkbox label { color: #35393a; }
#pjWrapper .pjRbForm .checkbox label .btn-link { color: #35393a; }

#pjWrapper .pjRbForm .pjRbDateTimePicker .form-control:focus,
#pjWrapper .pjRbForm .pjRbSpinner .form-control:focus { -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .input-group-addon,
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon { border-color: #bebabb; color: #55b031; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .input-group-addon { background: #fff; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .form-control:focus ~ .input-group-addon,
#pjWrapper .pjRbForm .pjRbDateTimePicker .input-group-addon:hover,
#pjWrapper .pjRbForm .pjRbSpinner .form-control:focus ~ .input-group-addon,
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon:hover { color: #1b6aac; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .form-control:focus ~ .input-group-addon,
#pjWrapper .pjRbForm .pjRbSpinner .form-control:focus ~ .input-group-addon { border-color: #1b6aac; }
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon { background: #f7f7f7; }

#pjWrapper .pjRbDateTimePicker td.disabled,
#pjWrapper .pjRbDateTimePicker td.disabled:hover { background: none; color: #636b6d; }
#pjWrapper .pjRbDateTimePicker [data-action="togglePicker"] span { color: #1b6aac; }
#pjWrapper .pjRbDateTimePicker [data-action="togglePicker"] span:hover { background: none; color: #fff; }
#pjWrapper .pjRbDateTimePicker .timepicker-picker .btn span,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-hour,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-minute { color: #1b6aac; }
#pjWrapper .pjRbDateTimePicker .timepicker-picker .btn span:hover,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-hour:hover,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-minute:hover { background: #1b6aac; color: #fff; }
#pjWrapper .pjRbDateTimePicker th { color: #424242; }
#pjWrapper .pjRbDateTimePicker .today:before { border-bottom-color: #55b031 !important; }
#pjWrapper .pjRbDateTimePicker .day:hover,
#pjWrapper .pjRbDateTimePicker .month:hover,
#pjWrapper .pjRbDateTimePicker .year:hover,
#pjWrapper .pjRbDateTimePicker .decade:hover,
#pjWrapper .pjRbDateTimePicker .hour:hover,
#pjWrapper .pjRbDateTimePicker .minute:hover,
#pjWrapper .pjRbDateTimePicker .active { background: #1b6aac; color: #fff; }
#pjWrapper .pjRbDateTimePicker .prev span,
#pjWrapper .pjRbDateTimePicker .next span { color: #1b6aac; }
#pjWrapper .pjRbDateTimePicker .prev:hover,
#pjWrapper .pjRbDateTimePicker .next:hover { background: #1b6aac; }
#pjWrapper .pjRbDateTimePicker .prev:hover span,
#pjWrapper .pjRbDateTimePicker .next:hover span { color: #fff; }
#pjWrapper .pjRbDateTimePicker .picker-switch { color: #1b6aac; }
#pjWrapper .pjRbDateTimePicker .picker-switch:hover,
#pjWrapper .pjRbDateTimePicker .bootstrap-datetimepicker-widget .active,
#pjWrapper .pjRbDateTimePicker .bootstrap-datetimepicker-widget .active:hover { background: #1b6aac; color: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget { border-color: #ccc; background: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before { border-bottom-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after { border-bottom-color: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:before { border-top-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:after { border-top-color: #fff; }

#pjWrapper .pjRbForm .help-block li { color: #a94442; }
#pjWrapper .pjRbForm .has-error label { color: #a94442; }
#pjWrapper .pjRbForm .has-error .form-control { border-color: #a94442; }
#pjWrapper .pjRbForm .has-success label { color: #3c763d; }
#pjWrapper .pjRbForm .has-success .form-control { border-color: #3c763d; }

/* ==========================================================================
	#pjRbFormReservation
========================================================================== */
#pjWrapper .pjRbFormReservation { background: #fff; }
#pjWrapper .pjRbFormReservation p { color: #636b6d; }
#pjWrapper .pjRbFormReservation dt,
#pjWrapper .pjRbFormReservation dd { color: #636b6d; }

/* ==========================================================================
	#pjRbModal
========================================================================== */
#pjWrapper .pjRbModal .modal-title { color: #35393a; }
#pjWrapper .pjRbModal .modal-body p { color: #636b6d; }

/* ==========================================================================
	#pjRbHeader
========================================================================== */
#pjWrapper .pjRbMain .pjRbHeader { background: #ddd9da; }
#pjWrapper .pjRbMain .pjRbHeader .pjRbHeaderTitle { color: #2d84d3; }

/* ==========================================================================
	#pjRbLaunguage
========================================================================== */
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger { border-color: rgba(255, 255, 255, .3); color: #000; 
	background: rgb(246,242,241);
	background: -moz-linear-gradient(top,  rgba(246,242,241,1) 0%, rgba(248,246,247,1) 43%, rgba(253,253,253,1) 73%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(246,242,241,1) 0%,rgba(248,246,247,1) 43%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to bottom,  rgba(246,242,241,1) 0%,rgba(248,246,247,1) 43%,rgba(253,253,253,1) 73%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f2f1', endColorstr='#ffffff',GradientType=0 );
}
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:hover,
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:focus,
#pjWrapper .pjRbLaunguage.open .pjRbBtnLaunguageTrigger { border-color: #1b6aac; color: #1b6aac; 
	background: rgb(255,255,255);
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(253,253,253,1) 27%, rgba(248,246,247,1) 57%, rgba(246,242,241,1) 100%);
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(248,246,247,1) 57%,rgba(246,242,241,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(253,253,253,1) 27%,rgba(248,246,247,1) 57%,rgba(246,242,241,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f2f1',GradientType=0 );
}
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:before { border-color: #000; }
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:hover:before,
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:focus:before,
#pjWrapper .pjRbLaunguage.open .pjRbBtnLaunguageTrigger:before { border-color: #1b6aac; }
#pjWrapper .pjRbLaunguage .dropdown-menu { background: #fff; }
#pjWrapper .pjRbLaunguage .dropdown-menu a { color: #35393a; }
#pjWrapper .pjRbLaunguage .dropdown-menu a:hover,
#pjWrapper .pjRbLaunguage .dropdown-menu .current a { color: #fff; }
#pjWrapper .pjRbLaunguage .dropdown-menu a:hover { background: #1b6aac; }
#pjWrapper .pjRbLaunguage .dropdown-menu .current a { background: #55b031; }

/* ==========================================================================
	#pjRbBody
========================================================================== */
#pjWrapper .pjRbMain .pjRbBody { background: #f7f7f7; }
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionTitle { color: #2d84d3; }
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionSubTitle { color: #35393a; }
#pjWrapper .pjRbTablesMap { background: #fff; }
#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspot { background: #1b6aac; color: #fff; }

/* ==========================================================================
	#pjRbReservationDetails
========================================================================== */
#pjWrapper .pjRbReservationDetails dt { color: #35393a; }
#pjWrapper .pjRbReservationDetails dd { color: #55b031; }
#pjWrapper .pjRbReservationDetails dd span { background: #55b031; color: #fff; }

/* Status */
#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbHotSpotAvailable { background: #2d84d3; }

#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspotChosen { background: #55b031; }

#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspotDisabled { background: #e0e0e0; opacity: 1;}