/* ==========================================================================
	#General
========================================================================== */
#pjWrapper { color: #575c5f; }
#pjWrapper * { font-family: 'Fira Sans', sans-serif; }
#pjWrapper .fa { font-family: 'FontAwesome'; }
#pjWrapper .glyphicon { font-family: 'Glyphicons Halflings'; }

/* ==========================================================================
	#Styles
========================================================================== */
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger,
#pjWrapper .pjRbBtnBack { line-height: 30px; }

/* ==========================================================================
	#Buttons
========================================================================== */
#pjWrapper .pjRbBtnBack { border-color: #f3f5f4; background: #f3f5f4; color: #509e86; }
#pjWrapper .pjRbBtnBack:hover,
#pjWrapper .pjRbBtnBack:focus { border-color: #d1dbdc; background: #d1dbdc; color: #509e86; }
#pjWrapper .pjRbBtnBack:before { border-color: #509e86; }
#pjWrapper .pjRbBtnBack:hover:before,
#pjWrapper .pjRbBtnBack:focus:before { border-color: #509e86; }

#pjWrapper .btn-default { border-color: #f3f5f4; background: #f3f5f4; color: #509e86; }
#pjWrapper .btn-default:hover,
#pjWrapper .btn-default:focus { border-color: #d1dbdc; background: #d1dbdc; color: #509e86; }

#pjWrapper .btn-primary { background: #1ec290; color: #fff; }
#pjWrapper .btn-primary:hover,
#pjWrapper .btn-primary:focus { background: #1eaf84; }

#pjWrapper .btn-link { color: #1eaf84; }
#pjWrapper .btn-link:after { background: #1eaf84; }

/* ==========================================================================
	#Forms
========================================================================== */
#pjWrapper .pjRbForm label { color: #3c3839; }
#pjWrapper .pjRbForm .form-control { border-color: #d1dbdc; background: #f3f5f4; color: #575c5f; -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjRbForm .form-control:focus { border-color: #1eaf84; -webkit-box-shadow: 0 0 10px rgba(30, 175, 132, .3); box-shadow: 0 0 10px rgba(30, 175, 132, .3); }
#pjWrapper .pjRbForm .checkbox label { color: #3c3839; }
#pjWrapper .pjRbForm .checkbox label .btn-link { color: #1eaf84; }

#pjWrapper .pjRbForm .pjRbDateTimePicker .form-control:focus,
#pjWrapper .pjRbForm .pjRbSpinner .form-control:focus { -webkit-box-shadow: none; box-shadow: none; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .input-group-addon,
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon { border-color: #d1dbdc; color: #1eaf84; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .input-group-addon { background: #f3f5f4; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .form-control:focus ~ .input-group-addon,
#pjWrapper .pjRbForm .pjRbDateTimePicker .input-group-addon:hover,
#pjWrapper .pjRbForm .pjRbSpinner .form-control:focus ~ .input-group-addon,
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon:hover { color: #1eaf84; }
#pjWrapper .pjRbForm .pjRbDateTimePicker .form-control:focus ~ .input-group-addon,
#pjWrapper .pjRbForm .pjRbSpinner .form-control:focus ~ .input-group-addon { border-color: #1eaf84; }
#pjWrapper .pjRbForm .pjRbSpinner .input-group-addon { background: #f3f5f4; }

#pjWrapper .pjRbDateTimePicker td.disabled,
#pjWrapper .pjRbDateTimePicker td.disabled:hover { background: none; color: #575c5f; }
#pjWrapper .pjRbDateTimePicker [data-action="togglePicker"] span { color: #1eaf84; }
#pjWrapper .pjRbDateTimePicker [data-action="togglePicker"] span:hover { background: none; color: #fff; }
#pjWrapper .pjRbDateTimePicker .timepicker-picker .btn span,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-hour,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-minute { color: #1eaf84; }
#pjWrapper .pjRbDateTimePicker .timepicker-picker .btn span:hover,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-hour:hover,
#pjWrapper .pjRbDateTimePicker .timepicker-picker .timepicker-minute:hover { background: #1eaf84; color: #fff; }
#pjWrapper .pjRbDateTimePicker th { color: #3c3839; }
#pjWrapper .pjRbDateTimePicker .today:before { border-bottom-color: #1eaf84 !important; }
#pjWrapper .pjRbDateTimePicker .day:hover,
#pjWrapper .pjRbDateTimePicker .month:hover,
#pjWrapper .pjRbDateTimePicker .year:hover,
#pjWrapper .pjRbDateTimePicker .decade:hover,
#pjWrapper .pjRbDateTimePicker .hour:hover,
#pjWrapper .pjRbDateTimePicker .minute:hover,
#pjWrapper .pjRbDateTimePicker .active { background: #1eaf84; color: #fff; }
#pjWrapper .pjRbDateTimePicker .prev span,
#pjWrapper .pjRbDateTimePicker .next span { color: #1eaf84; }
#pjWrapper .pjRbDateTimePicker .prev:hover,
#pjWrapper .pjRbDateTimePicker .next:hover { background: #1eaf84; }
#pjWrapper .pjRbDateTimePicker .prev:hover span,
#pjWrapper .pjRbDateTimePicker .next:hover span { color: #fff; }
#pjWrapper .pjRbDateTimePicker .picker-switch { color: #1eaf84; }
#pjWrapper .pjRbDateTimePicker .picker-switch:hover,
#pjWrapper .pjRbDateTimePicker .bootstrap-datetimepicker-widget .active,
#pjWrapper .pjRbDateTimePicker .bootstrap-datetimepicker-widget .active:hover { background: #1eaf84; color: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget { border-color: #ccc; background: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:before { border-bottom-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.bottom:after { border-bottom-color: #fff; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:before { border-top-color: #ccc; }
#pjWrapper .bootstrap-datetimepicker-widget.dropdown-menu.top:after { border-top-color: #fff; }

#pjWrapper .pjRbForm .help-block li { color: #a94442; }
#pjWrapper .pjRbForm .has-error label { color: #a94442; }
#pjWrapper .pjRbForm .has-error .form-control { border-color: #a94442; }
#pjWrapper .pjRbForm .has-success label { color: #3c763d; }
#pjWrapper .pjRbForm .has-success .form-control { border-color: #3c763d; }

/* ==========================================================================
	#pjRbFormReservation
========================================================================== */
#pjWrapper .pjRbFormReservation { background: #fff; }
#pjWrapper .pjRbFormReservation p { color: #3c3839; }
#pjWrapper .pjRbFormReservation dt,
#pjWrapper .pjRbFormReservation dd { color: #3c3839; }

/* ==========================================================================
	#pjRbModal
========================================================================== */
#pjWrapper .pjRbModal .modal-title { color: #3c3839; }
#pjWrapper .pjRbModal .modal-body p { color: #575c5f; }

/* ==========================================================================
	#pjRbHeader
========================================================================== */
#pjWrapper .pjRbMain .pjRbHeader { background: #7d8381; }
#pjWrapper .pjRbMain .pjRbHeader .pjRbHeaderTitle { color: #fff; }

/* ==========================================================================
	#pjRbLaunguage
========================================================================== */
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger { border-color: #f3f5f4; background: #f3f5f4; color: #509e86; }
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:hover,
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:focus,
#pjWrapper .pjRbLaunguage.open .pjRbBtnLaunguageTrigger { border-color: #d1dbdc; background: #d1dbdc; color: #509e86; }
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:before { border-color: #509e86; }
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:hover:before,
#pjWrapper .pjRbLaunguage .pjRbBtnLaunguageTrigger:focus:before,
#pjWrapper .pjRbLaunguage.open .pjRbBtnLaunguageTrigger:before { border-color: #509e86; }
#pjWrapper .pjRbLaunguage .dropdown-menu { background: #d1dbdc; }
#pjWrapper .pjRbLaunguage .dropdown-menu a { color: #3c3839; }
#pjWrapper .pjRbLaunguage .dropdown-menu a:hover { background: #1db084; color: #fff; }
#pjWrapper .pjRbLaunguage .dropdown-menu .current a { background: #509e86; color: #fff; }

/* ==========================================================================
	#pjRbBody
========================================================================== */
#pjWrapper .pjRbMain .pjRbBody { background: #fafafa; }
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionTitle { color: #3c3839; }
#pjWrapper .pjRbMain .pjRbSection .pjRbSectionHead .pjRbSectionSubTitle { color: #1eaf84; }
#pjWrapper .pjRbTablesMap { background: #fff; }
#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspot { background: #1eaf84; color: #fff; }

/* ==========================================================================
	#pjRbReservationDetails
========================================================================== */
#pjWrapper .pjRbReservationDetails dt { color: #3c3839; }
#pjWrapper .pjRbReservationDetails dd { color: #1eaf84; }
#pjWrapper .pjRbReservationDetails dd span { background: #1eaf84; color: #fff; }

/* Status */
#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbHotSpotAvailable { background: #7d8381; }

#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspotChosen { background: #1ec290; }

#pjWrapper .pjRbTablesMap .pjRbTablesHotspots .pjRbTableHotspotDisabled { background: #e0e0e0; opacity: 1;}