/*Archive Page*/

.archive__page_nav {
  background-color: #464543;
  padding:0;
}

.btn.archive__back {
  color: #fff !important;
  font-weight: 700;
}

.reservation__atto .reservation__title {
    position: relative;
  float: left;
}

.table__heading {
  font-size: 18px;
  font-weight: 700;
  width: 100%;
  max-width: 180px;
  min-width: 120px;
  height: 63px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #3e3a39;
  color: #fff;
}

.archive__page_navtab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.archive__page_navtab > div:nth-child(1) {
  min-width: 105px;
}

.row__customer-archive .customer_name:after {
  display: none;
}

.row__reservation-archive div:nth-child(3) {
  color: inherit;
}

/* .row__customer-archive div:nth-child(3) {
  background-color: #f9f9f9;
  color: inherit;
} */
.row__customer-archive .customer_size {
  padding: 8px 0px;
}
.archive__page_item {
  position: relative
}

.archive__page_item > div {
  border-bottom: 1px solid #000;
}

.archive__page_item > div > i {
  position: absolute;
  top: 2px;
  right: 0;
  pointer-events: none;
  color: #ff9629;
}

.dashboardDaySort .filter-option{
  color: #ff9700;
}

.archive__page_item .datepicker__tab.addDate {
  border-bottom: 0;
}

.archive__page_item .fa-calendar {
  margin-right: 5px;
}

.datepicker__tab {
  background: transparent;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: none;
  width: calc(100% - 20px);
  min-width: 120px;
  color:#717171;
  padding-right: 25px;
  padding-bottom: 6px;
}

.archive__page_item label {
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  position: absolute;
  pointer-events: none;
  color: #fff;
  top: 0;
  left: 0;
  font-size: 12px;
}

.datepicker__tab:focus + label,
.datepicker__tab:valid + label,
.datepicker__tab.addDate + label {
  top: -12px;
  font-size: 10px;
  color: #999595;
}
/* .btn.focus,
.btn:focus,
.btn:hover {
  color: #fff !important;
  outline: none;
} */
.btn.active.focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn:active:focus,
.btn:focus {
  outline: 0px !important;
}
.btn__primary:focus {
  color: #fff;
}
.btn__primary {
  color: #fff;
}

.archive__page_item .btn:hover,
.archive__page_item .btn:focus {
  color: #fff;
}

.row__reservation .btn:hover,
.row__reservation .btn:focus {
  color: #fff;
}
.booking-nav.archive__page_nav .table__heading {
    border-top-left-radius: 5px;
}


/* ==========================================================================
		Some UI changes
========================================================================== */
.ntooltip {
  background: transparent url('../../images/icon-caution.png') 0 0 no-repeat;
  width: 16px;
  height: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
  /* z-index: 10; */
  cursor: pointer;
  /* display: none; */
}

.bootstrap-select>.dropdown-toggle{
  z-index: 0 !important;
}

.ntooltip.h2 {
  position: relative;
  right: 0;
  top: 0;
  float: right;
  margin: 4px 0 0 7px;
}
.ntooltip.h3 {
  position: absolute;
  right: 0;
  top: 0;
  float: right;
  margin: 4px;
}
.ntooltip:hover > .ttip {
  visibility: visible;
}
.ntooltip .ttip {
  background: #fff;
  border: solid 1px #cbcaca;
  box-shadow: rgba(0, 0, 0, .16) 3px 0px 7px;
  border-radius: 5px;

  width: 160px;
  padding: 10px;

  font-size: 12px;
  line-height: 1.3;
  font-weight: 500;
  color: #4b4b4b;
  text-align: left;

	position: absolute;
	right: -5px;
  top: 32px;
  
  visibility: hidden;
  z-index: 1;
}
.ntooltip .ttip:after {
  content: '';
	position: absolute;
	top: 0;
	left: 85%;
	width: 0;
	height: 0;
	border: 15px solid transparent;
	border-bottom-color: #fff;
	border-top: 0;
	border-right: 0;
	margin-left: -8px;
  margin-top: -15px;
}
.ntooltip .ttip:before {
  content: '';
	position: absolute;
	top: 0;
	left: 84%;
	width: 0;
	height: 0;
	border: 18px solid transparent;
	border-bottom-color: #cbcaca;
	border-top: 0;
	border-right: 0;
	margin-left: -8px;
  margin-top: -18px;
}
.ntooltip.h2 .ttip:before {
  margin-left: -9px;
}
.fullWidth.text-center.box-shadow {
  position: relative;
}

.details__stat .stat__title { position: relative; }


/* ==========================================================================
		Some UI changes
========================================================================== */
.reservation__atto .reservation__title h2 {
	font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
	margin: 0;
	font-size: 20px;
	font-weight: 700;
	color: #4b4b4b;
	/* line-height: 34px; */
}
.fullWidth.analysis-area .fullWidth [class^="icon-"], .fullWidth.analysis-area .fullWidth [class*=" icon-"] {
	font-size: 23px;
}
.fullWidth.analysis-area .fullWidth .analysis-amt {
  font-size: 35px;
  font-weight: 900;
  color: #4b4b4b;
  padding-bottom: 10px;
}
.fullWidth.analysis-area .fullWidth .analysis-label {
  font-size: 15px;
  font-weight: 400;
  color: #4b4b4b;
}
.fullWidth.most_loyal_customer .content-head {
  background: #cecfd2;
  font-size: 12px;
  font-weight: 800;
  color: #4b4b4b;
  border-radius: 10px;
  text-transform: uppercase;
}
.fullWidth.most_loyal_customer .content-row {
  border-bottom: solid 1px #f5f5f5;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: #4b4b4b;
  padding: 10px 0;
  margin-bottom: 25px;
}

.content-row1{
  border-bottom: solid 1px #f5f5f5;
  font-size: 13px;
  font-weight: 700;
  line-height: 18px;
  color: #4b4b4b;
  padding: 15px 0;
}
.content-row1 .row{
  padding: 5px 0;
}
 

@media (min-width: 1200px) {
  .mlr25 {
    margin-left: 25%;
    margin-right: 25%;
  }
}

/* ==========================================================================
		Some UI changes 12-09-2019 for login
========================================================================== */
.content-container.loginpage {
  background: transparent url('../../images/bg-login.jpg') center center no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  min-height: 50vh;
  overflow: auto;
  display: flex;
  align-items: center;

  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
}
.content-container.loginpage .card {
  background: rgba(255, 255, 255, 0.80);
  border: solid 1px #000;
  border-radius: 20px; 
  max-width: 600px;
  width: 100%;
  margin: 20px auto;
  padding-bottom: 10px;
}
.content-container.loginpage .card-header {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-weight: 700;
  font-size: 19px;
  color: #000;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.content-container.loginpage .card-body {
  width: 300px;
  margin: 0 auto;
}
.content-container.loginpage .card-body label {
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 15px;
  font-weight: 500;
  text-align: left;
}
.content-container.loginpage .card-body .form-control {
  border-color: #4b4b4b; 
  border-radius: 0px; 
}
.content-container.loginpage .card-body .control_indicator {
  margin-left: 3px;
  background-color: #fff;
}
.content-container.loginpage .card-body .btn {
  width: 100%;
  border-radius: 0px; 
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 1px;
}
.content-container.loginpage .card-body .text-center {
  text-align: center
}

 
.fullWidth.most_loyal_customer .content-row a {
  color: #4b4b4b;
}
.fullWidth.most_loyal_customer .content-row a:hover {
  color: #4b4b4b;
  text-decoration: underline;
}
.fortitle .icon-order-enable:before{
  color: #26a59b;
  font-size: 35px;
}
.fortitle .icon-revenue:before{
  color: #7eb144;
  font-size: 35px;
}
.fortitle .icon-visitors:before{
  color: #51c1ee;
  font-size: 35px;
}
.fortitle .icon-spend:before{
  color: #c8814e;
  font-size: 35px;
}
.fortitle .icon-total-reach:before{
  color: #ed78fd;
  font-size: 35px;
}
.fortitle .icon-view:before{
  font-size: 35px;
  color: #aa6b80;
}
.fortitle .icon-conversion:before{
  font-size: 35px;
}
.fortitle .icon-order-per-item:before{
  font-size: 35px;
  color: #7dc8c3;
}
.fortitle .icon-contact-us:before{
  font-size: 35px;
}
.fortitle .icon-website-visitor:before{
  font-size: 35px;
}
.fortitle .icon-returning-visitor:before{
  font-size: 35px;
}
.fortitle .icon-current-reservation:before{
  font-size: 35px;
}
.fortitle .icon-user1:before{
  font-size: 35px;
}
.fortitle .icon-clicks:before{
  font-size: 35px;
  color: #45ae9b;
}
.fortitle .icon-likes:before{
  font-size: 35px;
}
.fortitle .data-icons .icon-contact-us:before{
  font-size: 14px;
}
.fortitle .icon-Direct-Conversions:before{
  font-size: 35px;
  color: #d7453a;
}
.fortitle .icon-Indirect-Conversions:before{
  font-size: 35px;
  color: #d7453a;
}
.fortitle .fa-envelope:before{
  color: #1689fb;
}
.home-contact .icon-contact-us:before{
  color: #FF0000;
}
.text-color-blue{
  color: #3baa3e;
}
@media (min-width: 1025px){
  .navContent-right-subcat .navbarDropdown:before{
    content:'|';
    padding: 0 15px;
  }
  .navContent-right-subcat a.last-noborder:after{
    content:'';
    padding: 0;
  }
  .navContent-right-subcat{
    display: flex;
    justify-content: center;
    align-items: center;
}
  .dropdown-devices{
    display: none;
  }
  .mobile-dd{
    display: none;
  }
}
@media (max-width: 767px){
  .main__container {
    padding: 0 10px !important;
  }
  .navContent-right-subcat .navbarDropdown:before{
    content:'|';
    padding: 0 5px;
  }
  .navContent-right-subcat a.last-noborder:after{
    content:'';
    padding: 0;
  }
}

@media (max-width: 991px) {
  .fullWidth.analysis-area .fullWidth .analysis-amt{
    font-size: 20px;
  }
  .fullWidth.analysis-area .fullWidth .analysis-label{
    font-size: 14px;
  }
}
@media (max-width: 1024px) and (min-width: 768px) and (orientation: landscape){
  .mobile-dd{
    display: none;
  }
  .fullWidth.analysis-area .fullWidth .analysis-amt{
    font-size: 30px;
  }
  .fullWidth.analysis-area .fullWidth .analysis-label{
    font-size: 15px;
  }
  .navContent-left, .navContent-right{
    font-size: 14px;
  }
}

.growth-sign{
  font-size: 18px;
}
.navContent-right-mobile{
  display: none;
}
.navContent-right-mobile.active{
    display: block;
    position: absolute;
    right: 0;
    top: 75px;
    background: #fff;
    padding: 20px 50px;
    box-shadow: 3px 2px 2px #ccc;
}
.font-weight{
  font-weight: 900;
}