
/* .dashBoard__order, */
 .dashBoard__stats {
  border-top:1px solid #e0e0e0;
  position: relative;
  margin: 30px 0 30px;
}

.dashBoard__order {
  /* padding: 30px 10px 10px; */
  padding: 0px 0px;
}

.dashBoard__date {
  width: fit-content;
  position: absolute;
  left: 0;
  right: 0;
  top: -24px;
  margin: 0 auto;
  background-color: #f4f7fc;
  padding: 10px 20px;
  text-transform: uppercase;
  color:#c6c6c6;
  font-size: 16px;
  min-width: 130px;
  max-width: 190px;
  width: 100%;
  text-align: center;
}

.dashBoard__ao__re {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.dashBoard__ao__re > div:nth-child(3n+2){
  margin-left: 15px;
  margin-right: 15px;
}

.dashBoard__ao__re > div {
  /*width: 100%;*/
  border:1px solid #e0e0e0;
  padding: 20px 15px;
  background:#ffffff;
  display: flex;
  justify-content: center;
  min-width: 400px;
  /*float: left;*/
  /* max-width: 496px; */
  max-width: 500px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    overflow: hidden;

    /*align-items: center;*/
}

.dashBoard__active-orders_header {
  color: #000;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.order__list {
  margin: 20px 0;
}

.order__type, .reserv__time {
  font-weight: 700;
  font-style: italic;
}

.order__row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: 10px 0;
  padding: 10px 0;
  border-bottom: 1px dashed rgba(0, 0, 0, 0.1);
  color:#000;
  font-weight: 700;
}

.manage__order {
  text-align: center;
}

.dashBoard__content {
  width: 100%;
}

.no__content_order {
  margin: 15px 0;
}

.dashBoard__stats-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid #e0e0e0;
    margin-top: 30px;
  background-color: #ffffff;
}

.dB__stats {
  text-align: center;
  flex: 1;
  border-right: 1px solid #ebebeb;
  margin: 30px 0;
}

.dB__stats:last-of-type {
  border:none;
}

.dB__stats_header {
  margin-bottom: 20px;
  color: #000;
  font-size: 16px;
  padding: 0 10px;
  text-transform: uppercase;
  font-weight: 700;
}

.db__stats_value {
  color: #000;
  font-size: 20px;
  font-weight: 900;
  padding: 0 10px;
}

.order__amout {
  min-width: 80px;
  text-align: right;
}
.dB__stats_header .cover-text{
  text-transform: capitalize;
  color:#ccc;
  font-size: 13px;
}
.letter-spacing-1{
  letter-spacing: 1px;
}


 
.templates-page h1 {
  font-size: 22px;
  font-weight: 600;
}

.templates-page .template {
  color: #4b4b4b;

}

.templates-page .template .btn__holo {
  background-color: #fff;
}

.templates-page .template > div img {
  width: 100%;
  position: relative;
  z-index: 0;
}

.location-list > div,
.addvanced-setting > div > div,
.row-design > div > div,
.coupon-row {
  border-bottom:1px #f2f2f2 solid;
}

.location-list > div:last-child {
  border-bottom: 0;
}

.location-availability .heading-availability {
  background-color: #F4F4F4;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  font-size: 16px;
}

.location-availability .heading-availability a {
  color: #333;
}

.addvanced-setting > div > div,
.row-design > div > div {
  overflow: visible;
}

.addvanced-setting .input-group,
.row-design .input-group {
  width: 100%;
  float: right;
}

.addvanced-setting .input-group-addon,
.row-design .input-group-addon {
  background-color: transparent;
  padding: 6px 0;
  border: 0px;
  position: absolute;
  bottom: 5px;
  left: 0;
  z-index: 10;
  color: #333;
}

.addvanced-setting .input-group-addon + input,
.addvanced-setting .simple_input_field input,
.row-design .input-group-addon + input,
.row-design .simple_input_field input {
  border: 0px;
  width: 60px;
  color: #000;
  border-bottom: 1px solid #ccc;
  box-shadow: none;
  border-radius: 0px;
  z-index: 1;
}

.addvanced-setting .simple_input_field,
.row-design .simple_input_field {
    display: table;
    /*width: 80px;*/
    float: right;
}

.addvanced-setting .simple_input_field input,
.addvanced-setting .simple_input_field span,
.row-design .simple_input_field input,
.row-design .simple_input_field span {
  display: table-cell;
}

.dashboard-page .analysis-amtt {
  font-size: 10px;
}

.defaultLocation {
  border-top:1px #f2f2f2 solid;
  border-bottom:1px #f2f2f2 solid;
}

.coupon-header {
  background-color: #f4f4f4;
  -webkit-border-radius: 5px;
  -mox-border-radius: 5px;
  border-radius: 5px;
  font-size:16px;
}

.deal-discounts-page .bootstrap-select .btn.bs-placeholder .filter-option {
  text-indent: -1000px;
}

.deal-discounts-page .bootstrap-select ul.dropdown-menu li:first-child {
  display: none;
}