/* listing pages styles */

.main__container.floor-tables-management {
    margin: 0;
    height: 100%;
    padding: 30px;
    overflow: auto;
    max-width: 100%;
    background: url(../../images/floor-dotbg.png) repeat;
    overflow: auto;
}

.floor__container .floor-box{
    margin-bottom: 50px;
}

.sidebar_right__content.scroller.mCS_no_scrollbar
.mCSB_inside
> .mCSB_container,
.sidebar_right__content.scroller .mCSB_inside > .mCSB_container {
    margin-right: 0;
}

.floor__wrapper {
    margin-top: 30px;
}

.floor__element {
    position: relative;
    color: #fff;
    padding: 30px 20px;
    background-color: #fff;
    -webkit-box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.08);
    box-shadow: 0 7px 8px 0 rgba(0, 0, 0, 0.08);
    margin-bottom: 30px;
    border-radius: 4px;
}

.floor__name {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    padding: 15px;
    background-color: #818181;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    max-width: 80%;
    width: 100%;
    margin: auto;
    border-radius: 4px;
    /* white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; */
    height: 70px;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floor__image img {
    width: 100%;
    height: auto;
    display: block;
    padding: 40px 0px;
}

.floor__details-edit {
    list-style-type: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100%;
}

.floor__details-edit li:last-child {
    border-right: 0px;
}

.floor__details-edit li span:nth-child(1) {
    padding-right: 5px;
}

.floor__details-edit li a {
    color: #3f3f3f;
    font-size: 17px;
    font-weight: 700;
}

.floor__details-edit li a:hover {
    opacity: 0.8;
    filter: alpha(opacity=80);
}

/* floor button */
.floor__button {
    text-align: center;
    margin-top: 15px;
}

.floor__button .btn {
    padding: 10px 40px;
    font-size: 16px;
    font-weight: 700;
}

.floor__button .btn + .btn {
    margin-left: 20px;
}

.floor__button .btn-primary span {
    vertical-align: middle;
    padding-right: 5px;
    color: #ff9000;
    font-size: 17px;
}

.floor-configration__title {
    padding: 20px 15px;
    font-size: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.floor-configration__title #floorNameForm .fa {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 24px;
}

.floor-configration__title #floorNameForm input {
    font-weight: 700;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    width: 100%;
    border: 0;
    /*text-transform: capitalize;*/
    border-bottom: 1px solid transparent;
}

/*.floor-configration__title #floorNameForm label {
    display: none !important;
}

.floor-configration__title #floorNameForm input + label {
    display: block !important;
}*/

.floor-configration__title #floorNameForm input::-webkit-input-placeholder {
    color: #f1f1f1;
}

.floor-configration__title #floorNameForm input::-moz-placeholder {
    color: #f1f1f1;
}

.floor-configration__title #floorNameForm input:-ms-input-placeholder {
    color: #f1f1f1;
}

.floor-configration__title #floorNameForm input:-moz-placeholder {
    color: #f1f1f1;
}

.floor-configration__title #floorNameForm input:focus,
.floor-configration__title #floorNameForm input:active {
    border-bottom-color: #dad9d9;
}

.floor-configration__title #floorNameForm input.error {
    border-bottom-color: #f00;
}

.floor-tables-sidebar .popover {
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    background-color: #000;
    color: #828081;
    margin-left: -20px;
}

.floor-tables-sidebar .popover .close {
    position: absolute;
    top: 10px;
    right: 15px;
    color: #fff;
    font-size: 14px;
    opacity: 0.3;
    text-shadow: none;
    margin: 0;
}

.floor-tables-sidebar .popover .close:hover {
    opacity: 0.6;
}

.floor-tables-sidebar .popover .popover-content {
    padding: 19px 24px !important;
}

.floor-tables-sidebar .popover.left > .arrow:after {
    border-left-color: #000
}

.floorPopover + .popover.left {
    top: 200px !important;
}

.tablePopover + .popover.left {
    top: 220px !important;
}

#accordion.panel-group {
    /*height: calc(100vh - 142px);*/
    margin-bottom: 0;
    padding-bottom: 20px;
    min-height: 600px;
}

#collapse2 .btn-group.bootstrap-select {
    width: 100%;
}

#collapse2 .btn-group.bootstrap-select .btn {
    border: 0;
    border-bottom: 1px solid #dad9d9;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    outline: none;
}

#collapse2 .btn-group.bootstrap-select .btn,
#collapse2 .btn-group.bootstrap-select .btn:hover,
#collapse2 .btn-group.bootstrap-select .btn:focus,
#collapse2 .btn-group.bootstrap-select .btn:active,
#collapse2 .btn-group.open .dropdown-toggle {
    background-color: transparent !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-bottom-color: #dad9d9;
    outline: none !important;
    padding: 0;
    font-size: 16px;
}

#collapse2 .btn-group.bootstrap-select .btn .bs-caret {
    position: absolute;
    top: -5px;
    right: 8px;
    height: auto;
}

#collapse2 .bootstrap-select.btn-group .dropdown-menu li.selected a {
    background-color: #ff9900;
    color: #fff;
}

#collapse2 .bootstrap-select.btn-group .dropdown-menu li a {
    outline: none !important;
}

.panel-group .floor-configration__bg {
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-group .floor-configration__bg .panel-heading {
    padding: 0px;
}

.panel-group .floor-configration__bg .panel-heading .panel-title.collapsed {
    background-color: #838181;
}

.panel-group .floor-configration__bg .panel-heading .panel-title {
    font-weight: 700;
    font-size: 16px;
    padding: 13px 15px 15px;
    background-color: #ff9900;
    color: #fff;
    position: relative;
    cursor: pointer;
}

.panel-group .floor-configration__bg .panel-heading .panel-title:after {
    content: "";
    position: absolute;
    top: 20px;
    right: 15px;
    width: 0;
    height: 0;
    border: solid #fff;
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.panel-group
.floor-configration__bg
.panel-heading
.panel-title.collapsed:after {
    top: 17px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.floor-configration__bg .panel-body {
    padding: 0px;
}

.panel-group #floor-configration__layout {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    list-style: none;
    margin-bottom: 0px;
}

.panel-group #floor-configration__layout li {
    text-align: center;
    height: 120px;
    width: 50%;
    vertical-align: middle;
    border-right: 1px solid #ffd5a6;
    border-bottom: 1px solid #ffd5a6;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.panel-group #floor-configration__layout li:nth-child(3),
.panel-group #floor-configration__layout li:nth-child(4) {
    /*border-bottom: 0px;*/
}

.panel-group #floor-configration__layout li a {
    margin-bottom: 0;
    height: 100%;
    width: 100%;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.panel-group #floor-configration__layout li:nth-child(2) a .floor_shape {
    height: 32px;
}

.panel-group #floor-configration__layout li a:hover .custom-icons,
.panel-group #floor-configration__layout li.active a .custom-icons,
.panel-group #collapse2 ul.nav li.hover a .custom-icons,
.panel-group #collapse2 ul.nav li.active a .custom-icons {
    color: #ff8110;
}

.panel-group #floor-configration__layout li .custom-icons,
.panel-group #collapse2 ul.nav li a .custom-icons {
    color: #ebebea;
}

.panel-group #floor-configration__layout li .icon-square,
.panel-group #collapse2 ul.nav li .icon-square {
    font-size: 30px;
}

.panel-group #floor-configration__layout li .icon-rectangle,
.panel-group #collapse2 ul.nav li .icon-rectangle {
    font-size: 60px;
    line-height: 27px;
}

.panel-group #floor-configration__layout li .icon-circle,
.panel-group #collapse2 ul.nav li .icon-circle {
    font-size: 30px;
}

.panel-group #collapse2 ul.nav li a {
    height: 100px;
    display: flex;
    display: -ms-flex;
    display: -moz-flex;
    display: -webkit-flex;
    align-items: center;
    justify-content: center;
}

.table__type-wrapper,
#accordion .rightbar__property__wrapper {
    padding: 15px 20px;
}

#accordion {
    height: 100%;
    max-height: 100%;
}

#accordion .mCustomScrollBox {
    height: 100%;
}

#accordion .mCSB_inside > .mCSB_container {
    margin-right: 0;
}

.rightbar__heading {
    font-size: 20px;
    font-weight: 700;
}

.rightbar__subHeading {
    font-weight: 400;
    color: #838181;
    font-size: 14px;
}

.table__id,
.table__type,
.floor__table__type {
    margin-top: 10px;
    font-size: 16px;
    font-weight: normal;
    color: #333 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.table__id > span,
.table__type > span,
.floor__table__type > span {
    display: block;
    width: 95px;
}

.table__id-value,
.table__type-value {
    /*-webkit-box-flex: 2;
    -ms-flex-positive: 2;
    flex-grow: 2;
    margin-left: 15px;*/
    width: 100%;
}

.table__id-value input,
.table__type-value select {
    border: 0;
    width: 100%;
    border-bottom: 1px solid #dad9d9;
}

.table__id-value input + label.error + span,
.table__id-value input + span {
   /* top: 5px;*/
    font-size: 16px;
    font-weight: normal;
}

/*.table__id-value input + span.hasVal,
.table__id-value input + label.error + span.hasVal,
.table__id-value input:focus + span {
    color: #838181;
    top: -10px;
    font-size: 12px;
}*/

#collapse2 .table__type-value .bootstrap-select .filter-option,
#collapse2 .table__type-value .bootstrap-select .dropdown-menu li a {
    color: #333;
}

.guest__member,
.calc__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0;
    font-size: 16px;
}

.guest__inc_dec,
.calc__row__area {
    width: 40%;

    padding: 8px 8px;
    border-radius: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.guest__inc_dec button[type="button"],
.calc__row__area button[type="button"] {
    background: transparent;
    color: #000;
    border: 0px;
    font-size: 15px;
    width: 21px;
    height: 21px;

    font-weight: 600;
}

.guest__inc_dec input[type="text"],
.calc__row__area input[type="text"] {
    border: 0;
    background-color: transparent;
    color: #000;
    font-weight: 600;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    font-size: 16px;
}

.guest__inc_dec button[type="button"]:active,
.calc__row__area button[type="button"]:active {
    color: #ff8110;
}

.table__layout-wrapper ul {
    display: table;
    width: 100%;
    list-style: none;
}

.table__layout-wrapper ul li {
    display: table-cell;
    width: 33.3%;
    text-align: center;
    padding: 30px 0px;
    border-right: 1px solid #ffd5a6;
    border-bottom: 1px solid #ffd5a6;
}

.table__layout-wrapper ul li:last-child {
    border-right: 0px;
}

.floor-type-name {
    margin-top: 15px;
    font-size: 12px;
    color: #cfcfcb;
    font-family: lato;
}

.guest__done-btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.guest__done-btn .btn {
    /*background-color: #ff8207;
    background-image: none;*/
    border: 0px;
    font-weight: 700;
    font-size: 16px;
    width: 48%;
}

.guest__done-btn a.btn.createTable {
    width: 100%;
}

/* create floor */

.floor-create__media img {
    display: block;
    width: 100%;
}

.table__type-tab .nav-pills > li + li {
    margin-left: 0px;
}

.table__type-tab .nav-pills > li.active > a,
.table__type-tab .nav-pills > li.active > a:focus,
.table__type-tab .nav-pills > li.active > a:hover {
    background-color: #fff7ef;
}

.table__type-tab .nav {
    display: table;
    width: 100%;
}

.table__type-tab .nav li {
    display: table-cell;
    text-align: center;
    width: 33%;
    border-right: 1px solid #ffd5a6;
    border-bottom: 1px solid #ffd5a6;
}

.table__type-tab .nav li:last-child {
    border-right: 0px;
}

.table__type-tab .nav li a img {
    padding: 20px 0px;
}

.table__type-tab .nav > li > a:focus,
.table__type-tab .nav > li > a:hover {
    text-decoration: none;
    background-color: transparent;
}

.table__type-tab .nav-pills li.active {
    border-bottom: 1px solid transparent;
}

.table__type-tab .nav-pills li.active:after {
    content: "";
    height: 0;
    bottom: -10px;
    left: 42%;
    border: solid transparent;
    position: absolute;
    border-top-color: #fff7ef;
    border-width: 13px;
    z-index: 0;
    border-bottom: 0px;
}

.input-control {
    background-color: transparent;
    border: 0px;
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 0px;
    font-size: 15px;
    font-weight: 700;
    line-height: 1.42857143;
    color: #ff8207;
    -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
    -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
    border-bottom: 1px solid #ccc;
    /*text-transform: capitalize;*/
    position: relative;
    z-index: 1;
}

.relative {
    position: relative;
}

.form-control-placeholder {
    position: absolute;
    top: 7px;
    left: 0;
    z-index: 0;
    -webkit-transition:all ease 200ms;
    transition: all ease 200ms;
    font-size: inherit;
    color: #000;
    font-weight: 800;
}

.input-control:focus + label + .form-control-placeholder,
.input-control:focus + .form-control-placeholder,
.input-control + label + .form-control-placeholder.hasVal,
.input-control + .form-control-placeholder.hasVal {
    /* font-size: 10px; */
    /*-webkit-transform: translate3d(0, -80%, 0);
    transform: translate3d(0, -80%, 0);*/
    font-size: 12px;
    top: -10px;
}

.create-floor__wrapper {
    position: relative;

    padding: 4em;
}

.create-floor__media {
    width: 100%;
    max-width: 742px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}

.create-floor__container {
    position: relative;
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.95);
    margin: 0 auto;
    top: 130px;
    padding: 40px;
    max-width: 570px;
}

.create-floor__content-container {
    width: 300px;
    margin: 0 auto;
}

.add-floor {
    margin-top: 20px;
}

.add-floor .btn {
    width: 100%;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.create-floor__container .create-floor__content-container h1 {
    font-weight: 900;
    font-size: 25px;
}

.create-floor__container i.fa-check-circle {
    position: absolute;
    top: 5px;
    right: 0;
    font-size: 25px;
}

/*====================*/

/*welcome section */
.welcome-add__floor {
    margin: 15px 0px;
}

.welcome-add__floor .btn {
    padding: 6px 24px;
}

.welcome-add__floor .btn + .btn {
    margin-left: 20px;
}

.welcome__text {
    text-align: center;
    font-weight: 400;
    font-size: 15px;
    color: #818181;
    word-spacing: 2px;
    margin: 10px 0px 30px;
}

.create-floor__container .welcome h1 {
    font-size: 30px;
    margin-top: 15px;
}

.margin15 {
    margin-top: 15px;
}

.welcome__img {
    position: absolute;
    top: -150px;
    left: -7px;
}

/***** Layout *****/

.fullWidth {
    float: left;
    width: 100% !important;
}

#layout_area {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow-x: auto;
    overflow-y: hidden;
}

#layout .typeCircle,
    /*#layout .typeCircle canvas,*/
#floor-tables-view .typeCircle {
    border-radius: 100%;
    -mox-border-radius: 100%;
    -webkit-border-radius: 100%;
}

#layout_area .btn {
    font-weight: 700;
    min-width: 150px;
    margin: 0 5px;
}

#layout_area #layout .konvajs-content {
    border: 1px #c9c9c9 solid;
    background-color: rgba(236, 236, 236, 0.46);
    float: left;
}

#tableListing ul {
    margin: 0 0 20px;
    padding: 0;
    list-style: none;
    border-top: 1px #ccc solid;
}

#tableListing ul:empty {
    display: none;
}

#tableListing ul li {
    padding: 10px 0;
    border-bottom: 1px #ccc solid;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    background-color: transparent;
}

#tableListing ul li.active {
    background-color: #f1f1f1;
    padding-left: 10px;
}

/***** Floor View *****/

.floor-tables-area {
    overflow-y: hidden;
    overflow-x: auto;
    padding-bottom: 10px;
    text-align: center;
}

#floor-tables-view {
    background-color: #fff;
    padding: 40px;
    /*border: 1px #c9c9c9 solid;
    background-color: rgba(236, 236, 236, 0.46);*/
    margin: 0 auto;
}

#floor-tables-view.typeCircle {
    -webkit-border-radius: 100%;
    -box-border-radius: 100%;
    border-radius: 100%;
}

.messageblock ul li {
    list-style-type: none;
}

.floorlayout__name {
    background: none;
    padding: 10px 0px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000 !important;
}

/**************combination rules**********************/
.combination{
    /*padding: 0px 20px;*/
}
.combination-heading,.combination-list{
    list-style-type: none;
    width: 100%;
    float: left;
    margin: 15px 0px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
}
.combination-heading{
    padding-bottom: 5px;
}
.combination-heading li{
    width: 33.3%;
    float: left;
    font-weight: 600;
    text-align: center;
    text-transform: capitalize;
}

.combination-heading li:nth-child(1) {
    width: 40%;
    text-align: left;
}

.combination-heading li:nth-child(2){
    width: 20%;
}

.combination-heading li:nth-child(3) {
    width: 10%;
}

.combination-list li{
    width: 20%;
    text-align: center;
    float: left;
    font-weight: 600;
}

.combination-list li:first-child {
    text-align: left;
    width: 40%;
}

.combination-list li:nth-child(3){
    width: 10%;
}
.combination-list li:nth-child(2) input{
    width: 48%;
    border: 0px;
    margin-left: 5px;
    border-bottom: 1px solid #000;
    text-align: center;
}
.combination-list li:last-child{
    float: right;
}
.combination-add, .combination-save{
    width: 100%;
    float: left;
    border-bottom: 4px solid #e6e6e6;
    padding-bottom: 10px;
}
.clear-float{
    width: 100%;
    float: left;
}
.suggestion-title{
    font-weight: 700;
    font-size: 16px;
    margin: 30px 0px 15px 0;
}
.suggestion-list .combination-list li:nth-child(2) input{
    border-bottom: 0px;
}
.suggestion-list .toggle__container{
    padding-top: 14px;
}
.personalized-msg {
    width: 100%;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.invite_emails_container.email_tags .multiple_emails-container input {
    border: none !important;
      color: #555;
    background-color: #fff;
    background-image: none;
}
.invite_emails_container.email_tags .multiple_emails-container{
        width: 100%;
    padding: 6px 6px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
label.sub-level_text {
    font-size: 12px;
    margin-top: -7px;
}

.invite_emails_container input.multiple_emails-input {
    padding-left: 6px !important;
}

/******************* FLOOR SIDE BAR **********************/
.side-section{
    width: 80px;
    position: fixed;
    right: 0px;
    top: 60px;
    z-index: 1;
    background-color: #f6f6f6;
    margin: 10px 0px;
    height: 100%;
    -webkit-box-shadow: -13px 2px 44px -9px rgba(0, 0, 0, 0.47);
    box-shadow: -13px 2px 44px -9px rgba(0, 0, 0, 0.47);
  }

  .side-section ul li{
    list-style: none;
    margin-top: 25px;
    font-size: 20px;
    text-align: center;
  }
  .sideBar__heading .close.icon-close{
    font-size: 20px;
  }
  .side-section .total-covers{
      background-color: #333333;
      color:#fff;
  }
  .side-section .total-covers{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100px;
    font-size: 16px;
    flex-direction: column;
    padding: 20px 0px;
  }
  .side-section ul li a{
      color: #838383;
  }
  /**********************************************/

#circleTableProperties .guest__done-btn[disabled='disabled'] a {
    pointer-events: none;
}

.input-group-addon.cancellation-value{
    background-color: transparent;
    padding: 6px;
    border: 0px;
}
.input-group-addon .cancellation-value input{
    border: 0px;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
}

.invite_emails_container label{
        padding-left: 6px;
}

/***************************block a table*****************************/
.block-tables .title{
    padding: 10px 20px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    background-color: #000;
  }
  .block-tables .time_sec1{
    padding: 18px 15px;
  }
  .block-tables .resume-booking{
    padding: 15px 20px;
  }
  .block-tables .resume-booking a{
    color:#000;
    font-size:15px;
  }
