/*Guest Book*/

.navigaton__guestbook {
    font-size: 12px;
    margin: 10px 0 15px;
    display: block;
    font-weight: 400;
}

.activeUser {
    color: #838181;
}

.guestbookDetails__body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.guestbook__detail,
.guestbook__activities {
    background-color: #fff;
}

.guestbook__detail {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%;

    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
}

.detail__header {
    padding: 0;
    /*padding: 15px 10px 0 10px;*/
    /* display: -webkit-box;
    display: -ms-flexbox; */
    display: block;
    position: relative;
    /* border-bottom: 1px solid rgba(204, 204, 204, 0.63); */
}

.guestbook__user {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; */
    /* -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; */
    width: 100%;

    padding: 10px 0;
    border-radius: 4px;
    /*position: relative;*/
}

form#basicInfoForm_first .guestName #fl_name {
    width: calc(100% - 40px);
}
.guestbook__user-info.edit__mode .guestName #fl_name {
    border-bottom: solid 1px #ff9300;
}
.guestbook__user-info.edit__mode .edit-field.hasDatepicker {
    background: transparent url('../../images/ico-cal.png') right 0 no-repeat !important;
    background-size: 22px auto !important;
    padding-right: 30px !important;
}

input.edit-field::-ms-clear,
input.form-control::-ms-clear {
    display: none !important;
}

.guestbook_dpContainer {
    /*min-width: 150px;
    max-height: 150px;
    max-width: 150px;*/
    border: 3px solid #666;
    background-color: #666;
    overflow: hidden;
    border-radius: 50%;
}

.guestbook_dpContainer img {
    float: left;
    height: auto;
    width: 100%;
    /*-o-object-fit: cover;
    object-fit: cover;*/
}
.guestbook__user-info h3 {
    /* padding-bottom: 10px; */
}
.guestbook__user-info h3,
.guestbook_userDetails h3 {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
}
#guestbookMob .guestbook__user-info p.guestaddress {
    font-size: 14px;
}
#guestbookMob .icon-add-tag {
    font-size: 16px;
}

.mb0 {
    margin-bottom: 0;
}

.guestbook_userDetails h3 {
    margin-bottom: 15px;
    margin: 15px 0px;
    font-size: 20px;
}

.guestbook__user-info p {
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 0;
}

.guestbook__user-info p .selct-picker-plain button {
    padding-bottom: 0;
}

.guestbook_userDetails .details__customer {
    margin-top: 67px;
}

.guestbook__user-info h4 {
    font-size: 14px;
    color: #838181;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 30px;
}

.guestbook__user-info h4 span {
    font-weight: 400;/*600*/
    margin-left: 10px;
}

.guestbook_userDetails {
    margin-left: 0px;
    /* -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; */
    position: relative;
    padding: 10px;
}

.guestbook_userDetails h4 {
    font-size: 14px;
    color: #838181;
    font-weight: 400;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.guestbook_userDetails h4 i {
    margin-top: 3px
}
.guestbook__user-info h4 i {
    margin-top: 2px
}
.guestbook_userDetails input::placeholder,
.guestbook__user-info input::placeholder {
    color: #dedede;
}

/* .guestbook__user .edit-field {
border-bottom: 1px dotted #fff;
} */

/* .guestbook_userDetails .edit-field {
border-bottom: 1px dotted #000;
} */

.edit-field[disabled] {
    border: none;
}

.guestbook_userDetails span {
    color: #3d3a39;
    font-weight: 600;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin-left: 10px;
}

/*GuestBook AddTag Div*/
.details__addTag {
    margin: 10px 0;
    padding: 20px;
    border-top: 1px solid rgba(204, 204, 204, 0.3);
    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}

.addTag__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* .addTag__container div {
padding: 8px 15px;

border-radius: 6px;
font-size: 16px;
font-weight: 700;
position: relative;
} */
.addTag__container .text-icon {
    position: absolute;
    top: -2px;
    right: 4px;
    font-size: 15px;
    cursor: pointer;
}

.add_tag {
    background-color: #ff8207;
    color: #fff;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 100px;
    max-width: 100px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    padding: 8px 15px;

    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}

.detailBody__header h2 {
    margin: 30px 0px 25px 0px;
    font-size: 20px;
    font-weight: 700;
}

/*Details Body*/

.detail_body {
    padding: 20px 15px;
    padding-top: 0;
    padding-left: 15px;
    border-top: 1px solid rgba(204, 204, 204, 0.3);
    margin-top: 20px;
}

.details__body-box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.details__stats-box {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -ms-flex: 1 1 60%;
    flex: 1 1 60%; */
    display: block;
    width: 100%;
}

.stats__megaBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.details__stat {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 8px 0 0 0;
    /*-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;*/
}

.details__stat:nth-child(2n + 1) {
    margin-left: 0;
    padding-right: 16px;
}

.details__stat:nth-child(2n + 2) {
    margin-right: 0;
    padding-left: 16px;
}

.guestbook__user-info .bs-caret {
    top: 6px;
}

.guestbook__container .view__details__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.stat__number {
    text-align: center;
    margin-left: 8px;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-weight: 700;
}

.details__stat > div {
    background-color: #f9f9f9;
    padding: 10px;
    color: #000;
    font-weight: 400;
    font-size: 15px;
}

.stat__title {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    padding-left: 10px !important;
    font-weight: 700 !important;
    color: #000;
}

.details__favItems-box {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;
}

.fav-list {
    max-width: 100%;
    margin: 0;
    padding: 25px 0 0;
}

.fav-list h4 {
    color: #000;
    font-size: 20px;
    font-weight: 700;
    display: inline-block;
    margin: 0 0 5px;
}

.fav-list ul {
    padding-left: 0px;
    margin: 0;
}
.fav-list ul li { 
    background: #f9f9f9;
    display: inline; 
    padding: 5px 20px; 
    font-weight: 600;
    margin: 0 10px 0 0; 
    border: none; 
}

.details__favItems-box .scroller {
    max-height: 360px;
    overflow-y: auto;
}

.details__favItems-box .scroller .mCustomScrollBox,
.tab-content .mCustomScrollBox {
    height: auto;
}

/*.tab-content .mCSB_scrollTools {
right: -5px;
}*/

.tab-content .mCSB_inside > .mCSB_container {
    margin: 0 !important;
}

.fav-list ul li {
    margin: 5px 5px 5px 0;
    color: #ff8700;
    word-wrap: break-word;
    position: relative;
}

.fav-list .text-icon-item {
    position: absolute;
    top: -10px;
    cursor: pointer;
    right: -8px;
}

.fav-list ul li span {
    color: #000;
    font-size: 14px;
}

span.item_name {
    max-width: 160px;
    display: block;
}
.guest-note__box {
    padding-top: 20px;
}
.guest-note__box h4 {
    font-size: 20px;
    color: #000;
    padding: 0 0 10px;
    display: inline-block;
    margin: 0;

}
.guest-note {
    background-color: #f9f9f9;
    position: relative;
}

.guest-note h3 {
    font-size: 14px;
    color: #3d3a39;
    padding: 20px 15px;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.guest-note textarea {
    width: 100%;
    font-weight: 400;
}

.detail_body-edit {
    /* position: absolute;
    right: 7px;
    top: 7px; */
}

#item_form > ul {
    margin-bottom: 10px;
}

.guest-note span {
    color: #ff8700;
    width: 105px;
}

/*GuestBook Activities*/

.guestbook__activities {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 30%;
    flex: 1 1 30%;

    border-radius: 4px;
    margin-left: 30px;
    text-align: center;
}

.guestbook__activities-header h3 {
    font-size: 25px;
    font-weight: 700;
    margin: 0px;
}

.activities__container {
    max-width: 400px;
    margin: 0 auto;
    overflow: auto;
    text-align: center;
    padding: 0px 0px;
    max-height: 660px;
}

.guestbook__activities-selectYear {
    max-width: 340px;
    border: 1px solid #ccc;
    margin: 30px auto;
    padding: 0px 10px;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #000;
    color: #fff;
    border-radius: 5px;
}

.select__year {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    padding-right: 15px;
    color: #9b9999;
}

.guestbook__activities-selectYear button:hover {
    color: #fff;
}

.select__year-selectBox .select2-selection__rendered {
    font-size: 16px;
    font-weight: 700;
    border: 0;
    outline: none;
}

.select__year-selectBox .select2-selection__arrow {
    right: -5px !important;
}

.select__year-selectBox .select2-selection__arrow b {
    border: solid #fff !important;
    border-width: 0px 2px 2px 0 !important;
}

select.category {
    min-width: 128px;
}

.guestName input {
    display: none;
}

.guestbook_imgDiv {
    width: 30%;
    height: 100%;
}

.guestName span {
    font-size: 20px;
    display: block;
    word-wrap: break-word;
}

.guestbook__activity-box {
    margin: 50px auto;
    position: relative;
    max-width: 340px;
}

.guestbook__activity-box:first-of-type {
    margin-top: 0;
}

.guestbook__activity_dateBox {
    /*max-width: -webkit-fit-content;
    max-width: -moz-fit-content;
    max-width: fit-content;*/
    padding: 3px 15px;
    margin: 0 auto;
    margin-bottom: -11px;
    color: #fff;
    background-color: #ff8700;
    position: relative;
    z-index: 1;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 700;
    position: relative;
    width: 70px;
}

.guestbook_detailBox-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    border: 1px solid #cccccc80;
    border-radius: 5px;
    padding: 10px 0;
    padding-top: 20px;
    -webkit-box-shadow: 2px 2px 13px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.1);
}
.guestbook__activity_detailBox {
    padding: 7px;
}
.guestbook__activity_detailBox > span {
    font-size: 10px;
    color: #c7c7c7;
    font-weight: 600;
}

.guestbook__activity_detailBox h4 {
    font-size: 14px;
    font-weight: 600;
    margin: 5px 0;
    color: #000;
}

.guestbook__activity-box:before {
    content: "";
    display: block;
    width: 1px;
    height: 60px;
    border-left: 1px solid #ccc;
    position: absolute;
    top: -50px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 0;
}

.guestbook__activity-box:first-of-type:before {
    display: none;
}

.detail__tag {
    /* border: 1px solid #ccc; */
    margin: 5px 6px;
    padding: 8px 15px;
    position: relative;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    color: #555;
    border: 1px solid #cccccc73;
    background-color: transparent;
    font-size: 16px;
}

.activities__loadMore {
    margin: 40px auto;
}

.activities__loadMore a {
    text-decoration: underline !important;
    color: #c7c7c7;
    font-size: 15px;
    font-weight: 600;
}

.tag-personnel {
    background-color: #daf991;
    border: 1px solid #c2f456;
}

.tag {
    margin: 2px;
    padding: 6px 5px;
}

.tag {
    border-radius: 5px;
    color: #000000;
    display: inline-block;
    font-weight: bold;
    margin-right: 1px;
    padding: 2px 5px;
}

.tag a span.tag-icon {
    background-position: -312px 0 !important;
    margin: 0 !important;
    width: 14px !important;
}

.tag .tag-icon {
    background-image: url("glyphicons-halflings.png");
    background-position: 0 -48px;
    background-repeat: no-repeat;
    display: inline-block;
    height: 14px;
    line-height: 14px;
    margin-top: 1px;
    vertical-align: text-top;
    width: 14px;
}

.tags_div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
#guestbookMob .guestbook__user-info p{
    margin: 10px 0;
}
.guestbook__user-info p select {
    background-color: transparent;
    border: 0px;
}

.guestbook__user-info p select option {
    background-color: #494949;
}

.guestbook__user-info p select:focus {
    outline: none;
}

form#basicInfoForm_first {
    /* padding-left: 30px; */
    padding-left: 0px;
    width: 100%;
}

.guestbook__user-info h3 .edit-field {
    text-overflow: initial;
    font-size: 20px;
    cursor: pointer;
    width: calc(100% - 50px);
}

.guestbook__user-info .select2-selection__rendered {
    padding: 0 !important;
    font-size: 14px;
}

.guestbook__user-info .select2-selection__arrow {
    top: 3px !important;
}

.guestbook__details-edit {
    min-height: 20px;
    position: absolute;
    top: 12px;
    right: 15px;
    z-index: 10;
    font-size: 16px;
}

.guestbook__details-edit button {
    background-color: transparent;
    border: 0px;
    padding-left: 5px;
}

.guestbook_userDetails-edit button {
    background-color: transparent;
    border: 0px;
    padding-left: 5px;
}

.guestbook_userDetails-edit {
    /* position: absolute;
    right: 5px;
    top: -35px; */
    float: right;
}

.detail_body-edit {
    float: right;
}

.detail_body-edit button {
    background-color: transparent;
    border: 0px;
    padding: 8px;
    padding-right: 0;
    padding-left: 10px;
    /*color: #ccc;*/
}

.guestbook__activities-container {
    padding: 0 0 20px;
}

.user__info .edit-field:focus {
    outline: none;
}

.ui-widget.ui-widget-content {
    overflow-x: hidden;
}

.guestbook__activities-activity {
    padding: 0px 10px;
}

#reservationDetailModal .alert-danger {
    background-image: none !important;
    background-color: transparent !important;
    border: 0px !important;
}

#item_form {
    text-align: left;
}

#tag_form {
    text-align: left;
    max-width: 250px;
}

#item_form #guest_items,
#tag_form #guest_tags {
    width: 100%;
}

#guest_tags {
    margin-top: 10px;
}

.select2-selection__rendered[disabled]
+ .select2-container--default
.select2-selection--single
.select2-selection__arrow {
    display: none;
}

/* Guestbook Table */
.container__custom-guestbook {
    font-family: "Lato", "sans-serif";
    margin: 45px;
}

.guestbook__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.guestbook__sec1 {
    float: left;
}

html.win.safari5 .guestbook__sec1 {
    float: none;
}

.guestbook__sec2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

    float: right;
}

.guestbook__btn .btn {
    padding: 4px 60px;
    color: #fff;
    font-weight: 700;
}

.guestbook__btn .btn:hover,
.guestbook__btn .btn:focus {
    color: #fff;
}

/*  guestbook table  */
.guestbook__container,
.server__container,
.archive_reservation > div:nth-child(1) {
    margin-top: 20px;
    background-color: #fff;
    /*overflow-x: auto;*/
    padding: 0px !important;
    border-radius: 5px 5px 0px 0px;
}

.guestbook__container > div.guestbook__cutomer-details-wrapper:last-child > div:nth-child(1) {
    border-bottom: 0;
}

.guestbook__table-header,
.server__table-header {
    /*  display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;*/
    background-color: #3d3a39;
    color: #fff;
    padding: 15px 50px;
    border-radius: 5px 5px 0px 0px;
    /*font-size: 16px;*/
    font-weight: 500;
    overflow-x: auto;
    /*min-width: 1360px;*/
}

/*guest book customer details */

.guestbook__cutomer-details-wrapper,
.archive_reservation > div:nth-child(1) > div > div:nth-child(2) {
    padding: 0 50px;
    /*min-width: 1360px;*/
    overflow-x: hidden;
}

.giftcard-listing-page .guestbook__cutomer-details-wrapper:hover,
.giftcard-listing-page .guestbook__cutomer-details-wrapper:active,
    /*.order-page .guestbook__cutomer-details-wrapper:hover,
    .order-page .guestbook__cutomer-details-wrapper:active,*/
.merchandise-order-page .guestbook__cutomer-details-wrapper:hover,
.merchandise-order-page .guestbook__cutomer-details-wrapper:active {
    background-color: #f1f1f1;
}

.giftcard-listing-page .guestbook__cutomer-details-wrapper:focus,
    /*.order-page .guestbook__cutomer-details-wrapper:focus,*/
.merchandise-order-page .guestbook__cutomer-details-wrapper:focus {
    background-color: #ffffff;
}

/*.guestbook__container > div:nth-child(2) {
padding-top: 20px;
}*/

.guestbook__customer-details-content {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;*/
    font-weight: 400;
    padding: 15px 0;
    border-bottom: 1px solid #ebebeb;
    align-items: center;
    /*align-items: top;*/
}

.guestbook__customer-details-content > div:last-child {
    /* display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;*/
}

/*customer name*/
.customer__name {
    position: relative;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.1;
    color: #ff9300;
    /*padding-bottom: 30px;*/
}

/*new customer*/

.customer__new:after,
.customer__repeat:after,
.customer__vip:after {
    /*min-width: 60px;
    border-radius: 5px;
    line-height: 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 12px 20px;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
    !*position: absolute;*!
    margin-top: 5px;
    margin-bottom: 5px;
*/
    min-width: 40px;
    border-radius: 5px;
    line-height: 0;
    color: #fff;
    font-size: 10px;
    text-align: center;
    padding: 8px 10px 9px;
    font-weight: 400;
    font-style: italic;
    display: inline-block;
    /* position: absolute; */
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 1px;
}

.customer__new:after {
    content: "New" !important;
    background: #3f3f3f;
}

.customer__repeat:after {
    content: "Repeat" !important;
    background: #3f3f3f;
}

.customer__vip:after {
    content: "VIP" !important;
    background-color: #ff8700;
}

.customer__email-txt {
    color: #9d9d9d;
    word-wrap: break-word;
}

.customer-order-details {
    font-size: 14px;
    font-weight: 700;
    /*color:#9d9d9d;*/
}

.item-price {
    color: #9d9d9d;
    font-weight: 700;
}

.activity-time,
.customer-visit {
    color: #9d9d9d;
}

/*guestbook button for view details */
.guest_btn {
    text-align: right;
}

.guest_btn .btn {
    min-width: 80px;
}
#myTable2 .guest_btn .btn {
    min-width: 34px;
}

/* .guest_btn a,
.guest_btn a:hover,
.guest_btn a:focus,
.guest_btn .btn {
color: #fff;
padding: 6px 10px;
font-weight: 700;
} */

.guestbook_userDetails-edit .fa {
    color: #ccc;
}

.user__info .edit-field {
    max-width: 100%;
    text-overflow: initial;
    color: #333;
}

.user__info input.edit-field {
    /*width: 100%;*/
    line-height: 20px;
}

.guestbook__table-header div,
.server__table-header div {
    white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    overflow: visible !important;
}

.edit__mode .edit-field {
    color: #ff9300;
}

#birthday.edit-field,
#anniversary.edit-field,
#mobile.edit-field,
#address.edit-field,
#email.edit-field {
    border-bottom: 1px transparent solid;
}

#address.edit-field {

}

#mobile.edit-field,
#email.edit-field {
    width: 100%;
}

.edit__mode #birthday,
.edit__mode #anniversary,
.edit__mode #mobile,
.edit__mode #address,
.edit__mode #email {
    border-bottom-color: #ff9300;
}
.edit__mode #birthday,
.edit__mode #anniversary,
.edit__mode #mobile,
.edit__mode #address,
.edit__mode #email {
    width: 100%!important;
    max-width: auto!important;
}
.tab-sec {
    padding: 0 5px;
}

/*------------------------------*/

/* search icon */
.search-icon {
    margin-right: 20px;
    position: relative;
    width: 300px;
    border: 1px solid #3d3a39;
    background-color: transparent;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    padding: 10px;
}

.search-icon input[type="text"] {
    border: 0px;
    float: left;
    width: 100%;
    background-color: transparent;
    padding-left: 25px;
}

.search-icon .fa {
    position: absolute;
    top: 13px;
    left: 12px;
    pointer-events: none;
}

.search-icon button {
    border-radius: 2px;
    bottom: 4px;
    top: 4px;
    right: 4px;
    float: left;
    position: absolute;
    padding: 4px 11px;
    background-color: #ff8700;
    border: 0px;
    border-left: none;
    cursor: pointer;
    color: #fff;
}

#guest_tags_div .btn,
#guest_items_div .btn {
    font-weight: 700;
    font-size: 16px;
    padding: 6px 24px;
}

/* guestbook tab section styling */
.tab-menu {
    display: block;
    list-style: none;
    padding: 0px;
    text-align: center;

    border-bottom: 1px solid rgba(204, 204, 204, 0.3);
}

.tab-menu li {
    display: inline-block;
    padding: 14px 0 11px;
    border-bottom: 3px solid transparent;
}

.tab-menu li a {
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    color: #dcd8d7;
}

/* .tab-menu li.active {
border-bottom-color: #ff9a00;
} */

.tab-menu li.active a {
    color: #333333;
}

/*========================*/
.fav-list .item_ul li {
    float: left;
    /* clear: both; */
    /*width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;*/
}

.details__stat:nth-child(2n + 2) {
    margin-right: 0;
}

/* filter css */
.filter__content {
    padding: 0px 30px;
    overflow: hidden;
    margin-top: 15px;
}

.filter__content .filter {
    float: left;
    font-size: 22px;
    color: #000;
    font-weight: 700;
}

.filter__content .remove-filter {
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0px;
}

.filter__content .remove-filter a {
    color: #ff8207;
}

.separator {
    border-bottom: 2px solid #e6e6e6;
}

.panel-group .filter-accordion {
    border: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.panel-group .filter-accordion .panel-heading {
    padding: 0px;
}

.panel-group .filter-accordion .panel-heading .panel-title {
    font-weight: 500;
    font-size: 14px;
    padding: 15px 15px 15px 30px;
    background-color: #fff;
    color: #000;
    position: relative;
    cursor: pointer;
}

.panel-group .filter-accordion .panel-heading .panel-title:after {
    content: "";
    position: absolute;
    top: 20px;
    right: 35px;
    width: 0;
    height: 0;
    border: solid #000;
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

.panel-group .filter-accordion .panel-heading .panel-title.collapsed:after {
    top: 17px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

#filterModal .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: 0px;
}

.filter-accordion .panel-body {
    padding: 10px 30px 20px;
}

.filter-accordion .Category,
.filter-accordion .Special-Occasion {
    display: flex;
    flex-direction: row;
}

.filter-accordion .Category .tbl-radio-btn {
    width: 25%;
}

.filter-accordion .Special-Occasion .tbl-radio-btn {
    width: 50%;
}

.circle {
    border: 2px solid #ff8207;
    border-radius: 50%;
    padding: 2px 5px;
    width: 25px;
    height: 25px;
}

#filterModal .circle .fa-plus {
    color: #ff8207;
}

.panel-body .add-tags {
    font-size: 15px;
    font-weight: 700;
    color: #838181;
}

#filterModal .slidecontainer .slider {
    -webkit-appearance: none;

    height: 4px;
    border-radius: 5px;
    background: #ff9c00;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
}

#filterModal .slidecontainer .slider:hover {
    opacity: 1;
}

#filterModal .slidecontainer .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3f3f3f;
    cursor: pointer;
    border: 3px solid #ccc;
}

#filterModal .slidecontainer .slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #3f3f3f;
    cursor: pointer;
    border: 3px solid #ccc;
}

#filterModal #accordion.panel-group {
    height: auto;
}

.filter__btn .btn {
    /* width: 100%; */
    font-weight: 700;
    padding: 10px 12px;
}

.Special-Occasion label.custom_checkbox {
    font-weight: 700;
    width: 50%;
}

.Special-Occasion .control_indicator {
    left: 0;
    border: 2px solid #ff8d00;
}

.sortby {
    padding: 10px 30px;
    font-weight: 500;
    color: #ccc;
    border-bottom: 3px solid #e6e6e6;
    border-top: 1px solid #e6e6e6;
}

.sortby .selct-picker-plain button {
    padding: 0px 20px 0px 0px;
    font-size: 14px;
    font-weight: 500;
}

/*slider*/
.slidecontainer .ui-widget.ui-widget-content {
    border: 1px solid transparent;
    background-color: #ececeb;
}

.slidecontainer .ui-slider-horizontal {
    height: 4px;
}

.slidecontainer .ui-slider-horizontal .ui-slider-handle {
    top: -.7em;
}

.slidecontainer .ui-slider .ui-slider-handle {
    border-radius: 50%;
    width: 25px;
    height: 25px;
    line-height: 60px;
    text-align: center;
    color: #ff8207;
    font-weight: 500;
    font-size: 14px;
}

.slidecontainer .ui-widget-header {
    background: #ff9c00;
}

.slidecontainer .ui-state-default,
.slidecontainer .ui-widget-content .ui-state-default,
.slidecontainer .ui-widget-header .ui-state-default,
.slidecontainer .ui-button,
.slidecontainer html .ui-button.ui-state-disabled:hover,
.slidecontainer html .ui-button.ui-state-disabled:active {
    border: 4px solid #ececeb;
    background: #3f3f3f;
    outline: none;
}

.slidecontainer .flterslider {
    display: flex;
    justify-content: space-between;
}

.slidecontainer .ui-widget.ui-widget-content {
    overflow-x: visible;
}

.flterslider .minValue,
.flterslider .maxValue {
    margin-top: 15px;
    font-weight: 700;
    font-size: 14px;
    color: #000;
}

#filterModal .tbl-radio-btn input[type="radio"] + label,
.Special-Occasion label.custom_checkbox {
    font-weight: 500;
}

#filterModal .tbl-radio-btn input[type="radio"]:checked + label
    /* .Special-Occasion .custom_checkbox input[type="checkbox"]:checked ~ .control_indicator + label */
{
    color: #ff8207;
}

.filter__tag ul {
    width: 100%;
    float: left;
}

.filter__tag ul li {
    list-style-type: none;
    float: left;
    border: 1px solid #838181;
    padding: 6px 15px;
    margin: 0px 5px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 700;
    position: relative;
    color: #838181;
}

.filter__tag ul li .text-icon {
    position: absolute;
    top: -2px;
    right: 4px;
    font-size: 15px;
    cursor: pointer;
}

#filterModal .slidecontainer input {
    border: 0;
    color: #f6931f;
    font-weight: bold;
    margin-top: 13px;
}

#filterModal .Category label.custom_checkbox {
    padding-left: 40px;
    font-weight: 500;
    margin-right: 20px;
}

#filterModal .control_indicator {
    left: 5px;
}

.year .bootstrap-select .filter-option,
.category .bootstrap-select .filter-option {
    /*color: #fff;*/
    font-weight: 700;
}

.guestbook__user-info .selct-picker-plain .dropdown-toggle .bs-caret .caret:before
{
    /*border: solid #fff;*/
    border-width: 0 1px 1px 0;
}

.guestbook__activities-selectYear .selct-picker-plain .dropdown-toggle .bs-caret .caret:before {
    border: solid #fff;
    border-width: 0 1px 1px 0;
}

/*
.guestbook__table-header > div,
.guestbook__customer-details-content > div {
flex:1
}*/
.black {
    color: #3d3a39;
}

.guest-book-prod-sepration {
    border: 1px solid #ccc;
    width: 100%;
    border-left-width: 0px;
    border-right-width: 0px;
    padding: 2px 0;
    margin: 6px 0;
}

.guest-book-prod-sepration .guestbook__activity_detailBox > span {
    font-size: 13px;
    color: #c7c7c7;
    font-weight: 500;
}

.guest-book-prod-sepration .flex-justify-space-arround {
    align-items: center;
}

.black-text-color {
    color: #000;
}

.site-theme-color {
    color: #ff9700 !important;
}

.guest-book-prod-sepration .guestbook__activity_detailBox h4 {
    font-size: 13px;
}

#filterModal #accordion.panel-group {
    min-height: 100%;;
}

.row.text-left.edit-res-pop > div {
    margin: 0px 0 15px;
}

.pull-right {
    float: right;
}

#pdf_pop .modal-dialog {
    width: 320px !important;
}

div#ui-datepicker-div {
    background: #fff;
}

#pdf_pop .modal-body {
    padding: 20px 0;
}

/* add tag */
.user__info .selct-picker-plain button.dropdown-toggle {
    margin-top: 0!important;
    padding-bottom: 0!important;
}
.user__info .selct-picker-plain .btn-group .filter-option {
    font-size: 14px!important;
    font-weight: 400!important;
    margin-left: 0!important;
}
/* add tag */
h3.guestName span {
    display: inline;
}
h3.guestName b {
    font-size: 15px;
    font-weight: 700;
    display: inline-block;
    padding-left: 5px;
}
h3.guestName b div {
    display: inline;
}
.gustbtnmob {
    margin-bottom: 10px;
}
.datepicker_style {
    width: 75%;
    padding: 6px 16px 6px 0 !important;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid;
    border-color: #ccc;
    font-size: 13px !important;
    color: #ff8700;
}

#pdf_pop .modal-title {
    font-size: 15px;
}

i.fa-calendar.position {
    position: absolute;
    right: 6px;
    top: 9px;
    font-size: 13px !important;
    color: #ff8700;
    pointer-events: none;
}

#filterModal .bootstrap-select.btn-group .dropdown-menu {
    position: relative;
}

#basicInfoForm_first {

}

/* .btn:hover:focus, .btn:active:focus {
    color: #333 !important;
} */

.user__info .selct-picker-plain .btn-group.bootstrap-select {
    height: 22px;
}
table.dataTable.cell-border tbody tr td:first-child {
    outline: none;
}
.guestbook__user-info input {
    font-family: 'Lato', Arial, Helvetica,sans-serif!important;
}
.close.fa.fa-close { color: #ff8700; text-shadow: none; }

@media only screen and (min-device-width : 992px) and (max-device-width : 1024px)  {
    .details__stat > div { padding: 15px; }
}
@media only screen and (max-width : 767px) {
    #birthday.edit-field, #anniversary,.edit-field {
        width: 200px;
    }
    .details__stat { padding-top: 0; }
    .details__stat:nth-child(2n + 2) { padding-left: 0; }
    .details__stat:nth-child(2n + 1) { padding-right: 0; }
    .activities__container,
    .guestbook__activities-activity{
        padding: 0;
    }
    .fav-list h4,
    .guest-note__box h4{
        font-size: 18px;
    }
    .detail__header {
        padding-top:0;
    }
    #guestbookMob .guestbook__user-info h4 {
        border-bottom: solid 1px #ddd;
        margin-bottom: 15px;
    }
    #guestbookMob .col-xs-12:last-child h4 {
        border-bottom: none;
        margin-bottom: 0;
    }

    .gustbtnmob {
        float: right;
        position: relative;
        top: -50px;
        margin-bottom: -50px;
        z-index: 3;
    }
    /* .closeDiv.gustbok { padding: 0!important; } */
    .closeDiv a {
        position: fixed;
        top: 40px;
        right: 20px;
    }
    .modal-header.gustbok {
        position: fixed;
        top: -40px;
        right: 0;
    }
    #myTable2 tr td:first-child {
        padding: 0!important;
    }
    #myTable2 tr td:first-child span {
        display: block;
        padding: 10px 10px 10px 0;
    }
}