.card {
  background-color: #fff;
  padding: 20px 20px;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
  margin: 30px 0px;
}
.card-header {
  text-align: center;
  font-size: 25px;
  margin-bottom: 20px;
  color: #ff9300;
}
.card-body .btn {
  padding: 6px 24px;
}

.card-body .btn-link,
.card-body .btn-link:hover,
.card-body .btn-link:focus {
  color: #ff9500;
}
label.custom_checkbox {
  padding-left: 30px;
  font-weight: 400;
}

.custom_checkbox.readonly {
  pointer-events: none;
}

.custom_checkbox input[type="checkbox"]:checked ~ .control_indicator:after,
.custom_radio input[type="radio"]:checked ~ .control_indicator:after {
  content: "";
  display: block;
  height: 100%;
  background-image: url('../../images/tick.svg');
  background-size: 14px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}
.custom_radio input[type="radio"]:checked ~ .control_indicator:after {
  background-image: url('../../images/circle.png');
}

.control_indicator {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 12px;
  top: 0;
  cursor: pointer;
  border: 1px solid #ff8d00;
  background: 0 0;
  border-radius: 0;
}

.card-body .btn-link {
  border-radius: 4px;
}
.card-body .send-link {
  margin-top: 10px;
}
