/*Navbar*/

.navbar-laravel {
  background: #ffffff;
  padding: 1rem;
  z-index: 1;
  position: relative;
  min-height: 73px;
  /*position: fixed;*/
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-laravel + .nav__spacer {
  min-height: 73px;
}

.navbar-laravel .navbar-head {
  padding-left:20px;
  padding-right:20px;
}

.navbar-content {
  list-style-type: none;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dashboard {
  font-size: 18px;
  font-weight: 300;
  color: #4b4b4b;
  font-family: "Lato", "sans-serif";
  margin-left: 5px;
}

.user__name {
  font-size: 18px;
  font-family: "Lato", "sans-serif";
  font-weight: 700;
  color: #4b4b4b;
}

.navContent-left,
.navContent-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color:#4b4b4b;
  font-size: 15px;
  font-family: "Lato", "sans-serif";
}

/* .btn-group .dropdown-toggle{
  padding-bottom: 0;
} */
.btn-group .filter-option{
  font-size: 15px;
}
.navContent-right a,
.navContent-right a:hover,
.navContent-right a:focus {
  font-weight: 400;
  color: #4b4b4b;
  position: relative;
}

/* .navContent-right-subcat a:after{
  content:'|';
  padding: 0 15px;
}
.navContent-right-subcat a.last-noborder:after{
  content:'';
  padding: 0;
} */

.user__name:hover {
  color: inherit;
  text-decoration: none;
}

.notification__count {
  background-color: #a2cd01;
  border-radius: 10px;
  font-size: 10px;
  position: absolute;
  right: -14px;
  top: -10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  min-width: 16px;
  padding-left: 3px;
  padding-right: 3px;
  height: 16px;
  line-height: 1.5;
}

.navContent-right li .nav-link {
  display: none;
}

.service-alert {
  text-align: center;
  position: relative;
  background: #f1726b;
  margin: 0 -10px 0;
  transform: translateY(10px);
  padding: 12px 30px;
  padding-right: 160px;
  color: #fff;
  font-size: 16px;
  text-indent: 130px;
  font-weight: normal !important;
  font-family: "Lato", "sans-serif";
}

.btn__primary.btn-resume-service.dashboard {
  background-color: #fff;
  font-weight: 600!important;
  color: #f1726b !important;
  position: absolute;
  right: 20px;
  top: 6px;
  text-indent: initial;
}
.btn__primary.btn-resume-service.dashboard:focus,
.btn__primary.btn-resume-service.dashboard:hover{
  color: #f1726b !important;
}