
.active__order {
    color: #ff9700;
    font-weight: 900;
}

.button__container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.button__container button {
    margin: 10px !important;
}

.type_of_order {
    /*font-weight: 900;*/
    text-transform: capitalize;
}

.active__order__container {
    background: #fff;
    margin: 40px 0;
}

.order__row {
    display: flex;
    flex-direction: row !important;
    border: none !important;
    padding: 0 !important;
}

.filter-by-status label {
    font-weight: normal;
    color: #999;
}

.filter-by-status,
.filter-by-status .bootstrap-select .btn.dropdown-toggle {
    color: #000 !important;
    font-weight: 600;
    width: 130px;
}

.giftcard-detail-page .product__data__row,
.giftcard-detail-page .special__instructions__section {
    border-top: 1px dashed #ebebeb
}

.giftcard-detail-page .special__instructions__text {
}

.order-page .guestbook__cutomer-details-wrapper > div {
    background-color: #ececeb;
    margin-bottom: 2px;
    border-bottom: 0;
}

.order-page .guestbook__cutomer-details-wrapper:last-child > div {
    margin-bottom: 0;
}

.order-page .guestbook__cutomer-details-wrapper > div.new-order-row,
.order-page .new-order-row .icon-emptyCircle {
    background-color: #ffeede;
}

.order-page .guestbook__cutomer-details-wrapper > div.rejected-order-row,
.order-page .guestbook__cutomer-details-wrapper > div.refunded-order-row {
    background-color: #fef6f4;
}

.order-page .search__manage-order .form_field__container > div.guestbook__sec2 {
    width: 330px;
}

.order-page .search__manage-order .form_field__container > div.guestbook__sec2 #key_search {
    max-width: calc(100% - 70px);
}

.order-page .search-icon button {
    -webkit-border-radius: 20px;
    border-radius: 20px;
}

.order-page .new-order-icon {
    position: relative;
}

.order-page .new-order-icon i {
    font-size: 65px;
    color: #a2cd01;
    position: relative;
    z-index: 0;
}

.order-page .new-order-icon span {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 20px;
    margin: auto;
    width: 100%;
    min-width: 65px;
    z-index: 1;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
}

.order-page .icon-status i {
    font-size: 40px;
}

.order-page .order-timer {
    width: 60px;
    height: 60px;
    border: 8px #a2cd01 solid;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    line-height: 15px;
    margin: 0 auto;
}

.order-page .order-timer.red-timer {
    border-color: #f00;
}

.order-page .carryout-order-status,
.order-page .delivery-order-status {
    z-index: 0;
}

.order-page .carryout-order-status ul li,
.order-page .delivery-order-status ul li {
    width: 33%;
    color: #9a9a9a;
    position: relative;
    overflow: visible;
    justify-content: space-between;
}

.order-page .carryout-order-status ul li:after,
.order-page .delivery-order-status ul li:after {
    content: "";
    position: absolute;
    top: 15px;
    right: -33%;
    width: 65%;
    z-index: 0;
    border-bottom: 1px #9a9a9a solid;
}

.order-page .delivery-order-status ul li:after {
    width: 85%;
    right: -55%;
}

.order-page .delivery-order-status ul li:last-child:after {
    right: auto;
    left: -55%;
}

.order-page .carryout-order-status ul li:last-child:after,
.order-page .delivery-order-status ul li.active:only-of-type:after {
    content: none;
}

.order-page .carryout-order-status ul li > span:nth-child(1),
.order-page .delivery-order-status ul li > span:nth-child(1) {
    margin-bottom: 8px;
}

.order-page .carryout-order-status ul li > span:nth-child(2),
.order-page .delivery-order-status ul li > span:nth-child(2) {
    font-size: 12px;
}

.order-page .carryout-order-status ul li.active,
.order-page .delivery-order-status ul li.active {
    color: #a2cd01;
}

.order-page .carryout-order-status ul li.active > span:first-child,
.order-page .delivery-order-status ul li.active > span:first-child {
    font-size: 30px;
    height: 30px;
}

.order-page .carryout-order-status ul li.active:after {
    border-bottom-color: #a2cd01;
}

.order-page .delivery-order-status ul li.active:first-child:after,
.order-page .delivery-order-status ul li.active + li:last-child:after {
    border-bottom-color: #a2cd01;
}

.icon-emptyCircle {
    width: 20px;
    height: 20px;
    margin: 5px auto 0;
    background-color: #ececeb;
    border: 2px #9a9a9a solid;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    position: relative;
    z-index: 1;
}

.refunded-order-row .icon-emptyCircle,
.rejected-order-row .icon-emptyCircle {
    background-color: #fef6f4;
}

.order-page .scheduled-order-status .icon-confirmed {
    font-size: 30px;
    color: #a2cd01;
}

.logs-listing-page > div:nth-child(2) > div a {
    min-width: 140px;
}

.order_items_header {
    background-color: #f2f2f2;
    padding: 15px 0;
}

.order_items_header > div {
    color: #3a3a3a;
}

.payment_section {
    background-color: #f2f2f2;
}

.payment_section {
    color: #2a2c30
}

/** dashborad css media query ends**/
@media (min-width: 1024px) and (orientation: landscape) {

    .min-w1 {
        min-width: 185px;
    }

    .min-w2 {
        min-width: 75px;
    }

    .min-w3 {
        min-width: 70px;
    }

    .min-w4 {
        min-width: 160px;
    }

    .min-w5 {
        min-width: 95px;
    }

}

@media (min-width: 1024px) and (orientation: portrait) {

    .min-w1 {
        min-width: 185px;
    }

    .min-w2 {
        min-width: 75px;
    }

    .min-w3 {
        min-width: 70px;
    }

    .min-w4 {
        min-width: 160px;
    }

    .min-w5 {
        min-width: 95px;
    }

}

@media (min-width: 767px) and (max-width: 1024px) and (orientation: landscape) {

    .min-w1 {
        min-width: 225px;
    }

    .min-w2 {
        min-width: 75px;
    }

    .min-w3 {
        min-width: 70px;
    }

    .min-w4 {
        min-width: 160px;
    }

    .min-w5 {
        min-width: 95px;
    }

}

@media (min-width: 767px) and (max-width: 1024px) and (orientation: portrait) {

    .min-w1 {
        min-width: 225px;
    }

    .min-w2 {
        min-width: 75px;
    }

    .min-w3 {
        min-width: 70px;
    }

    .min-w4 {
        min-width: 160px;
    }

    .min-w5 {
        min-width: 95px;
    }

}

.dashBoard__wrapper .order__row {
    font-size: 13px !important;
}

/** dashborad css media query ends**/

.active__order__container .guestbook__table-header {
    padding: 15px 0 !important;
}

.reservation_det button {
    margin: 0 10px;
    min-width: 140px;
    /*text-transform: uppercase;*/
}

.order__row .col-md-12 {
    padding: 0 !important;

}

.btn .fa {
    margin-right: 5px !important;
}

.date-time-stamp {
    display: inline-block;
    margin: 0 15px;
}

.active__order__container .guestbook__table-header,
.active__order__container .rest__row {
    min-width: unset !important;
}

/*.order__row{
    cursor: pointer;
}*/

.order__row.no__pointer {
    cursor: default;
}

.active__order__container .btn {
    padding: 6px 24px;
    font-weight: 700;
}

.order__wrapper .reservation__atto a {
    margin: 15px;
}

.orderStatus {
    background-color: #c82333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px auto 0;
    display: block;
    min-width: 80px;
    max-width: 80px;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
}

.detail__ans {
    display: flex;
}

.detail__ans b {
    margin: 0 !important;
}

.detail__ans > span, .detail__ans .custom__od {
    /*margin-left: 15px;
    word-break: break-all;*/
    min-width: 160px;
    display: inline-block;
}

/*Order Details*/

.order-detail-page {
    /*margin-top: 40px;*/
    /*background-color: #fff;*/
    padding: 0 0 40px;
}

.order-detail-page .od__details {
    background-color: #fff;
    padding: 10px 15px;
}

.order-detail-page .special__otherInformation {
    background-color: transparent;
    border-bottom: 1px solid #ebebeb
}

@media (max-width: 992px) and (orientation: portrait) {
    .order-detail-page {
        padding: 20px;
    }
}

@media (max-width: 1024px) {
    .order-detail-page {
        padding: 40px 0px;
    }
}

.custom-width {
    /*max-width: 450px;*/
    margin: 0 auto;
}

.custom-width .row {
    padding: 5px 0;
}

.custom-width span.col-md-5.col-xs-5 {
    font-weight: 700;
    font-size: 14px;
}

.custom-width span.col-md-7.col-xs-7._pl0 {
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.order__detail_row {
    text-align: center;
}

.o-head {
    font-size: 16px;
    margin: 10px 0;
    color: #000;
}

.food__row {
    margin-bottom: 15px;
}

.food__row:last-of-type {
    margin-bottom: 0px;
}

.title_order_des {
    /*font-weight: 700;*/
    color: #aaa;
    margin-bottom: 5px;
    /* padding-bottom: 10px;
    border-bottom: 1px solid #ebebeb; */
}

.add__onItem {
    color: #a0a0a0;
    /* font-style: italic; */
}

.order__item-container .o-head {
    /* border-bottom: 1px solid #ebebeb;*/
    padding-bottom: 10px;
}

.food_order_item {
    font-weight: 700;
    color: #000;
    /*text-transform: capitalize;*/
}

.item_addons {
    font-size: 13px;
    color: #a3a3a3;
}

.item_addons b {
    color: #000000;
}

/** all child div inside food_order_item class on order page**/

.panel_order_subtotal {
    margin-top: 10px;
    padding: 10px 0;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
}

.order-detail-page .panel_order_subtotal {
    border-bottom: none;
}

.text-bold {
    font-weight: 900;
}

.text__wrap {
    word-wrap: break-word;
}

.modal__head {
    margin-bottom: 20px;
}

.search__manage-order .form_field__container {
    display: flex;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.search__manage-order .form_field__container > div {
    margin: 0 5px;
}

.search__manage-order .form_field__container > div.guestbook__sec2 {
    width: 300px;
}

.search__manage-order .form_field__container > div .search-icon {
    /*width: 250px;*/
}

.search__manage-order .input__field {
    position: relative;
}

.search__manage-order select, .addition__functionality select {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ebebeb;
    padding: 5px 0 7px;
    /*font-size: 12px;*/
    background-color: transparent;
    font-weight: 700;
    box-shadow: none !important;
}

.search__manage-order .form_field__container {
    padding: 0px !important;
}

.manage__row {
    display: flex;
    align-items: center;
}

.manageOrder__ctaBox > div {
    width: 100%;
    margin: 10px 0;
    text-align: center;
}

.manageOrder__ctaBox > div a {
    width: 100%;
}

.rest__row {
    align-items: center;
}

.restName__add {
    float: right;
    margin: auto 5px;
    order: 1;
}

/*button container form fields*/

.blockBtn__container {
    display: flex !important;
    align-items: center;
}

.blockBtn__container button {
    margin: 0 5px;
}

.guestbook__customer-details-content > div {
    /*word-break: break-all;*/
}

.input__field input:focus + label {
    top: -10px;
    font-size: 12px;
}

.change-time-popup .b_date_time_party div:nth-child(1) .fa {
    position: absolute;
    top: 10px;
    right: 0;
}

.change-time-popup .b_date_time_party .input__fullWidth > label {
    font-size: 14px;
}

.change-time-popup .b_date_time_party div:nth-child(1) .input__fullWidth > label.datepicker-label-width {
    width: calc(100% - 210px) !important;
}

.change-time-popup .b_date_time_party div:nth-child(1) .input__fullWidth > div.datepicker-calendar-width {
    float: right;
    width: 210px !important;
}

.change-time-popup .b_date_time_party div:nth-child(2) .input__fullWidth > div.datepicker-calendar-width {
    width: 100px !important;
}

.order-page .disabled-services,
.order-page .enabled-services {
    height: calc(100vh - 250px);
}

.order-page .enabled-services {
    border-top: 1px #ccc solid;
}

.order-page .disabled-services [class*="icon-"],
.order-page .enabled-services [class*="icon-"] {
    font-size: 100px;
}

.order-page .order-label {
    position: absolute;
    top: 5px;
    right: 5px;
    height: 25px;
    line-height: 23px;
    z-index: 1;
    float: right;
    text-align: right;
    width: 100%;
    font-size: 10px;
}

.order-page .order-label.active {
    width: 80px;
    color: #fff;
    background-color: #91b800;
    text-align: center;
}

.order-page .order-label.active:after,
.order-page .order-label.active:before {
    position: absolute;
    top: 0;
    content: "";
    height: 30px;
    background-repeat: no-repeat;
}

.order-page .order-label.active:after {
    background-image: url("../../images/order-label-left.png");
    width: 10px;
    left: -10px;
}

.order-page .order-label.active:before {
    background-image: url("../../images/order-label-right.png");
    width: 5px;
    right: -5px;
}

.services-alert {
    background-color: #f1726b;
    color: #fff;
}

.services-alert .btn-resume-service.dashboard {
    top: 0;
    right: 0;
}

#requestTimer .modal-header {
    padding: 0;
    border: 0
}

.menu-edit-links{
    color: #0679ea;
      font-size: 16px;
  }
  .menu-edit-section .menu-edit-text{
    padding-left: 10px;
  }

@media (min-width: 1200px) {
    .order-summary-section {
        /*padding-right: 15px !important;*/
    }
}

@media (max-width: 1199px) {

    .tablet-box-shadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
        background-color: #fff;
    }

    .manage__order-atto {
        flex-wrap: wrap;
    }

    .manage__order-atto .search__manage-order {
        margin-top: 30px;
        width: 100%;
    }

    .manage__order-atto .search__manage-order .form_field__container {
        justify-content: center;
    }

    /* .od__details {
         width: 100% !important;
         margin: 0px auto;
     }
 */
    .print__button {
        padding-right: 0px !important;
    }

    .border-box {
        border: 1px solid #ebebeb;
    }

    html .min-width-180.min-sm-width-150 {
        min-width: 120px;
    }

    .detail__ans > span {
        font-weight: 800;
    }

}

@media (max-width: 1199px ) and (orientation: portrait) {

    .order-text-align {
        text-align: left;
    }

}

@media (min-width: 1200px ) and (orientation: landscape) {

    .od__container {
        display: flex;
    }

    .od__details {
        border: 1px solid #ebebeb;
        margin: 0 15px;
        /*min-width: 420px;*/
    }

    .order-text-align {
        text-align: right;
    }

    .order-title {
        text-align: left;
    }

}

@media (min-width: 1200px) {

    .order-text-align {
        text-align: right;
    }

    .desktop-box-shadow {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.05);
    }

}

@media (min-width: 991px) {

    /*.type_of_order {
        text-align: center;
    }

    .quantity_of_order {
        text-align: center;
    }

    .manage__container, .rest__row {
        min-width: 1140px;
    }*/

}

@media (max-width: 991px) {

    .restName__add {
        order: unset;
    }

    .manage__row {
        display: block;
    }

    .reservation_det button {
        margin: 10px;
    }

    .custom-width span.col-md-7.col-xs-7._pl0 {
        white-space: nowrap;
    }

    .custom-width .row {
        padding: 10px 0;
    }

    .order-title {
        padding: 15px 0px 0px 0px;
    }
}

@media print {

    body {
        margin: 0 5px !important;
        size: auto;
    }

    .od__details {
        margin: 0 auto;
        width: 80%;
        padding: 0;
        border: none;
        border-bottom: 1px solid #ccc;
    }

    .order-detail-page {
        padding: 0;
        margin: 0 auto;
        width: 60%;
        padding: 0;
        overflow: hidden !important;
        border: 1px solid #ccc;
        padding: 0;
    }

    .special__otherInformation {
        padding: 5px 20px;
        margin: 5px 0;
    }

    .title_order_des {
        margin-bottom: 5px;
    }

    .order__item-container {
        margin: 0;
    }

    .main__container {
        margin: -30px 0;
    }

    .custom-width span.col-md-7.col-xs-7._pl0 {
        white-space: nowrap;
    }

}

/** special instruction css*/
.sp_inst {
    border-top: none;
    border-right: none;
    border-left: none;
    opacity: 0.7;
    border-bottom: 1px solid #aaa;
    padding-bottom: 5px;
}

#timeslot .fa.icon-calendar {
    pointer-events: none;
}

form#guestfilters .slidecontainer {
    margin: 0 15px 0 0;
}

.order-cancel-message {
    background-color: #ff3131;
    color: #ffffff;
}

/*** Refund Popup ***/

#refundOrder .top_section {
    border-bottom: 1px #cccccc solid;
}

#refundOrder .partial-amt > div {
    display: inline-block;
    border-bottom: 1px #000 solid;
    position: relative;
}

#refundOrder .partial-amt > div input {
    border: 0;
    outline: none;
    background: none;
    width: 60px;
}

#refundOrder .partial-amt > div label.error {
    position: absolute !important;
    top: 35px;
    left: -5px;
    max-width: 115px;
    width: 115px;
}

#refundOrder #hostName {
    border-bottom-color: #cccccc;
}

#refundOrder .custom__message-textContainer textarea {
    background-color: transparent;
    border: 0;
    outline: none;
    border-bottom: 1px #ccc solid;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.percentage-box {
    position: relative;
}

.percentage-box .refund_fp_input {
    position: static !important;
}

.percentage-box label.error {
    position: absolute !important;
    top: 30px;
    left: 15px;
}

.reason-refund-heading {
    font-weight: bold;
    color: #000 !important;
}


/* Menu Management */
#table_id1 {
    font-size: 14px!important;
}
#cateAdd .control_indicator,
.checkrow .control_indicator {
    left: 0!important;
}
.checkrow .option__wrapper { display: inline-block!important;}
#cateAdd .option__wrapper { width: 25%; float: left;}
.margin-left-0 { margin-left: 0!important;}
.bannerBox {
    padding: 20px 15px;
    border: 1px solid #ccc;
    margin: 40px 15px 20px;
}
.content__row { padding-bottom: 25px!important;}
.form-group.no-bot { margin-bottom: 0!important; }
#sortcol .bootstrap-select.btn-group .dropdown-toggle .filter-option { padding-left: 15px!important; }
.fieldboxCol { border: solid 1px #ddd; margin: 0 15px 25px; padding:0 0 20px; }
.pr15 { padding-right: 15px; }
.ptb5 { padding: 5px 0;}
.margin-top-21 { margin-top:21px; }

#table_id1.first tr th:first-child,
#table_id1.first tr td:first-child {
    width: 1%!important;
    border-right: none;
}
#table_id1.first tr td:first-child span {
    font-size: 16px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}
#table_id1.first tr td:nth-child(2) {
    text-transform: capitalize;
}
#table_id1 tr td:nth-child(2) {
    text-transform: capitalize;
}
#table_id1.first tr td:nth-child(7) a {
    margin-right: 10px!important;
    /* font-size: 16px; */
}
#modalFormData .input__field input {
    font-size: 14px;
}
.custom_checkbox.ci0 .control_indicator { left: 0!important; }
#maAttribute .custom_checkbox { margin-right: 30px; }
#maAttribute.card { margin: 0; }
#maAttribute.card.form__container { padding: 30px 15px; }
button.bgnone { border: none; background: transparent; }

#selectImage button.ico {
    background: url('../../images/icon-sprite.png') no-repeat;
    width: 76px;
    height: 77px;
    border: none;
    display: inline-block;
    margin: 10px;
    text-indent: -9999px;
}
#selectImage button.ico.ico1 { background-position: 0 0; }
#selectImage button.ico.ico2 { background-position: -76px 0; }
#selectImage button.ico.ico3 { background-position: -152px 0; }
#selectImage button.ico.ico4 { background-position: -228px 0; }
#selectImage button.ico.ico5 { background-position: -304px 0; }
#selectImage button.ico.ico6 { background-position: 0 -77px; }
#selectImage button.ico.ico7 { background-position: -76px -77px; }
#selectImage button.ico.ico8 { background-position: -152px -77px; }
#selectImage button.ico.ico9 { background-position: -228px -77px; }
#selectImage button.ico.ico10 { background-position: -304px -77px; }
#selectImage button.ico.ico11 { background-position: 0 -154px; }
#selectImage button.ico.ico12 { background-position: -76px -154px; }
#selectImage button.ico.ico13 { background-position: -152px -154px; }
#selectImage button.ico.ico14 { background-position: -228px -154px; }
#selectImage button.ico.ico15 { background-position: -304px -154px; }
#selectImage button.ico.ico16 { background-position: 0 -231px; }
#selectImage button.ico.ico17 { background-position: -76px -231px; }
#selectImage button.ico.ico18 { background-position: -152px -231px; }
#selectImage button.ico.ico19 { background-position: -228px -231px; }
#selectImage button.ico.ico20 { background-position: -304px -231px; }

#attribute .input__field { padding-top: 1px; }
#attribute label { text-transform: capitalize!important; }
#price .control_indicator { left: 0!important; }
#searchiteminput { border-radius: 50px; }
#myUL li a { font-size: 14px!important; padding: 10px!important; }
.tdcol { padding-bottom: 10px; color: #ff8700; font-weight: bold; }
.rowbot { padding-top: 5px; }
.panel-heading .panel-title { text-transform: capitalize!important; }
h4.asstitle { margin: 20px 0 0; padding: 0 15px; font-size: 16px; color: #ff8700; }
.attributelist .control_indicator { left: 0!important; }
.attributelist .option__wrapper { float: left; }
.addition__functionality.menupage { background: #fff; padding: 15px; margin: 0 0 20px; }
.addition__functionality.menupage .functionality__wrapper > div { margin: 0; }

/* iPad Landscape */
@media only screen and (min-device-width : 992px) and (max-device-width : 1024px)  {
    #maAttribute label.custom_checkbox { margin-bottom: 10px!important; }
}
/* iPad Portrait */
@media only screen and (min-device-width : 768px) and (max-device-width : 991px)  {
    #cateAdd .option__wrapper { width: 50%; }
    #maAttribute label.custom_checkbox { margin-bottom: 10px!important; }
}

/* Mobile*/
@media only screen and (max-width : 767px) {
    #categoryAdd .option__wrapper { width: 100%; }
    .bannerBox fieldset { padding: 0!important; }
    .content__row { display: block!important; }
    .no-mob-pad7 { padding: 0!important; }
    .pad-top-15 { padding-top: 15px!important; }
    .checkrow .option__wrapper { margin-top: 10px!important;}

    #table_id1 tbody tr td:first-child { padding-left: 10px !important; }
    #table_id1 tbody tr td:first-child:before { display: none !important; }

    #maAttribute label.custom_checkbox { width: 50%; margin: 0 0 10px 0!important; float: left; }

    #price .option__wrapper { width: 100%; min-width: 100%; }
    .mob-mt-10 { margin-top: 10px; }

    .tdcol { padding-top: 10px; padding-bottom: 0; }
    .tdcol:last-child { display: none; }
    .col-md-12.addonbox { padding-left: 0!important; padding-right: 0!important; }
    .rowbot { padding-top: 15px; }
    h4.asstitle { font-size: 14px; }
    .attributelist .option__wrapper { width: 100%; }
    .addition__functionality.menupage .functionality__wrapper { display: block; }
    .addition__functionality.menupage .selct-picker-plain.position-relative { margin-bottom: 10px; }
}