/*Reservations*/

/*Type of Customer*/
.reservation__atto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.reservation__atto + .booking {
    float: left;
    width: 100%;
}

/*@media (max-width:1024px){
    .reservation__atto{
        display:block;
    } 
}*/

/* for all div next to customer name*/
.row__reservation .customer__name ~ div.row {
    padding-bottom: 5px;
}

.reservation__atto .top_right_btns a.btn {
    font-weight: 600;
    color: #fff;
    margin-left: 10px;
    width: 100%;
}

.toc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: none;
}

.toc div {
    margin: 0 20px;
}

.toc p {
    margin: 0;
}

.reservation__title h1 {
    margin: 0;
    font-size: 17px;
    font-weight: 700;
}

/*Booking*/
.booking-nav {
    margin-top: 30px;
    background-color: #3e3a39;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 1rem 2rem;
    position: relative;
    min-height: 63px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    justify-content: space-between;
    width: 100%;
}

/* .booking_count {
  font-size: 30px;
  font-weight: 700;
  padding-right: 20px;
  border-right: 1px solid #525252;
} */

.booking_tab {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

/* .booking_tab div {
margin: 0 15px;
} */

.booking_tab,
.booking_title {
    font-size: 14px;
}

.booking_tab.nav-tabs {
    border: 0;
}

.booking_title {
    font-weight: 900;
    margin: 0 20px;
}

.time a,
time a:focus,
time a:hover {
    color: #ccc;
}

/* .booking-nav .calendar-icon {
  color: #fff;
  margin: 0 15px;
} */

.booking-nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 100%;
}

.booking-nav ul li {
    display: inline-block;
    margin-right: 25px;
}

.booking-nav ul li a {
    color: #838181;
    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
}

.booking-nav ul li a:hover,
.booking-nav ul li.active a {
    color: #fff;
}

.archive__btn-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 25%;
    font-size: 18px;
    font-weight: 700;
    max-width: 180px;
    margin-right: 0 !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #464543;
    color: #fff;
}

.archive__btn-container p {
    margin: 0;
}

.booking_container {
    background-color: #fff;
}

.table-title {
    font-size: 14px;
    font-weight: 400;
}

.table-content {
    font-weight: 600;
    /*word-break: break-all;*/
    /* color:#000; */
}

.row__reservation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    padding: 25px 0;
    margin: 0;
    /*-webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;*/
}

#today_reservation > div:nth-child(1) {
    padding: 16px 0;
}

.row__reservation div {
    /*text-transform: capitalize;*/
}

/* .row__reservation div:nth-child(3) {
color: #ff9700;
}

.row__customer div:nth-child(3) {
background-color: #fff8f0;
border-radius: 5px;
} */

#today_reservation {
    padding: 0 50px 50px;
}

.party-size-header {
    /* color: #ff8700; */
}

.customer_size {
    background-color: #f1f1f1;
    color: #333;
    max-width: 55px;
    width: 100%;
    border-radius: 5px;
    text-align: center;
    margin: 0 auto;
    /* padding: 10px; */
    padding: 6px 0px !important;
}

#today_reservation .customer_size {
    background-color: #fff5eb;
    color: #ff8700;
}

.customer__waiting .customer_size {
}

.row__waiting-customer div:nth-child(3) {
    background-color: #f9f9f9;
}

.row__reservation-archive.row {
    margin: 0 50px !important;
    padding: 16px 0;
    border-bottom: 1px solid #ebebeb;
}

.row__reservation-archive.row.all-reservation {
    margin: 0 30px !important;
    color: #838181;
}

.row__customer {
    /* border-bottom: 1px solid #ccc; */
    padding: 25px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*.row__customer:last-child {
border: none;
}*/

/*.row__reservation .btn,
.archive__page_navtab .btn.reset {
    padding: 6px 24px;
    font-weight: 600;
}*/

.sub_text {
    font-size: 10px;
    color: #888;
    display: block;
}

.row__waiting-customer .customer_name,
.row__waiting-customer .customer_size,
.row__waiting-customer .customer_time {
    color: #838181 !important;
}

.row__new-customer .customer_name,
.row__vip-customer .customer_name {
    position: relative;
}

.row__new-customer .customer_name:after,
.row__vip-customer .customer_name:after,
.row__waiting-customer .customer_name:before {
    display: block;
    height: 20px;
    min-width: 60px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    border-radius: 5px;
    line-height: 0;
    color: #fff;
    margin: 0 auto;
    font-size: 14px;
    text-align: center;
    padding: 10px 15px;
    font-weight: 400;
    font-style: italic;
}

.row__new-customer .customer_name:after {
    content: "New";
    background-color: #3f3f3f;
}

.row__vip-customer .customer_name:after {
    content: "Vip";
    background-color: #ff8700;
}

.row__waiting-customer .customer_name:before {
    content: "Waiting...";
    background-color: #838181;
}

/*Reservation Modal Popup*/

/*LHS*/

#reservationDetailModal .modal-content {
    border-radius: 5px;
    font-family: "Lato", sans-serif;
}

.popupContainer__reservation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
}

.revervationUserDetails {
    color: #fff;
    width: 40%;
    overflow: hidden;
}

.user__details {
    background-color: #ff8207;
    padding: 30px 0px 15px;
    border-top-left-radius: 5px;
}

.reservation__id {
    font-size: 16px;
    padding: 0px 30px;
    margin-bottom: 30px;
}

.reservation__hr {
    width: 100%;
    opacity: 0.2;
    margin: 0px;
    margin-bottom: 30px;
}

.userPersonal__details {
    padding: 0px 30px;
}

.userPersonal__detail {
    margin-bottom: 20px;
}

.userPersonal__detail h3 {
    font-size: 14px;
    opacity: 0.6;
    font-weight: 400;
}

.userPersonal__detail p {
    font-size: 16px;
    font-weight: 700;
}

.user__stats {
    background-color: #ff9a00;
    padding: 30px;
    border-bottom-left-radius: 5px;
    height: 100%;
}

.userPersonal__details h3,
.userPersonal__details p {
    margin: 0;
}

.stats__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    max-width: 250px;
    border: 1px solid rgba(255, 255, 255, 0.65);
    margin-bottom: 20px;
    padding: 12px 30px;
}

.tos {
    font-size: 16px;
}

.stat_number {
    border-left: 1px solid rgba(255, 255, 255, 0.65);
    padding-left: 30px;
    font-weight: 700;
    font-size: 18px;
}

/*RHS*/

#reservation-edit {
    position: relative;
}

.revervationTableDetails {
    width: 60%;
    padding: 30px;
}

.revervationTableDetails .alert-danger,
.revervationTableDetails .alert-success {
    position: absolute;
    width: 90%;
    top: -30px;
    left: 0;
    border-radius: 0;
    padding: 9px;
    z-index: 2;
}

.selected__containers {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/* .selected__containers select {
-webkit-appearance: none;
-moz-appearance: none;
text-indent: 1px;
text-overflow: "";
} */

.reservationPopup__table {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.edit__head {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    text-align: center;
}

.edit__time-container {
    color: #ff8207;
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
}

.edit__time-container i {
    position: absolute;
    top: 13px;
    left: 9px;
}

.padding-top-none {
    padding-top: 0 !important;
}

.edit__details {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;

    margin-top: 30px;
    font-size: 16px;
}

.edit__detail {
    width: 30%;
}

.edit__field {
    padding-top: 8px;
    font-weight: 700;
    color: #ff8207;
    text-align: center;
    background-color: transparent;
    border: 0px;
    margin: 0 auto;
    width: 100%;
}

.number__box .party_size {
    text-align: center;
}

.party_size, .wait_time {
    padding: 0 !important;
    height: 24px !important;
    font-size: 16px !important;
}

.number__box .btn-number,
.number__box .btn-number:hover,
.number__box .btn-number:active,
.number__box .btn-number:focus,
.number__box .btn-number[disabled],
.number__box .btn-number[disabled]:hover,
.number__box .btn-number:active:focus {
    background: none;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
}

.header__otherInformation {
    margin: 30px 0 0;
}

.header__otherInformation p {
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.header__otherInformation span {
    font-size: 16px;
    font-style: italic;
    color: #7b7b7b;
}

.tags__otherInformation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 30px;
    padding: 8px 15px;

    border-radius: 6px;
    font-size: 16px;
    font-weight: 700;
    position: relative;
}

.scroller_tags__otherInformation {
    max-height: 205px;
    overflow-y: auto;
    margin-top: 20px;
}

.tag__box {
    text-align: center;
    padding: 8px 20px;
    border: 1px solid #ff8207;
    margin: 0px 6px 20px 0px;
    border-radius: 6px;
    color: #ff8207;
    font-size: 16px;
    min-width: 100px;
    max-width: calc(100% - 16px);
}

.special__otherInformation {
    padding: 10px 15px;
    background-color: #f7f7f7;
    /* font-style: italic;*/
    letter-spacing: 1px;
    margin: 0px;
    color: #333333;
    border-radius: 5px;
}

.special__otherInformation p {
    margin: 0;
}

.ctaContainer__otherInformation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-around;
    -ms-flex-pack: space-around;
    justify-content: space-around;
}

/* 25/05/2018 */
.icon_div {
    position: absolute;
    top: -26px;
    right: -20px;
}

.icon_div button {
    background-color: transparent;
    border: 0px;
}

.inc_dec {
    color: #000;
}

.number__box input {
    color: #ff8207;
    font-weight: 600;
    border: 1px;
    font-size: 10px;
    background-color: #fff;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.reservationPopup__table {
    border: 1px solid #cccccc61;
    padding: 5px 30px;
    font-size: 15px;
    font-weight: 600;
    margin-left: 15px;
}

.table__assinged {
    padding: 5px 45px 5px 15px;
}

.table__selectBox {
    border: 0px;
    border-left: 1px solid #cccccc61;
    padding: 5px 0px 5px 30px;
    position: relative;
}

.table__selectBox select {
    border: 0px;

    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.floor_selection {
    position: relative;
}

.floor_selection select {
    border: 1px solid #cccccc61;
    padding: 10px 30px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.floor_selection select::after {
    position: absolute;
    top: 4px;
    right: 3px;
    width: 0;
    height: 0;
    border: solid #ff8207;
    border-width: 0px 2px 2px 0;
    display: inline-block;
    padding: 3px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

ul.pagination li:last-child > a, ul.pagination li:last-child > span, ul.pagination li:first-child > span, ul.pagination li:first-child > a {
    font-size: 19px;
    padding: 0px 5px !important;
}

/* 29/05/2015 */
.pagination__wrapper {
    text-align: center;
}

.pagination > .active > a,
.pagination > .active > a:focus,
.pagination > .active > a:hover,
.pagination > .active > span,
.pagination > .active > span:focus,
.pagination > .active > span:hover {
    background-color: transparent !important;
    border-color: transparent !important;
    z-index: 1 !important;
    color: #ff8207 !important;
}

html .pagination > li > a,
html .pagination > li > span {
    border: 0px !important;
    color: #000 !important;
    background-color: transparent !important;
}

html .pagination > li.disabled > span {
    color: #ccc !important;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
    color: #000 !important;
}

.archive__btn-container:hover,
.archive__btn-container:focus {
    color: #fff;
}

.resertvation__wrapper {
    position: absolute;
    top: 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    right: 0px;
}

.cancel_edit_reservation {
    margin-left: 15px;
    background-color: transparent;
    border: 0px;
}

.update_reservation {
    background-color: transparent;
    border: 0px;
}

/*week styles */
/* .event-text {
width: 75%;
text-align: center;
color: #ff8207;
float: left;
}

.resv-count {
width: 25%;
background-color: #ff8207;
text-align: center;
float: left;
}
#week_reservation_calendar .fc-event,
#week_reservation_calendar .fc-event-dot {
background-color: transparent !important;
}

#week_reservation_calendar .fc-event {
border: 0px !important;
}
.resertvation__wrapper button {
background-color: transparent;
border: 0px;
} */

.time-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%;
    -webkit-box-align: flex-start;
    -ms-flex-align: flex-start;
    align-items: flex-start;
}

.resv-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 10px 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#month_reservation_calendar .fc-day-grid-event,
#month_reservation_calendar .resv-container {
    margin: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
}

#month_reservation_calendar .resv-container:nth-child(2) {
    margin-bottom: 5px;
}

#month_reservation_calendar.fc td.fc-event-container {
    vertical-align: bottom;
}

.fc-day-top {
    font-size: 20px;
    font-weight: 700;
}

.resv-count {
    width: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    background: #ff8207;
    padding: 3px 0;
    position: relative;
}

.fc-title .resv-container:nth-child(2) .resv-count:after {
    content: "";
    border-top: 1px solid #ffc183;
    width: 75%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.event-text {
    font-size: 14px;
    font-weight: 700;
    margin-left: 8px;
    color: #ff9800;
}

.fc-button-group {
    margin: 30px 0;
}

#week_reservation_calendar {
    float: left;
    width: 100%;
    position: relative;
}

#week_reservation_calendar .fc-view-container {
    min-width: 1100px;
}

/*#today_reservation {
    overflow-x: auto;
}*/

/*#today_reservation > div {
    min-width: 900px;
}*/

#week_reservation_calendar.fc-ltr .fc-time-grid .fc-event-container {
    margin: 0;
}

.fc .fc-button-group > * {
    background: none;
    border: none;
    margin: 0 20px !important;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.week_reservation_calendar-container .fc-day-header > span,
.week_reservation_calendar-container .fc-day-header > span > span {
    display: block;
    font-size: 14px;
    font-weight: 400;
    font-family: inherit;
}

.week_reservation_calendar-container .fc-day-header > span > span {
    padding: 5px 20px 5px 20px;
    color: #838181;
}

.week_reservation_calendar-container .fc-day-header > span .weekNumber {
    font-size: 20px;
    min-height: 70px;
    -webkit-box-shadow: 8px 4px 24px rgba(0, 0, 0, 0.05);
    box-shadow: 8px 4px 24px rgba(0, 0, 0, 0.05);
}

.week_reservation_calendar-container .fc-day-header.fc-today > span .weekName {
    background-color: #fff;
    color: #ff8106;
}

.week_reservation_calendar-container
.fc-day-header.fc-today
> span
.weekNumber {
    background-color: #ff8106;
    color: #fff;
    font-weight: 900;
}

.week_reservation_calendar-container .fc-unthemed td.fc-today {
    background-color: #fffbf7;
}

.week_reservation_calendar-container .fc-widget-content {
    height: 55px !important;
}

.week_reservation_calendar-container .fc-body > tr > .fc-widget-content {
    border-color: transparent;
}

.week_reservation_calendar-container .fc-event .fc-time {
    display: none !important;
}

.week_reservation_calendar-container .fc-event,
.week_reservation_calendar-container .fc-event-dot {
    background-color: #fff5eb;
    border: none;
    margin-top: 2px;
    margin-right: 0 !important;
    color: #fff !important;
}

.week_reservation_calendar-container .fc-event .event-text {
    color: #ff8207;
}

.week_reservation_calendar-container td.fc-axis.fc-time.fc-widget-content {
    border: none;
}

.week_reservation_calendar-container .resv-container {
    margin: 0 !important;
}

.week_reservation_calendar-container .resv-container:first-of-type .resv-count {
    border-top: none;
}

.week_reservation_calendar-container .fc-time-grid-event .fc-content,
.week_reservation_calendar-container .fc-time-grid-event .fc-content .fc-title {
    height: 100% !important;
}

.week_reservation_calendar-container .fc-highlight {
    background-color: #ff9801;
}

.week_reservation_calendar-container .fc .fc-axis {
    padding: 0 35px !important;
    white-space: unset !important;
    font-size: 16px;
    font-weight: 400;
}

#week_reservation_calendar .fc-toolbar,
#month_reservation_calendar .fc-toolbar {
    position: absolute;
    left: 0;
    right: 0;
    top: 30px;
}

#week_reservation_calendar .fc-view-container {
    margin-top: 90px;
}

#week_reservation_calendar .fc-toolbar button,
#week_reservation_calendar .fc-button-group button {
    display: inline-block;
    outline: none;
    font-size: 17px;
    font-weight: 700;
    transition: ease all 0.3s;
    -webkit-transition: ease all 0.3s;
    -moz-transition: ease all 0.3s;
    background: none;
    outline: none;
    border: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}

#week_reservation_calendar .fc-toolbar h2 {
    display: inline-block;
    padding: 0 20px;
    font-size: 20px;
    font-weight: 700;
}

#week_reservation_calendar .fc-button-group button i,
#week_reservation_calendar .fc-toolbar button i {
    margin: 0 10px;
}

#week_reservation_calendar .fc-button-group button:hover,
#week_reservation_calendar .fc-toolbar button:hover {
    color: #ff8106;
}

.week_reservation_calendar-container .fc-widget-header,
.week_reservation_calendar-container .fc-unthemed tbody {
    border-color: transparent;
}

.week_reservation_calendar-container .fc-widget-header {
    border: 0 !important;
    text-align: left;
}

.number__box input:focus {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
    background-color: transparent !important;
}

/*Month*/

#month_reservation_calendar {
    position: relative;
    float: left;
    width: 100%;
}

#month_reservation_calendar .fc-toolbar {
    top: 35px;
}

#month_reservation_calendar .fc-view-container {
    margin-top: 79px;
}

.month_reservation_calendar-container .fc-event,
.fc-event-dot {
    background-color: transparent;
    border: none;
}

.month_reservation_calendar-container .fc-day {
    position: relative;
}

.month_reservation_calendar-container .fc-day-top.fc-other-month {
    color: #000;
}

.month_reservation_calendar-container .fc-event > .fc-content,
.fc-event-dot > .fc-content {
    height: 100%;
}

.month_reservation_calendar-container .fc-day-header.fc-widget-header {
    font-size: 18px;
    font-weight: 400;
    color: #838181;
}

#month_reservation_calendar .fc-toolbar button,
#month_reservation_calendar .fc-toolbar h2 {
    display: inline-block;
}

#month_reservation_calendar .time-wrapper {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

#month_reservation_calendar .time-wrapper.todayEvent .event-text,
#month_reservation_calendar .time-wrapper.todayEvent .event-text:focus {
    color: #fff;
}

#month_reservation_calendar .fc-toolbar button {
    border: 0;
    outline: none;
    background: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    margin: -5px 15px 0 15px;
    font-size: 17px;
}

#month_reservation_calendar .fc-toolbar h2 {
    font-size: 20px;
    font-weight: 700;
}

#month_reservation_calendar.fc td,
#month_reservation_calendar.fc th {
    border: 0;
    text-align: left;
}

#month_reservation_calendar.fc td {
    height: 50px;
}

#month_reservation_calendar .fc-month-view {
    padding-bottom: 30px;
    min-width: 1120px;
    overflow-x: auto;
}

#month_reservation_calendar.fc td.fc-day {
    box-shadow: 8px 4px 30px rgba(0, 0, 0, 0.07);
    -webkit-box-shadow: 8px 4px 30px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 8px 4px 30px rgba(0, 0, 0, 0.07);
}

#month_reservation_calendar.fc td.fc-day.fc-other-month {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    border: 1px dotted #e6e6e6;
}

#month_reservation_calendar.fc table {
    border-collapse: separate;
    border-spacing: 25px 1.25rem;
}

#month_reservation_calendar.fc .fc-view-container {
    overflow-x: auto;
    /*min-width: 1200px;*/
}

#month_reservation_calendar.fc .fc-widget-header table {
    border-spacing: 25px 0;
}

#month_reservation_calendar.fc.fc-unthemed td.fc-today {
    background: #ff9800 !important;
    color: #fff;
}

#month_reservation_calendar.fc.fc-unthemed td.fc-today .fc-day-number {
    color: #fff;
}

#month_reservation_calendar.fc th > span {
    font-size: 14px;
    font-weight: 400;
    padding: 10px;
}

#month_reservation_calendar.fc-ltr .fc-basic-view .fc-day-top .fc-day-number {
    float: left;
    padding: 10px;
    font-size: 20px;
    font-weight: 400;
    color: #838181;
}

#month_reservation_calendar .fc-day-grid-event .fc-time {
    color: transparent;
}

@media all and (max-width: 1024px) and (min-width: 768px) {
    .reservation__popup .modal-dialog {
        width: 740px !important;
    }

}

#calendar table .fc-col-resizer,
#custom_calendar_view table .fc-col-resizer {
    display: none;
}

/* @media all and (max-width: 1110px) {
    .booking__type .booking__btn {
        min-width: 147px;
        text-align: center;
        margin: 5px 0 !important;
    }
} */

/*
@media all and (max-width: 1279px) and (min-width: 1091px) {
.event-text {
font-size: 12px;
margin-left: 4px;
}

.resv-count {
font-size: 12px;
width: 25px;
}

.month_reservation_calendar-container .fc-event {
height: 130px;
}
}
*/
#start_time {
    width: 71px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ui-timepicker-wrapper .mCSB_inside > .mCSB_container {
    margin-right: 10px;
}

.ui-timepicker-wrapper li.ui-timepicker-selected {
    background: #ff8207 !important;
    color: #fff !important;
}

.ui-timepicker-wrapper .ui-timepicker-list li:hover:hover {
    background-color: #f1f1f1;
    color: #000;
}

.ui-timepicker-list li {
    text-align: center;
    padding: 3px 0 3px 0px !important;
    margin: 4px !important;
}

.ui-timepicker-wrapper {
    border: 0px !important;
}

.ui-timepicker-list li.ui-timepicker-disabled:hover,
.ui-timepicker-list li.ui-timepicker-disabled {
    background-color: #f1f1f1 !important;
    color: #888 !important;
    opacity: 0.5;
}

.ui-timepicker-wrapper {
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3) !important;
}

#reservation-edit .number__box {
    margin: 0px 20px;
}

button i {
    pointer-events: none;
}

@media all and (max-width: 1280px) and (min-width: 768px) {
    #week_reservation_calendar,
    #month_reservation_calendar {
        overflow: auto;
    }

    .booking__type .booking__btn {
        min-width: 147px;
        text-align: center;
        margin-top: 5px !important;
        margin-bottom: 5px !important;
    }
}

#reservationDetailModal .userPersonal__details .userPersonal__detail p {
    word-break: break-word;
}

/*=============================*/

.booking-nav .heading_filter {
    display: flex;
    flex-direction: row;
}

.filter-start-end-date {
    /* min-width: 395px;*/
}

.reservation__searchbar {
    border: 1px solid #3d3a39;
    padding: 10px 10px;
    border-radius: 20px;
    max-width: 300px;
    /* flex: 1;
-ms-flex: 1;
    -webkit-flex: 1; */
    /*margin-right: 30px;*/
}

.reservation__searchbar + div > a {
    flex: 1;
}

.reservation__searchbar .fa-search {
    position: absolute;
    top: 13px
}

.reservation__searchbar input {
    background-color: transparent;
    border: 0px;
    width: 105%;
    padding-left: 20px;
}

.booking-nav .calendar-icon {
    color: #fff;
    margin: 0px 5px;
}

/* .booking-nav h5{
  line-height: 20px;
  margin-bottom: 5px;
} */

.booking-nav .calendar-icon {
    /*    color: #838181;*/
    margin: 0px 5px;
    font-size: 15px;
}

.booking-nav h5 {
    line-height: 20px;
    margin-bottom: 5px;
}

.row__reservation span {
    font-size: 28px;
}

.row__reservation span.icon-cancelled,
.row__reservation .fa-phone,
.row__reservation .icon-waiting-source,
.row__reservation .icon-online {
    font-size: 20px;
}

/* .booking_container .row__reservation .fa-phone {
    font-size: 14px;
} */

.booking-nav .values {
    font-size: 18px;
}

.customer__waitlist:before {
    content: "waitlist..." !important;
    background: #999999;
    min-width: 60px;
    border-radius: 5px;
    line-height: 0;
    color: #fff;
    font-size: 12px;
    text-align: center;
    padding: 10px 15px;
    font-weight: 400;
    display: block;
    position: absolute;
    margin-top: -20px;
}

/*.reservation__searchbar.all {
    width: 100%;
    margin-right: 45px;
    margin-left: 10px;
    flex: 1;
}

.reservation__searchbar.all .fa-search {
    top: 26px
}*/

.reservation-text {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    margin-bottom: 15px;
    text-align: center;
    margin-top: 15px;
    color: #000;
}

.change-Date {
    margin-bottom: 15px;
}

.change-Date a {
    color: #ff8700;
    text-align: center;
    font-weight: 500;
}

.change-Date a:hover {
    color: #ff8700;
    opacity: 0.8;
}

.waitlistForm_header h5 {
    margin: 0px;
    font-size: 14px;
    font-weight: 700;
    color: #f90300;
}

#newWaitlistModal .newWaitlistManage-container,
#manageWaitlistModal .manageWaitlistManage-container {
    padding: 0px 30px 15px;
}

#newWaitlistModal .newWaitlistManage-container .edit__details,
#manageWaitlistModal .manageWaitlistManage-container .edit__details {
    flex-direction: column;
}

#newWaitlistModal .newWaitlistManage-container .edit__detail,
#manageWaitlistModal .manageWaitlistManage-container .edit__detail {
    border-bottom: 1px solid #ebebeb;
    padding: 15px 0px;
    width: 100%;
}

#newWaitlistModal .edit__details .edit__head,
#manageWaitlistModal .edit__details .edit__head {
    font-size: 14px;
    font-weight: 700;
    width: 50%;
    float: left;
    text-align: left;
    border: 0px;
    padding: 0px;
    color: #000;

}

#newWaitlistModal .edit__field,
#manageWaitlistModal .edit__field {
    width: 50%;
    float: left;
    padding: 0px;
}

#manageWaitlistModal .waitList__otp {
    padding: 15px 30px 0px;
}

#manageWaitlistModal .waitList__otp .toggle__container {
    margin-left: 40px;
}

.status-waitlist .filter-option {
    color: #fff;
}

.add-customtag .addbtn {
    background-color: transparent;
    border: 0px;
    color: #ff8700;
    font-weight: 700;
    font-size: 15px;
    padding: 20px 15px;
}

.add-customtag .addbtn:hover {
    opacity: .8;
}

#reservation-details .number__box {
    margin: 0px 0px;
}

.waitlist__customer-color {
    color: #999999;
}

.customer_size-waitlist {
    background-color: #f1f1f1 !important;
    color: #999999 !important;
}

#reservation-details .oldreservations_bookinform [class^="icon-"],
#reservation-details .oldreservations_bookinform [class*=" icon-"] {
    font-size: 22px;
}

.right .dropdown-menu > li > a {
    white-space: normal !important;
}

.reservationlisting {
    justify-content: unset;
}

/*=================================*/
/*================ reservation setting=======*/
#reservation_settings .selct-picker-plain li a {
    color: #000;
}

#reservation_settings .selct-picker-plain li.selected {
    background-color: #ff9700;
}

#reservation_settings .selct-picker-plain li.selected a {

    color: #fff;
}

#reservation_settings .selct-picker-plain li {
    text-align: center;
}

/*********************************************/
.bookatablenote {
    border-bottom: 1px solid #e6e6e6;
}

.bookatablenote span {
    font-weight: 800;
    font-size: 13px;
}

#reservationTab {
    flex: 1;
    margin-left: 5%;
}

#reservation-details .input__fullWidth.reserve {
    border-bottom: 0px;
}

.same-width > a {
    width: 90px;
}

.flex-verti-center {
    display: flex;
    vertical-align: middle;
    justify-content: center;
    align-items: center;
}

.search-icon.custom--search {
    width: 164px;
    float: right;
}

ul.tagit li.tagit-choice-editable {
    text-align: left;
}

#reservation-enquiry-details #enquiry_reservation_time {
    color: #000;
}

#reservation-enquiry-details .number__box .party_size {
    text-align: right;
    color: #000;
}

.row__reservation-archive.header-color,
.row__reservation.header-color {
    padding: 15px 50px;
    background-color: #3d3a39;
    color: #fff;
    margin: 0 0px !important;
    border-radius: 5px 5px 0px 0px;
    font-size: 16px;
}

.reservation-cover-count {
    position: absolute;
    color: #818181;
    font-weight: 700;
    font-size: 14px;
}

.size-box-remove {
    background: none;
    font-size: 16px;
    padding: 0 !important;
    color: #000;
}

.today-reservation-listing .reservation__searchbar {
    min-width: 300px;
}

