@import url("https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,900");

.header-section {
  background: #ff9700;
  padding: 1rem;
  z-index: 11;
  position: relative;
  min-height: 73px;
}
body {
  background-color: #fafafa;
}

.reserve-table-container .title {
  text-align: center;
  font-weight: 400;
  padding-bottom: 5px;
  font-size: 30px;
  margin: 20px 0;
  color: #fff;
  font-family: lato;
}

.reserve-table__wrapper .sub-title {
  text-align: center;
  font-weight: 400;
  font-size: 25px;

  color: #898989;
  margin-bottom: 30px;
}

.reservation-table__party-title {
  font-size: 16px;
  font-weight: 400;
}
.reservation-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-around;
  flex-direction: row;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0 0 0 rgba(0,0,0,0.5);
    z-index: 1;

}
.reservation-table__party-details {

}

/* button styels */
.reserve-table__btn {
  text-align: center;
  margin: 30px 0px;
}

.reserve-table__btn .btn-default {
  color: #fff;
  padding: 8px 24px 10px;
  border-radius: 0px;
  background-color: #ff9700;
  background-image: none;
  border: 0px;
  font-family: lato;
  border-radius: 4px;
}

.reserve-table__btn .btn-default:hover,
.reserve-table__btn .btn-default:active,
.reserve-table__btn .btn-default:focus {
  background-color: #333;
  border: 0px;
  color: #fff;
}
.reserve-table__btn .btn-default:focus {
  outline: none;
}

.margin10 {
  margin-top: 15px;
}

/* custom checkbox */

input[type="checkbox"] {
  -webkit-appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

label.custom_checkbox {
  padding-left: 30px;
  font-weight: 400;
  position: relative;
  padding-left: 40px;
}

.custom_checkbox input[type="checkbox"]:checked ~ .control_indicator:after ,
.custom_checkbox input[type="radio"]:checked + .control_indicator:after {
  content: "\2714";
  display: block;
  height: 100%;
  line-height: 18px;
  color: #ff8d00;
  text-align: center;
}

.control_indicator {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 12px;
  top: 0;
  cursor: pointer;
  border: 2px solid #ff8d00;
  background: 0 0;
  border-radius: 0;
}
.card--layout .control_indicator{
    left:0;
}
.card--layout label.custom_checkbox{
   padding-left:27px; 
}
/* selectbox styles */
.reserve-table__select-box select {
     padding: 4px 0px 0 4px;
    width: 69%;

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 0px;
  background: none;
}

.reserve-table__select-box {
  position: relative;
}

.reserve-table__select-box:after {
  content: "";
  margin-top: -14px;
  color: #000;
  pointer-events: none;
  display: inline-block;
  position: absolute;
  right: 5px;
  top: 26px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #ff9700;
  clear: both;
}

/* .party-sec {
  width: 60%;
  margin-bottom: 20px;
} */

.reservation-table__time,
.reservation-table__date {


}
.reservation-table__party-title {

  width: 100%;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5px;
  padding-bottom: 5px;
  text-align: center;

  font-size: 14px;
}

.separator {
  border-bottom: 3px solid #898989;
}

.check-avilable {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 20px;

/*  margin-top: 20px;*/
  flex-direction: row;
 background: #fff;
    padding: 9px 5px;
    width: 197px;
    border-radius: 0 0 5px 5px;
    margin-right: 0;
    margin-top: -5px;
    z-index: 0;
    position: relative;
}

.check-avilable-time {
  border: 1px solid #898989;
  padding: 5px 20px;
  border-radius: 8px;
}

#ui-datepicker-div.ui-widget.ui-widget-content {
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 15px;
  width: 320px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#ui-datepicker-div .ui-widget-header,
#ui-datepicker-div.ui-datepicker .ui-datepicker-header {
  border: 0;
  background: none;
  padding-bottom: 5px;
}

#ui-datepicker-div .ui-state-default,
#ui-datepicker-div.ui-widget-content .ui-state-default,
#ui-datepicker-div .ui-widget-header .ui-state-default,
#ui-datepicker-div .ui-button,
#ui-datepicker-div .ui-button.ui-state-disabled:hover,
#ui-datepicker-div .ui-button.ui-state-disabled:active {
  border: 0;
  background: none;
}

#ui-datepicker-div .ui-state-highlight,
#ui-datepicker-div.ui-widget-content .ui-state-highlight,
#ui-datepicker-div .ui-widget-header .ui-state-highlight {
  background: #ff8207 !important;
  color: #fff !important;
}

#ui-datepicker-div.ui-datepicker td span,
#ui-datepicker-div.ui-datepicker td a {
  padding: 10px 12px;
  text-align: center;
}

#ui-datepicker-div.ui-datepicker td a:hover {
  background: #f1f1f1;
}

#ui-datepicker-div .ui-state-active,
#ui-datepicker-div .ui-widget-content .ui-state-active,
#ui-datepicker-div .ui-widget-header .ui-state-active,
#ui-datepicker-div a.ui-button:active,
#ui-datepicker-div .ui-button:active,
#ui-datepicker-div .ui-button.ui-state-active:hover {
  background: #3d3a39 !important;
  color: #fff !important;
}

#ui-datepicker-div.ui-datepicker .ui-datepicker-prev,
#ui-datepicker-div.ui-datepicker .ui-datepicker-next {
  background: none;
  border: 0;
}

#ui-datepicker-div.ui-datepicker .ui-datepicker-prev-hover,
#ui-datepicker-div.ui-datepicker .ui-datepicker-next-hover {
  top: 2px;
  cursor: pointer;
  opacity: 0.5;
}

#ui-datepicker-div.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}

#ui-datepicker-div.ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}

.reserve-table__container .form-control{
  border-width: 0px;
  border-bottom-width: 1px;
  border-radius: 0px;
  background-image: none;
  box-shadow: none;
  padding-left: 0px;
  padding-right: 0px;
}
#reservation_date {
  border: 0px;
  border-radius: 0;
}

.reservationForm-area {
  height:calc(100vh - 73px);
  background-color: rgba(0,0,0,0.7);
}
.reservation-flex > div {

    width: 33%;
    margin-right: 7px;
    padding: 8px 9px;

}
.reservation-flex > div:nth-child(1){
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.reservation-flex > div:nth-child(1),.reservation-flex > div:nth-child(2){

    border-right: 1px solid #cbcbcb;
}
input#reservation_date {
    width: 100%;
    text-align: left;
    padding: 0 5px;
}
.reservation-flex .fa{
    margin:6px 2px;
}
@media only screen and (max-width: 768px) {
    .reserve-table__select-box select{
        width: 60%;
    }
}
.cal-drop:after {
    content: "";
    margin-top: -14px;
    color: #000;
    pointer-events: none;
    display: inline-block;
    position: absolute;
    right: 8px;
    top: 31px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #ff9700;
    clear: both;
}
.position-relative{
    position: relative;
}
.reserve-table__select-box select:focus{
    outline: none;
}
.card--layout {
    background: #fff;
    border-radius: 5px;
    border: 1px solid transparent;
    padding: 12px;

}

#loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

#loader span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: url(../images/Rolling.gif) no-repeat 50% 50% #fff;
}

