/*Large Desktop and Below*/
@media (max-width: 1600px) {

    .tableManagement__wrapper {
        width: calc(100% - 65px);
    }

    .tableManagement__wrapper.openSibebar {
        width: calc(100% - 320px);
    }

    .guestbook_userDetails .details__customer {
        margin-top: 57px;
    }

    /*GuestBook--detail*/
    .guestbook__user {
        /* width: 50%;
        -webkit-box-pack: unset;
        -ms-flex-pack: unset;
        justify-content: unset;
        display: -webkit-box;
        -webkit-box-flex: unset;
        -ms-flex: unset;
        flex: unset; */
    }

    /* .guestbook_userDetails {
        width: 50%;
    } */

    .guestbook_dpContainer {
        /*max-width: 100%;
        max-height: 100%;
        min-width: 100%;*/
    }

    /* Start Turnover Timg */
    .turnOver__box,
    .turnOver__submitBtn {
        max-width: 100%;
        margin-bottom: 25px;
    }

    .partySize__row .first_col,
    .turnOver__row .first_col {
        min-width: 200px;
    }

    .turnOver__box .turover_type,
    .turnOver__box .party_type {
        min-width: 140px;
    }

    .turnOver__box .party_type {
        font-size: 16px;
    }

    .first_col,
    .table__type,
    .party_type {
        font-size: 16px;
    }

    .center.slider .input-number {
        font-size: 18px;
        width: 50px;
    }

    .first_col .icon {
        padding: 10px 10px 10px 0px;
        margin-right: 10px;
    }

    .partySize__row span,
    .turnOver__row .column_header span {
        font-size: 10px;
    }

    /*.guest_btn .btn {
      min-width: 100%;
    }*/
    /* End Turnover Timg */
    /*---------------*/
    .floor__details-edit li a {
        font-size: 12px;
    }

    .floor__name {
        padding: 20px 15px;
        font-size: 20px;
    }

    .guestbook__table-header,
    .guestbook__cutomer-details-wrapper,
    .server__details-wrapper,
    .server__table-header,
    .archive_reservation > div:nth-child(1) > div > div:nth-child(2),
    .row__reservation-archive.header-color {
        padding-left: 30px;
        padding-right: 30px;
        /*min-width: 1135px;*/
    }

    .guestbook__table-header,
    .server__table-header {
        /*font-size: 14px;*/
    }

    .guestbook__cutomer-details-wrapper .customer-order-details br {
        display: block !important;
    }

    .welcome__img {
        top: -163px;
        left: 19px;
    }

    .hidden-br {
        display: block;
    }

}

@media (max-width: 1400px) {

    #tableManagement__wrapper.openSibebar #floor-view-btn .view__title,
    #tableManagement__wrapper.openSibebar #grid-view-btn .view__title {
        /*display: none;*/
    }

    #tableManagement__wrapper.openSibebar .view__type > div {
        /* margin-right: 0;*/
    }

    html .min-width-180 {
        min-width: 140px;
    }

    .dashBoard__ao__re {
        flex-wrap: wrap;
    }

    /* .dashBoard__ao__re > div {
        max-width: calc(100% - 400px);
    } */
    /* .dashBoard__ao__re > div:nth-child(2n+2) {
        margin-left: 20px;
        margin-right: 0;
    } */
    /*.dashBoard__ao__re > div:nth-child(3n+2) {
        margin-left: 0;
        margin-right: 0;
    }*/
    .table-content {
        font-size: 14px;
    }

    .dashBoard__ao__re > div {
        min-width: 290px;
        max-width: 370px;
    }

}

/*small Desktop and Below*/
@media screen and (max-width: 1220px) {

    .order-detail-page > div.footeractive {
        margin-left: 0;
        width: 100%;
    }

    .server-tables-assignment .server__details-wrapper {
        min-width: 100%;
    }

    .order-page .reservation__atto,
    .merchandise-order-page .reservation__atto,
    .giftcard-listing-page .reservation__atto {
        /*flex-direction: column;*/
    }

    .order-page .reservation__atto > div,
    .merchandise-order-page .reservation__atto > div,
    .giftcard-listing-page .reservation__atto > div {
        /* width: 100%;
         margin-top: 5px;*/
    }

    /*GuestBook--detail*/
    .guestbookDetails__body {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .guestbook__detail {
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial;
    }

    .guestbook__activities {
        margin: 30px 0px;
    }

    .details__body-box {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .details__stats-box {
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial;
    }

    /* Start Turnover Timg */
    /*
    .turnOver__box,
    .turnOver__submitBtn {
      max-width: 700px;
    }
  */
    /*
    .turnOver__box .col-md-3.table__type,
    .turnOver__box .col-md-3.party_type,
    .turnOver__box .col-md-3.turover_type {
      min-width: 150px;
    }
  */
    .first_col,
    .table__type,
    .party_type {
        font-size: 16px;
        width: 70px;
    }

    .center.slider .input-number {
        font-size: 18px;
    }

    .first_col .icon {
        padding: 10px 10px 10px 0px;
        margin-right: 10px;
    }

    .partySize__row span,
    .turnOver__row .column_header span {
        font-size: 10px;
    }

    .details__body-box {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .details__stats-box {
        -webkit-box-flex: initial;
        -ms-flex: initial;
        flex: initial;
    }

    .fav-list {
        max-width: 100%;
    }

    /*.fav-list ul {
        padding-left: 0px;
    }

    .fav-list .item_ul li {
        display: inline-block;
        padding: 8px 15px;
        border: 1px solid #ccc;
        margin: 8px 16px 0 0;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
    }

    .fav-list .text-icon-item {
        top: -4px;
        right: 3px;
    }*/
    .add_tag {
        /*-webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1;
        margin-bottom: 15px;
        margin-left: 8px;*/
    }

    .addTag__container {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .tags_div {
        width: 100%;
        -webkit-box-flex: unset;
        -ms-flex: unset;
        flex: unset;
        padding-left: 0 !important;
    }

    #tag_form,
    #guest_tags_div .btn {
        margin-left: 4px;
    }

    /* End Turnover Timg */
    /* floor listing */
    .floor__details-edit li a {
        font-size: 11px;
    }

    .floor_nav {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }

    /*Table management*/
    /*  */
    .view__types {
        margin-bottom: 15px;
    }

    .view__type {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        /* justify-content: center; */
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: row;
    }

    .status__atto,
    .view__types {
        margin: 10px 0 !important;
        width: 100%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .status__atto > div,
    .view__types > div {
        min-width: 100px;
        text-align: center;
    }

    /* .booking__type {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    } */
    .booking__type div {
        margin: 8px 10px;
    }

    .btn_ {
        padding: 12px 30px;
        font-size: 14px;
    }

    /*End Table management*/
    /* .booking__type {
        -webkit-box-orient: vertical !important;
        -webkit-box-direction: normal !important;
        -ms-flex-direction: column !important;
        flex-direction: column !important;
    } */
    .booking__type div {
        margin: 8px 10px;
    }

    .view__types,
    .status__atto {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
    }

    .view__types {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
    }

    .view__types > div,
    .status__atto > div {
        margin: 8px 10px;
    }

    /*End TurnOver Time*/
    /*DashBoard*/
    .dB__stats_header {
        font-size: 12px;
    }

    .db__stats_value {
        font-size: 20px;
    }

    .dashBoard__active-orders {
        margin-bottom: 30px;
    }

    /*End DashBoard*/

}

@media screen and (max-width: 991px) {

    .reservation__atto {
        /*-webkit-align-items: unset;
        align-items: unset;*/
    }

    .reservation__atto h1 {
        margin-top: 4px;
    }

    .navbar-laravel .navbar-head {
        padding-left: 0;
        padding-right: 0;
    }

    .giftcard-listing-page .reservation__atto h1,
    .order-page .reservation__atto h1,
    .merchandise-order-page .reservation__atto h1 {
        margin-top: 4px;
    }

    /* .sidebar {
        width: 85px;
    } */
    #app .sidebar {
        position: fixed;
        /*left: -155px;*/
        z-index: 10;
        height: 100vh !important;
        overflow: auto;
    }

    .content-container {
        width: calc(100% - 70px) !important;
        margin-left: 70px;
        /*width: 100% !important;*/
        height: calc(100% - 73px);
    }

    body.withoutSidebar .content-container {
        width: 100% !important;
        margin-left: 0;
    }

    .login-page .content-container {
        width: 100% !important;
        margin-left: 0;
    }

    .templates-page .template_img .min-width-180 {
        min-width: 180px;
    }

    #app .sidebar + .overlay {
        display: none;
    }

    #app.active-sidebar .sidebar + .overlay {
        display: block;
    }

    body.floor-configuration .content-container {
        height: calc(100vh - 73px);
    }

    .main__container {
        padding: 0 10px;
    }

    .templates-page .template_img .min-width-180 {
        min-width: 180px;
    }

    .orderTitle__row {
        padding-right: 50px !important;
        display: flex;
        flex-direction: row !important;
        justify-content: space-between;
        width: 100%;
    }

    .orderTitle__row > div {
        padding: 0 !important;
    }

    .sub_item {
        /*padding-left: 0;
        margin-left: 5px;
        text-align: center;*/
    }

    .side-item.selected::before {
        /* height: 42px;
        width: 2px; */
        background-color: transparent;
    }

    .guestbook_userDetails .details__customer {
        margin-top: 57px;
    }

    /*
        .sidebar {
            padding: 1rem 0;
        }

        .side-item .title > span,
        .side-item .title > p {
            flex-direction: column;
        }

        .side-item .title p,
        .side-item .title > span {
            text-align: center;
            padding-right: 0;
        }

        #app.active-sidebar .flex-box > div.sidebar .title > p > span:nth-child(1) {
            float: none;
        }

        .side-item .title p > span:nth-child(1),
        .side-item .title > span > span:nth-child(1) {
            font-size: 30px;
            margin: 0 auto;
            padding: 0;
            display: block;
            float: none;
            padding-bottom: 5px;
        }*/
    /*.booking__type .booking__btn {
        margin: 5px 0px;
    }*/
    .order__row .col-md-2 {
        padding: 0;
    }

    /* Start Turnover Timg */
    /*
    .turnOver__box,
    .turnOver__submitBtn,
    .turnOver__box > div.row {
      max-width: 600px;
    }
  */
    .turnOver__box > div.row {
        min-width: 600px;
    }

    /*
    .turnOver__box .col-md-3 {
      min-width: 180px;
    }
  */
    /*
    .turnOver__box .col-md-3.table__type,
    .turnOver__box .col-md-3.party_type,
    .turnOver__box .col-md-3.turover_type {
      min-width: 120px;
    }
  */
    .first_col,
    .table__type,
    .party_type {
        font-size: 14px;
    }

    .center.slider .input-number {
        font-size: 16px;
        padding: 0;
    }

    .first_col .icon {
        padding: 10px 8px 10px 0px;
        margin-right: 8px;
    }

    .partySize__row span,
    .turnOver__row .column_header span {
        font-size: 10px;
    }

    .center.slider .btn-number {
        padding: 0;
    }

    /* End Turnover Timg */
    /*.floor__name {
        font-size: 16px;
    }*/
    .table-view .customer__new:after,
    .table-view .customer__repeat:after,
    .table-view .customer__vip:after {
        position: relative;
        display: inline-block;
        margin-left: 10px;
    }

    #today_reservation > div,
    .server__details-wrapper {
        min-width: auto;
    }

    .table-view .customer__name {
        padding-bottom: 15px;
    }

    .table-view .fa,
    .paytment-refund {
        margin-right: 5px;
    }

    .table-view .first_last_activity,
    .table-view .reservation_type {
        font-size: 12px;
    }

    .table-view .first_last_activity .first_activity {
        color: #c7c7c7;
    }

    .table-view .first_last_activity .last_activity {
        color: #ff8700;
    }

    .table-view .customer__name {
        font-size: 18px;
    }

    .order-page .reservation__atto,
    .merchandise-order-page .reservation__atto,
    .giftcard-listing-page .reservation__atto {
        /*flex-direction: column;*/
    }

    .order-page .reservation__atto > div /*.merchandise-order-page .reservation__atto > div,
    .giftcard-listing-page .reservation__atto > div*/
    {
        width: 100%;
        /*margin-top: 5px;*/
    }

    /*.guestbook__customer-details-content > div:last-child,*/
    #today_reservation > div:last-child .table-view > div:last-child,
    .archive_reservation > div:nth-child(1) > div > div:nth-child(2) .table-view > div > div:last-child {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #today_reservation > div:last-child .table-view {
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: initial;
    }

    #today_reservation,
    .archive_reservation > div:nth-child(1) > div > div:nth-child(2),
    .guestbook__cutomer-details-wrapper,
    .server__details-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .archive_reservation > div:nth-child(1) > div > div:nth-child(2),
    .guestbook__cutomer-details-wrapper {
        /*min-width: 100%;*/
    }

    /*Reservation Popup*/
    .edit__time-container i {
        left: -4px;
    }

    /*End Reservation Popup*/
    /*New waitList*/
    .waitList-modal .modal-lg {
        width: 720px;
    }

    .dB__stats {
        flex: 1 1 30%;
    }

    /*New waitList End*/
    .gust-tag-cont > div:nth-child(2n) {
        border: none;
    }

    .gust-tag-cont > div:nth-child(3n) {
        border-right: 1px solid #ececec;
    }

    .gust-tag-cont > div:nth-child(6n) {
        border: none;
    }

    .dashBoard__ao__re {
        flex-direction: column;
    }

    .dashBoard__ao__re > div {
        max-width: 100%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }

    .tablet-flex-wrap {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .tablet-flex-justify-center {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .tablet-flex-align-item-baseline {
        -webkit-align-items: baseline;
        align-items: baseline;
    }

    .tablet-flex-align-item-start {
        -webkit-align-items: start !important;
        -ms-flex-align: start !important;
        align-items: start !important;
    }

    html .show-tablet {
        display: inline-block !important;
    }

    html .hidden-tablet {
        display: none;
    }

    .show-tablet-30 {
        width: 30% !important;
    }

    .show-tablet-40 {
        width: 40% !important;
    }

    .show-tablet-50 {
        width: 50% !important;
    }

    .show-tablet-60 {
        width: 60% !important;
    }

    .show-tablet-100 {
        width: 100% !important;
    }

    .booking-nav ul li {
        margin-right: 10px;
        font-size: 12px;
    }

    .booking__type {
        flex-direction: row !important;
    }

    .tablet-margin-bottom-15 {
        margin-bottom: 15px !important;
    }

    .tablet-no-padding {
        padding: 0 !important;
    }

    .tablet-margin-left-25 {
        margin-left: 25px;
    }

    .reservation-listing-page .reservation__atto .top_right_btns {
        display: flex;
        flex-direction: column;
    }

    .reservation-listing-page .reservation__atto .top_right_btns > div:nth-child(1) {
        order: 2;
        justify-content: flex-end;
    }

    .reservation-listing-page .reservation__atto .top_right_btns > div:nth-child(1) .btn {
        max-width: 100px;
        margin-top: 5px;
    }

    .reservation-listing-page .reservation__atto .top_right_btns > div:nth-child(2) {
        order: 1;
    }

    .reservation-listing-page .reservation__atto .top_right_btns > div:nth-child(2) > div:nth-child(2) {
        padding-right: 0;
    }

    .order-page .carryout-order-status ul li,
    .order-page .delivery-order-status ul li {
        width: 23%;
    }

    .order-page .carryout-order-status ul li:after {
        right: -103%;
        width: 140%;
    }

    .order-page .delivery-order-status ul li:after {
        right: -222% !important;
        width: 261% !important;
    }

    .order-page .delivery-order-status ul li:nth-child(2):after {
        width: 96% !important;
    }

    .tablet-flex-wrap-ac {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .dashboard-page .analysis-area > div,
    .reports-location-page .analysis-area > div {
        width: 240px;
        padding-left: 15px !important;
        padding-right: 15px !important;
        margin-bottom: 10px;
    }
}
@media screen and (min-width: 768px) {
    .mobile-tiles{
        display: none;
    }
    .above-mobile{
        display: block;
    }
}

/*Tablets and Below*/
@media screen and (max-width: 768px) {
    #reservation-edit .number__box {
        margin: 0;
    }

    #reservationDetailModal .modal-dialog {
        width: auto !important;
    }

    .content-container {
        overflow: visible !important;
    }

    /*GuestBook--detail*/
    .detail__header {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .guestbook__user {
        /*width: 100%;*/
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: start;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    .guestbook_userDetails {
        /*width: 100%;
        margin: 0;
        margin-top: 20px;
        padding: 10px 5px;*/
    }

    .details__body-box {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .details__stats-box,
    .details__favItems-box {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
    }

    .detail_body {
        margin-top: 25px;
    }

    /*.guestbook_userDetails h4 {
      margin-bottom: 20px;
    }*/
    .guestbook_userDetails-edit {
        margin-right: 10px;
    }

    /*---------------*/
    /*.floor__name {
      font-size: 12px;
      max-width: 100px;
    }*/
    .floor__image img {
        padding: 20px 0px;
    }

    /* .booking__btn {
      padding: 10px;
      font-size: 11px;
    } */
    .manageWaitlist__btn {
        min-width: 106px;
        font-size: 12px;
    }

    .content-container {
        /*overflow: auto !important;*/
        width: calc(100% - 180px);
    }

    .table__assinged {
        padding: 5px 23px 5px 6px;
    }

    .floor_nav {
        justify-content: flex-start;
    }

    #tableManagement__wrapper .current__floor {
        max-width: 192px;
    }

    #reservationTab {
        margin-left: 0px;
    }

    .dashboard-page .analysis-area > div,
    .reports-location-page .analysis-area > div {
        width: 220px;
    }

}

/*------- Only for iPad Landscape View --------*/

@media screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: landscape) {
    html .hidden-tablet,
    html .hidden-only-tablet {
        display: none !important;
    }

    html .show-tablet {
        display: inline-block !important;
    }

    .table-view .customer__new:after,
    .table-view .customer__repeat:after,
    .table-view .customer__vip:after {
        position: relative;
        display: inline-block;
        margin-left: 10px;
    }

    .guestbook__cutomer-details-wrapper,
    #today_reservation > div,
    .server__details-wrapper {
        min-width: auto;
    }

    .guestbook__customer-details-content.show-tablet {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .table-view .customer__name {
        padding-bottom: 15px;
    }

    .table-view .fa {
        margin-right: 5px;
    }

    .table-view .first_last_activity,
    .table-view .reservation_type {
        font-size: 12px;
    }

    .table-view .first_last_activity .first_activity {
        color: #c7c7c7;
    }

    .table-view .first_last_activity .last_activity {
        color: #ff8700;
    }

    .table-view .customer__name {
        font-size: 18px;
    }

    .guestbook__customer-details-content > div:last-child,
    #today_reservation > div:last-child .table-view > div:last-child {
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
    }

    #today_reservation > div:last-child .table-view {
        -webkit-box-align: initial;
        -ms-flex-align: initial;
        align-items: initial;
    }

    #today_reservation > div:last-child .table-view.show-tablet {
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
    }

    #today_reservation,
    .archive_reservation > div:nth-child(1) > div > div:nth-child(2),
    .guestbook__cutomer-details-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .floor__name {
        padding: 15px;
        font-size: 18px;
    }

    .dashboard-page .analysis-area > div,
    .reports-location-page .analysis-area > div {
        width: 240px;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

}

/*---------------*/

/*------- Only for iPad Landscape View  & portrait view--------*/
@media screen and (max-device-width: 1024px) and (min-device-width: 768px) {
    .navContent-right-subcat{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dropdown-devices{
        display: none;
    }

    html .hidden-only-tablet {
        display: none;
    }

    .create-floor__container {
        top: 50px;
        max-width: 400px;
    }

    #reservation-edit .number__box {
        margin: 0;
    }

    .floor__details-edit li span:nth-child(2) {
        /*display: none;*/
    }

    html .show-tablet {
        display: inline-block !important;
    }

    .table-view .customer__new:after,
    .table-view .customer__repeat:after,
    .table-view .customer__vip:after {
        position: relative;
        display: inline-block;
        margin-left: 10px;
    }

    .guestbook__cutomer-details-wrapper,
    #today_reservation > div,
    .server__details-wrapper {
        min-width: auto;
    }

    .guestbook__customer-details-content.show-tablet {
        display: flex !important;
    }

    .table-view .customer__name {
        padding-bottom: 15px;
    }

    .table-view .fa {
        margin-right: 5px;
        font-size: 14px;
    }

    .table-view .fa.fa-clock-o {
        font-size: 16px;
    }

    .table-view .first_last_activity,
    .table-view .reservation_type {
        font-size: 12px;
    }

    .table-view .first_last_activity .first_activity {
        color: #c7c7c7;
    }

    .table-view .first_last_activity .last_activity {
        color: #ff8700;
    }

    .table-view .customer__name {
        font-size: 18px;
    }

    .guestbook__customer-details-content > div:last-child,
    #today_reservation > div:last-child .table-view > div:last-child {
        justify-content: space-between;
        flex-direction: column;
        display: flex;
    }

    #today_reservation > div:last-child .table-view {
        align-items: initial;
    }

    #today_reservation > div:last-child .table-view.show-tablet {
        display: flex !important;
    }

    #today_reservation,
    .archive_reservation > div:nth-child(1) > div > div:nth-child(2),
    .guestbook__cutomer-details-wrapper {
        padding-left: 30px;
        padding-right: 30px;
    }

    .table__heading {
        width: 100px;
        margin-right: 0px;
        font-size: 15px;
    }

    .archive__page_item {
        font-size: 13px;
    }

    #ui-datepicker-div.ui-widget.ui-widget-content {
        margin-left: -16px;
    }

    .server-listing .assign_btn {
        float: initial;
        margin: 10px 0px;
    }

    .table-assign ul li {
        margin: 0px 11px 0px 0px;
    }

    .welcome__img {
        top: -180px;
        left: 0;
    }

    .booking__type .booking__btn {
        /* padding: 8px 0; */
        margin: 0px 0px 0px 15px;
    }

    .server-listing .server__name {
        margin-bottom: 0;
    }

    #customSettingModal #custom_hours {
        width: 100%;
    }

    #custom_hours input {
        width: 100%;
    }

    #customSettingModal .input__field.relative.names {
        margin-left: 2px !important;
    }

    .show-tablet-50 {
        width: 50% !important;
    }

    .show-tablet-60 {
        width: 60% !important;
    }

    .show-tablet-100 {
        width: 100% !important;
    }

    .tablet-margin-top-0 {
        margin-top: 0 !important;
    }

    .floor_nav {
        padding: 11px 30px 11px 15px;
    }

    .activity__dropdown {
        font-size: 11px;
    }
}

/*---------------*/
/*----------------turnovertime page css------------------------*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .navContent-right-subcat .navbarDropdown:before{
        content:'|';
        padding: 0 15px;
    }
    .navContent-right-subcat a.last-noborder:after{
        content:'';
        padding: 0;
    }

    html .hidden-only-tablet {
        display: none;
    }

    .turnOver__box {
        display: flex;
        flex-direction: row;
        /*    max-width: 100% !important;*/
    }

    .header__row {
        display: flex;
        flex-direction: column;
    }

    .partySize__row {
        display: flex;
        flex-direction: column;
        width: 50%
    }

    .turnOver__row {
        display: flex;
        flex-direction: column;
        width: 50%;
    }

    .edit-cross-sec {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        min-width: 66px !important;
    }

    .turnOver__box > .header__row,
    .turnOver__box > .partySize__row,
    .turnOver__box > .turnOver__row {
        min-width: 160px !important;
    }

    .turnOver__row .first_col {
        padding: 11px 12px;
        min-width: 100% !important;
    }

    .header__row .first_col {
        padding: 26px 12px;
    }

    .party_type {
        border-right: 0px;
    }

    .turnOver__row .icon img {
        width: 23px;
    }

    .turnOver__box .col-md-3.table__type,
    .turnOver__box .col-md-3.party_type,
    .turnOver__box .col-md-3.turover_type {
        width: auto !important;
    }

    .row.edit-cross-sec > div:first-child {
        height: 50px;
    }

    .edit-cross-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 66px;
        padding: 0px 0 0 !important;
    }

    .turnOver__submitBtn {
        margin: 30px 0;
        max-width: 80% !important;
    }

    .turnOver__box .col-md-3 {
        min-width: 100% !important;
        height: 50px;
    }

    .turnOver__box .turover_type {
        border-right: 0;
        border-bottom: 1px #494948 solid;
    }

    .turnOver__box .turover_type:last-child {
        border: 0
    }

    .dis--flex {
        display: flex;
    }

    .turnOver__box .dis--flex {
        width: 80%
    }

    .turnOver__box .edit-cross-sec > div {
        min-width: 55px !important;
    }

    .party_type {
        border-bottom: 1px solid #fff;
    }

    .party_type:last-child {
        border-bottom: 0px;
    }

    .table__type,
    .party_type,
    .turover_type,
    .edit-cross-icon {
        height: 40px !important;
    }

    /*.shift__overview ul li {
        float: right;
    }*/
    .booking-nav ul li {
        margin-right: 25px;
    }

    .booking-nav .booking_count,
    .booking-nav .booking_covers {
        padding: 0px;
    }

    .reservation__searchbar.all {
        margin-left: 7px;
        margin-right: 10px;
    }

    .booking-nav .cover {
        padding: 0px;
    }

    .row__customer .icon-size .icon-online,
    .today_reservation .icon-size .fa-phone {
        font-size: 16px;
    }

    .row__customer .icon-size span,
    .today_reservation .icon-size span {
        /*font-size: 20px;*/
    }

    .floor_nav {
        flex-wrap: wrap;
    }
}

@media screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) {

    .sidebar {
        position: absolute;
        left: -155px;
        z-index: 10;
        overflow: auto;
    }

    .content-container {
        /* width: calc(100% - 85px) !important; */
        width: 100% !important;
        height: calc(100vh - 73px);
    }

    body.floor-configuration .content-container {
        height: calc(100vh - 73px);
    }

    html .side-bar-open {
        display: block !important;
    }

    #tableManagement__wrapper .floor_nav .side-bar-open + .selct-picker-plain {
        width: 35%
    }

    /*.sub_item {
        padding-left: 0;
        margin-left: 5px;
        text-align: center;
    }

    .side-item.selected::before {
        !* height: 42px;
        width: 2px; *!
        background-color: transparent;
    }

    .side-item .title p,
    .side-item .title > span {
        text-align: center;
        padding-right: 0;
    }

    .side-item .title p span,
    .side-item .title > span span {
        font-size: 30px;
        margin: 0 auto;
        padding: 0;
        display: block;
        float: none;
        padding-bottom: 5px;
    }*/
    #month_reservation_calendar.fc td.fc-event-container {
        padding-bottom: 15px;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
    /*
      .turnOver__box .col-md-3 {
        min-width: auto !important;
      }
    */
    .tablet-flex-wrap {
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .tablet-flex-align-item-baseline {
        -webkit-align-items: baseline;
        align-items: baseline;
    }

    html .show-tablet {
        display: inline-block !important;
    }

    html .hidden-tablet {
        display: none;
    }

    .show-tablet-30 {
        width: 30% !important;
    }

    .show-tablet-40 {
        width: 40% !important;
    }

    .show-tablet-50 {
        width: 50% !important;
    }

    .show-tablet-60 {
        width: 60% !important;
    }

    .show-tablet-100 {
        width: 100% !important;
    }

    .booking-nav h5 {
        font-size: 13px;
    }

    .booking-nav ul li {
        margin-right: 10px;
        font-size: 12px;
    }

    .tablet-flex-wrap-ac {
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .dashboard-page .analysis-area > div {
        min-width: 250px;
        padding-left: 15px !important;
        padding-right: 15px !important;
    }

}

@media only screen and (max-width: 1600px) {
    .edit-cross-sec {
        max-width: 800px;
    }
}

@media screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: portrait) {
    .content-row1{
        font-size: 10px;
    }
    .fullWidth.most_loyal_customer .content-head{
        font-size: 8px;
    }
    .mobile-dd{
        display: none;
    }
    .navContent-left, .navContent-right{
        font-size: 12px;
    }
    .btn-group .filter-option{
        font-size: 12px;
    }
    .margin-left-30{
        margin-left: 8px !important;
    }
    .navContent-right-subcat a:after{
        padding: 0 10px;
    }
    html .hidden-tablet {
        display: none !important;
    }
}

@media screen and (max-device-width: 1024px) and (min-device-width: 768px) and (orientation: landscape) {
    .reservation__searchbar.all {
        margin-right: 30px;
    }

    .booking-nav ul li {
        margin-right: 15px;
        /*font-size: 11px;*/
    }

    .order-page .reservation__atto {
        /*flex-direction: column;*/
    }

    .order-page .reservation__atto > div {
        /*width: 100%;
        margin-top: 5px;*/
    }

    .search__manage-order .form_field__container div.search-icon {
        width: 280px;
    }
}

/* iPad Pro */
@media screen and (max-device-width: 1366px) and (min-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {

    html .hidden-only-tablet {
        display: none;
    }

    .guestbook__table-header, .guestbook__cutomer-details-wrapper, .server__details-wrapper, .server__table-header, /*.archive_reservation > div:nth-child(1) > div > div:nth-child(2),*/
    .row__reservation-archive.header-color {
        min-width: 100%;
    }

    .order-page .reservation__atto {
        flex-direction: column;
    }

    .order-page .reservation__atto > div {
        width: 100%;
        margin-top: 5px;
    }

    html .hidden-tablet {
        display: none !important;
    }

    html .show-tablet {
        display: inline-block !important;
    }
}

@media screen and (max-device-width: 1366px) and (min-device-width: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: landscape) {

    html .hidden-only-tablet {
        display: none;
    }

    .guestbook__table-header, .guestbook__cutomer-details-wrapper, .server__details-wrapper, .server__table-header, /*.archive_reservation > div:nth-child(1) > div > div:nth-child(2),*/
    .row__reservation-archive.header-color {
        min-width: 100%;
    }

    .order-page .reservation__atto,
    .merchandise-order-page .reservation__atto,
    .giftcard-listing-page .reservation__atto {
        /*flex-direction: column;*/
    }

    .order-page .reservation__atto > div,
    .merchandise-order-page .reservation__atto > div,
    .giftcard-listing-page .reservation__atto > div {
        /*width: 100%;
        margin-top: 5px;*/
    }

    .search__manage-order .form_field__container div.search-icon {
        width: 280px;
    }

    /* html .hidden-tablet {
         display: none !important;
     }

     html .show-tablet {
         display: block !important;
     }*/
    /* End iPad Pro */
    .booking-nav h5 {
        /* font-size: 11px;*/
    }

}

/*** Below 767 ***/
@media all and (max-width: 767px) {
    .above-mobile{
        display: none;
    }
    .mobile-tiles{
        display:block; 
        font-size:12px; 
        font-weight:bold; 
        padding-bottom:5px;
        padding-right: 20px;
    }
    /* .navContent-right{
        display: none;
    } */
    .navContent-right-mobile ul{
        list-style: none;
        line-height: 2;
        font-size: 15px;
    }
    .icon-hamburger:before{
        font-size: 20px;
    }
    .icon-close:before{
        font-size: 20px;
    }
    .margin-left-30{
        margin-left: 20px !important;
    }
    .dashboard-page .analysis-area > div,
    .reports-location-page .analysis-area > div{
        width: 100%;
    }
    .dashboard-page .analysis-area > div,
    .reports-location-page .analysis-area > div{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .reservation-listing-page .reservation__atto .top_right_btns {
        display: flex;
        flex-direction: column;
    }

    .reservation-listing-page .reservation__atto .top_right_btns > div:nth-child(1) {
        order: 2;
        justify-content: flex-end;
    }

    .reservation-listing-page .reservation__atto .top_right_btns > div:nth-child(1) .btn {
        max-width: 100px;
        margin-top: 5px;
    }

    .reservation-listing-page .reservation__atto .top_right_btns > div:nth-child(2) {
        order: 1;
    }

    .reservation-listing-page .reservation__atto .top_right_btns > div:nth-child(2) > div:nth-child(2) {
        padding-right: 0;
    }

    .guestbook-listing-page .search-icon {
        width: 250px;
    }

    /* New CSS of NEW changes */
    .content-container {
        width: calc(100%) !important;
        margin-left: 0px;
    }
    /* #app .sidebar {
        left: -174px;
    } */
    .formobile {
        display: block;
    }

}

/******************************/

@media (max-height: 800px) {
    #ui-datepicker-div.reservation_date {
        top: auto !important;
        bottom: 15px;
    }
}

/**** Hide on mobile ****/

@media all and (max-width: 1000px) {
    /*#app{
        display: none;
    }*/
    .mobile-hidden-text.hidden {
        background: #000;
        position: absolute;
        height: 100%;
        width: 100%;
        color: #fff;
        text-align: center;
        font-size: 20px;
    }

    .disable-text-part {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
        width: 100%;
        padding: 0px 20px;
        color: #fff;
    }

}

@media all and (max-width: 640px) {
    .mobile-hidden-text.hidden {
        display: block !important;
    }

    .tablet-hidden-text.hidden {
        display: none !important;
    }

    /*#app {*/
    /*display: none !important;*/
    /*}*/
}

@media all and (min-width: 641px) {
    .mobile-hidden-text.hidden {
        display: none !important;
    }
}

@media only screen and (max-device-width: 640px) and (max-device-height: 640px) and (orientation: landscape) {
    html.mobile .mobile-hidden-text.hidden {
        display: block !important;
    }

    html.mobile .tablet-hidden-text.hidden {
        display: none !important;
    }

    /*#app {*/
    /*display: none !important;*/
    /*}*/
}

