.rest__user-wrapper {
  background-color: #fff;
}

.desk__res.guestbook__customer-details-content > div:last-child {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.rest__user-wrapper .guestbook__table-header {
  padding: 15px 30px;
}
.rest__user-wrapper .guestbook__cutomer-details-wrapper {
  padding: 0;
}

.rest__user-wrapper .guestbook__customer-details-content {
  padding: 25px 30px;
}
.rest__user-wrapper .btn,
.rest__user-wrapper .btn:hover,
/*.reservation__atto .btn:hover,*/
.btn__search:hover {
  color: #fff !important;
}


.mob__btn {
  margin:15px 0;
}
.form-control:focus {
  outline: none !important;
  border-color: #ebebeb;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.select__restraunt{
  background: transparent !important;
}

.functionality__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.functionality__wrapper > div {
  margin: 0 20px;
}

.functionality__wrapper .input__field {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.form__user__edit {
  width:-webkit-fit-content;
  width:-moz-fit-content;
  width:fit-content;
}

.form__container {
  max-width: 660px;
}

.form__container .form-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  padding-bottom: 10px;
}
.form__container .form-group.dblock{
  display: block;
}

.card.form__container {
  padding: 30px;
}

.card.form__container .col-md-4 {
  min-width: 240px;
}

.mob__guest__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

@media (max-width:768px) {
  .form__container .form-group {
    padding: 0;
  }
}

.no-col-padding {
  padding-left: 0px !important;
  padding-right: 0 !important;
}
.pt-5 {
  padding-top: 8px;
}
.mt-20 {
  margin-top: 20px;
}
.rowpb {
  padding-bottom: 15px;
}
.width100 {
  width: 100% !important;
}
.nav.nav-tabs {
  margin-bottom: 20px;
}
.tab-content h3 {
  margin-bottom: 15px;
}
.form-group .form-control {
  padding: 3px;
}
.image_cont_main.nospace {
  top: 0!important;
}
.label__heading.ptb,
.label__switchHead.ptb {
  padding: 15px 0;
}
.label__switchToggle .waitList__otp {
  padding: 5px 0;
}
.label__switchToggle .waitList__otp .toggle__container {
  margin-left: 0;
}
.newtable table tr td {
  padding: 10px;
}
.newtable table input[type=checkbox] {
  margin-right: 5px;
}
.form__container.newwidth {
  max-width: 100%;
}
.form__user__edit.newwidth {
  width: 100%;
}
.col-form-label.text-align-left, .text-align-left {
  text-align: left;
}
.addonbox {
  border: solid 1px #ddd;
  padding: 15px;
  margin: 20px 0;
}
.noneCol {
  border: none;
  border-bottom: solid 1px #d1d1d1;
  text-align: center;
  padding: 5px 0;
}
.input__field input[type=checkbox] {
  width: auto;
}
.custom__message-textContainer {
  margin-top: 0;
}