/*//-------------review & feedback css amit semwal-----------//*/
.review_feedback__container{
    margin-top: 30px;
    background-color: #fff;
    padding: 0px !important;
    border-radius: 5px 5px 0px 0px;
}

.review_feedback__sidebar {
    border-right: 1px solid #ebebeb;
}

.review_feedback__sidebar li i.fa{
    margin-right: 6px;
}

.stars-rating {
    text-align: center;
    font-size: 17px;
    color: #e3e3e1;
}
.stars-rating .checked{
    color: #fcbc10;
}

.would-recommand > span {
    color: #838181;
    font-weight: 600;
    font-size: 14px;
}
.would-recommand > i.fa {
    font-size: 16px;
    margin-right: 5px;
}
ul.review-feedback-cat {
    float: left;
    width: 100%;
    margin-bottom: 36px;
}
ul.review-feedback-cat li {
    float: left;
    width: auto;
    list-style: none;
    margin: 0px 0 0 27px;
}
.stars-rating.small{
    font-size: 12px;
    text-align: left;
}
ul.review-feedback-progress {
      width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #fcbc10;
    margin-bottom: 5px;
}
ul.review-feedback-progress li {
    list-style:  none;
    width: 100%;
    margin: 0px 0 0 27px;
}

progress.progress--bar {
    background: #fcbc10;
    height: 7px;
    width: 100%;
}
progress.progress--bar::-webkit-progress-bar {
  background: #f7f7f7;
}
progress.progress--bar::-webkit-progress-value {
   background: #fcbc10;
}
progress.progress--bar::-moz-progress-bar {
  background: #f7f7f7;
}
ul.review-feedback-progress li:nth-child(1){
       width: 10px; 
}
ul.review-feedback-progress li:nth-child(2){
           flex: 1;
}
ul.review-feedback-progress li:nth-child(3){
        width: 50px;
       text-align: right;
}
span.gray-hund {
    color: #ececeb;
}

.review-feedback-bott-sec .archive__page_nav > div {
    min-height: inherit;
}

.review-feedback-bott-sec .archive__page_nav > div:first-child {
    background-color: #3e3a39;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.review-feedback-bott-sec .booking-nav {
    margin-top: 30px;
    background-color: #464543;
    color: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
}
.review-feedback-bott-sec .input__field{
    position: relative;
    font-weight: normal;
}
/* .review-feedback-bott-sec .table__heading {
    font-size: 18px;
    font-weight: 700;
    width: 180px;
    height: 63px;
    margin-right: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #3e3a39;
    color: #fff;

} */
.input__field-review-feedback .fa-search{
    position: absolute;
    top: 3px;
    left: 0;
}
.input__field-review-feedback input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #ccc;
    padding: 0 0 0 22px;
    font-size: 16px;
    background-color: transparent;
    font-weight: 100;
}
.input__field-review-feedback input::placeholder {
    color: #fff;
    font-size: 16px;
}
.input__field-review-feedback {
    position: relative;
}
.input__field-review-feedback label {
    position:  absolute;
    top: 4px;
}
/* .review-feedback-bott-sec .archive__page_navtab{
    height: 64px;
    width: 100%;
    background-color: #3f3f3f;
} */
.review-feedback-bott-sec .datepicker__tab{
    border-bottom: none;
}
.rev-feed-cal {
    position: absolute;
    top: 3px;
    left: -10px;
}
.review-feedback-bott-sec  .archive__page_item {
    /* margin-left: 20px; */
    position: relative;
    font-size: 16px;
    /* padding-left: 19px; */
}
.review-feedback-bott-sec  .archive__page_item label {
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    position: absolute;
    pointer-events: none;
    color: #999595;
    left: 15px;
    font-size: 12px;
    line-height: 2;
    font-weight: normal;
}
.review-feedback-bott-sec .fa-calendar{
    font-size: 15px;
}
.rev-feed-arrow{
    position: absolute;
    top: -2px;
    right: 0;
}

.rev-feed-sotby .selct-picker-plain {
    border: 0;
}

.rev-feed-sotby .dropdown-toggle{
    border: none;
}
.rev-feed-sotby label{
    position: absolute;
    top: -16px;
    color: #999595;
}
.review-feedback-bott-sec .datepicker__tab:focus + label, .review-feedback-bott-sec .datepicker__tab:valid + label, .review-feedback-bott-sec .datepicker__tab.addDate + label{
    top: -16px;
}

.rev-feed-sotby ul.dropdown-menu {
    background-color: #3f3f3f;
    border: none;
    top: 42px;
    border-radius: 0;
    font-size: 16px;
    width: auto;
    color: #fff;
    padding: 0;
}

.rev-feed-sotby .dropdown-menu {
    padding: 0;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}

.rev-feed-sotby .dropdown-menu li{
    margin-right: 0;
    display: block;
}.rev-feed-sotby .dropdown-menu li a{
    color: #fff;
    padding:5px 20px;
}
.rev-feed-sotby .dropdown-menu>li>a:focus, .rev-feed-sotby .dropdown-menu>li>a:hover{
    background-color: transparent;
}
.border-right{
    border-left: 1px solid #ebebeb;
}

.rev-feed-sotby .selct-picker-plain .dropdown-toggle .bs-caret {
    top: 5px;
}

.rev-feed-sotby .selct-picker-plain .dropdown-toggle .bs-caret .caret:after,
.rev-feed-sotby .selct-picker-plain .dropdown-toggle .bs-caret .caret:before {
    border-color: #fff;
}
ul.review-feedback-progress:last-child {
    margin: 0;
    padding: 0;
}
.review_feedback__pannel {
    border-left: 1px solid #ebebeb;
}
.rev-feed-details {
    margin-top: 45px;
}
.user--info h4 {
    font-size: 16px;
    border-bottom: 1px solid #ebebeb;
}
.user--info-right > div:nth-child(2) {
    background: #f9f9f9;
    padding: 25px 25px;
    color: #a5a5a5;
    margin: 8px 0;
}
.user--info-right > div:first-child >span {
    margin-right: 14px;
}
.user--info-right > div:first-child >span {
    margin-right: 14px;
    color: #848283;
}
.user--info-right a {
    color: #000;
    text-decoration: underline !important;
}
.user-input-post > input {
    border: 1px solid #ebebeb;
    height: 35px;
    width: 80%;
    padding-left: 25px;
    float: left;

}
.user-input-post > button {
    background: #ff9a00;
    border: 0;
    height: 35px;
    margin-left: -3px;
    color: #fff;
    padding: 0 36px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    width: 20%;
    float: left;
}
.user-input-post > input::placeholder {
    color: #828081;
    font-style: italic;
}
.user--pic img {
    display: inline-block;
    width: 40px;
    max-height: 40px;
    margin: 0 10px 10px 0px;
}
.user--info > div {
    margin-bottom: 10px;
}

/************************** review and feedback *************************************/
.content-division{
    border-left: 1px solid #ebebeb;
}
.review-tab-all{
    border-bottom: 1px solid #ebebeb;
    padding-left: 40px;
}

.review-tab.review-tab-all.nav-pills>li {
    margin: 0 5px;
}

.review-tab.nav-pills>li a{
    color:#838181;
    background-color:transparent!important;
    font-size: 14px;
    padding:13px 10px 10px;
}
.review-tab.nav-pills>li.active>a,
.review-tab.nav-pills>li.active>a:focus,
.review-tab.nav-pills>li.active>a:hover{
    background-color:transparent!important;
    color:#ff9700;
    border-bottom: 3px solid #ff9700;
    border-radius: 0px;
}
.nav-stacked.review-tab.nav-pills>li.active>a{
    border-bottom: 3px;
}
.rating-count h3{
    margin-bottom: 0px;
    font-weight: 800;
}
.rev-feed-cal .icon-calendar,
.rev-feed-arrow .fa-chevron-down{
    color:#fff;
}
.rev-feed-arrow .fa-chevron-down{
    font-size: 12px;
    top:10px;
}
.user--pic .user__name{
    font-size: 16px;
    font-weight: 600;
    color: #000;
}
.review__heading{
    color:#ff9700;
    font-weight: 600;
    font-size: 16px; 
}
.review__title{
    color: #838181;
    font-weight: 600;
    font-size: 14px; 
}
.review__section.scroller{
    max-height: 400px;
    margin-bottom: 30px;
    padding-bottom: 30px;
}
/***********************************************/

.review-viewDetails {
    border:0;
    max-width: 350px;
}

.review-viewDetails .popover-title {
    padding-left:0;
    padding-right:0;
    background: none;
    padding-bottom:0;
    border-bottom-color: #ccc;
}

.review-viewDetails .popover-title span > span {
    border-right:1px #ccc solid;
    font-size: 12px;
    color: #848283;
    padding-top:5px;
    padding-bottom:0;
}

.review-viewDetails .popover-title span > span b {
    color: #000;
    display: block;
    padding-top:5px;
}

.review-viewDetails .popover-title span > span:last-child {
    border: 0;
}

.review-viewDetails .popover-content,
.review-rating .popover-content {
    background: none;
    color: #848283;
    padding:10px 15px !important;
    font-size: 14px;
    line-height: 18px;
}

.review-rating {
    border:0;
    max-width: 250px;
    width: 100%;
}

.review-rating .popover-content {
    padding-top:20px !important;
    padding-bottom:20px !important;
}

.review-rating .popover-content .fa.fa-star {
    color: #848283;
}

.review-rating .popover-content .fa.fa-star.checked {
    color: #fcbc10;
}
