.seated-table__wrapper {
    display: flex;
    width: 100%;
}
.seated-table__sec1 {
    background-color: #55b4e1;
    width: 100%;
    float: left;
}
.seated-table__sec2 {
    background-color: #272626;
    width: 100%;
    float: left;
}
.seat__status {
    margin: 13px !important;
}

.seat__status .status_btn {
    background-color: #323232;
    width: 160px;
    border-radius: 0px;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
}
.seat__status .btn + .btn {
    margin-left: 5px;
}
.seat__status .status_btn:hover,
.seat__status .status_btn:focus {
    background-color: #323232;
    color: #fff;
}
.person_detail {
    background-color: #323232;
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #444444;
}
.complete__btn .btn,
.complete__btn .btn:hover,
.complete__btn .btn:focus {
    background-color: #419ac4;
    color: #fff;
    padding: 10px 30px;
    font-weight: 700;
}

.complete__btn {
    padding-bottom: 7px;
}

.cancle__btn .dropdown--picker {
    padding-bottom: 13px;
}

.complete__btn .dropdown--picker {
    padding-top: 0;
}

/*
.cancle__btn .btn {
    background-color: #cf3838;
    color: #fff;
    padding: 10px 30px;
    font-weight: 700;
}

.cancle__btn .btn:hover,
.cancle__btn .btn:focus,
.assign__btn .btn:hover,
.complete__btn .btn:hover,
.complete__btn .btn:focus {
    background-color: #ff8700;
    color: #fff;
}*/

#reservation_info_popup .mCSB_inside>.mCSB_container {
    margin-right: 0;
}

.table_sec3 .assign__btn .btn:focus{
 background-color: #fff; 
    color: #55b4e1;
}
.person_name h4 {
    color: #fff;
    font-size: 16px;
    font-weight: 700;
}
.person_name p {
    color: #838181;
    font-size: 13px;
}
.person_name .fa-user {
    margin-right: 5px;
}
.time__section {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #323031;
}
.time_sec1 {
    background-color: #272626;
    color: #838181;
    padding: 15px 15px;
    width: 56%;
    font-size: 13px;
}
.time_sec2 {
    background-color: #1d1d1d;
    color: #fff;
    padding: 15px 15px;
    width: 44%;
    font-size: 30px;
    text-align: center;
}
.time_sec2 span {
    font-size: 15px;
    color: #838181;
}
.color {
    color: #c3f58e;
}

.table_sec1 {
    background-color: #419ac4;
    color: #fff;
    padding: 14px 20px 2px;
    text-align: center;
    font-size: 20px;
}
.table_sec1 > div:last-child {
    font-size: 15px;
}
.server-color {
    border: 2px solid #fff;
    width: 15px;
    height: 14px;
    display: inline-block;
    border-radius: 100px;
    margin-right: 5px;
}
.table-color {
    border: 2px solid #fff;
    width: 15px;
    height: 14px;
    display: inline-block;
    border-radius: 100px;
    margin-right: 5px;
}
.table_sec1 .server__name {
    margin: 0 44px;
}
.table_sec1 h4 {
    font-size: 20px;
    font-weight: 700;
    margin-top: 0px;
    margin-bottom: 0px;
}
.table_sec3 {
    height: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 15px 0px;
}
.assign__btn .btn {
    color: #55b4e1;
    background-color: #fff;
    font-size: 14px;
    font-weight: 700;
    padding: 6px 12px;
    border-radius: 5px;
    width: 145px;
}
.assign__btn .btn:nth-child(2){
    margin-left: 10px;
}
.table_sec2 {
    overflow: hidden;
    border-top: 1px solid #a0cde2;
}
.table_sec2 .table_details {
    padding: 15px 10px;
    background-color: #419ac4;
    width: 50%;
    text-align: center;
    border-right: 1px solid #a0cde2;
    color: #fff;
    font-size: 15px;
    float: left;
}
.table_sec2 div:last-child {
    border-right: 0px;
}

.cancle_btn .btn {
    background-color: #cf3838;
    color: #fff;
}

.table_sec3 p {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.seated-table__sec2 .nav-pills > li > a {
    border-radius: 0px;
    color: #444343;
}
.seated-table__sec2 .nav-pills > li + li {
    float: right;
}

.seated-table__sec2 .nav-pills > li.active > a,
.seated-table__sec2 .nav-pills > li.active > a:focus,
.seated-table__sec2 .nav-pills > li.active > a:hover {
    color: #fff;
    background-color: #323232;
}
.status_btn .active a {
    color: #fff;
}
#Current .person_detail,
#Upcoming .person_detail:last-child {
    border-bottom: 0px;
}
#seatedtable .modal-content {
    border-radius: 0px;
}
.server__name > div{
    margin: 0 auto;
}
.table__name > div{
    margin: 0 auto;
}
ul.seat__status h4 {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}

.current--sec .dropdown__text{
  background-color: #f59500 !important;  
    width: 156px;
}
.upcoming-sec .dropdown__text{
    background-color: #8fcb51 !important;
    width: 156px;
}
.table-popup-contain .mCSB_inside>.mCSB_container{
    margin-right: 0;
}
.right.modal .modal-header{
    border: none;
}
.create-table-reservation .modal-body{
    background: #323232;
}
.sidebar-head {
    color: #fff;
    font-size: 19px;
    font-weight: 600;
    background: #419ac4;
    padding-top: 10px;
}
 .create-table-reservation .modal-header{
    padding: 0;
    background: #419ac4;
    }
div#myModal2 {
    pointer-events: none;
}
div#myModal2 .modal-dialog{
    pointer-events: all;
}
.dropdown--picker {
 padding-top: 5px;
}
.dropdown--picker .bootstrap-select{
        /*width: 140px !important;*/
}
.dropdown--picker .dropdown-toggle, .dropdown--picker .dropdown-toggle:hover, .dropdown--picker .dropdown-toggle:focus{
    padding: 6px 25px 6px 9px;
        border: none;
    color: #fff !important;

}

/*.dropdown--picker.orange-btn .dropdown-toggle{    background: #ff9700;}
.dropdown--picker.green-btn .dropdown-toggle{    background: #8fcb51;}
.dropdown--picker.orange-btn .bootstrap-select.open > button.btn.dropdown-toggle,.dropdown--picker.orange-btn .bootstrap-select.open > button.btn.dropdown-toggle:focus,.dropdown--picker.orange-btn .bootstrap-select > button.btn.dropdown-toggle:active {
    background: #ff9700;
}
.dropdown--picker.green-btn .bootstrap-select.open > button.btn.dropdown-toggle,.dropdown--picker.green-btn .bootstrap-select.open > button.btn.dropdown-toggle:focus,.dropdown--picker.green-btn .bootstrap-select > button.btn.dropdown-toggle:active {
    background: #8fcb51;
}
 .dropdown-menu.open li.selected > a{
    outline: none;
     background: #ff9700;
     color: #fff;
}*/
div#reservation_info_popup .table_sec1{
    padding-bottom: 10px;
}
div#reservation_info_popup .table_sec2{
        display: flex;
    justify-items: center;
}
div#reservation_info_popup .scroller {
    max-height: 100%;
}
div#reservation_info_popup .modal-body{
    max-height: 100%;
}
