.select2-container {
  display: inline-block;
  position: relative;
  margin: 0;
  vertical-align: middle;
  box-sizing: border-box;

  font-weight: 400;
  font-size: 12px;

  height: 44px;
  width: 100px;
  max-width: 100%;
}

.select2-selection--single {
  cursor: pointer;
  display: block;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: block;
  overflow: hidden;

  padding: 8px 15px 8px 0px;

  text-overflow: ellipsis;
  white-space: nowrap;
}

.select2-container .select2-selection--single .select2-selection__clear {
  position: relative;
}

.select2-dropdown {
  display: block;
  position: absolute;

  background-color: white;
  border: 1px solid #aaa;
  border-radius: 0px;

  box-sizing: border-box;

  left: -100000px;
  width: 100%;
  z-index: 1051;
}

.select2-results {
  display: block;
}

.select2-results__options {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select2-results__option {
  padding: 6px;
  user-select: none;
}

.select2-results__option[aria-selected] {
  cursor: pointer;
}

.select2-container--open .select2-dropdown {
  left: 0;
}

.select2-hidden-accessible {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

/* <!--select box color --> */

.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  line-height: 28px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  height: 20px;
  position: absolute;
  top: 10px;
  right: 5px;
  width: 20px;
  //   background-color: #c40c27;
  border-radius: 50%;

  margin: 2px;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  position: absolute;
  top: 4px;
  right: 3px;
  width: 0;
  height: 0;
  border: solid #ff8207;
  border-width: 0px 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
}

.select2-container--default.select2-container--open b {
  transform: rotate(-135deg) !important;
  border: solid $white;
  border-width: 0px 2px 2px 0;
  top: 8px;
}

.select2-container--default .select2-results > .select2-results__options {
  max-height: 200px;
  overflow-y: auto;
}

.select2-container--default .select2-results__option[aria-selected="true"] {
  background-color: #ccc;
}

.select2-container--default
  .select2-results__option--highlighted[aria-selected] {
  background-color: #ff8207;
  color: white;
}

.select2-search__field {
  display: none;
}

.select2-selection--single:focus {
  outline: none;
}


.select2main .select2-search__field{
  display: block!important;

}