.server__details-wrapper {
  padding: 0px 50px;
}
.server-listing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-weight: 400;
  padding: 25px 0;
  border-bottom: 1px solid #ebebeb;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* overflow: hidden; */
}
.server-listing .server__name {
  margin: 0px;
}
.server-listing .server__name p {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 700;
}
.server__status {
  font-size: 14px;
  font-weight: 400;
  color: #838181;
}

.server__container {
  overflow: visible;
}

.contact-no {
  font-size: 14px;
  font-weight: 400;
  color: #000;
}
.table-assign ul {
  list-style: none;
  width: 100%;
  margin-bottom: 0px;
}
.table-assign ul li {
  float: left;
  font-size: 14px;
  margin: 0px 15px 0px 0px;
}
.server-listing .cover {
  font-size: 14px;
  font-weight: 400;
  /*color: #838181;
   height: 25px; */
}
.server-listing .assign_btn {
  float: left;
  padding-right: 0px;
}
.server-listing .fa-ellipsis-v {
  color: #83818157;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
.server-listing .table-assign {
  display: flex;
}
#addserver .modal-dialog,
#add-a-note .modal-dialog {
  width: 426px;
}
#addserver .modal-header,
#add-a-note .modal-header {
  background-color: #242222;
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}
#addserver .modal-header h4,
#add-a-note .modal-header h4 {
  font-weight: 700;
}
#addserver .modal-body,
#add-a-note .modal-body {
  padding: 0px 25px;
  overflow: hidden;
}
#addserver .modal-body .input__field,
#add-a-note .modal-body .input__field {
  margin: 25px 0px 0px 0px;
  position: relative;
}
/*#addserver .modal-body .input__field label {
  color: #838181;
  padding: 0px;
  font-weight: 400;
}*/
#addserver .modal-body .input__field label span,
#add-a-note .modal-body .input__field label span {
  font-size: 12px;
  font-style: italic;
  margin-left: 5px;
}
.pick-color {
  margin-top: 20px;
}
.pick-color h5 {
  font-size: 15px;
  color: #838181;
  margin-bottom: 20px;
}
.pick-color ul {
  width: 100%;
  margin-bottom: 0px;
  float: left;
}
.pick-color ul li {
  float: left;
  margin: 0px 27px 15px 0px;
  list-style: none;
}
.pick-color ul li input[name='color'],
.add-custom-color input[name='color']{
   opacity: 0;
   filter: alpha(opacity=100);
   position: absolute;
 }
.pick-color ul .server__color {
  width: 16px;
  height: 16px;
  cursor: pointer;
}
#addserver .modal-footer,
#add-a-note .modal-footer {
  border-top: 0px;
  margin-bottom: 30px;
  text-align: center;
}
.add-custom-color {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 20px 0px 30px 0px;
}
.add-custom-color #styleSpan {
  border: 1px solid #838181;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 15px;
}
.add-custom-color button {
  background-color: transparent;
  border: 0px;
  color: #838181;
}
.save-btn .btn {
  padding: 10px 35px;
  font-size: 16px;
}

.pick-color input[type="radio"]:checked + label .colorpicker,
.add-custom-color input[type="radio"]:checked + label {
  border: 1px solid #838181;
  box-shadow: 0px 3px 3px #cccccc;
}
.colorpicker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
.server-calendar .fa-clock-o,
.server-calendar .icon-calendar {
  color: #ff8207;
  font-size: 18px;
}
.server-calendar .calendar{
  margin-right: 30px;
  display: flex;
  align-items: center;
  font-size: 15px
}
.server-calendar .fa-angle-down {
  font-size: 24px;
}
.calendar input {
  background-color: transparent;
  border: 0px;
  font-weight: 700;
  max-width: 100px;
  text-align: center;
}
.server-calendar {
  display: flex;
  margin-left: 40px;
  align-items: center;
}
.server__sec1 {
  display: flex;
  align-items: baseline;
}
.food-type{
  display: flex;
  align-items: center;
}
.food-type .selct-picker-plain .filter-option {
  color: #000;
  font-weight: 700;
  font-size: 15px;
}

.food-type .selct-picker-plain .bs-caret {
  top: 5px;
}
/*===================================*/
.shift__overview{
  background-color: #f7f5f6;
}
.shift__view{
  margin: 0px -15px;
  padding: 20px;
  font-weight: 700;
}
.flex-define{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.flex-justify{
  display: flex;
  justify-content: space-between;
}
.shift__overview .reservation-info ul{
  display: table;
  list-style-type: none;
  font-weight: 700;
  font-size: 20px;
  padding: 20px 0px;
  float: right;
  line-height: 50px;
  margin-bottom: 0px;
}
.shift__overview .reservation-info ul > li{
  float: left;
  display: table-cell;
  padding-left: 30px;
}
.separate{
  border-bottom: 1px solid #e6e6e6;
  padding: 30px 0px;
  font-weight: 700;
}
.overview{
  padding: 10px 0px;
  border-bottom: 1px solid #e6e6e6;
}
.overview h3{
  font-weight: 700;
}
.shift__notes{
  background-color: #fff;
  padding:20px 30px 10px;
  color:#000;
}
.shift__notes h4{
  font-weight: 700;
}
.shift__notes h5{
  font-weight: 700;
  margin-bottom: 0px;
  position: relative;
}

.shift__notes h5 > span {
  position: absolute;
  top: 0;
  right: 0;
}

.shift__notes p{
  color:#828081;
}
.shift__notes a{
  color:#000;
}
.shift__notes a:hover{
  color:#ff8207;
}
.add-note .btn{
  padding: 8px 24px;
  font-weight: 700;
}
.shift__view .flex-define{
  padding: 0px 15px;
}
.greenyellow{
  color:#a2cd01;
}
.edit-server{
  /* float: right; */
  /* display: flex; */
  cursor: pointer;
}
.assign__table{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.edit-server .edit-server-details-cross,
.edit-server .edit-server-details-check
{
  margin-left:10px;
}

.server-listing.table-view > div:nth-child(2){
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.add_tables_btn a {
  font-weight: 600;
}

.server_select_table_header {
  /*display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;*/
  border-bottom: 1px #ccc solid;
}

.table_assign_name .icon-circle {
  font-size: 12px;
}

.server_select_table_header > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.server_select_table_header .table_assign_name {
  white-space: nowrap;
}
.edit-server button{
  background-color: transparent;
}
.edit-server .btn.active,
.edit-server .btn:active {
  outline: 0;
  box-shadow: none;
}
.server-listing.show-tablet{
  overflow: hidden;
}

/******************************************/
.offer__tab{
  background-color: #3c3837;
}

.offer__tab.nav-pills>li.active>a,
.offer__tab.nav-pills>li.active>a:focus,
.offer__tab.nav-pills>li.active>a:hover{
  background-color:transparent!important;
    color:#fff;
  
}

.offer__tab.nav-pills>li a{
  color:#838181;
  background-color:transparent!important;
  font-size: 14px;
}

.offer__btn .btn,
.offer__btn .btn.focus,
.offer__btn .btn:focus,
.offer__btn .btn:hover {
  color:#fff!important;
  font-weight: 600;
}
/*************************************************/

#add-a-note .input-label {
  font-weight: 800;
}

#add-a-note .bottom-line {
  border-bottom: 1px solid #d1d1d1 !important;
}

#add-a-note .selct-picker-plain .btn.no-background-with-buttonline {
  border-bottom: 0 !important;
}

#add-a-note textarea#note_message {
  outline: none;
  border: 0;
  min-height: 35px;
  border-bottom: 1px solid #d1d1d1 !important;
}

#add-a-note textarea#note_message:focus + span {
  top: -10px;
}

#add-a-note textarea#note_message:focus + span,
#add-a-note textarea#note_message + span.hasVal {
  font-weight: 500;
  top:-5px;
  font-size: 12px;
  color: #a3a3a3;
  -ms-transform: translateY(-4px);
  transform: translateY(-12px);
}