.side-item {
    color: #ccc;
    margin: 40px 0;
    /*border-left: 5px solid transparent;*/
    padding-left:5px;
    display: flex;
    flex-direction: column;
}

.side-item > div:nth-child(2) {
    margin-top: 10px;
}

.sub_item a,
.sub_item a:hover,
.sub_item a:focus {
    color: #888;
    text-transform: capitalize;
}

.side-item.selected {
    position: relative;
}

/*.side-item.selected::before {
    content: "";
    display: block;
    width: 2px;
    height: 15px;
    background-color: #ff8700;
    position: absolute;
    left: -4px;
    top: 0;
}*/

.side-item.selected .title p,
.side-item.selected .title > span,
.side-item.selected .title > span > span:nth-child(1),
.side-item.selected .sub_item.selected a {
    color: #ff8207;
}
.sidebar {
  background: #ffffff !important;
  padding: 1rem;
  padding-left: 0;
  text-align: center;
  width: 70px;
  /*min-height: 100vh;*/
  z-index: 1;
  /* height: 100%; */
  transition: all ease 0.3s;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
    height: auto !important;
    min-height: 100vh;
    z-index: 1;
}

#app.active-sidebar .sidebar .menu-text {
    -webkit-animation: opacity 1s ease 0.3s forwards; /* Safari 4.0 - 8.0 */
    animation: opacity 1s ease 0.3s forwards;
    opacity: 0;
}

#app.active-sidebar .sidebar span[class^="icon-"] > .notification__count,
#app .sidebar .menu-text {
    display: none;
}

#app .sidebar span[class^="icon-"] > .notification__count {
    display: block;
    text-align: center;
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Standard syntax */
@keyframes opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}

#app.active-sidebar .flex-box > div.sidebar {
    width: 174px;
}

#app.active-sidebar .flex-box > div.sidebar .menu-text {
  display: block;
    margin-left: 15px;
    font-weight: 500;
}

#app.active-sidebar .flex-box > div.sidebar .title > p > span:nth-child(1),
#app.active-sidebar .flex-box > div.sidebar .title > span > span:nth-child(1) {
  float: left;
}


.sidebar .menu-button,
.formobile .menu-button {
    position: relative;
    text-align: left;
    padding-left: 20px;
    margin-top: 15px;
}
.formobile .menu-button {
    margin-top: 0;
    padding-left: 0;
    margin-right: 20px;
}

.sidebar .menu-button a,
.formobile .menu-button a {
    color:#9a9a9a;
    font-size: 26px;
}

.sidebar .menu-button a:nth-child(1) {

}

.sidebar .menu-button a:nth-child(2) {

}

.title {
    cursor: pointer;
}

.sub_menu {
    height: 0;
    overflow: hidden;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    display: none;
}

.sub_menu.clicked {
    height: auto;
    display: block;
}

.acc-icon {
    margin-left: 5px;
    cursor: pointer;
}

.title p,
.title > span {
  /*text-transform: uppercase;*/
  font-family: "Lato", "sans-serif";
  /*font-size: 11px;*/
  font-weight: 400;
  color: #4b4b4b;
  text-align: left;
  padding-right:0;
    overflow: visible;
}

.title > p > span:nth-child(1),
.title > span > span:nth-child(1){
  /*margin-right: 15px;*/
  margin-top: 2px;
  padding-left: 14px;/*20px*/
  color: #4b4b4b;
  min-width: 22px;
}

.sub_item {
    font-family: "Lato", "sans-serif";
  text-align: left;
  /*margin: 5px 0;*/
  padding: 10px 0;
  padding-left: 41px;
  margin-left: 11px;
  /*border-bottom: 1px solid #888;*/
}

.sub_item a {
  color: #4b4b4b;
    font-weight: 500;
    position: relative;
  /*word-wrap: break-word;*/
}

.sub_item a .notification__count:empty {
    display: none;
}

.sidebar span[class^="icon-"] > .notification__count,
.sub_item a .notification__count {
  background-color: #f00;
  right:-15px;
  color: #fff;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  box-shadow: 0 2px 0 rgba(0,0,0,0.2);
}



/*SideBar Right*/

.side_bar_right {
    background-color: #fff;
    min-height: calc(100vh - 73px);
    max-width: 340px;
    font-family: "Lato", "sans-serif";
    position: fixed;
    right: -385px;
    top: 0;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    z-index: 1;
}

.side_bar_right.active {
    right: 0;
}

.sidebar_right__content {
    min-width: 340px;
    /* margin-left: 10px; */
    -webkit-box-shadow: -13px 2px 44px -9px rgba(0, 0, 0, 0.47);
    box-shadow: -13px 2px 44px -9px rgba(0, 0, 0, 0.47);
    height: 100%;
    width: auto;
    position: relative;
    height: calc(100vh - 73px);
    top: 73px;
    background-color: #fff;
}

.sidebar_right__content .sideBar__heading a.close {
    position: absolute;
    top: 175px;
    left: -20px;
    color: #fff;
    z-index: 1;
    font-size: 20px;
    background-color: #9b999b;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 34px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    filter: alpha(opacity=100);
    opacity: 1;
    text-shadow: 0 0 0 #fff;
    text-indent: 2px;
}

.open_rightBar {
    width: 20px;
    height: 15px;
    background-color: #fff;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border-bottom: 0;
    background-color: #9b999b;
    width: 35px;
    height: 35px;
    text-align: center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    filter: alpha(opacity=100);
    opacity: 1;
    text-shadow: 0 0 0 #fff;
    position: absolute;
    left: -17px;
    color: #fff;
    cursor: pointer;
    top: 175px;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    z-index: 1;
}

.open_rightBar span {
    display: block;
    line-height: 34px;
    font-size: 18px;
    /* text-indent: -2px; */
}

.close__sidebar {
    width: 20px;
    height: 15px;
    background-color: #fff;
    border-top-left-radius: 110px;
    border-top-right-radius: 110px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    border-bottom: 0;
    position: absolute;
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
    top: 95px;
    left: -20px;
    padding: 13px;
    line-height: 15px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
}

.close__sidebar span {
    font-size: 20px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    color: #ff8207;
}

#tableManagement__wrapper .open_rightBar {
    top: 245px;
}

.floor-view-sidebar.sidebar_right__content .sideBar__heading a.close {
    top: 245px;
}

.side_bar_right #floorCreateProperties.scroller {
    max-height: calc(100vh - 142px);
}

.side_bar_right #floorCreateProperties.scroller .mCSB_inside > .mCSB_container {
    margin-right: 0;
}
.side-item .title > p > span:nth-child(1),
.side-item .title > span > span:nth-child(1) {
    font-size: 18px;
}

.floor-tables-management .open_rightBar {
    top: 10%
}

.floor-tables-sidebar .close__sidebar {
    top: 2.5%
}

.sidebar .ui-resizable-e {
    width: 4px;
    right: -2px;
    background-color: transparent;
    transition: 0.3s ease-out all;
}

.sidebar .ui-resizable-e:hover,
.sidebar .ui-resizable-e:active {
    background-color: #ff8700;
}

#app .sidebar + .overlay {
    display: none;
}