.tableManagement__wrapper {
    font-family: "Lato", sans-serif;
    transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    width: calc(100% - 75px);
}

.tableManagement__wrapper.openSibebar {
    width: calc(100% - 340px);
}

/*Floor Sub navbar*/
.floor_nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    background-color: #eeeeee;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: flex-end;
    padding: 15px;
}

.table__status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #f7f5f5;
}

.booking__type,
.view__type {
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: flex-start;
}

.view__types {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.status__atto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.sub__navbar + .sub__navbar__right {
    flex: 1;
    flex-direction: row;
}

.view .dropdown-menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: -51px;
    width: 200px;
}

.view__title .dropdown-toggle {
    color: #333;
}

.view__title .dropdown-item {
    padding: 10px 20px;
    color: #838181;
    border-bottom: 1px solid #ebebeb;
}

.view__title.open .dropdown-toggle {
    color: #f59500;
}

.view .open > .dropdown-menu {
    display: flex;
}

.view__type > div,
.table__status div,
.booking__type div {
    margin: 0 10px;
    cursor: pointer;
}

.view__type > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    flex-direction: row;

}

.view__type > div .selct-picker-plain {
    width: calc(100% - 25px);
}

.view__type > #show-hide-timer .btn-link {
    color: #333;
    font-size: inherit;
    font-weight: 700;
    text-decoration: none;
    padding-right: 25px;
}

.view__type > #show-hide-timer .fa.fa-angle-down {
    font-size: 22px;
    position: absolute;
    top: 1px;
    right: 0;
}

.view__type > #show-hide-timer .dropdown-menu {
    overflow: hidden;
    border: 0;
}

.view__type > #show-hide-timer .dropdown-menu > li {
    border-bottom: 1px #f1f1f1 solid;
    width: 100%;
}

.view__type > #show-hide-timer .dropdown-menu > li:last-child {
    border-bottom: 0;
}

.view__type > #show-hide-timer .dropdown-menu > li > a {
    padding: 15px 35px;
}

.current__floor {
    padding: 20px 5px 20px 15px;
    background-color: #eeecec;
    display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

select.floor {
    background: transparent;
    border: none;
    font-size: 14px;
    font-weight: 700;
}

.current__floor h2 {
    margin: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
}

.current__date {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: space-between;
    width: 150px !important;
}

.current__date i.fa {
    position: absolute;
    top: 4px;
    right: 0;
    z-index: 1;
    pointer-events: none;
}

.current__date i.fa.fa-angle-down {
    right: 20px;
}

.table_datePicker {
    border: 0;
    background: transparent;
    width: 100%;
}

.current__date span {
    margin-right: 10px;
}

.view {
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    width: -webkit-auto;
    width: -moz-auto;
    width: auto;
    white-space: nowrap;
}

.view span.fa {
    margin: 0 7px;
    font-weight: 400;
    font-size: 14px;
}

.view.active {
    color: #f59500;
}

.status {
    padding: 5px 15px;
    font-size: 14px;
    min-width: 100px;
    text-align: center;
}

.seated {
    background-color: #ffd4aa;
    color: #ff9c00;
}

.reserved {
    background-color: #d8f2bd;
    color: #a2cd01;
}

.available {
    background-color: #e7e6e6;
    color: #838181;
}

.booking__btn,
.booking__btnreservation {
    padding: 10px 20px;
    color: #fff;
    background-color: #ff8207;
    border-radius: 5px;
    width: -webkit-auto;
    width: -moz-auto;
    width: auto;
    font-weight: 700;
}

.view__type .selct-picker-plain ul.dropdown-menu.inner li {
    width: 100%;
}

/*Server Statusbar*/
.server__status-bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fafafa;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: auto;
}

.server__title span {
    margin-right: 10px;
}

.server__name {
    margin: 0 10px;
}

.server__color {
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
}

.table__name {
    margin: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.table__color {
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 50%;
}

.server__name p {
    margin: 0;
    margin-left: 5px;
}

.blue {
    background-color: #98b3ea;
}

.green {
    background-color: #da98ea;
}

.purple {
    background-color: #8dab17;
}

/*Reservation Status sidebar*/

/*Header*/
.reservationSide__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 36px 20px;
    background-color: #333333;
    color: #fff;
}

.SideBar-current__time {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.sideBar__heading .row {
    margin-left: -15px !important;
    margin-right: -15px !important;
}

.sideBar__heading > div > div {
    margin: 0;
    font-size: 18px;
    font-weight: 700;
}

.total__cover {
    color: #817c7c;
    font-size: 12px;
    font-weight: 400;
}

.SideBar-current__time {
    color: #b1b1b1;
    font-size: 14px;
}

.current__time-hour,
.current__time-minute {
    background-color: #242424;
    margin: 0 8px;
    padding: 5px;
}

.colon {
    -webkit-animation-name: blink;
    animation-name: blink;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

@-webkit-keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes blink {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

/*Status Tabs*/

.sideBar-reservationStatusTabs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}

.status_tab {
    font-size: 15px;
    color: #838181;
    padding: 20px 0;
    cursor: pointer;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    font-weight: 700;
}

.status_tab:hover {
    color: #838181;
}

.status_tab.active,
.status_tab.active > span:before {
    color: #ff8500 !important;
}

.status_tab.active:after {
    display: block;
    content: "";
    height: 3px;
    width: 100%;
    background-color: #ff8500;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
}

.right-searchbar {
    padding: 0;
    margin: 20px 20px;
    position: relative;
}

.right-searchbar i {
    position: absolute;
    top: 0;
    left: 0;
    color: #ccc;
    font-size: 20px;
}

.right-searchbar input {
    width: 100%;
    border: 0;
    font-size: 12px;
    padding-left: 25px;
    padding-bottom: 10px;
    border-bottom: 1px #ccc solid;
}

.right-searchbar input::-webkit-input-placeholder,
.right-searchbar input::-moz-placeholder,
.right-searchbar input:-ms-input-placeholder,
.right-searchbar input:-moz-placeholder {
    color: #ccc;
}

/*user*/

.reservationStatusPanel {
    overflow-y: auto;
    overflow-x: hidden;
    height: calc(100vh - 320px);
}

.reservationStatusPanel .mCSB_container {
    overflow: visible !important;
}

.reservationStatusPanel__user {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 20px;
    border-bottom: 1px solid #ccc;
}

.reservationStatusPanel .reservationStatusPanel__user:last-of-type {
    border-bottom: 0;
}

.reservationStatusPanel__user--details {
    width: 100%;
    position: relative;
}

.reservationStatusPanel-user__name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: pointer;
    margin-left: 6px;
    justify-content: space-between;
}

.reservationStatusPanel-user__name > div {
    align-items: center;
    justify-items: center;
    display: flex;
}

.reservationStatusPanel-user__name [class^="icon-"] {
    font-size: 24px;
}

.reservationStatusPanel-user__name h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-left: 10px;
    text-transform: capitalize;
}

.dropdown__text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 8px 4px 8px 20px;
    color: #fff;
    border-radius: 5px;
    width: 160px;
    font-weight: 700;
    font-size: 14px;
}

.waiting__user .dropdown__text {
    background-color: #333333;
}

.seated__user .dropdown__text {
    background-color: #f59500;
}

.reserved__user .dropdown__text {
    background-color: #8fcb51;
}

.reserved__user .fa-user {
    color: #8fcb51;
}

.seated__user .fa-user {
    color: #f59500;
}

.upcoming-sec .dropdown__text,
#upcoming .dropdown__text {
    background-color: #838181;
}

.upcoming-sec .reserved__user .fa-user,
.upcoming-sec .waiting__user .fa-user,
.upcoming-sec .seated__user .fa-user,
#upcoming .reserved__user .fa-user,
#upcoming .waiting__user .fa-user,
#upcoming .seated__user .fa-user {
    color: #838181;
}

.dropdown__text:before {
    content: "";
    display: block;
    position: absolute;
    height: 24px;
    width: 1px;
    right: 42px;
    top: 6px;
}

.waiting__user .dropdown__text:before {
    background-color: #676767;
}

.seated__user .dropdown__text:before,
.reserved__user .dropdown__text:before {
    background-color: #fff;
}

.dropdown__text_ul {
    margin: 0 !important;
    border-radius: 0 !important;
    padding: 0 !important;
}

.bootstrap-select .dropdown__text_ul li {
    border-bottom: 1px solid #ccc;
    font-size: 14px;
    padding: 5px 0;
}

.dropdown__text_ul li:last-of-type {
    border: none;
}

.dropdown_container {
    margin: 0 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.reservationStatusPanel-user__size .dash {
    margin: 0 5px;
}

.dropdown__text-btn {
    background: transparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.caret.inverse {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin: 2px 0;
}

.caret-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 4px;
}

.caret-container span {
    margin: 0;
}

html .bootstrap-select {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 0;
}

.bootstrap-select:focus,
.bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
}

.side_bar_right .bootstrap-select .dropdown-menu,
.side_bar_right .bootstrap-select .dropdown-menu li,
#reservation_info_popup .bootstrap-select .dropdown-menu,
#reservation_info_popup .bootstrap-select .dropdown-menu li {
    padding: 0;
}

.side_bar_right .bootstrap-select .dropdown-menu li,
#reservation_info_popup .bootstrap-select .dropdown-menu li {
    border-bottom: 1px #fff solid;
    background-color: #fff;
}

.side_bar_right .bootstrap-select .dropdown-menu li:last-child,
#reservation_info_popup .bootstrap-select .dropdown-menu li:last-child {
    border-bottom: 0;
}

.side_bar_right .bootstrap-select .dropdown-menu li a span.text,
#reservation_info_popup .bootstrap-select .dropdown-menu li a span.text {
    padding-left: 3px;
}

.side_bar_right .bootstrap-select .btn,
.side_bar_right .bootstrap-select.open .btn,
.side_bar_right .bootstrap-select.open .btn:hover,
.side_bar_right .bootstrap-select.open .btn:focus,
.side_bar_right .bootstrap-select.open .btn:active,
.side_bar_right .bootstrap-select .btn-default:active:focus {
    color: #fff;
    outline: none;
}

/***************** DROPDOWN STATUS COLOR *******************/
.bootstrap-select .btn.status-reserved {
    background-color: #8fcb51;
    border-color: #8fcb51;
}

.bootstrap-select .btn.status-cancelled {
    background-color: #ed0000;
    border-color: #ed0000;
}

.bootstrap-select .btn.status-no_show {
    background-color: #7e7e7e;
    border-color: #7e7e7e;
}

.bootstrap-select .btn.status-running_late {
    background-color: #e4cc00;
    border-color: #e4cc00;
}

.bootstrap-select .btn.status-confirmed {
    background-color: #00a008;
    border-color: #00a008;
}

.bootstrap-select .btn.status-partially_seated {
    background-color: #f59500;
    border-color: #f59500;
}

.bootstrap-select .btn.status-seated {
    background-color: #f59500;
    border-color: #f59500;
}

.bootstrap-select .btn.status-starters {
    background-color: #ff82fe;
    border-color: #ff82fe;
}

.bootstrap-select .btn.status-entree {
    background-color: #40d9ff;
    border-color: #40d9ff;
}

.bootstrap-select .btn.status-main_course {
    background-color: #ec9416;
    border-color: #ec9416;
}

.bootstrap-select .btn.status-dessert {
    background-color: #9c5252;
    border-color: #9c5252;
}

.bootstrap-select .btn.status-bill_dropped {
    background-color: #4660a9;
    border-color: #4660a9;
}

.bootstrap-select .btn.status-paid {
    background-color: #268983;
    border-color: #268983;
}

.bootstrap-select .btn.status-finished {
    background-color: #f59500;
    border-color: #f59500;
}

.bootstrap-select .btn.status-waitlist {
    background-color: #065200;
    border-color: #065200;
}

/****************************************************/

.reservation__type {
    padding: 5px 10px;
    border-radius: 5px;
    font-style: italic;
}

.top-postion {
    bottom: 100% !important;
    top: unset !important;
}

/*Reservation__user Timer*/

.reserved__timer {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    padding-top: 20px;
    display: none;
}

.reserved__timer__late {
    padding-bottom: 160px;
}

/*Use this class for late timer*/
.reserved__timer__late .show-timer-container {
    display: block;
    width: 87%;
    left: 13%;
}

.reserved__timer_header:before {
    content: "";
    display: block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-right: 8px solid #333333;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    top: -12px;
    left: 45px;
}

.reserved__timer_header {
    position: relative;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    background: #333333;
    word-spacing: 1px;
}

.timer_cta {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.timer_cta > a {
    width: 50%;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    cursor: pointer;
    opacity: 1;
}

.timer_cta > a:hover {
    color: #fff;
    opacity: 0.8;
}

.timer_noShow > span,
.timer_wait > span {
    padding: 10px;
}

.timer_noShow .noShow__icon,
.timer_wait .wait__icon {
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.timer_noShow .cta__content,
.timer_wait .cta__content {
    width: 70%;
    text-align: left;
    font-size: 11px;
}

.timer_noShow .cta__content {
    background-color: #e04a4b;
}

.timer_noShow .noShow__icon {
    background: #dc4443;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.6);
}

.noShow__icon img {
    opacity: 0.2;
    width: 80%;
}

.timer_wait .cta__content {
    background-color: #8fcb51;
}

.timer_wait .wait__icon {
    background: #87c24c;
    font-size: 18px;
}

.timer_minute,
.timer_seconds {
    font-weight: 900;
}

.timer_seconds + span {
    font-weight: 900;
}

.reason__otherInformation {
    display: none;
}

.reservation__popup .mCustomScrollBox {
    max-width: 350px;
    width: 100%;
}

.reservation__popup .mCSB_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.reservation__popup .btn__cancel.cancel__mode {
    padding: 10px 120px;
    margin-top: 20px;
}

.ot-inf {
    font-weight: 700 !important;
}

.text__areaReason {
    display: none;
    margin-top: 30px;
}

.text__areaReason textarea {
    resize: none;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
}

.reason {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 15px 10px;
    border-bottom: 1px solid #ebebeb;
    font-size: 14px;
}

.reason_text_container {
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

.reason input,
.reason label {
    margin: 0;
}

.reason input {
    display: none;
}

.reason label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.reason__selected {
    background-color: #fff5e5;
}

.custom_radio {
    height: 12px;
    width: 12px;
    border-radius: 50%;
    border: 1px solid #ebebeb;
    margin-right: 15px;
    background-color: #ebebeb;
}

.radio__cancel:checked + label .custom_radio {
    background-color: #ff9800;
    border-color: transparent;
}

.reason__otherInformation p {
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0;
}

/*Walkin Popup*/
#newWalkinModal .modal-dialog {
    width: 450px;
}

.newWalkin__content,
.check__availability,
.third__step-walkin {
    padding: 0 30px;
}

.first__step-walkin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid #e1e1e1;
    margin: 30px 0;
}

.first__step-walkin > div {
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 15px 0;
}

.newWalkin_heading {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 0;
}

.newWalkin_id {
    color: #afafaf;
    font-size: 15px;
    font-weight: 400;
    margin: 0;
}

.walkIn__partysize-text {
    border-right: 1px solid #e1e1e1;
    font-size: 14px;
    color: #838181;
}

.walkIn__slider .party_size {
    width: 45px !important;
    float: unset !important;
    color: #000;
}

.walkIn__slider .input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.walkIn__slider .input-group-btn {
    width: unset !important;
}

.btn__checkwalkIn {
    padding: 10px 5px;
    border-radius: 5px;
    text-align: center;
    background-color: #ff8207;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

.seat_btn {
    display: none;
}

.done_btn {
    display: none;
}

.second__step-walkin {
    margin: 30px 0 10px;
    display: none;
}

.seat__plan {
    border: 1px solid #ebebeb;
    padding: 4px 0px;
}

.table_plan-walkin > div {
    width: 50%;
    text-align: center;
    padding: 10px 0;
}

.table_plan-walkin {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.table__text {
    font-size: 16px;
    color: #838181;
    align-self: center;
}

.table__selectContainer {
    border-left: 1px solid #ebebeb;
}

.table__selectContainer select {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    color: #ff8207;
    font-size: 25px;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: "";
    padding: 0 20px;
}

input:focus,
textarea:focus,
select:focus {
    outline: none !important;
}

.table__selectContainer option {
    font-size: 16px;
}

.add_customer_details__walkin {
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin: 20px 0px;
    cursor: pointer;
}

.add_customer_details__walkin span {
    color: #ff8207;
    margin-right: 5px;
}

.third__step-walkin {
    display: none;
    margin-top: 20px;
}

.third__step-walkin > .form_field__container > .input__field {
    position: relative;
}

/* Can be used Globally(change container class and width of input field accordingly)*/

.bootstrap-select.btn-group .simple__selectpicker.dropdown-toggle .caret {
    margin-left: 5px;
}

.bootstrap-select#table_plan_walkin {
    margin-top: -10px;
    margin-bottom: 10px;
}

.bootstrap-select#table_plan_walkin .btn {
    margin-left: -15px;
}

.newWalkin__content .form_field__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.newWalkin__content .input__field {
    width: 50%;
    position: relative;
    margin: 0px 15px 20px 0px;
}

.newWalkin__content .input__field label {
    font-weight: 400;
}

/*End Global*/

/*New Waitlist*/
.form_field__container {
    padding: 0px 28px;
}

.waitlistForm_header {
    text-align: left;
    padding: 0px 28px 20px;
    font-size: 17px;
    font-weight: 900;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.waitlistForm_header > p,
.waitList__otp > p {
    margin: 0;
}

.waitList__otp > p {
    font-weight: 800;
    font-size: 13px;
}

.waitList__otp {
    padding: 15px 30px;
    /*  background-color: #000;*/
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


/*New Booking*/

#newBooking__popup .reservation__id {
    margin: 15px 0 0;
}

#newBooking__popup .reservation__hr {
    margin-bottom: 15px;
}

#newBooking__popup .user__details {
    padding: 15px 0;
}

#newBooking__popup .user__header {
    margin: 15px 0;
}

.user__header {
    font-size: 20px;
    padding: 0px 30px;
    margin-bottom: 30px;
    font-weight: 700;
}

#newBooking__popup .user__stats {
    height: calc(100% - 126px);
}

.us__newBooking .input__field {
    position: relative;
    margin: 40px 0px;
    color: #fff;
}

.customer__deatils_newBooking {
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: 700;
}

#newBooking__popup .ctaContainer__otherInformation {
    float: left;
    width: 100%;
}

.status__atto .status {
    margin: 0px;
    margin: 0 10px;
}

.view__types,
.status__atto {
    margin: 0px;
    margin-left: 40px;
}

/*
.booking__type {
margin-right: 25px;
} */

#reservationDetailModal .form_field__container {
    padding: 0px;
}

#reservationDetailModal .user__header,
#reservationDetailModal .reservation__id,
#reservationDetailModal .reservation__hr {
    margin-bottom: 10px;
}

#reservationDetailModal .user__details,
#manageWaitlistModal .new__waitlistForm-container,
#newWaitlistModal .new__waitlistForm-container {
    border-top-left-radius: 4px;
}

#reservationDetailModal .revervationUserDetails,
#manageWaitlistModal .new__waitlistForm-container,
#manageWaitlistModal .waitList__otp,
#newWaitlistModal .waitList__otp,
#newWaitlistModal .new__waitlistForm-container {
    border-bottom-left-radius: 4px;
}

.newWalkinModal.right.modal button.close,
.newWaitlistModal.right.modal button.close,
.manageWaitlistModal.right.modal button.close,
.book-a-table.right.modal button.close,
.cancel-reservation.right.modal button.close {
    border: 3px solid #afafaf;
    border-radius: 100%;
    color: #afafaf;
}

.input-group-btn i.fa {
    /*color: #828282;*/
    font-weight: normal;
    font-size: 14px;
}


#book-a-table .form_field__container .input__field:not(:nth-child(3)),
#newWalkinModal .form_field__container .input__field:not(:nth-child(3)),
#reservation-details .form_field__container .input__field:not(:nth-child(3)),
#reservation-enquiry-details .form_field__container .input__field:not(:nth-child(3)),
.autoListingPopup .form_field__container .input__field:not(:nth-child(3)) {
    width: 48%;
    display: inline-block;
}

.add__instruction .form_field__container .input__field {
    width: 100%;
}

.edit__details .edit__head {
    border-bottom: 1px solid #ebebeb;
    padding-bottom: 10px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
}

.manage__user_details > div {
    border-bottom: 1px solid #d1d1d1;
}

.new__waitlist-wrapper .special__otherInformation {
    padding: 0px 0px;
    background-color: transparent;
    font-style: normal;
    letter-spacing: 0px;
    margin: 20px auto 5px;
    color: #333333;
    border-radius: 5px;
    font-weight: 800;
    border-bottom: 1px solid #d1d1d1;
    width: 84%;
}

.manage__detail:nth-child(2) {
    margin: 0;
}

.border-btn-prime.manageWaitlist__btn {
    background-color: transparent !important;
    color: #ff8700 !important;
    border: 2px solid #ff8700;
}

.border-btn-prime.manageWaitlist__btn:hover {
    background-color: #ff8700;
    color: #ff8700 !important;
}

/*-----------------book a table css--------------*/
.border-sepration {
    border-bottom: 4px solid #e6e6e6;
    padding-bottom: 12px;
}

.input__fullWidth {
    border-bottom: 1px solid #e6e6e6;
    position: relative;
    margin: 10px 0 15px;
}

.input__fullWidth > label,
.input__fullWidth > div {
    width: 50% !important;
    float: left;
}

.bore-none {
    border: none;
}

.input__fullWidth .fa.fa-calendar,
.input__fullWidth .icon-calendar {
    position: absolute;
    top: 9px;
    right: 2px;
    color: #ff9700;
    pointer-events: none;
}

.input__fullWidth > label {
    margin: 0;
    padding: 0;
    line-height: 2.4;
    font-size: 13px;
    color: #000;
    font-weight: 800;
}

.input__fullWidth i.fa.fa-angle-down {
    position: absolute;
    top: 7px;
    right: 0;
    font-size: 21px;
    pointer-events: none;

}

.start__date.bore-none {
    background: none;
}

.check-availability__btn {
    text-align: center;
}

.input__fullWidth .timepicker,
.input__fullWidth .input__date,
.input__fullWidth .reservationdeatailstimepicker {
    color: #000;
    font-weight: 800;
    cursor: pointer;
    line-height: 33px;
    height: 33px;
}

.check-availability__btn {
    margin: 10px 0;
}

.add_view_check,
.add_view_check:focus {
    color: #ff8700;
    text-align: center;
    font-weight: 500;
}

/*.add_view_check:hover {
    color: #333;
}*/

ul.time--buttons {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
}

ul.time--buttons > li {
    width: 20%;
    float: left;
    list-style: none;
    text-align: center;
    margin-left: 0px;
    padding: 0;
}

ul.time--buttons > li > label {
    border: 2px solid #ff8700;
    padding: 4px 0;
    border-radius: 4px;
    color: #ff8700;
    width: 90%;
    cursor: pointer;
}

ul.time--buttons > li > input[type="radio"]:checked + label {
    background: #ff8700;
    color: #fff;
}

.input__fullWidth .number__box {
    width: 114px;
    float: right;
}

/*.ui-timepicker-wrapper.book-a-table-tp {
margin-left: 28px;
}*/

.selct-picker-plain.selectpicker-auto-width .btn-group.bootstrap-select {
    border: none;
    width: inherit !important;
}

.selct-picker-plain .btn-group.bootstrap-select {
    width: 100% !important;
    border: none;
}

.selct-picker-plain button.dropdown-toggle {
    border: none;
    opacity: 1;
    filter: alpha(opacity=100);;
}

.selct-picker-plain .bs-caret:before {
    border: none;
}

.selct-picker-plain .caret {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.selct-picker-plain .dropdown-toggle .bs-caret .caret:before {
    border: solid black;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    margin-bottom: 7px;
}

.selct-picker-plain .dropdown-toggle .bs-caret .caret:after {
    border: none;
}

.selct-picker-plain .btn-default:hover {
    background: none;
}

.selct-picker-plain .bootstrap-select .dropdown-toggle:focus,
.selct-picker-plain .bootstrap-select .dropdown-toggle:active,
.selct-picker-plain .open .dropdown-toggle {
    background-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
}

.guestbookDetails__body .selct-picker-plain .btn-group.bootstrap-select {
    width: inherit !important;
}

.add-view-guest.modal.right.fade.in .modal-dialog {
    right: 340px;
}

.add-view-guest-list .input__field input {
    border: none !important;
    text-align: right;
}

.add-view-guest-list .input__field {
    margin: 0 !important;
}

.two-in-one-row {
    float: left;
}

.two-in-one-row .input__fullWidth {
    width: 48%;
    float: left;
}

.two-in-one-row .input__fullWidth:nth-child(2n + 1) {
    margin-right: 11px !important;
}

.waitlist_div {
    display: flex;
    align-items: flex-start;
}

.waitlist_div .reservationStatusPanel__user--mode {
    padding-top: 80px;
}

span.spcl_dates {
    position: absolute;
    top: -12px;
    color: #b0b0b0;
    left: 0;
}

.tag-plus,
.guest-edit {
    text-align: right;
}

.tag-plus i.fa-plus {
    border: 1px solid #ff8700;
    border-radius: 50%;
    height: 22px;
    width: 22px;
    text-align: center;
    padding: 4px 0;
    cursor: pointer;
    color: #ff8700;
}

.guest-edit .fa-pencil {
    color: #ff8700;
    font-size: 21px;
    cursor: pointer;
}

ul.nav.nav-tabs.add-view-gues-tabs {
    width: 55%;
    margin: 25px auto;
    border: 2px solid #ff8106;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 0;
}

ul.nav.nav-tabs.add-view-gues-tabs li {
    width: 50%;
    text-align: center;
    border-right: 2px solid #ff8106;
}

ul.nav.nav-tabs.add-view-gues-tabs li a {
    color: #ff8106;
    padding: 4px 0;
    font-size: 24px;
    border: 0;
}

ul.nav.nav-tabs.add-view-gues-tabs li.active a {
    background-color: #ff8106;
    color: #fff;
}

ul.nav.nav-tabs.add-view-gues-tabs li.active {
    background-color: #ff8106;
    margin: 0;
}

ul.nav.nav-tabs.add-view-gues-tabs li a:hover,
ul.nav.nav-tabs.add-view-gues-tabs li a:focus {
    background: none;
    border: 0;
}

ul.nav.nav-tabs.add-view-gues-tabs li:last-child {
    border: none;
}

ul.nav.nav-tabs.add-view-gues-tabs li i.fa {
    font-size: 23px;
}

ul.clock--tab > li {
    list-style: none;
    border-top: 1px solid #d1d1d1;
    padding: 20px 0;
}

.clock--tab-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
}

ul.clock--tab .lyt-color {
    color: #9f9d9e;
    font-weight: normal;
    display: block;
}

.clock--tab .icon-confirmed {
    font-size: 26px;
}

.clock--tab > li > div > div:first-child {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
}

.clock--tab > li > div:first-child div {
    margin-right: 8px;
}

.other-req-sec {
    margin-left: 51px;
    color: #838182;
    font-size: 12px;
    font-weight: 800;
}

ul.other-request > li {
    float: left;
    margin-right: 18px;
    list-style: circle;
    padding: 0;
}

.other-req-sec div,
.other-req-sec li {
    margin: 4px 0;
}

ul.other-request {
    margin-left: 16px;
}

.manage__user_details .input__field {
    margin: 10px 0px 20px;
}

.customMessage__btn-container .btn {
    width: 100%;
    font-weight: 700;
    padding: 10px;
}

.tbl-radio-btn [type="radio"]:checked,
.tbl-radio-btn [type="radio"]:not(:checked),
#show-hide-timer .dropdown-menu [type="radio"]:checked,
#show-hide-timer .dropdown-menu [type="radio"]:not(:checked),
.tbl-radio-btn [type="checkbox"]:checked,
.tbl-radio-btn [type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.tbl-radio-btn [type="radio"]:checked + label,
#show-hide-timer .dropdown-menu [type="radio"]:checked + label,
#show-hide-timer .dropdown-menu [type="radio"]:not(:checked) + label,
.tbl-radio-btn [type="radio"]:not(:checked) + label,
.tbl-radio-btn [type="checkbox"]:checked + label,
.tbl-radio-btn [type="checkbox"]:not(:checked) + label {
    position: relative;
    padding-left: 20px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #000;
}

.tbl-radio-btn [type="radio"]:checked + label {
    color: #ff8305;
}

/* Only for other option */
.tbl-radio-btn #other[type="radio"]:checked + label[for="other"] {
    color: #b0b0b0;
}

.tbl-radio-btn [type="radio"]:checked + label:before,
.tbl-radio-btn [type="radio"]:not(:checked) + label:before,
#show-hide-timer .dropdown-menu [type="radio"]:checked + label:before,
#show-hide-timer .dropdown-menu [type="radio"]:not(:checked) + label:before,
.tbl-radio-btn [type="checkbox"]:checked + label:before,
.tbl-radio-btn [type="checkbox"]:not(:checked) + label:before {
    content: "";
    position: absolute;
    left: 0;
    top: 4px;
    width: 13px;
    height: 13px;
    border: 1px solid #000;
    border-radius: 100%;
    background: #fff;
}

.tbl-radio-btn [type="radio"]:checked + label:after,
.tbl-radio-btn [type="radio"]:not(:checked) + label:after,
#show-hide-timer .dropdown-menu [type="radio"]:checked + label:after,
#show-hide-timer .dropdown-menu [type="radio"]:not(:checked) + label:after,
.tbl-radio-btn [type="checkbox"]:checked + label:after,
.tbl-radio-btn [type="checkbox"]:not(:checked) + label:after {
    content: "";
    width: 7px;
    height: 7px;
    background: #ff8305;
    position: absolute;
    top: 7px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

.tbl-radio-btn [type="radio"]:not(:checked) + label:after,
.tbl-radio-btn [type="checkbox"]:not(:checked) + label:after,
#show-hide-timer .dropdown-menu [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.tbl-radio-btn [type="radio"]:checked + label:after,
.tbl-radio-btn [type="checkbox"]:checked + label:after,
#show-hide-timer .dropdown-menu [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.tbl-radio-btn [type="radio"]:checked + label:before,
.tbl-radio-btn [type="checkbox"]:checked + label:before {
    border-color: #ff8305;
}

.cancelreservation__content {
    padding: 0 28px;
    font-weight: 700;
}

.cancelreservation--head h3 {
    font-weight: 700;
    font-size: 18px;
}

.cancelreservation--head b {
    color: #a3a3a3;
    line-height: 1.2;
}

.cancelreservation--content .tbl-radio-btn {
    margin: 20px 0;
}

.tbl-radio-btn input::placeholder {
    color: #000;
}

.tbl-radio-btn input::placeholder {
    color: #000;
}

.cacel_reser {
    margin-top: 20px;
}

.other {
    color: #b0b0b0;
}

.input__field.boxx textarea {
    width: 100%;
    border: none;
    border-bottom: 1px solid #d1d1d1;
    line-height: 1;
    resize: none;
    max-height: 70px;
}

textarea#cancellation_reason_other {
    margin-left: 20px;
    width: calc(100% - 22px);
}

.input__field.boxx textarea::placeholder {
    color: #000;
}

.btn__checkwalkIn:focus,
.btn__checkwalkIn:hover {
    color: #fff;
}

.current__date i.fa-angle-down {
    right: 21px;
}

/*#upcoming .btn.dropdown-toggle,*/
#waitlist .btn.dropdown-toggle,
    /* .upcoming-sec .btn.dropdown-toggle.upcoming-waitlist, */
#manageWaitlistModal .btn.status-waitlist {
    background: #666;
    border-color: #666;
}

/*#upcoming .bootstrap-select.btn-group .dropdown-menu li a,*/
#waitlist .bootstrap-select.btn-group .dropdown-menu li a,
    /* .upcoming-sec .bootstrap-select.btn-group .dropdown-menu li a, */
#manageWaitlistModal .bootstrap-select.btn-group .status-waitlist + .dropdown-menu li a {
    background: #666 !important;
}

#waitlist .btn.dropdown-toggle + .dropdown-menu li .icon-waiting1,
#manageWaitlistModal .btn.status-waitlist + .dropdown-menu li .icon-waiting1 {
    color: #fff !important;
    opacity: 1 !important;
}

[class*="status-"] + .dropdown-menu li a:hover,
[class*="status-"] + .dropdown-menu li a:focus,
[class*="status-"] + .dropdown-menu li:first-child a:hover {
    opacity: 0.6;
    color: #fff;
}

[class*="status-"] + .dropdown-menu li a,
[class*="status-"] + .dropdown-menu li:first-child a {
    opacity: 1;
    color: #fff;
}

/*#upcoming .reservationStatusPanel-user__name [class*="icon-"],*/
#waitlist .reservationStatusPanel-user__name [class*="icon-"],
#manageWaitlistModal .reservationStatusPanel-user__name [class*="icon-"] {
    color: #666 !important;
}

.special--occasion > [class*="icon-"] {
    font-size: 20px;
    margin-left: 15px !important;
}

.grid-view__container {
    width: 133px;
    display: flex;
    flex-direction: row;
}

.grid-view__icon {
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
}

#manageWaitlistModal .manage__user_details div {
    border-bottom: 0px;
}

#manageWaitlistModal .manage__user_details .input__fullWidth {
    border-bottom: 1px solid #d1d1d1;
}

a.close.icon-close {
    color: #fff;
    opacity: 1;
    line-height: 1.3;
    text-shadow: none;
    font-size: 24px;
    margin: 10px 10px 0;
    font-weight: normal;
}

.icon-close.gray {
    color: #afafaf !important;
}

/*
.grid-view__container {
width: 133px;
display: flex;
flex-direction: row;
color: #fff;
opacity: 1;
line-height: 1.3;
text-shadow: none;
font-size: 24px;
margin: 10px 10px 0;
font-weight: normal;
} */
.icon-close.gray {
    color: #afafaf !important;
}

.grid-view__container {
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #fff;
    /* background-color: #8fcb512e; */
    font-size: 16px;
    cursor: pointer;
    height: 35px
}

.grid-view__icon {
    color: #fff;
    padding: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
}

.grid-view__contentwrapper {
    width: calc(100% - 50px);
}

.grid-view__content {
    display: flex;
}

.grid-view__content .name {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: calc(100% - 20px);
}

.grid-view__content .cover {
    display: inline-block;
}

#grid-view .fc-event,
#grid-view .fc-event-dot {
    background-color: transparent !important;
}

#grid-view .fc-event {
    border: 0px !important;
    padding: 0;
    margin: 0;
    opacity: 1;
}

#grid-view .fc-time-area .fc-rows td > div {
    height: 35px !important;
}

#grid-view .fc-ltr .fc-timeline-event .fc-title {
    padding: 0;
    margin: 0;
}

.floor_plan_walkin .select2-selection__arrow,
.table__selectContainer .select2-selection__arrow {
    right: -10px !important;
}

.floor_plan_walkin .select2-selection__rendered {
    font-size: 14px;
}

.table_plan_walkin {
    font-size: 16px;
    font-weight: 600;
    position: relative;
    /*padding-right: 15px;*/
    color: #9b9999;
    float: left;
    /* display: flex; */
    top: 10;
    left: 10;
    border-right: 1px solid;
}

#newWalkinModal .table_plan-walkin > div {
    padding: 0px;
}

#newWalkinModal .table_plan-walkin > div #multipleTableSelectpicker.selct-picker-plain .bs-caret {
    top: 18px;
}

#manageWaitlistModal .manage__user_details .input__field:not(:nth-child(3)) {
    width: 48%;
    display: inline-block;
}

.guest-note__box.book-tbl {
    border-bottom: 1px solid #e6e6e6;
}

.guest-note__box.book-tbl .guest-note span {
    color: #000;
    width: 120px;
    font-weight: 800;
    font-size: 13px;
}

.guest-note__box.book-tbl .guest-note h3 {
    padding: 0;
    margin: 0;
}

.guest-note__box.book-tbl .guest-note {
    background-color: transparent;
}

.guest-note__box.book-tbl .detail_body-edit button {
    color: #ff8700;
    font-size: 19px;
}

.right-cross-icon {
    position: absolute;
    top: -23px;
    width: 47px;
    right: -6px;
}

.edit-field.autoExpand::placeholder {
    font-weight: 800;
    color: #000;
    font-size: 13px;
    line-height: 2;
}

.edit-field.autoExpand {
    max-height: 70px;
    color: #000;
    margin-top: 5px;
}

.right-cross-icon > button {
    font-size: 14px !important;
}

.book-tbl .guest-note span {
    position: absolute;
    top: 12px;
    left: 0;
    z-index: 0;
    -webkit-transition: 0.3s ease;
    transition: 0.3s ease;
    pointer-events: none;
    font-size: 13px;
    color: #000;
    font-weight: 800;
}

.book-tbl .guest-note.edit__mode span {
    top: -11px;
    font-size: 12px;
}

.guest-note.have_value span {
    top: -11px;
    font-size: 12px !important;
}

.have_value button.edit_guest_details {
    top: -20px;
    position: absolute;
    right: 0;
}

.have_value button.edit_guest_details i.fa-pencil {
    font-size: 14px;
}

.rem-btn-border > button {
    border: none;
    padding: 10px 50px;
    font-size: 16px;
    font-weight: 600;
}

#customer_detail .input__field label,
.validation-msg .input__field label,
.validation-msg label.error {
    position: static !important;
    color: red;
    font-size: 12px;
    font-weight: 600;
}

.input__field.pull-left {
    margin-right: 11px !important;
}

#manageWaitlistModal .seated-option {
    margin: 0px 30px;
}

#manageWaitlistModal .special__otherInformation {
    margin: 0 auto;
}

#manageWaitlistModal .special__otherInformation .guest-note h3 {
    margin: 0px;
    padding: 15px 0px;
}

#manageWaitlistModal .guest-note {
    background-color: #fff;
}

#manageWaitlistModal .btn.status-waitlist {
    background: #666;
    border-color: #666;
}

.guest-note .edit-field.autoExpand:focus + span {
    top: -10px;
    font-size: 12px;
}

.input__field input {
    border-bottom: 1px solid #d1d1d1;
}

.guest_note input {
    border-bottom: 1px solid #d1d1d1 !important;
    text-align: left !important;
}

#manageWaitlistModal .have_value button.edit_guest_details {
    top: 0px;
}

#manageWaitlistModal .modal-body .detail_body-edit {
    right: 30px;
}

.waitlist-edit button,
.waitlist-edit-note button,
.reservation__edit button {
    background-color: transparent;
    border: 0px;
    padding-left: 5px;
    color: #ccc;
}

.waitlist-edit,
.waitlist-edit-note,
.reservation__edit {
    position: absolute;
    right: 7px;
    top: 7px;
}

.waitlist-edit,
.reservation__edit {
    right: 30px;
}

.cust-spacing .input__field.fullWidth {
    margin: 0 0 20px;
}

#loader {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0.5);
}

#loader span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    background: url(../images/Rolling.gif) no-repeat 50% 50% #fff;
}

#book-a-table .number__box {
    margin-top: -7px;
    margin-right: -10px;
}

#current .scroller,
#upcoming .scroller,
#waitlist .scroller {
    overflow-x: hidden;
    height: 100%;
}

#waitlist .waitlist_div {
    border-bottom: 1px solid #ccc;
    margin: 0px 20px;
}

#waitlist .waitlist_div .reservationStatusPanel__user {
    margin: 0;
    border-bottom: 0px solid #ccc;
}

#waitlist .waitlist_div .reservationStatusPanel__user--mode {
    width: 100%;
    margin-left: 12px;
    text-align: center;
}

#layout_area .btn__cancel:hover {
    border: 1px solid transparent;
}

#reservation-booking .form_field__container label.error {
    display: initial;
}

.register_customer {
    width: 100%;
    float: left;
    margin: 10px 0px;
}

.register_customer .control_indicator {
    margin-left: -12px;
}

.register_customer label.custom_checkbox {
    font-weight: 700;
    font-size: 14px;
}

.tag-plus ul#guest_tags_booking:empty {
    display: none;
}

/*user*/

.reservationStatusPanel-user__name > div,
#reservation_info_popup .person_detail .person_name > div {
    align-items: center;
    justify-items: center;
    display: flex;
}

.reservationStatusPanel-user__name [class^="icon-"] {
    font-size: 24px;
}

#reservation_info_popup .person_detail .person_name [class^="icon-"],
#reservation_info_popup .person_detail .person_name .fa {
    font-size: 24px;
    width: 40px;
    text-align: center;
}

.reservationStatusPanel-user__name h3 {
    font-size: 16px;
    font-weight: 700;
    margin: 0;
    margin-left: 10px;
    text-transform: capitalize;
}

.reservationStatusPanel-user__size {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;*/
    margin: 5px 0 10px;
    font-size: 14px;
    color: #838181;
    white-space: nowrap;
}

.side_bar_right .bootstrap-select .dropdown-menu,
#reservation_info_popup .bootstrap-select .dropdown-menu,
#manageWaitlistModal .bootstrap-select.btn-group .status-waitlist + .dropdown-menu {
    background-color: transparent;
}

.side_bar_right .bootstrap-select .dropdown-menu,
.side_bar_right .bootstrap-select .dropdown-menu li,
#reservation_info_popup .bootstrap-select .dropdown-menu,
#reservation_info_popup .bootstrap-select .dropdown-menu li,
#reservation-details .bootstrap-select .dropdown-menu,
#reservation-details .bootstrap-select .dropdown-menu li,
#manageWaitlistModal .bootstrap-select.btn-group .status-waitlist + .dropdown-menu,
#manageWaitlistModal .bootstrap-select.btn-group .status-waitlist + .dropdown-menu li {
    padding: 0;
}

.side_bar_right .bootstrap-select .dropdown-menu li,
#reservation_info_popup .bootstrap-select .dropdown-menu li,
#reservation-details .bootstrap-select .dropdown-menu li,
#manageWaitlistModal .bootstrap-select.btn-group .status-waitlist + .dropdown-menu li {
    border-bottom: 1px #fff solid;
    background-color: #fff;
}

.side_bar_right .bootstrap-select .dropdown-menu li:last-child,
#reservation_info_popup .bootstrap-select .dropdown-menu li:last-child,
#reservation-details .bootstrap-select .dropdown-menu li:last-child,
#manageWaitlistModal .bootstrap-select.btn-group .status-waitlist + .dropdown-menu li:last-child {
    border-bottom: 0;
}

.side_bar_right .bootstrap-select .dropdown-menu li a,
#reservation_info_popup .bootstrap-select .dropdown-menu li a,
#reservation-details .status-dropdown .bootstrap-select .dropdown-menu li a
#manageWaitlistModal .bootstrap-select.btn-group .status-waitlist + .dropdown-menu li a {
    padding: 5px 12px;
    text-align: left;
    color: #fff;
    width: 100%;
}

.side_bar_right .bootstrap-select .dropdown-menu li a span.text,
#reservation_info_popup .bootstrap-select .dropdown-menu li a span.text,
#reservation-details .bootstrap-select .dropdown-menu li a span.text,
#manageWaitlistModal .bootstrap-select.btn-group .status-waitlist + .dropdown-menu li a span.text {
    padding-left: 3px;
}

.side_bar_right .bootstrap-select .btn,
.side_bar_right .bootstrap-select.open .btn,
.side_bar_right .bootstrap-select.open .btn:hover,
.side_bar_right .bootstrap-select.open .btn:focus,
.side_bar_right .bootstrap-select.open .btn:active,
.side_bar_right .bootstrap-select .btn-default:active:focus {
    color: #fff;
    outline: none;
}

.side_bar_right .bootstrap-select .btn i,
#reservation_info_popup .bootstrap-select .btn i,
#reservation-details .bootstrap-select .btn i,
#manageWaitlistModal .bootstrap-select .btn i {
    display: none;
}

.side_bar_right .bootstrap-select .filter-option,
#reservation_info_popup .bootstrap-select .filter-option,
#reservation-details .status-dropdown .bootstrap-select .filter-option {
    color: #fff;
}

.side_bar_right .bootstrap-select .bs-caret:before,
#reservation_info_popup .bootstrap-select .bs-caret:before,
#reservation-details .bootstrap-select .bs-caret:before,
#manageWaitlistModal .bootstrap-select .bs-caret:before {
    border-color: #fff;
}

#reservation-details .special input.dob,
#reservation-details .special input.doa {
    padding-right: 25px;
}

.reservation__type.online {
    background-color: #fff6ee;
    color: #fe8107;
}

.reservation__type.walk-in {
    background-color: #f6f6f6;
    color: #838181;
}

.third__step-walkin {
    display: none;
    margin-top: 20px;
}

.third__step-walkin .form_field__container {
    padding: 10px 0;
}

.input__field input:focus + span,
.input__field input:focus + label + span,
.input__field span.hasVal,
.new-design-labels .selct-picker-plain .bootstrap-select + span.hasVal,
.new-design-labels .findArea input + span.hasVal,
.new-design-labels .api-key textarea:focus + label + span,
.new-design-labels .api-key textarea:focus + span,
.new-design-labels .textarea__input textarea:focus + label + span,
.new-design-labels .textarea__input textarea:focus + span {
    color: #a3a3a3;
    font-weight: 500;
}

.input-group-btn.hasVal,
.control_indicator.hasVal {
    top: 0;
}

/*End Global*/

/*New Waitlist*/
.new__waitlist-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: column;
}

.new__waitlist-wrapper > div {
    width: 100%;
}

.new__waitlistForm-container {
    color: #000;
}

.new__waitlistForm-container .input__field,
#reservation-enquiry-details .input__field,
.autoListingPopup .input__field {
    width: 100%;
    position: relative;
    margin: 10px 0px 15px;
}

.autoListingPopup .input__fullWidth .input__date,
.autoListingPopup .input__fullWidth .timepicker,
.autoListingPopup .input__fullWidth .event_time,
.autoListingPopup .input__fullWidth .party_size {
    font-weight: normal;
    color: #333;
    text-align: right;
}

.form_field__container {
    padding: 0px 28px;
}

.waitlistForm_header {
    text-align: left;
    padding: 0px 28px 20px;
    font-size: 17px;
    font-weight: 900;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.waitList__otp .toggle__container {
    margin-left: 9px;
}

.waitList__otp .btn-toggle.btn-secondary.active {
    background-color: #e0ebb7 !important;
}

.waitList__otp .btn-toggle.btn-secondary {
    height: 20px;
    width: 38px;
    -moz-box-shadow: 0px 0px 3px 0px #ccc;
    -webkit-box-shadow: 0px 0px 3px 0px #ccc;
    box-shadow: 0px 0px 3px 0px #ccc;
}

.waitList__otp .btn-toggle.btn-xs > .handle {
    top: -1px !important;
    width: 22px !important;
    height: 22px !important;
    left: 0px !important;
    border-radius: 50% !important;
    background: #fff;
}

.waitList__otp .btn-toggle.btn-xs.active > .handle {
    left: 16px !important;
    -webkit-transition: left 0.25s !important;
    transition: left 0.25s !important;
}

.waitList__otp .btn-toggle.btn-xs.active > .handle {
    background: #a2cd01 !important;
}

.new__waitlistForm-container .input__field input {
    border-bottom: 1px solid #e6e6e6;
}

.newWaitlistManage-container .form_field__container,
#newBooking__popup .form_field__container {
    padding: 0;
}

.newWaitlistManage-container .edit__details,
.us__newBooking .edit__details {
    margin-top: 0;
}

.newWaitlistManage-container .edit__detail,
.us__newBooking .edit__detail {
    width: 45%;
}

.newWaitlistManage-container {
    padding: 25px 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

#newWaitlistModal .modal-dialog,
#manageWaitlistModal .modal-dialog {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#newWaitlistModal .modal-lg,
#manageWaitlistModal .modal-lg {
    margin: 0 auto;
}

.add__instruction .input__field {
    position: relative;
    margin: 10px 5px;
    color: #818383;
}

.add__instruction .input__field input {
    border-bottom: 1px solid #ebebeb;
}

.waitlist__btn {
    margin-top: 14px;
    text-align: center;
}

/*Manage WaitList*/

.manageWaitlist__btn-container {
    display: block;
    align-items: center;
    padding: 0 28px;
}

.manageWaitlistManage-container {
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

/* .manageWaitlist__btn-container {
margin-top: 20px;
} */

.manageWaitlist__btn {
    min-width: 135px;
    padding: 10px 0 !important;
    text-align: center;
    margin: 20px 2px 0;
}

.manageWaitlistManage-container .edit__details {
    -webkit-box-pack: space-evenly;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
}

.manageWaitlistManage-container .special__otherInformation {
    margin: 40px 0;
}

.manage__user_details {
    padding: 10px 30px;
}

.manage__detail {
    margin: 0px 0 18px;
}

.manage__tag-text {
    font-size: 14px;
}

.manage__info {
    font-size: 16px;
    font-weight: 700;
}

/*Custom Message*/

.custom__message-header {
    font-size: 25px;
    font-weight: 700;
}

.custom__message-container {
    padding: 20px 30px;
}

.custom__message-textContainer textarea {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    resize: none;
}

.msg__btn {
    text-align: center;
}

.custom__message-textContainer {
    margin: 20px 0;
}

/*New Booking*/

#newBooking__popup .edit__field,
#newBooking__popup .number__box input {
    color: #000;
}

#newBooking__popup .add_tag {
    min-width: 120px;
}

#newBooking__popup .tag__box {
    width: unset;
    min-width: 100px;
    margin-right: 6px;
    max-width: calc(100% - 16px);
}

#newBooking__popup .tags__otherInformation {
    max-height: 215px;
    overflow: auto;
    margin-top: 0;
    padding-top: 0;
}

#newBooking__popup .mCSB_inside > .mCSB_container {
    margin: 0;
}

#newBooking__popup .addTag__container {
    margin-top: 30px;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#newBooking__popup .form_field__container {
    padding: 0;
    display: block;
    float: left;
    width: 100%;
}

#newBooking__popup .btn__primary {
    width: 100%;
    text-align: center;
}

.booking__type .booking__btn {
    margin: 0px;
    margin-right: 15px;
    white-space: nowrap;
}

.current__floor .selct-picker-plain .dropdown-toggle {
    background: none;
    padding: 0 14px 8px 0px;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000 !important;
}

.block {
    width: 100%;
}

#person #doa, #person #dob {
    text-align: center;
    font-weight: 800;
    font-size: 14px;
}

#tableManagement__wrapper .selct-picker-plain ul.dropdown-menu.inner li {
    text-align: left;
}

.res--sett-content .row {
    padding: 24px 0;
    border-bottom: 1px solid #ececec;
    margin: 0 30px !important;
}

#Current .extra-time {
    color: red;
}

.overflow-visible {
    overflow: visible !important;
}

.ui-timepicker-list {
    text-transform: uppercase;
}

.two-in--row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    float: right;
}

.card--head .dropdown-toggle {
    background: none;
}

.two-in--row.cutoff .selct-picker-plain {
    margin: 0 0px 0 12px;
}

.card--head .two-in--row > span {
    margin: 0 0 0 13px;
    font-size: 13px;
    color: #000 !important;
    font-weight: 600;
}

.card--head .waitList__otp .toggle__container {
    padding: 0;
    margin: 0 0px 0 30px;
}

.card--head .waitList__otp .btn-toggle {
    top: 0;
    transform: none;
}

.card--head .selct-picker-plain {
    width: 68px;
    float: right;
    min-height: 31px;
}

.two-in--row.cutoff .selct-picker-plain:last-child {
    width: 85px;
}

.card--head .selct-picker-plain .dropdown-toggle:empty {
    border: 0px
}

.card--head .selct-picker-plain .dropdown-toggle {
    font-size: 13px;
    font-weight: 600;
    color: #000 !important;
    border-bottom: 1px solid #ececec;
    min-height: 31px;
}

.res--sett-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.box-shadow.res--sett-content .row {
    max-height: 80px;
    height: 80px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
}

.card--head .tag--head {
    background: #3c3837;
    padding: 15px 12px;
}

.card--head .waitList__otp {
    -webkit-box-pack: end;
    -moz-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.hidden-br {
    display: none;
}

#reservation-booking .input__fullWidth > label {
    line-height: 3;
}

.guest--tag--bar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-bottom: 1px solid #ececec;
    padding: 29px 0;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.gust-tag-cont .row {
    border-bottom: none;
}

.gust-tag-cont > div:not(:nth-child(3n)) {
    border-right: 1px solid #ececec;
}

.card--head .gust-tag-cont {
    display: block;
    padding: 16px;
}

.gust-tag-cont .mCSB_inside > .mCSB_container {
    margin-right: 0px;
}

.two-in-oneflex {
    display: flex;
    align-items: unsafe;
}

.two-in-oneflex .input__field:first-child {
    margin-right: 5px;
}

.top-left-rem-rad {
    border-top-left-radius: 0px;
}

.notification-setting .seprator {
    border-bottom: 1px solid #ececec;
}

.notification-setting .seprator > div {
    margin: 28px 0;
}

.notification-setting {
    padding: 0 30px;
}

.noti-email-check-align {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.noti-email-check-align > div:nth-child(2) {
    margin: 0 20px;
}

span.m-r-10 {
    margin-left: 6px;
}

.head--part {
    font-weight: 700;
}

.setting-save-btn {
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 17px 0;
}

.setting-save-btn button {
    background-color: #ff8207;
    color: #fff;
    padding: 8px 24px;
    border: 0px;
    border-radius: 4px;
    font-weight: 700;
    width: 230px;
}

.setting-save-btn a {
    max-width: 130px;
    display: inline-block;
    padding: 9px 40px;
    border-radius: 5px;
    text-align: center;
    background-color: #ff8207;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

#book-a-table .add-view-guest-list .input__field {
    margin: 0;
}

#book-a-table .add-view-guest-list .input__field input {
    border-bottom: none;
}

#tableManagement__wrapper .current__floor .selct-picker-plain .dropdown-backdrop {
    display: none;
}

.sett-search-btn {
    min-height: 26px;
}

#book-a-table .input__fullWidth .timepicker,
#reservation-details #reservationdeatails-timepicker.edit__field,
#reservation-enquiry-details #enquiry_reservation_time,
.autoListingPopup #enquiry_reservation_time {
    letter-spacing: 1px;
    width: 105px;
}

#book-a-table .input__fullWidth .timepicker {
    padding-top: 0px;
}

.create-table-reservation .modal-content {
    background: #323232;
    border: 0
}

.book-a-table .scroller.full-content .mCSB_inside > .mCSB_container {
    height: auto;
}

.scroller.tables-scroller {
    max-height: calc(100vh - 236px);
}

#newWalkinModal .input-group-btn button,
#newWaitlistModal .input-group-btn button,
#reservation-details .input-group-btn button,
#manageWaitlistModal .input-group-btn button {
    background-color: transparent;
    border: 0px;
    box-shadow: none;
}

/**************reservation details ******************/
.reservation-details__header {
    text-align: left;
    padding: 0px 28px 20px;
    font-size: 17px;
    font-weight: 700;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);

}

#reservation-details .input__field.guest_note input {
    border-bottom: 1px solid #d1d1d1 !important;
}

#reservation-details .number__box input {
    color: #000;
}

#reservation-details .reservation__edit {
    top: 75px;
}

.scroller_auto.max-height {
    max-height: 180px;
}

.scroller_auto .ui-menu .ui-menu-item {
    width: 89%;
}

.scroller_auto .ui-state-active, .scroller_auto .ui-state-active:hover {
    border: 1px solid #f5f5f5;
    background: #f5f5f5;
    font-weight: normal;
    color: #000;
}

.ui-menu .scroller_auto .ui-menu-item {
    font-size: 12px;
}

#reservation_setting .open > .dropdown-toggle.btn-default,
#reservation_setting .open > .dropdown-toggle.btn-default:hover {
    border: 0px;
}

.blocktable-content {
    padding: 0px 30px 30px;
}

.blocktable-content .heading {
    font-size: 20px;
    font-weight: 700;
}

.blocktable-content .time {
    width: 36%;
    margin: 0 auto;
    border: 2px solid #828081;
    border-radius: 8px;
    padding: 4px;
    text-align: center;
    color: #828081;
    font-weight: 700;
    font-size: 16px;
}

.blocktable-content .arrow .up {
    top: -10px;
}

.blocktable-content .arrow {
    font-size: 20px;
    color: #828081;
    border-left: 2px solid #828081;
    width: 0;
    margin: 0 auto;
}

.blocktable-content .angle {
    margin-bottom: 0px;
    position: relative;
    left: -7px;
    top: 8px;
}

#blockTables .resume-booking-table label[for='blockTables-resume-timepicker'] {
    width: 100% !important;
    line-height: normal;
    margin-bottom: 10px;
}

#reservation-booking label.error {
    position: absolute;
    left: 0;
    top: 42px;
    text-align: left;
    line-height: 12px;
}

label.max--cover {
    margin: -20px 0px 20px;
    z-index: -1;
}

.block-tablename {
    color: #828081;
    font-size: 18px;
    font-weight: 700;
}

#blockTables .input__fullWidth label.title-label {
    font-size: 15px;
    font-weight: 700;
}

/*========Reservation details======*/
#reservation-details .two-in-one-row.reservation-details .input__field.number input {
    border-bottom: 0px;
    margin: -5px 0px 0px 0px;
    padding: 0px 10px;
}

#reservation-details .input__field {
    margin: 10px 0px 15px;
}

#reservation-details .dropdown-menu {
    padding: 0px;
}

.add-view-guest-list1 .input__field input {
    border: none !important;
    text-align: right;
}

.pointer-none {
    pointer-events: none;
}

.tag-plus.icon {
    width: 100% !important;
    /*  padding-left: 20px;*/
}

#person .tag {
    width: 20% !important;
}

#reservation-details .special .input__field {
    margin: 0px;
}

#reservation-details .special .input__field input {
    text-align: center;
    font-weight: 700;
}

#clock [class^="icon-"], #clock [class*=" icon-"] {
    font-size: 22px;
}

#clock .lyt-color {
    font-size: 12px;
}

#person input#guest_note {
    border-bottom: 1px solid #ebebeb !important;
}

.adjust-bug {
    align-items: start;
}

.card--head .two-in--row.adjust-bug > span {
    margin: 6px 0 0 13px;
}

.two-in--row.adjust-bug .selct-picker-plain {
    border-bottom: none;
}

#reservation-booking .b_date_time_party label.error {
    position: absolute !important;
}

#book-a-table #multipleTableSelectpicker .dropdown-menu li a span.text,
#manageWaitlistModal #multipleTableSelectpicker .dropdown-menu li a span.text,
#newWalkinModal #multipleTableSelectpicker .dropdown-menu li a span.text {
    margin-right: 0px;
}

ul.tagit.ui-widget.ui-widget-content.ui-corner-all {
    max-width: 100%;
    float: left;
}

.email_tags .multiple_emails-close {
    margin: 0 3px;
    color: #777;
    float: right !important;
    font-weight: normal;
}

.email_tags .multiple_emails-email {

    border-color: #cccccc73;
    background: none;
    background-color: #f1f1f1;
    float: left;
}

.email_tags .glyphicon-remove:before {
    content: "\e014";
    font-size: 11px;
    font-weight: normal;
}

.email_tags .multiple_emails-email {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email_tags .multiple_emails-container input.multiple_emails-error {
    box-shadow: none !important;
    outline: none !important;
    color: red;
    background: none;
    border-bottom: 1px solid #ececec !important;
}

.email_tags .multiple_emails-container {
    border: none;
    box-shadow: none;
}

.email_tags .multiple_emails-container input {
    border-bottom: 1px solid #ececec !important;
    background: none;
}

.tableId {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.globel_tabs {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    text-align: center;
}

.globel_tabs li {
    width: 100%;
}

.globel_tabs .working__tab.active a {
    color: #fff !important;
    background-color: #ff9c00 !important;
}

.nav-pills.globel_tabs > li.working__tab.active:first-child > a {
    border: 1px solid #ff9c00;
}

.nav-pills.globel_tabs > li.working__tab > a {
    color: #ff9c00;
    font-size: 16px;
    background-color: #fff;
    border-top: 2px solid #ff9c00 !important;
    border-bottom: 2px solid #ff9c00 !important;
}

.nav-pills.globel_tabs > li.working__tab:first-child > a,
.nav-pills.globel_tabs > li.working__tab:last-child > a {
    border: 2px solid #ff9c00 !important;
}

.card--head .gust-tag-cont.custom--tag-sett {
    display: flex;
    padding: 16px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: unset;
}

form.update_custom_tag_form {
    width: 45%;
    margin: 0 2.5%;
}

#addcustom_form span.custom__tags-edit button {
    padding-left: 3px !important;
}

.padding-left-zero {
    padding-left: 0 !important;
}

#guest_tags_booking + ul.tagit {
    width: 100%;
    border: none;
}

.tag-plus.icon ul.tagit li.tagit-new {
    width: 100%;
}

.selct-picker-plain .dropdown-toggle.bs-placeholder .bs-caret .caret:before {
    border-color: #c5c5c5 !important;
}

div#exTab1 .globel_tabs {
    margin-bottom: -1px;
}

#custom-tags-scroller .add-customtag {
    margin-left: 2.5%;
}

#customtagtab + .tab-content {
    background-color: #fff;
}

.show-timer-container .cta__content {
    text-align: center;
}

.show-timer-container .timer_cta a:hover,
.show-timer-container .timer_cta a:focus {
    color: #fff;
}

#reservation-booking #reservation_date {
    min-height: 33px;
}

/* Global Setting Page */

.notificationcontainer .tab-content {
    background-color: #fff;
}

.notificationcontainer .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    text-align: center;
}

.notificationcontainer #reservation_settings .selct-picker-plain li a {
    display: block;
}

.padd-left-18 {
    padding-left: 18px;
}

/************* floor header **************/
.two-in--row.cancellation_charges #cancellation_charges_amt {
    border: 0px;
    width: 60px;
    color: #000;
    border-bottom: 1px solid #ccc;
    box-shadow: none;
    border-radius: 0px;
    z-index: 1;

}

.floor-tables-management.openSibebar {
    width: calc(100% - 320px);
}

.input-group-addon.cancellation-value {
    background-color: transparent;
    padding: 6px;
    border: 0px;
}

label.error.hasVal {
    -ms-transform: translateY(0px);
    transform: translateY(0px);
}

#blockTables .scroller.full-content .mCSB_inside > .mCSB_container {
    height: 100%;
}

/* Reasion for stop servcies popup */
.manage-stop-popup .modal-content {
    padding: 40px 60px;
}

.manage-stop-popup .modal-content .modal-header {
    text-align: center;
    border: none;
    font-weight: bold;
    padding: 0;
}

.manage-stop-popup .modal-content .modal-header h5 {
    font-weight: bold;
}

.manage-stop-popup .modal-content .custom__message-textContainer textarea {
    border: none;
    border-radius: 0px;
    background: #ececec;
    padding: 5px 10px !important;
}

.manage-stop-popup .modal-content .row.text-left.edit-res-pop > div {
    margin: 0;
}

.manage-stop-popup .modal-content .modal-footer {
    padding: 0 30px;
    border: none;
}

