/*Turnover Time css*/

.turnOver__box {
margin: 10px 0 !important;
max-width: 100%;
overflow-x: auto;
/*border-radius: 4px 4px 0px 0px;
-webkit-border-radius: 4px 4px 0px 0px;
-moz-border-radius: 4px 4px 0px 0px;*/
position: relative;
}
/*
.turnOver__box .alert {
position: absolute;
width: 100%;
} */

.turnOver__box .col-md-3 {
padding-top: 12px;
padding-bottom: 12px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
/* flex-direction: column; */
-webkit-box-align: center;
-ms-flex-align: center;
align-items: center;
-webkit-box-pack: center;
-ms-flex-pack: center;
justify-content: center;
min-width: 180px;
}
/* .turnOver__box .col-md-3 .table__type {
font-size: 18px;
color: #949393 !important;
} */
.center.slider {
margin: 0;
width: auto
}

.turnOver__box .turover_type {
    border-right:1px #494948 solid
}


.center.slider .input-number {
text-align: center;
border: none;
-webkit-box-shadow: none;
box-shadow: none;
font-size: 20px;
font-weight: 700;
padding:0;
width: 75px;
}

.center.slider .btn-number,
.center.slider .btn-number:active:focus {
background: none;
color: #000;
border: 0;
-webkit-box-shadow: none;
box-shadow: none;
font-weight: 400;
outline: none;
}

.center.slider .btn-number span {
font-family: unset;
font-weight: 500;
font-size: 20px;
margin: 0 5px;
font-size: 18px;
}

.header__row,
.partySize__row,
.turnOver__row {
display: -webkit-box;
display: -ms-flexbox;
display: flex;
width: fit-content;
}

.first_col {
text-align: left;
color: #fff;
font-size: 18px;
font-weight: 700;
text-transform: capitalize;
line-height: 1;
}

.partySize__row .first_col {
background-color: #3d3a39;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
    min-width: 225px;
}

.turnOver__row .first_col {
background-color: #ff8208;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-pack: start;
-ms-flex-pack: start;
justify-content: flex-start;
    min-width: 225px;
}

.header__row {
background-color: #000
}

.partySize__row {
    background-color: #484746;
    /*-webkit-border-radius: 0 4px 0 0;
    -moz-border-radius: 0 4px 0 0;
    border-radius: 0 4px 0 0;*/
}

.turnOver__row {
background-color: #fff;
}
.partySize__row,
.header__row,
.turnOver__row {
/*min-width: 925px;
overflow-x: auto;*/
}
.table__type {
color: #949393 !important;
font-size: 18px;
}

.party_type {
font-weight: 700;
color: #fff;
border-right: 1px solid #fff;
font-size: 18px;
}

.party_type:first-of-type {
border: 0;
}

.turnOver__submitBtn {
max-width: 100%;
text-align: center;
}

.turnOver__submitBtn .btn__add {
margin: 0 auto;
}

button.btn__add {
border-radius: 5px;
-webkit-box-shadow: none;
box-shadow: none;
border: none;
max-width: 160px;
width: 100%;
}

.turover_type:last-child,
.party_type:last-child {
    border-right: 0px;
}

.first_col .icon {
padding: 10px 15px 10px 0px;
border-right: 1px solid #cccccc26;
margin-right: 15px;
}

.partySize__row span {
font-size: 12px;
color: #646161;
}

.turnOver__row .column_header span {
font-size: 12px;
color: #ffd6ae;
}
button.btn__add.inc-width {
max-width: 182px;
margin: 0 20px;
}
.edit-cross-icon > i {
margin: 0 10px;
cursor: pointer;
}
.edit-cross-sec{   
margin: 0  0px;
    display: flex;
}
.btn-default{
border: none;
}
.form-field-control .form-control{
width: unset;
border: none;
-webkit-box-shadow: none;
box-shadow: none;
border-bottom: 1px solid #ccc;
border-radius: 0;
text-align: center;
}
.inc-dec-sec {
float: left;
margin: 0 23%;
width: 50%;
text-align: center;
}
.inc-dec-sec > .form-control {
width: 60px;
float:  left;
}
.inc-dec-sec > i.fa {
float: left;
margin: 9px 0;
cursor: pointer;
}


/*------------tags css----------------*/
.tags--select > option {
list-style: none;
padding: 7px 12px;
border-top: 1px solid #eee;
border-bottom: none;
}
.tags--select > option:last-child {
border-bottom: 1px solid #ccc;
}
.tags--select {
padding: 0 !important;
border-top-left-radius: 0 !important;
border-top-right-radius: 0 !important;
border: 1px solid #ddd !important;
}
.arrow-l-r > button {
display: block;
margin: 14px auto;
}
.arrow-l-r i.fa {
font-size: 26px;
}
.arrow-l-r > button {
display: block;
margin: 14px auto;
background: #ff9700;
padding: 4px 11px;
border: none;
border-radius: 2px;
color: #fff;
}
.row.tags {
display: flex;
flex-direction: row;
}
.row.tags > div:nth-child(2) {
display: flex;
/* height: 100%; */
align-items: center;
flex-direction: column;
justify-content: center;
}
.arrow-l-r {
display: flex;
flex-direction: column;
}
.arrow-l-r > a {
margin-bottom: 20px;
}
.tag--head {
color: #fff;
padding: 12px 12px;
border-top-left-radius: 4px;
border-top-right-radius: 4px;
font-weight: 700;
    width: 100%;
}
/*
.turnOver__box > div:first-child {
    display: inline-block;
}
*/
 .turnOver__box .table__type {
    color: #939393 !important;
    margin-top: 0;
}
.center.slider .input-group {
    position: relative;
    display: flex;
    border-collapse: separate;
    justify-items: center;
    align-items: center;
    justify-content: center;
}
.center.slider .input-group-btn{
    width: auto;
}

.row.edit-cross-sec > .col-md-3 {
    width: auto;
}
.seat__avail, .seat__done{
    padding: 0 30px;
}
button.btn__add.inc-width[data-target="#add-tabletype-modal"] {
    text-transform: capitalize;
    max-width: 185px;
}

.reservation__atto .reservation__title .note {
    color: #828080;
    font-size: 16px
}