/*Welcome Page*/

.welcome-box {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  font-family: 'Lato' , sans-serif;
}

.welcome-box img {
  width: 100%;
}

.inner-welcome {

  -webkit-box-shadow: -2px 42px 137px -15px rgba(0,0,0,0.44);

  box-shadow: -2px 42px 137px -15px rgba(0,0,0,0.44);
  max-width: 550px;
  width: 100%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.86);
  position: relative;
  z-index: 10;
  margin-top: -50px;
}

.inner-welcome h1 , .inner-welcome p {
  color:#333333;
}

.inner-welcome h1 {
  padding: 1.5rem 0 0.5rem;
  font-size: 32px;
  font-weight: 700;
}

.inner-welcome p {
  font-weight: 300;
  opacity: 0.8;
  font-size:18px;
  padding-bottom: 1.5rem;
}

.cta-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  padding-bottom: 2rem;
}
