.tab-head {
  margin: 0;
  padding: 10px 20px;
  color: white;
  background-color: #3c3837;
  padding: 18px 15px 22px !important;
  text-align: center;
  font-weight: 700;
}

#exTab1 .tab-content.working-hours {
  padding: 0;
}

#exTab1 .tab-content #working_hours,
#exTab1 .tab-content #custom_calendar_view {
  background-color: #fff;
}

.working__tab {
  margin: 0 !important;
}

.working__tab a {
  color: #838181;
  font-size: 14px;
  font-weight: 700;
  padding-top: 12px !important;
  padding-bottom: 12px !important;
  background-color: #fff;
}

.nav-pills > li.working__tab > a {
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}

.nav-pills > li.working__tab > a:hover {
  color: #ff9c00;
}

.nav-pills > li.working__tab:first-child > a {
  border-radius: 4px 0 0 0;
  border-top: 1px #ccc solid;
  border-left: 1px #ccc solid;
}

.nav-pills > li.working__tab:last-child > a {
  border-radius: 0 4px 0 0;
  border-top: 1px #ccc solid;
  border-right: 1px #ccc solid;
}

.nav-pills > li.working__tab.active:first-child > a {
  border-top-color: #3c3837;
  border-left-color: #3c3837;
}

.nav-pills > li.working__tab.active:last-child > a {
  border-top-color: #3c3837;
  border-right-color: #3c3837;
}

.working__tab.active a {
  color: #fff;
  background-color: #3c3837 !important;
}

.container__custom_working .fc-toolbar.fc-header-toolbar {
  display: none;
}

.container__custom_working .workinghrs__calendar .fc-timeline .fc-head .fc-resource-area .fc-widget-header .fc-cell-text,
.container__custom_working .customhrs__calendar .fc-timeline .fc-head .fc-resource-area .fc-cell-content .fc-cell-text {
  text-align: center;
  width: 100px;
  padding: 0;
}

.container__custom_working #exTab1 a:hover {
  filter: alpha(opacity=100);
  opacity: 1;
}

.container__custom_working .fc-body .fc-resource-area .fc-cell-content {
  overflow: visible;
  padding: 0;
  height: 60px;
  /*height: 70px;
  width: 50px !important;
  border-bottom: 0;
  margin: 0 auto;
  text-align: center;*/
}

.container__custom_working .fc-event {
  background-color: transparent !important;
  border: none !important;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.container__custom_working .fc-no-overlap .fc-timeline-event {
  padding: 0;
}

.container__custom_working .dayOff .fc-event {
  cursor: default;
}

.container__custom_working .fc-time-area .fc-rows td > div {
  position: relative;
  height: 70px !important;
}

.container__custom_working .fc-ltr .fc-resource-area tr > th:nth-child(2) {
  background: #282626;
  color: #fff;
  vertical-align: middle;
  text-align: center;
}

.container__custom_working .fc-ltr .fc-resource-area tr > th:nth-child(3) {
  background: #3c3938;
  color: #fff;
  vertical-align: middle;
  text-align: center;
}

.container__custom_working .fc-ltr .fc-resource-area tr > td:nth-child(2) {
  background: #f6f6f6;
}

.container__custom_working .fc-ltr .fc-resource-area tr > td:nth-child(2),
.container__custom_working .fc-ltr .fc-resource-area tr > td:nth-child(3) {
  vertical-align: middle;
  text-align: center;
}

.container__custom_working .fc-scroller-canvas.fc-gutter-bottom {
  padding-bottom: 0 !important;
}
.container__custom_working .fc-unthemed .fc-content,
.container__custom_working .fc-unthemed .fc-divider,
.container__custom_working .fc-unthemed .fc-list-heading td,
.container__custom_working .fc-unthemed .fc-list-view,
.container__custom_working .fc-unthemed .fc-popover,
.container__custom_working .fc-unthemed .fc-row,
.container__custom_working .fc-unthemed tbody,
.container__custom_working .fc-unthemed td,
.container__custom_working .fc-unthemed th,
.container__custom_working .fc-unthemed thead {
  border-color: rgba(221, 221, 221, 0.5) !important;
}
.container__custom_working .fc-timeline-event .fc-content {
  height: 69px !important;
  background-color: #fff5ec;
  color: #000;
  border-bottom: 1px solid #ff8207 !important;
}

.container__custom_working .dayOff .fc-timeline-event .fc-content {
  background-color: #eee;
  border-bottom: 1px solid;
  border-color: #ccc !important;
}

.container__custom_working .fc-highlight {
  background-color: #fff5ec !important;
  opacity: 0.8 !important;
  border-bottom: 1px solid #ff8207;
}

.fc-time-area .fc-event-container {
  top: 0 !important;
}

.container__custom_working
.workinghrs__calendar
.fc-ltr
.fc-resource-area
tr
> td:first-child {
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 71px !important;
  border: none !important;
}

.container__custom_working
.fc-ltr
.fc-resource-area
tr
> td:first-child
.fc-cell-content {
  padding-top: 23px;
}

.container__custom_working .btn-toggle.btn-secondary {
  height: 16px;
  width: 38px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.container__custom_working .btn-toggle.btn-secondary.active {
  background-color: #FFBD79 !important;
}
.container__custom_working .btn-toggle.btn-xs > .handle {
  top: -2px !important;
  width: 21px !important;
  height: 20px !important;
  left: 0px !important;
  border-radius: 50% !important;

  background: grey;
}
.container__custom_working .btn-toggle.btn-xs.active > .handle {
  left: 16px !important;
  -webkit-transition: left 0.25s !important;
  -o-transition: left 0.25s !important;
  transition: left 0.25s !important;
}
.container__custom_working .btn-toggle.btn-xs.active > .handle {
  background: #ff9700 !important;
}

.container__custom_working .fc-timeline .fc-body .fc-scroller {
  overflow-y: hidden !important;
}

.container__custom_working .coverDiv {
  background-color: #000;
  color: #fff;
  font-weight: 700;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 2px 4px;
  margin: 0 auto;
  min-width: 40px;
  max-width: 80px;
  margin-bottom: 10px;
  text-align: center;
}
.container__custom_working .tableDiv {
  background-color: #ff8207;
  color: #fff;
  font-weight: 700;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 2px 4px;
  margin: 0 auto;
  min-width: 40px;
  max-width: 80px;
  text-align: center;
}

.container__custom_working .fc-resource-area.fc-widget-content .fc-scroller {
  overflow: hidden !important;
}

/* .container__custom_working .coverDiv span {
background-color:#302f2f;
}

.container__custom_working .tableDiv span {
background-color:#ff9a00;
} */

/*modal*/
.modal-head {
  min-width: 100%;
  min-height: 90px;
  background-color: #333;
  background-image: url(../../images/modal-head__background.png);
  background-position: center right;
  background-repeat: no-repeat;
  background-size: 280px;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}

.setting-gear {
  max-width: 70px;
  border-radius: 50%;
  background: #fff;
  margin: -36px auto 0;
  padding: 20px;
}

.form-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 400px;
  margin: 15px auto;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}

.form-field label {
  margin: 0;
}
.form-field .form-control,
.table_type.form-control,
#total_table {
  width: unset;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
  text-align: center;
}

.form-field .form-control:focus,
.table_type.form-control:focus,
#total_table:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.formHeader__content {
  text-align: center;
  text-transform: capitalize;
}

#week_hours label.error {
  width: 100%;
  text-align: center;
}

#week_hours .form-field > div {
  max-width: 174px;
}

.row__formHeader {
  margin: 10px 0 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  background-color: #333;
  font-family: lato;
  font-weight: 700;
  color: #fff;
}

.row__formHeader .formHeader__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 5px 10px;
}

.content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin: 20px 0;
}

.pt0 {
  padding-top: 0 !important;
}

.__step {
  margin: 0 0 15px;
  display: inline-block;
  width: 100%;
}

.table__type,
.table__nmb {
  font-weight: 700;
  color: #fff;
}

.repeatHeader {
  min-height: 50px;
  background-color: #333;
  text-align: center;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 30px;
}

.repeatHeader h4 {
  margin: 0;
  font-size: 14px;
  text-transform: capitalize;
  font-weight: 700;
}

.weekdays__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
}
.custom-radio {
  width: 16px;
  height: 16px;
  margin: 0 auto;
  margin-top: 6px;
  border-radius: 50%;
  background: #fff5e7;
  border: 1px #ff9800 solid;
  cursor: pointer;
}

.weekdays__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 14.29%;
}

.inner__custom-radio {
  height: 50%;
  width: 50%;
  margin: 4px auto 0;
  border-radius: 50%;
  -webkit-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.check__box__input {
  display: none;
}
.check__box__input:checked + label .inner__custom-radio {
  background: #ff9800;
}

.check__box__input[checked="checked"][readonly="readonly"] + label {
  pointer-events: none;
}

.check__box__input[disabled="disabled"] + label:before {
  background: #fff;
  border-color: #9E9E9E;
}

.check__box__input[checked="checked"][readonly="readonly"]
+ label
.inner__custom-radio {
  pointer-events: none;
  background: #ff9800;
}

/*Custom Hours*/

.container__custom_working
.customhrs__calendar
.fc-ltr
.fc-resource-area
tr
> td:first-child {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 71px !important;
  border: none !important;
}

.container__custom_working
.customhrs__calendar
.fc-body
.fc-resource-area
.fc-cell-content {
  /* height: 70px;
  width: 100% !important;
  border-bottom: 0;
  margin: 0 auto;
  text-align: center;
  padding:0;*/
}

/*.container__custom_working .customhrs__calendar .fc-scroller-canvas {
  max-width: 508px;
}*/

#calendar .fc-resource-area th .fc-cell-content {
  text-align: center;
}

.container__custom_working .customhrs__calendar .custom_delete {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  height: 25px;
}

.custom__setting-btn {
  padding: 30px 0;
  margin-bottom: 25px;
  background-color: #fff;
}

/*Custom working hours modal*/

.mandatory-field {
  color: #f00;
}

.workinghrs__header {
  padding: 20px;
  text-align: center;
  color: #fff;
  background: #3d3a39;
}
.workinghrs__header h4 {
  font-size: 20px;
  margin: 0;
  font-weight: 700;
}

.customHrs__modal {
  width: 1200px !important;
}

/*.custom_hrsModal__container {
  max-width: 1000px;
  margin: 0 auto;
}*/
.custom_modalHrs .fc-body {
}

.datePicker__head {
  font-weight: 600;
  margin: 0;
  margin-right: 20px;
  min-width: 70px;
}

.input__date {
  /*margin-right: 15px;*/
  border: 0;
  letter-spacing: 1px;
  width: 100%;
}

label.error,
.errors {
  color: red;
  font-size: 12px;
}

#custom_hours > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

#custom_hours > div > div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

#custom_hours > div > div:nth-child(2) .custom__date {
  border-bottom: 1px solid #ebebeb;
  display: flex;
  flex-direction: row;
  padding-bottom: 5px;
}

.input__date-container {
  /*display: -webkit-box;
  display: -ms-flexbox;
  display: flex;*/
  position: relative;
  width: 105px;
}

.input__date-container label.error {
  position: absolute;
  bottom: -25px;
  left: 35px;
}

.input__date-container .fa {
  color: #ff8207;
  position: absolute;
  right: 0;
  top: 3px;
  pointer-events: none;
  /*background-color: #ff8207;
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;*/
}

.toggle__container {
  padding-top: 17px;
}
.custom_modalHrs {
  padding: 20px 10px 10px;
  margin: 40px 0 0;
  -webkit-box-shadow: 2px 2px 49px 3px rgba(0, 0, 0, 0.23);
  box-shadow: 2px 2px 49px 3px rgba(0, 0, 0, 0.23);
}

.custom_modalHrs .fc-event-container {
  position: relative;
  height: 55px !important;
}

.customHrs__modal .modal-footer {
  border: none;
  text-align: center;
  padding-bottom: 30px;
}

.btn_.btn__primary.custom_done {
  max-width: 200px;
  margin: 0 auto;
}

.edit__button button {
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  margin-right: 5px;
}

@media (max-width: 1024px) and (min-width: 768px) {
  .customHrs__modal {
    width: 740px !important;
  }

  .working-hours .fc-resource-area .fc-cell-content,
  .working-hours .fc-timeline .fc-cell-text {
    padding-left: 2px !important;
    padding-right: 2px !important;
  }
}

/* Datepicker Design */

#ui-datepicker-div.ui-widget.ui-widget-content {
  border: 0;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  padding: 15px;
  width: 320px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-top: 10px;
  margin-left: -16px;
}

#ui-datepicker-div .ui-widget-header,
#ui-datepicker-div.ui-datepicker .ui-datepicker-header {
  border: 0;
  background: none;
  padding-bottom: 5px;
}

#ui-datepicker-div .ui-state-default,
#ui-datepicker-div.ui-widget-content .ui-state-default,
#ui-datepicker-div .ui-widget-header .ui-state-default,
#ui-datepicker-div .ui-button,
#ui-datepicker-div .ui-button.ui-state-disabled:hover,
#ui-datepicker-div .ui-button.ui-state-disabled:active {
  border: 0;
  background: none;
}

#ui-datepicker-div .ui-state-highlight,
#ui-datepicker-div.ui-widget-content .ui-state-highlight,
#ui-datepicker-div .ui-widget-header .ui-state-highlight {
  background: #ff8207 !important;
  color: #fff !important;
}

#ui-datepicker-div.ui-datepicker td span,
#ui-datepicker-div.ui-datepicker td a {
  padding: 10px 12px;
  text-align: center;
}

#ui-datepicker-div.ui-datepicker td a:hover {
  background: #f1f1f1;
}

#ui-datepicker-div .ui-state-active,
#ui-datepicker-div .ui-widget-content .ui-state-active,
#ui-datepicker-div .ui-widget-header .ui-state-active,
#ui-datepicker-div a.ui-button:active,
#ui-datepicker-div .ui-button:active,
#ui-datepicker-div .ui-button.ui-state-active:hover {
  background: #3d3a39 !important;
  color: #fff !important;
}

#ui-datepicker-div.ui-datepicker .ui-datepicker-prev,
#ui-datepicker-div.ui-datepicker .ui-datepicker-next {
  background: none;
  border: 0;
}

#ui-datepicker-div.ui-datepicker .ui-datepicker-prev-hover,
#ui-datepicker-div.ui-datepicker .ui-datepicker-next-hover {
  top: 2px;
  cursor: pointer;
  opacity: 0.5;
}

#ui-datepicker-div.ui-datepicker .ui-datepicker-prev-hover {
  left: 2px;
}

#ui-datepicker-div.ui-datepicker .ui-datepicker-next-hover {
  right: 2px;
}

.non_editable_footer .btn__primary:hover,
.non_editable_footer .btn__primary:focus {
  color: #fff;
  background-color: #fa8007;
}

.content__row div#total_table {
  padding-right: 0px;
}

/* === confirm popup styling ===*/
.modal-popup .modal-header {
  background-color: #333;
  text-align: center;
  color: #fff;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
  -moz-border-radius: 4px 4px 0 0;
}

.modal-popup .modal-footer {
  text-align: center;
  border: 0px;
  padding: 0px 15px 15px;
}
.modal-popup .btn__primary {
  font-weight: 700;
}
.modal-popup .btn__primary:hover {
  color: #fff;
}
.freezePage {
  overflow: hidden;
  height: 100%;
  position: relative;
}
.working--hours .modal-header {
  border-bottom: none;
  padding-bottom: 0;
}
.row.border-row {
  border-bottom: 1px solid #ececec;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 15px 0;
}
.working--hours  .input__fullWidth{
  margin: 0;
}
.row.border-row  label{
  margin: 0;
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */

}
.to-text{
  text-align: center;
  margin: 11px 0 0;
}
.row.border-row .fa-plus, .row.border-row .fa-minus{
  color: #828282;
  margin-right: 0 !important;
}
.row.border-row .card-header h5.mb-0 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0;
}
.row.border-row .card{
  /*overflow: hidden;*/
  padding: 0;
  margin: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.row.border-row .card-header{
  margin-bottom: 0;
}
.plus-btn{
  background: none;
  border: none;
}
.row.border-row  .accordion{
  width: 97%;
}
.row.border-row button.btn.btn-link {
  color: #333;
  font-weight: 700;
}
.row.border-row .selct-picker-plain {
  width: 125px;
  border-bottom: 1px solid #e6e6e6;
  float: right;

}
.row.border-row  span.filter-option.pull-left{
  color: #3a3937;
  font-weight: 700;
}
.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 6px;
  display: inline-block;
  vertical-align: text-top;
  width: 17px;
  height: 17px;
  background: white;
}
.styled-checkbox + label:before {
  border: 1px solid #333;
  border-radius: 3px;
}

.styled-checkbox:disabled + label {
  color: #b8b8b8;
  cursor: auto;
}
.styled-checkbox:disabled + label:before {
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #ddd;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 3px;
  top: 9px;
  background: #ff9700;
  width: 2px;
  height: 2px;
  -webkit-box-shadow: 2px 0 0 #ff9700, 4px 0 0 #ff9700, 4px -2px 0 #ff9700, 4px -4px 0 #ff9700, 4px -6px 0 #ff9700, 4px -8px 0 #ff9700;
  box-shadow: 2px 0 0 #ff9700, 4px 0 0 #ff9700, 4px -2px 0 #ff9700, 4px -4px 0 #ff9700, 4px -6px 0 #ff9700, 4px -8px 0 #ff9700;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.styled-checkbox:checked + label:before {
  border-color: #ff9700;
}

#availabilityModal ul.unstyled.centered li {
  list-style: none;
  float: left;
  margin-right: 13px;
}

.padd-zero{
  padding: 0 !important;
}
.save__btn{
  margin: 30px auto 65px;
  max-width: 300px;
  min-width: 300px;
}

#week_hours .row.border-row .btn__holo {
  width: 75px;
}

#week_hours .row.border-row .btn__holo.collapsed .btn__done,
#week_hours .row.border-row .btn__holo .btn__change {
  display: none;
}

#week_hours .row.border-row .btn__holo.collapsed .btn__change,
#week_hours .row.border-row .btn__holo .btn__done {
  display: block;
}



.row.border-row .card-body {
  padding: 0px 15px;
}
.modify-tbl-avail, .modify-tbl-avail th{
  text-align: center
}

.modify-tbl-avail th {
  padding: 5px 0;
}

.modify-tbl-avail tbody td,
.modify-tbl-avail tfoot th{
  padding: 10px 0;
    vertical-align: top;
}

.modify-tbl-avail td:first-child , .modify-tbl-avail th:first-child {
  text-align: left;
}
.row.border-row .modify-tbl-avail .selct-picker-plain {
  width: 70px;
  float: none;
  text-align: center;
  margin: 0 auto;
}
.max-cover {
  text-align:  center;
  background: #ececec;
  color:  #000;
  font-weight:  800;
  font-size: 13px;
  padding: 9px 0;
  margin: 20px 0 0;
  position:  relative;
}

.max-cover > span {
  /* text-decoration: underline; */
  padding-left: 10px;
}

.max-cover > span:before {
  content: '';
  width: 23px;
  height: 1px;
  background: #d1d1d1;
  position: absolute;
  bottom: 8px;
  margin-left: -4px;
}
.adjust--pacing tbody input{
  width: 50px;
}
.adjust--pacing{
  width: 500px;
}

.adjust--pacing .input__field input {
  font-size: 14px;
}

.working--hours .scroller {
  max-height: 179px;
  overflow-y: auto;
}
.selct-picker-plain ul.dropdown-menu.inner li {
  text-align: center;
}
.adjust--pacing td:first-child {
  font-weight: 700;
  color: #3a3839;
  height: 50px;
}
.working--hours  .modal-body{
  max-height: 100%;
}
ul.unstyled.pull-right li:last-child{
  margin: 0;
}
#workingHours .mCSB_inside>.mCSB_container {
  margin-right: 0;
}
.max-cover .input__field {
  display: inline-block;
  width: 38px;
}
.max-cover .input__field input {
  text-align: center;
  font-size: 13px;
}
.shift_name {
  width: 91% !important;
  float: right !important;
}
.row.border-row button.btn.btn-link:hover {
  text-decoration: none;
}
.modify-tbl-avail .btn-number{
  padding: 0;
}
#customSettingModal .input__field.relative{
  margin-right: 20px
}
/*#customSettingModal .input__field label, */
#customSettingModal .input__field span{
  color: #000;
  font-size: 14px;
  font-weight: 600;
  top:5px
}

#customSettingModal .input__field input:focus + label + span,
#customSettingModal .input__field input:focus + span, #customSettingModal span.hasVal {
  top:-10px
}

#customSettingModal .input__field input:focus + span,
#customSettingModal .input__field input:focus + label.error + span {
  color: #a3a3a3;
   font-size: 12px;
  font-weight: 400;
}

#customSettingModal .name-text{
  margin-top: -7px;
  font-weight: 700;
  color: #000;
}
#customSettingModal #custom_hours{
  width: 100%;
  margin: 0 auto;
}

.max-cover .selct-picker-plain{
  /* width: 90px !important; */
  width: auto !important;
  margin: 0;
  padding: 0;
  float: none !important;
  display: inline-block;
  margin-left: 0;
  background: none;
}
.max-cover .selct-picker-plain button.btn.dropdown-toggle{
  background: none;
}
.number__box.tinny .btn-number {
  padding: 0;
}

/* custom tags */
#custom_tags .custom__tags{
  list-style-type: none;
  width: 100%;
  float: left;
}
#custom_tags .custom__tags li{
  margin: 0px 10px 15px 0px;
  float: left;
  padding: 8px;
  border-radius: 7px;
  font-weight: 700;
  border: 1px solid #ccc;
}
#custom_tags .custom__tags-edit button{
  background-color: transparent;
  border: 0px;
  padding: 0px 3px;
  float: right;
}
.nav-pills > li.working__tab.customtag > a {
  border-radius: 0 4px 0 0;
  border-top: 1px #ccc solid;
  border-right: 1px #ccc solid;
}
.guest--tag--bar.tag {
  padding: 30px 0px 0px;
  border: 0px;
}
#custom_tags .edit-customtag input{
  width: 80%;
}
.savecustomtag{
  margin-bottom: 20px;
}
.savecustomtag .btn{
  padding: 10px 24px;
  width: 20%;
  font-weight: 700;
}
.add-customtag a {
  color:#ff8700;
}
#availabilityModal .modify-tbl-avail .selct-picker-plain input{
  border: 0px;
  width: 100%;
  text-align: center;
    padding:6px 0
}

#availabilityModal .disabled {
  pointer-events: none;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}
#customSettingModal .names .error{
  top: 30px;
  color: red;
  font-weight: 700;
  font-size: 12px;
}

#week_hours #multipleFloorsSelectpicker {
  width: 200px;
}
#custom_calendar_view .fc-timeline td, .fc-timeline th {
    white-space: normal;
}
#customSettingModal .input__date-container label.error{
  left:0px;
}

#addcustom #addcustom_form > div {
  width: 46%;
}

#addcustom #addcustom_form .custom__tags-edit button:first-child,
#custom_tags .custom__tags-edit button:first-child {
    padding-left: 14px !important;
}

#multipleFloorsSelectpicker .dropdown-backdrop {
  z-index: 89;
}

/*#confirm-delete .modal-footer button.btn,
#confirmboxcommon .modal-footer button.btn,
#reservation-details .check-availability__btn.cancle{
  opacity: 0.7;
}*/

/*#confirm-delete .modal-footer button.btn:hover,
#confirmboxcommon .modal-footer button.btn:hover{
  opacity: 0.5;
}*/

.overflow--visible {
    overflow: visible !important;
}
#customSettingModal #custom_hours label.error{
        bottom: -45px;
}

#availabilityModal.working--hours .input__fullWidth i.fa.fa-angle-down {
  top: 10px;
}

#availabilityModal .table_type_inner input,
#availabilityModal .table_type_inner .selct-picker-plain button.btn.dropdown-toggle {
  background-color: transparent;
}

.modal-header.bg-white {
    color: #000;
}
#rejectOrderModal a.close.icon-close.gray {
    position: absolute;
    top: 0;
    right: 0;
}
#rejectOrderModal .modal-header {
    border-bottom: none;
}
.custom__message-textContainer.margin-bottom-20{
    margin-bottom: 20px !important;
}

.border-radius-none {
    border-radius: 0 !important;
}
.tbl-radio-btn .text-color-grey {
    color: #868686!important;
}
#rejectOrderModal .modal-title{
    color: #000;
    font-weight: 600;
    font-size: 17px;
}
textarea#reject_order_reason::placeholder {
    color: #868686!important;
    font-weight: 600;
}
#rejectOrderModal .modal-dialog {
    width: 731px;
}
#rejectOrderModal .modal-body{
    margin: 0 50px;
}

#week_hours .shift-name i.fa-check-circle {
  position: absolute;
  top: 3px;
  right: 15px;
  font-size: 25px;
}

#week_hours .shift-name input#slot_name {
  padding-right: 25px;
}

#week_hours .bs-caret {
  top: 3px
}